.THIS.slds-page-header {
    margin-top:.75rem;
    margin-bottom:.75rem;
    background:#fff;
}

@media (min-width:1200px) {
    .THIS.slds-page-header {
        margin-top:0;
    	background:rgb(243, 242, 242);
    }
}

.THIS.slds-box {
    background:#fff
}

.THIS.slds-page-header .slds-media__body {
    display:flex;
}

.THIS .header-left {
    display:inline-flex;
    flex-direction:column;
}

.THIS.slds-page-header .header-right {
    display:inline-flex;
    justify-content:flex-end;
    flex:1;
    align-items:center;
}