<span class="legend">
	<span class="legend-icon" title="{{_Labels.pageHeader.legend}}"></span>
	<span class="legend-container hide">
		<span class="legend-header" style="font-weight: bold;">{{_Labels.pageHeader.legend}}</span>
		<div class="legend-separator"></div>
		<span>
			<div class="legend-row legend-completed">{{_Labels.pageHeader.record}} {{_Labels.pageHeader.completed}}</div>
			<div class="legend-row legend-inProgress">{{_Labels.pageHeader.record}} {{_Labels.pageHeader.inProgress}}</div>
			<div class="legend-row legend-notCreated">{{_Labels.pageHeader.record}} Pending Creation</div>
		</span>
	</span>
</span>