<div style="position: absolute;z-index: 5;height: 100%;width: 100%;display: block;background: #666;opacity: 0.3;" ng-show="inProgress">
	<ul class="d-loading" style="top: 45%;left: 50%;background: white;padding: 7px;border-radius: 7px;">
		<li class="d-loading__stick d-loading__stick_1"></li>
		<li class="d-loading__stick d-loading__stick_2"></li>
		<li class="d-loading__stick d-loading__stick_3"></li>
		<li class="d-loading__stick d-loading__stick_4"></li>
		<li class="d-loading__stick d-loading__stick_5"></li>
		<li class="d-loading__stick d-loading__stick_6"></li>
		<li class="d-loading__stick d-loading__stick_7"></li>
		<li class="d-loading__stick d-loading__stick_8"></li>
		<li class="d-loading__stick d-loading__stick_9"></li>
		<li class="d-loading__stick d-loading__stick_10"></li>
		<li class="d-loading__stick d-loading__stick_11"></li>
		<li class="d-loading__stick d-loading__stick_12"></li>
	  </ul>
</div>