.slds-scope {
    
    .slds-navigation-list--vertical-wrap {
        height: 100%;
        flex-shrink:0;
        padding-bottom: 16px;
        background-color: $very-light-gray;
        border-right: 1px solid $border-gray;
    }

    .slds-navigation-content-area {
    	&.slds-show {
    		display:block;
    	}
    	&.slds-hide {
    		display:none;
    	}
    }
}