.slds-scope {
    .slds-table {
        &.slds-table--rounded {
            border-radius: 4px;
            border: 1px solid $border-gray;
            border-collapse: inherit;
        }
        
        &.slds-table--no-td-border {
            tr {
                &.ma-table-header {
                    td {
                        border-bottom: 1px solid $border-gray;
                    }
                }
                td {
                    border-top: 0 !Important;
                }
            }
        }
        
        &.slds-table--left-aligned-cells {
            td {
                &:last-child {
                    width:100%;
                }
            }
        }
        
        &.slds-table--right-padded-cells {
            td, th {
                padding-right: 1.25rem;
            }
        }
        .static-field {
            color: #16325c;
        }
    }
}