.THIS h2.ch-modal-section-header {
    margin-bottom:1rem;
}

.THIS .warning-icon {
	padding-right: .75rem;
}

.THIS .ch-modal-section-header {
    margin-left: -1rem;
    margin-right: -1rem;
    padding: .5rem 0;
    background: #555;
    color: #fff;
}

.THIS #generateWorkOrderSpinner {
    border-radius:.25rem;
}

.THIS .ch-loading-message {
    position: absolute;
    z-index: 99999;
    top: 7.5rem;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}