body {
    .tabs-nav   {
        .dropdown-title {
            margin: 5px 0px;
            padding: 3px 10px;
            font-weight: normal;
            display: block;
            letter-spacing: .5px;
            font-size: 12px;
            color: #333;
            line-height: 1.4;
            white-space: nowrap;
            text-transform: uppercase;
        }

        #PlottedQueriesTable {
            .legend {
                .agol-legend-row {
                    .legend-text {
                        > div {
                            display: flex!important;
                            flex-direction: row-reverse;
                            align-items: center;
                            justify-content: space-between;
                            padding-right: .75rem;
                        }
                    }
                }
                
                .legend-row-header {
                    .legend-text {
                        padding: 5px 18px;
                        
                        > span {
                            .legend-color {
                                right: 2px!important;
                                width: 20px;
                                text-align: center;
                            }
                        }
                    }
                }
            }

            .heatmap-opitons {
                .slds-input {
                    max-width: 80px;
                }

                .slds-button, .slds-input, .slds-select_container {
                    margin-top: 8px;
                }
            }
        }
    }
}