.background-color--dodger-blue {
    background-color: $color-dodger-blue !important;
}

.background-color--salmon {
    background-color: $color-salmon !important;
}

.background-color--gorse {
    background-color: $color-gorse !important;
}

.background-color--koromiko-orange {
    background-color: $color-koromiko-orange !important;
}

.background-color--maya-blue {
    background-color: $color-maya-blue !important;
}

.background-color--medium-orchid {
    background-color: $color-medium-orchid !important;
}

.background-color--robins-egg-blue {
    background-color: $color-robins-egg-blue !important;
}

.background-color--spring-green {
    background-color: $color-spring-green !important;
}