.slds-scope {
    h2.slds-text-heading--medium {
    color: $dark-blue;
    }
    
    .slds-text-disabled {
        color: $border-gray;
    }

    .slds-text-title_bold {
        font-weight: 700;
        line-height: 1;
    }
}