.rf-lookup-icon{
    background-image: url(SDEFicons/b_pick.gif);
    height: 19px;
    width: 19px;
    margin-left: 5px;
    vertical-align: top;
    border: medium none;
    cursor:pointer;
}
 .rf-editor-icon {
	background-image: url(SDEFicons/b_textbox_popup_on.gif) !important;
	border:none;
	height: 19px;
	width: 19px;
	margin-left: 5px;
	vertical-align: middle;
	border: medium none;
	cursor:pointer;
	
 }
.rf-toolbar-btn{
	background: url(SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
	border:1px solid #004376;
	border-color: #CCCCCC #666666 #666666 #CCCCCC !important;
	height: 20px;
	margin-left:2px;
	*margin-left:5px;
    vertical-align: middle;
	font:12px arial;color:#000;
	cursor:default;
}
#file-add-btn,#delete-att-btnId{margin: 7px 7px 7px 10px;}
.rf-toolbar-sep {color: #000;font: 12px arial;vertical-align: middle;}
.rf-toolbar-btn:hover {
	 background-image:none;
	 background:#E8E8E9 !important; 
	 cursor:pointer;
 }
.rf-toolbar-btn:disabled {
   color:#CCCCCC;
}
.rf-toolbar-btn:disabled:hover {
  cursor:default;
  background: url(SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
}
body,table,.x-body{font:12px arial;color:#000;}
.rf-label-td{padding:15px 0 0 15px;font-weight:bold;}
.rf-field-td{padding:5px 0 0 15px}
.rf-input-text{
 height:20px;
 width:445px;
 border:1px solid;
 border-color: #6A7378 #BAC3C8 #BAC3C8 #6A7378;
 }
 .rf-input-file{ min-height:/*\**/20px\9; vertical-align: middle;margin-left:18px;}
 .rf-div-light{
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEF4F2 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EEF4F2 100%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #EEF4F2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EEF4F2));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EEF4F2 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #EEF4F2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EEF4F2',GradientType=0 );
}
.x-column-header,.rf-div-dark{
    background-image: -ms-linear-gradient(top, #F2F4F3 0%, #9ED6C7 100%);
    background-image: -moz-linear-gradient(top, #F2F4F3 0%, #9ED6C7 100%);
    background-image: -o-linear-gradient(top, #F2F4F3 0%, #9ED6C7 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F2F4F3), color-stop(1, #9ED6C7));
    background-image: -webkit-linear-gradient(top, #F2F4F3 0%, #9ED6C7 100%);
    background-image: linear-gradient(to bottom, #F2F4F3 0%, #9ED6C7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2F4F3', endColorstr='#9ED6C7',GradientType=0 );
}
.x-column-header-over,.x-column-header-inner{

   background-image: -ms-linear-gradient(top, #D5F6D9 0%, #B4D5B8 100%);
   background-image: -moz-linear-gradient(top, #D5F6D9 0%, #B4D5B8 100%);
   background-image: -o-linear-gradient(top, #D5F6D9 0%, #B4D5B8 100%);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D5F6D9), color-stop(1, #B4D5B8));
   background-image: -webkit-linear-gradient(top, #D5F6D9 0%, #B4D5B8 100%);
   background-image: linear-gradient(to bottom, #D5F6D9 0%, #B4D5B8 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D5F6D9', endColorstr='#B4D5B8',GradientType=0 );


}
.rf-toolbar-header{
    padding: 10px 0 0 10px;

   border-bottom:1px solid #AEBAC1;
   border-top:1px solid #AEBAC1;
   background-image: -ms-linear-gradient(top, #D5F6D9 0%, #B4D5B8 100%);
   background-image: -moz-linear-gradient(top, #D5F6D9 0%, #B4D5B8 100%);
   background-image: -o-linear-gradient(top, #D5F6D9 0%, #B4D5B8 100%);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D5F6D9 ), color-stop(1, #B4D5B8));
   background-image: -ms-linear-gradient(to bottom, #D5F6D9 0%, #B4D5B8 100%);
   background-image: -webkit-linear-gradient(top, #D5F6D9 0%, #B4D5B8 100%);
   background-image: linear-gradient(to bottom, #D5F6D9 0%, #B4D5B8 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D5F6D9', endColorstr='#B4D5B8',GradientType=0 );
   min-height:40px;
 }
 .rf-toolbar-footer{
   border:1px solid #AEBAC1;
   background: #EBEBEB;
   padding:10px 0 0 10px;
   height:40px;
 }
 .x-column-header{font: bold 12px arial;}
.rf-main-attachment-div{width:100%;float:left;padding-right:30px;}
 .rf-attachment-left{height:172px;width:100%;float:left;border:1px solid #AEBAC1;margin-left:15px;}
 .rf-attachment-left-1{float:left;border-right: 1px solid #AEBAC1;width:10%;background:#EBEBEB;height:170px;position: absolute;}
.attachment-grid-cls {padding-left:6px; height:100% !important }
.attachment-grid-cls .x-grid { height:100% !important}
 .attachment-grid-cls .x-grid-cell{font: normal 12px Arial !important;}
 #att-div-id,#request-entries-div-id,#approvals-div-id{height:35px;text-align:center;padding-top:10px;border-bottom: 1px solid #AEBAC1;cursor:pointer;}
 #att-note-id{height:35px;text-align:center;padding-top:10px;border-bottom: 1px solid #AEBAC1;}
.rf-attachment-left-2{width:90%;float:right; height:168px;}
.rf-attachment-left-22{width:90%;float:right; height:135px;}
.rf-attachment-left-3{width:90%;float:right; height:168px;}
.attachment-grid-cls .x-panel .x-grid-body {width:100% !important;height:85% !important}
.attachment-grid-cls .x-grid-view {height:100% !important}

.attachment-grid-cls .x-grid-header-ct-default {width:100% !important }
.attachment-grid-cls .x-panel .x-grid-body {width:100% !important }
.attachment-grid-cls .x-grid-table {width:100% !important }
 .rf-attachment-left-note{height:35px;background:#EBEBEB;border-bottom: 1px solid #AEBAC1;}
 .rf-main-note{height:152px;width:39%;float:right;border:1px solid #AEBAC1;}
 .rf-add-note-hd{height:25px;border-bottom: 1px solid #AEBAC1;font-weight:bold;padding-left:10px;line-height:22px;}
 .rf-note-area{resize:none;height:19px;width:80%;vertical-align: middle;margin-left:15px;border: 1px solid #AEBAC1;}
 .rf-add-note-btn{height:35px;background:#EBEBEB;border-top: 1px solid #AEBAC1;}
 .rf-anchor-attach{display:block;text-decoration:none;color:#000;cursor:pointer;}
 .rf-file-label{padding-left:5px;}
  #file-info-icon{vertical-align:middle;margin-left:15px;}
 .rf-note-header{background:#EBEBEB;border-bottom: 1px solid #AEBAC1;height: 35px; padding:8px 0 0 10px;}
 .showDescClass{width:96%;height:100px;float:left;}
 .showDescriptionClass{float: left;height: 245px;width: 97.3%;resize:none;}
.hideComponent{display:none !important;}
.rf-input-textarea{width:94.5%;resize:none;height:235px;float:left;border:1px solid;border-color: #6A7378 #BAC3C8 #BAC3C8 #6A7378 !important;}
.hideRes {display:none;}
.rf-lookup-icon1 {margin-left:0 !important;}
.msgBoxCls {
   background-color:transparent;
   border:none; 
   box-shadow: 0 0 0 transparent;
 }
 .x-form-item {
	font-family : arial !important;
}
.x-window-header-text-default{ 
	font-family : arial !important;
}

.x-btn-default-small .x-btn-inner{
	font-family : arial !important;
}
#formTextId.x-field {
	font-family : arial !important;
}
.x-form-display-field{font-family : arial !important;}
#windowId textarea{font-family : arial !important;}
#windowId button{font-family : arial !important;}
.x-message-box button{font-family : arial !important;}
input[readonly="readonly"],input[readonly],input[disabled],input[disabled="disabled"],textarea[readonly="readonly"],textarea[readonly] ,textarea[disabled="disabled"], textarea[disabled] {
    background-color:#D4D0C8;
}
/* msg box */
 
.x-window-default {
	background-color: #D5F6D9;
    background-image: -ms-linear-gradient(top, #D5F6D9 0%, #B4D5B8 100%);
		background-image: -moz-linear-gradient(top, #D5F6D9 0%, #B4D5B8 100%);
		background-image: -o-linear-gradient(top, #D5F6D9 0%, #B4D5B8 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D5F6D9 ), color-stop(1, #B4D5B8));
		background-image: -ms-linear-gradient(to bottom, #D5F6D9 0%, #D5F6D9 100%);
		background-image: -webkit-linear-gradient(top, #D5F6D9 0%, #B4D5B8 100%);
		background-image: linear-gradient(to bottom, #D5F6D9  0%, #D5F6D9 100%);
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D5F6D9', endColorstr='#B4D5B8',GradientType=0 );*/
}
.x-window-default {
    border-color: #B4D5B8 !important;
    box-shadow: 0 1px 0 0 #B4D5B8 inset, 0 -1px 0 0 #B4D5B8 inset, -1px 0 0 0 #B4D5B8 inset, 1px 0 0 0 #B4D5B8 inset !important;
}

.x-window-header-default-top {
    box-shadow: 0 1px 0 0 #B4D5B8 inset, -1px 0 0 0 #B4D5B8 inset, 1px 0 0 0 #B4D5B8 inset !important;
}
.x-window-header-default-top {
	background-color: #D5F6D9;
    background-image: -ms-linear-gradient(top, #D5F6D9 0%, #B4D5B8 100%);
		background-image: -moz-linear-gradient(top, #D5F6D9 0%, #B4D5B8 100%);
		background-image: -o-linear-gradient(top, #D5F6D9 0%, #B4D5B8 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D5F6D9 ), color-stop(1, #B4D5B8));
		background-image: -ms-linear-gradient(to bottom, #B4D5B8 0%, #D5F6D9 100%);
		background-image: -webkit-linear-gradient(top, #B4D5B8 0%, #D5F6D9 100%);
		background-image: linear-gradient(to bottom, #B4D5B8 0%, #D5F6D9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D5F6D9', endColorstr='#B4D5B8',GradientType=0 );
    
}

.x-window-header-text-default {
    color:#1E353B !important;
    font-family: arial !important;
    font-size: 12px !important;
    font-weight: bold;
}

.x-window-body-default {
    border-color: #D5F6D9 !important;
}

.winHeaderClass .x-window-body-default {
	background: none repeat scroll 0 0 #FFFFFF !important;
}
.x-message-box .x-window-body {
    background-color: #FFFFFF;
    border: 0 none;
}
		
.winHeaderClass TR {
	vertical-align:top !important;
}
.msgBoxCls {
    background-color: transparent !important;border: none !important;box-shadow: 0 0 0 transparent !important;background-image: none !important;
}

.x-nbr .x-window-header-default-top-ml,
.x-nbr .x-window-header-default-top-mr,
.x-nbr .x-window-header-default-top-tl,
.x-nbr .x-window-header-default-top-tc,
.x-nbr .x-window-header-default-top-tr,
.x-nlg .x-window-header-default-top-mc,
.x-nbr .x-window-default-ml,
.x-nbr .x-window-default-mr,
.x-nbr .x-window-default-tl,
.x-nbr .x-window-default-tc,
.x-nbr .x-window-default-tr,
.x-nlg .x-window-default-mc,
.x-nbr .x-window-default-bc,
.x-nbr .x-window-default-bl,
.x-nbr .x-window-default-br
{
background-color:#B4D5B8 !important;
background-image:none !important;
}
/*  msg box */