$white : #ffffff;
$transparent-white : rgba(255,255,255,0.7);
$transparent-white-5 : rgba(255,255,255,0.5);
$transparent-white-65 : rgba(255,255,255,0.65);
$light-gray : #f4f6f9;
$gray : #e0e5ee;
$medium-gray : #a7b8d1;
$dark-gray : #333538;
$black : #000205;
$transparent-gray : rgba(126, 140, 153, 0.8);
$border-gray: #d8dde6;
$border-dark-gray: #c3c6c9;

// MA Blues
$light-blue : #4194e4;
$blue : #3083d3;
$blue-2 : #2072c2;
$blue-3 : #1061b1;
$blue-4 : #0050a0;

// SF blues from dreamforce '16 site
// $light-blue : #19AAE3;
// $blue : #0094D2;
// $blue-2 : #0083C1;
// $blue-3 : #0072B0;
// $blue-4 : #0061A0;

// SF blues 
// $light-blue : #1181e3;
// $blue : #0070d2;
// $blue-2 : #0060c2;
// $blue-3 : #005fb2;
// $blue-4 : #004fa2;

// SF blues 2
// $light-blue : #1181e3;
// $blue : #0c8eff;
// $blue-2 : #0060c2;
// $blue-3 : #005fb2;
// $blue-4 : #004fa2;

$dark-blue : #16325c;
$sf-blue: #0094D2;
$green : #4bca81;
$red : #d4504c;
$orange : #e3924a;
$yellow : #F7B64B;
$magenta : #EF7EAD;
$text-sf : #54698d;
$menu-bar-hover-gray: #e6e9f0;
$google-blue: #4285F4;
$bottom-bar-blue: #003C4C;
$indigo: #bb55ff;
$violet: #ff22ff;
$brown: #603813;
$lime: #00ff44;
$peach: #f4cc73;
$teal: #00bab0;
$gold: #bcb81d;
$gold: #bcb81d;

$radius : .25rem;
$box-shadow :  0px 2px 3px 0px rgba(0,0,0,0.16);
$box-shadow-right :  2px 0px 3px 0px rgba(0,0,0,0.16);

$white : #ffffff;
$transparent-white : rgba(255,255,255,0.7);
$light-gray : #f4f6f9;
$gray : #e0e5ee;
$medium-gray : #a7b8d1;
$dark-gray : #333538;
$transparent-gray : rgba(126, 140, 153, 0.8);
$border-gray: #d8dde6;
$black : #000205;
$light-blue : #4194e4;
$blue : #3083d3;
$blue-2 : #2072c2;
$blue-3 : #1061b1;
$blue-4 : #0050a0;
$blue-5 : #004090;
$blue-6 : #0056AA;
$dark-blue : #16325c;
$linear-grad-blue : linear-gradient(to right,rgba(48,131,211,.25),#3083d3);
$green : #4bca81;
$linear-grad-green : linear-gradient(to right,rgba(75,202,129,.25),#4bca81);
$red : #d4504c;
$linear-grad-red : linear-gradient(to right,rgba(212,80,76,.25),#d4504c);
$orange : #e3924a;
$yellow : #F7B64B;
$sf-text : #5876a3;
$menu-bar-hover-gray: #e6e9f0;