.clsCheckoutCartBtn {
    background-image: url(SDEFicons/SS_Checkout.png) !important;
    background-position: 3px 50% !important;
    background-repeat: no-repeat !important;
    border-color: #81939B;
    border-style: solid;
    border-width: 1px;
    color: black;
    cursor: pointer !important;
    float: right;
    font:12px arial;
    height: 21px !important;
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 1px;
    padding-left: 24px;
    padding-right: 5px;
    text-align: right;
    width: auto;
    *padding-left : 3px; 
}
.clsCheckoutCartBtn:disabled{
	color: gray;
	cursor: default !important;
}
.cartDetail,.x-nlg .x-toolbar-default  {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #EFF3F5 !important;
    background-image: none !important;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    height: 30px;
    padding-left: 0 !important;
}
.cartPortletItemCls {
    color: #004376;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    width: 50%;
    float:left;
    padding-top: 5px;
}
 .rf-cart-item{
 	color: #1B3C55;
    font-family: arial;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    line-height: normal;
    vertical-align: top;
    height: 30px;
}
 
.rf-sr-title {
	color: #1B3C55;
    font-weight: bold;
    text-decoration:none;
}
.cart-footer{
   padding-top:15px; 
   height:51px;
   background-image: -ms-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%);
   background-image: -moz-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%);
   background-image: -o-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EFF3F5 ), color-stop(1, #CBE1EF));
   background-image: -webkit-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%);
   background-image: linear-gradient(to bottom, #EFF3F5 0%, #CBE1EF 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EFF3F5', endColorstr='#CBE1EF',GradientType=0 );
}

/*  msg box */

.x-window-default {
	background-color: #EFF3F5;
    background-image: -ms-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%);
		background-image: -moz-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%);
		background-image: -o-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EFF3F5 ), color-stop(1, #CBE1EF));
		background-image: -ms-linear-gradient(to bottom, #EFF3F5 0%, #EFF3F5 100%);
		background-image: -webkit-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%);
		background-image: linear-gradient(to bottom, #EFF3F5  0%, #EFF3F5 100%);
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EFF3F5', endColorstr='#CBE1EF',GradientType=0 );*/
}
.x-window-default {
    border-color: #CBE1EF !important;
    box-shadow: 0 1px 0 0 #CBE1EF inset, 0 -1px 0 0 #CBE1EF inset, -1px 0 0 0 #CBE1EF inset, 1px 0 0 0 #CBE1EF inset !important;
}
.x-panel-header-text-container .x-window-header-text-container {
    background-color: #EFF3F5;
	overflow: hidden;
    padding: 0 0 1px;
    text-overflow: ellipsis;
}
.x-window-header-default-top {
    box-shadow: 0 1px 0 0 #CBE1EF inset, -1px 0 0 0 #CBE1EF inset, 1px 0 0 0 #CBE1EF inset !important;
}
.x-window-header-default-top {
	background-color: #EFF3F5;
    background-image: -ms-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%);
		background-image: -moz-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%);
		background-image: -o-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EFF3F5 ), color-stop(1, #CBE1EF));
		background-image: -ms-linear-gradient(to bottom, #CBE1EF 0%, #EFF3F5 100%);
		background-image: -webkit-linear-gradient(top, #CBE1EF 0%, #EFF3F5 100%);
		background-image: linear-gradient(to bottom, #CBE1EF 0%, #EFF3F5 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EFF3F5', endColorstr='#CBE1EF',GradientType=0 );
    
}
.x-window-header-text-default {
    color:#004376 !important;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}
.x-window-body-default {
    border-color: #EFF3F5 !important;
}
.x-message-box .x-window-body {
    background-color: #FFFFFF;
    border: 0 none;
}	
.winHeaderClass .x-window-body-default {
	background: none repeat scroll 0 0 #FFFFFF !important;
}
.winHeaderClass TR {
	vertical-align:top !important;
}
.msgBoxCls {
    background-color: transparent !important;border: none !important;box-shadow: 0 0 0 transparent !important;background-image: none !important;
}
.x-nbr .x-window-header-default-top-ml,
.x-nbr .x-window-header-default-top-mr,
.x-nbr .x-window-header-default-top-tl,
.x-nbr .x-window-header-default-top-tc,
.x-nbr .x-window-header-default-top-tr,
.x-nlg .x-window-header-default-top-mc,
.x-nbr .x-window-default-ml,
.x-nbr .x-window-default-mr,
.x-nbr .x-window-default-tl,
.x-nbr .x-window-default-tc,
.x-nbr .x-window-default-tr,
.x-nlg .x-window-default-mc,
.x-nbr .x-window-default-bc,
.x-nbr .x-window-default-bl,
.x-nbr .x-window-default-br
{
background-color:#CBE1EF !important;
background-image:none !important;
}

/*  msg box */

.x-nlg .x-btn-default-small {
  background-repeat: repeat-x !important;
  background-image: url(SDEFimages/btn-default-small-bg.gif) !important;}
  
.x-nbr .x-btn-default-small-tl,
.x-nbr .x-btn-default-small-bl,
.x-nbr .x-btn-default-small-tr,
.x-nbr .x-btn-default-small-br,
.x-nbr .x-btn-default-small-tc,
.x-nbr .x-btn-default-small-bc,
.x-nbr .x-btn-default-small-ml,
.x-nbr .x-btn-default-small-mr {
  zoom: 1 !important;
  background-image: url(SDEFimages/btn-default-small-corners.gif) !important; }
  
 /* line 168, ../themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-default-small-ml,
.x-nbr .x-btn-default-small-mr {
  zoom: 1 !important;
  background-image: url(SDEFimages/btn-default-small-sides.gif) !important;
  background-position: 0 0;}
  
  /* line 102, ../themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nlg .x-btn-default-small-mc {
  background-image: url(SDEFimages/btn-default-small-bg.gif) !important;
  background-color: white !important;}