body {
    padding: 0px;
    margin: 0px;
    border:0px;
}

.divToolBar {
	padding: 10px 0 0 10px !important;
	border-radius: 6px 6px 0 0 !important;
	border-bottom:1px solid #99BCE8 !important;
	background-image: -ms-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%) !important;
	background-image: -moz-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%) !important;
	background-image: -o-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EFF3F5 ), color-stop(1, #CBE1EF)) !important;
	background-image: -webkit-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%) !important;
	background-image: linear-gradient(to bottom, #EFF3F5 0%, #CBE1EF 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EFF3F5', endColorstr='#CBE1EF',GradientType=0 ) !important;
	height:31px !important;
}

.ssBtnCls{
	background: url(SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
	border-color: #CCC #666 #666 #CCC !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-radius: 0 !important;
	margin: 0 !important;
	padding: 1px 12px 2px 12px !important;
	top: 7px !important;
	cursor:pointer !important;
	color: #000000 !important;
	font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif !important;
}

textarea.x-form-field {
    color: black;
    line-height: normal;
    overflow: auto;
    resize: none;
}
.x-form-text, textarea.x-form-field {
    border: 1px solid #B5B8C8;
    padding: 1px 3px;
}
.x-form-field, .x-form-display-field {
       color: #000000;
       font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif !important;
       margin: 0;
    }
.x-form-text {
    vertical-align: top;
} 

.clsInputTextBox {
    color: #000000;
    font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif !important; 
    vertical-align: top;
    border: 1px solid #B5B8C8;
}

.combocls{
		color: #000000;
	    font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif !important; 
	    border: 1px solid #B5B8C8;
	    height: 19px;
}

.clsBtnToolbar{    
     background: url(SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
     border-color: #CCCCCC #666666 #666666 #CCCCCC !important;
     border-radius: 0 0 0 0 !important;
     border-style: solid !important;
     border-width: 1px !important;
}

.customLookupIconOn {
    background-image: url(SDEFimages/b_pick.gif);
    vertical-align: top;
    padding-left: 5px;
    width: 19px;
    height: 19px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.x-window-header-default-top {
    background-image: -ms-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%) !important;
	background-image: -moz-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%) !important;
	background-image: -o-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EFF3F5 ), color-stop(1, #CBE1EF)) !important;
	background-image: -webkit-linear-gradient(top, #EFF3F5 0%, #CBE1EF 100%) !important;
	background-image: linear-gradient(to bottom, #EFF3F5 0%, #CBE1EF 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EFF3F5', endColorstr='#CBE1EF',GradientType=0 ) !important;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 1px 1px 0;
    padding: 4px 5px 0;
}
/*
.x-window-header-default {
    border-color: #DDDDDD;
    font-size: 11px;
}
*/
     
#basic_slider {
    background-image: url("SDEFimages/ticks.gif") !important;
    padding-top: 6px;
    width: 195px;
}