//background color
$color-brand: #1589ee; $AZURE: $color-brand; $azure: $color-brand;
$color-brand-dark: #0070d2; $SCIENCE_BLUE: $color-brand-dark; $science_blue: $color-brand-dark;
$color-background: #f3f2f2; $LINK_WATER: $color-background;
$color-background-info: #54698d; $KASHMIR_BLUE: $color-background-info;
$color-background-toggle: #9faab5; $CASPER: $color-background-toggle;
$endeavour: #005fb2; $ENDEAVOUR: $endeavour;
$midnight_blue: #00396b; $MIDNIGHT_BLUE: $midnight_blue;
$color-background-alt-inverse: #16325c;

//border
$color-border: #dddbda; $GEYSER: $color-border;

//custom
$transparent-white-5: rgba(255,255,255,0.5);
$transparent-white-32: rgba(255,255,255,0.32);

//text
$color-text-default: #3e3e3c;
$color-text-weak: #706e6b;

$page-header-color-background: #f3f2f2;
$progress-bar-color-background-fill: #5eb4ff;

$color-text-icon-default: #706e6b;

$color-red : #d4504c;
$color-green : #4bca81;