<div class="modal-header Branding-Title_bar-background_color Branding-Title_bar-broadcast_text_color">
    <h1 class="modal-header__title"><i class="i i-reservation-confirmation" id="support-modal-header__title"></i> {{$root.selfServiceLabels.ApprovalRequest}}{{ ticketNo ? ': ' : '' }}{{ticketNo}}</h1>
    <span id="support-modal-header__description" style="display:none" >
        {{action == 'Approve' ? $root.selfServiceLabels.RequestApprovedSuccess : ''}}
        {{action == 'Reject' ? $root.selfServiceLabels.RequestRejectedSuccess : ''}}
    </span>
</div>
<div class="modal-body">
	<p class="modal-header__text">  
    <div style="padding-left: 50px;" ng-if="action == 'Approve'">
        {{$root.selfServiceLabels.RequestApprovedSuccess}}
    </div>
    <div style="padding-left: 50px;" ng-if="action == 'Reject'">
        {{$root.selfServiceLabels.RequestRejectedSuccess}}
    </div>
  </p>
</div>