<div class="modal-header Branding-Title_bar-background_color Branding-Title_bar-broadcast_text_color">
	<h1 class="modal-header__title">{{ $root.selfServiceLabels.contactIT }}</h1>
</div>
<div class="modal-body">
	<div class="login-help" ng-if="userModel.loginHelpInfo">
		<div class="login-help__info-block_extended-img-web" ng-if="userModel.loginHelpInfo.link.note">
			<div class="login-help__info-block-details">
			<div class="login-help__info-block-title">
				{{userModel.loginHelpInfo.link.note}}
			</div>
				<div class="login-help__info-block-text">
					<a href="{{userModel.loginHelpInfo.link.url}}" target="_blank">
						{{userModel.loginHelpInfo.link.url}}
					</a>
				</div>
			</div>
		</div>
		<div class="login-help__info-block" ng-if="userModel.loginHelpInfo.contacts">
			<div class="login-help__info-block-container">
				<div class="login-help__info-block-contacts-container" 
					 ng-repeat="contact in userModel.loginHelpInfo.contacts">
					<div class="login-help__info-block-contact-name">{{contact.name}}</div>
					<div class="login-help__info-block-text">{{contact.phone}}</div>
				</div>
			</div>
		</div>

		<div ng-if="!userModel.loginHelpInfo.link.note && !userModel.loginHelpInfo.contacts.length">
			{{}}
		</div>

		<!-- "Reset" button is disabled since there is no reset functionality yet -->
		<!--<div class="login-help__reset-password">-->
			<!--<button class="btn btn_wide">{{'common.buttons.resetPassword' | i18n}}</button>-->
		<!--</div>-->
	</div>
	<div ng-if="!userModel.loginHelpInfo">
		<div loading-spinner if="!userModel.loginHelpInfo" overlay="true" centered="true"></div>
	</div>
</div>
