<div id="tilesList" aria-listnavigation class="support-howto-container" ng-keydown="supportServiceModel.setFocusToFirstElement($event,'tilesList');" tabindex="0" role="listbox" list="tiles">
  <div ng-if="howToItems.length != 0" class="support-request support-request-enhanced" ng-repeat="tile in tiles"  
  			ng-show="!isShowLoader"
			ng-click="openWindow(tile.url)" selectable tabindex="-1" role="option"> 
		<div class="d-icon-file_o icon-enhance" style="font-size:24px;float: left;" aria-hidden="true"></div>
		<div ng-class="{'custom-link-top-14px': !tile.description, 'custom-link-top-7px': tile.description}"  class="full-height search-result-data customlink-div" style ="display :table-cell;">
			<div class="support-request__title bold-text" ng-bind-html="tile.title"></div>
			<div class="support-request__description" ng-bind-html="tile.description"></div>
		</div>
	</div>
	<loading-spinner centered="true" if="isShowLoader"></loading-spinner>
	
  <div ng-if="howToItems.length == 0">     
    <div>{{selfServiceLabels.noResults}}</div>     
  </div>
</div>