<div error-panel type="modal"></div>

<!--<div class="support-modal__srd-header-container" ng-show="!supportModel.dataLoading">
    <div class="support-modal__srd-header-icon i-{{selectedSRD.icon}}" ng-if="!selectedSRD.image"></div>
	
	<h3 class="support-modal__srd-header-title">
		Submit a Ticket
	</h3>
	
</div>-->
<script>
var resourceUrl=$("a[id*='selfServiceResourcesUrl']").attr('href');
</script>
<div ng-cloak class="support-modal__srd-questions-container">
	<ng-form autocomplete="off" name="createIncidentForm" ng-controller="IncidentDetailsController" novalidate>
		<ng-include src="questionListUrl"></ng-include>

		<div class="modal-footer">
			<div class="modal-footer__btn-container">
				<button type="submit" ng-click="createIncident()" class="btn btn-primary Branding-Right_Panel-default_button Branding-Right_Panel-button_outline" ng-disabled="supportModel.isSrCreating || supportModel.dataLoading || !userModel.permissions.isSubmitTicketOrSRAllowed">
					{{$root.selfServiceLabels.submit}}
				</button>
				<button type="button" class="btn Branding-Right_Panel-button_outline" ng-click="cancel()" ng-disabled="supportModel.isSrCreating || supportModel.dataLoading">
					{{$root.selfServiceLabels.cancel}}
				</button>
			</div>
		</div>
	</ng-form>
</div>
