<div class="support-request-container">
	<loading-spinner centered="true" if="myRequestModel.dataLoading"></loading-spinner>
	<div class="support-request" ng-repeat="sr in SRs" ng-click="openSRDetailsModal(sr)" ng-show="!myRequestModel.dataLoading">
		<div class="support-request__icon">
			<div class="i i-assistant-categorySRD-form"></div>
		</div>
		<div class="support-request__title">{{ sr.summary }}</div>
		<div class="support-request__description">{{sr.modifiedDate * 1000 | date:'mediumDate'}} {{sr.modifiedDate * 1000 | date:'shortTime'}}</div>
		<div class="support-request__description"></div>
	</div>
</div>