<div class="support-request-container">
	<loading-spinner centered="true" if="supportModel.dataLoading"></loading-spinner>
	<div class="support-request" 
		 ng-repeat="item in supportModel.quickPickSrds | orderBy:'quickPickOrder'" 
		 ng-click="showSrdDetails(item)">
		<div class="support-request__icon">
			<div class="i i-{{ item.icon }}"></div>
		</div>
		<div class="support-request__title">{{ item.title }}</div>
		<div class="support-request__description">{{ item.desc }}</div>
	</div>
</div>
<div class="support-view-all">
	<a class="support-view-all__link" ui-sref="{{ viewAllState }}">
		{{ $root.selfServiceLabels.all }}
	</a>
</div>