<div class="modal-header Branding-Title_bar-background_color Branding-Title_bar-broadcast_text_color">
  <h1 class="modal-header__title" id="support-modal-header__title"><i class="i i-reservation-confirmation"></i> {{ $root.selfServiceLabels.ApprovalRequest }}{{ ticketNo ? ': ' : '' }}{{ticketNo}}</h1>
</div>
<div class="modal-body">
	<p class="modal-header__text">  
    <div id="support-modal-header__description" style="padding-left: 50px;">
        {{$root.selfServiceLabels.reassignSuccessful}}
    </div>
  </p>
</div>