<div ng-if="lightningModule !='createSR'" class="modal-header Branding-Title_bar-background_color Branding-Title_bar-broadcast_text_color support-modal-header">
    <div style="float:left;width:97%;">
	<h1 class="modal-header__title support-modal-header__title" id="support-modal-header__title">
		{{ $root.selfServiceLabels.serviceRequest }}
	</h1>
	</div>
	<div aria-button aria-label="{{ $root.selfServiceLabels.cancel }}" class="search-remove-btn search-remove-btn-dpl" ng-click="cancel()">
    	<span class="d-icon-cross"/>
	</div>
	<span id="loadingSpinner" aria-live="polite" class="screen_reader-only"></span>
</div>
<div class="modal-body support-modal-body">
	<ng-include src="srdDetailsUrl"/>
</div>
