<div class="modal-header Branding-Title_bar-background_color Branding-Title_bar-broadcast_text_color support-modal-header" >
	<div style="float:left;width:97%;">
		<div class="back-btn-container-default" ng-class="{'back-btn-container' : isBackEnable}" ng-show="isBackEnable">
			<a class="back-btn-rkm" ng-click="cancel()">
				<span class="d-icon-angle_left"/>
				<span>{{$root.selfServiceLabels.back}}</span>
			</a>
		</div>
	<h1 class="modal-header__title support-modal-header__title" aria-tabindex="-1" id="support-modal-header__title" ng-class="{'rkm-modal-header__title' : isBackEnable}">
		{{ $root.selfServiceLabels.ssKATitle }}
	</h1>
	</div>
	<div aria-button aria-label="{{ $root.selfServiceLabels.TooltipMaximize }}" class="search-remove-btn max-min-btn" ng-click="maximize()" ng-show="isMinimized">
	<span class="d-icon-expand"/>
	</div>
	<div aria-button aria-label="{{ $root.selfServiceLabels.TooltipMinimize }}" class="search-remove-btn max-min-btn" ng-click="minimize()" ng-show="!isMinimized">
	<span class="d-icon-collapse"/>
	</div>
	<div aria-button aria-label="{{ $root.selfServiceLabels.cancel }}" class="search-remove-btn search-remove-btn-dpl" ng-click="cancel()">
	<span class="d-icon-cross"/>
	</div>
	<span id="loadingSpinner" aria-live="polite" class="screen_reader-only"></span>
</div>
<div class="modal-body support-modal-body">
	<loading-spinner if="kaDetailsModalState.isLoading" overlay="true" style="min-height:200px;"></loading-spinner>
	<div ng-if="!kaDetailsModalState.isLoading">
<!-- 		<div class="support-modal__rkm-header-container" > -->
<!-- 			<h3 class="support-modal__rkm-header-title" ng-bind-html="selectedRKM.cleanTitle"> -->
<!-- 			</h3> -->
<!-- 		</div> -->
<!-- 		<div class="ka-contents"> -->
<!-- 			<div class="knowledge-separator"> -->
<!-- 				<h4 style="margin-bottom: 0px !important;"> -->
<!-- 						{{ $root.selfServiceLabels.problem }}  -->
<!-- 				</h4> -->
<!-- 			</div> -->
<!-- 			<div id="rkmProblemContainer" ng-bind-html="selectedRKM.Problem" class="support-modal__rkm-content-container-problem"> -->
<!-- 			</div>	 -->
<!-- 			<div class="knowledge-separator"> -->
<!-- 				<h4 style="margin-bottom: 0px !important;"> -->
<!-- 					{{ $root.selfServiceLabels.solution }}  -->
<!-- 				</h4> -->
<!-- 			</div> -->
<!-- 			<div id="rkmSolutionContainer" ng-bind-html="selectedRKM.Solution" class="support-modal__rkm-content-container"> -->
<!-- 			</div>	 -->
<!-- 		</div> --> 
	<loading-spinner if="kaDetailsModalState.isRerendering" overlay="true" style="min-height:200px;background-color: #ffffff;"></loading-spinner>
	<iframe onload="frameload()" style="overflow-y:scroll; border:none; width:100%;" set-Height="setKaIframeHeight"
		src="{{iframeUrl()}}" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"  ></iframe>

		<a href="#" ng-focus="supportModel.setFocusToTop('support-modal-header__title')"></a> 
	</div>
	<div id="rkm-smart-suggestions-pane">
		<smart-suggestions data="rkmSmartSuggestionsData"></smart-suggestions>
	</div>
</div>
