<div class="modal-header support-modal-header" >
	<h1 class="modal-header__title support-modal-header__title">
		 {{$root.selfServiceLabels.ApprovalRequest}}
	</h1>
	<div class="search-remove-btn search-remove-btn-dpl" ng-click="cancel()" >
     <span class="d-icon-cross"/>
	</div>
</div>
<div class="modal-body support-modal-body">
	<loading-spinner if="manageApprovalState.isLoading" overlay="true" style="min-height:200px;"></loading-spinner>
		<div ng-show="!manageApprovalState.isLoading" style="padding-left: 10px; padding-top: 10px; padding-bottom: 10px; padding-right: 10px;" >
      <table>
        <tr ng-repeat="recordDetails in selectedApproval">
          <td class="approval-list__labels" >{{recordDetails.label}}</td>
          <td class="approval-list__colons" >:</td>
          <td class="approval-list__values" >{{recordDetails.value}}</td>
        </tr>
      </table> 
      <hr style="margin-bottom: 10px; margin-top: 10px;">
      <div>
      <button type="button" class="btn btn-primary Branding-Right_Panel-default_button Branding-Right_Panel-button_outline ng-binding" style="margin-left: 500px;" ng-click="cancel()">{{$root.selfServiceLabels.cancel}}</button> </div>
		</div>
</div>
