<div class="modal-header Branding-Title_bar-background_color Branding-Title_bar-broadcast_text_color">
	<a aria-button class="modal-header__link" 
		ng-if="template.name === 'details'" 
		ng-click="goToRequestActivity(); resetSections();">
		<!--<i class="glyphicon glyphicon-chevron-left"></i> -->
		&#10094; {{$root.selfServiceLabels.back}}
	</a>	
	
	<div aria-button aria-label="{{ $root.selfServiceLabels.cancel }}" class="search-remove-btn search-remove-btn-dpl" ng-click="close()">
    	<span class="d-icon-cross"/>
	</div>
	
	<h1 class="modal-header__title_centered" id="support-modal-header__title " ng-if="isRequest">{{$root.selfServiceLabels.serviceRequest}}</h1>
	<h1 class="modal-header__title_centered" id="support-modal-header__title " ng-if="isTicket">{{$root.selfServiceLabels.incident}}</h1>
	<span id="loadingSpinner" aria-live="polite" class="screen_reader-only"></span>
</div>
<div ng-include src="template.url" style="display: block;" set-Height="setEditExtFormHeight"></div>

