.THIS.ch-font_bold {
    font-weight: bold
}

.THIS .slds-card__header {
    font-weight:bold
}

.THIS.related_list_themed_border_top {
    border-top-width:3px;
    border-top-color:rgb(176, 173, 171);
    border-top-style:solid;
    border-top-left-radius:.25rem;
    border-top-right-radius:.25rem;
    position:relative;
    margin-bottom:-3px;
    z-index:999;
}