.approval-score-green {
    color: greenyellow;
}

.approval-score-yellow {
    color: #ffb75d;
}

.approval-score-red {
    color: red;
}

.deal-score{
    font-size: xx-large;
    font-weight: bold;
}