.THIS .verification-overlay {    
    position: relative;
    width: 2rem;
    display: inline-block;
    height: 2rem;
    vertical-align: middle;
    margin-right: .5rem;
    background: transparent;
}

.THIS .verification-overlay .slds-spinner_container {
    background: transparent;
}