<div class="confirmationDialog" id="configureSignature">
	<div id="sideBarloader" />
		<div id="sideBarActionMask" class="dialog-whiteMask"/>
	<div class="modal-header signature-modal-header" > 
		<h3 class="modal-header__title" style="font-size: 12px"><b>{{ _Labels.EmailSignature }}</b><span ng-click="cancel()" class="signature-closeBtn"><b>x</b></span></h3>
	</div>
	<div class="modal-body" style="padding: 0px">
		<iframe src="/apex/rtfeditor" id="rtfFrameConfigure" ng-style="modalStyle" onLoad="setExistingSignature();"></iframe>
	</div>
	<div class="modal-footer signature-modal-footer" >
		<div class="modal-footer__btn-container signature-modal-footer__btn-container" >
			<button type="button" class="btn btn-default signature-btn sidebar-cancel-button " ng-click="cancel()">{{ _Labels.cancel }}</button>
			<button type="button" class="btn btn-default signature-btn sidebar-save-button" ng-click="save()">{{ _Labels.save }}</button>

		</div>
	</div>
</div>