<div class="panel save-image" ng-show="saveImage">
	<panel-header action="hidePanels()" headertext="{{_Labels.modal.saveImageAs}}"></panel-header>
	<div class="panel-body">
		<div class="btn-panel" id="saveImgBtnPanel" style="position:absolute; right:25px;">
			<input type="text" name="saveImageFileName" ng-model="saveImageFileName" placeHolder="{{_Labels.modal.FileName}}"/>
			<a id="download" download="{{saveImageFileName}}" ng-click="download()" class="download"/>
		</div>
		<div id="printImagePanel" style="overflow: auto;height: 500px;">
			<img src="{{imgDataURL}}" id="canvasPrint" style="padding-top:50px;"/>
		</div>
	</div>
</div>