<div class="modal-header" ng-model="sidebarModel">
	<div id="sideBarloader" />
		<div id="sideBarActionMask" class="dialog-whiteMask"/>
			<h3 class="modal-title" id="modal-title" style="font-size: 16px;"><b>Summarized: {{activity['name']}}</b><span ng-click="cancel()" class="signature-closeBtn"><b>x</b></span></h3>
		</div>
		<div class="activity-feed-info" style="padding-top:10px;padding-left:10px;">
			<div>
                <img class="user-suggestion sidebar-user-suggestion" src="{{activity['userPhotoUrl'] ? activity['userPhotoUrl'] : '/profilephoto/005/T'}}"
                />
			</div>	
			<div class="description-container" id="{{activity['Id']}}">
				<div class="desc">
					{{activity['description']}}
				</div>
				<div class="author">{{activity['userName']}} {{ (activity['userName']) ? '|':'' }} {{activity.createdDate}}
				</div>
			</div>
		</div>	
<div class="modal-body" id="modal-body" style="word-break:break-word;" ng-bind-html="popupData">
</div>
<div class="modal-footer">
 <button class="sidebar-save-button" type="button" ng-click="cancel()">Cancel</button>

</div>