.THIS .td-productName{
    width: 40%;
}

.THIS .td-quantity{
    width: 10%; 
}

.THIS .td-frequency{
    width: 20%; 
}

.THIS .td-note{
    width: 30%; 
}

.THIS .frequencySelect .slds-form-element__label{
    display: none; 
}