.THIS.ch-section-wrapper {
    /*background:#fafafa;*/
    background: rgb(243, 242, 242);
}

.THIS .slds-grid.ch-grid {
    flex-direction:column;
}

.THIS.ch-section-wrapper {
    border: 1px solid #ddd;
    border-radius: .2rem;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
}

.THIS.ch-section-wrapper .ch-section-header {
    padding: .5rem;
    color: #fff;
    background: rgba(60, 90, 38, 1);
}

.THIS.ch-section-wrapper .ch-field-label-pair>.ch-label, .THIS.ch-section-wrapper .ch-field-label-pair>.ch-field {
    display:inline-block;
}

.THIS.ch-section-wrapper .ch-field-label-pair>.ch-field {
    margin-left:.35rem;
}

.THIS.ch-section-wrapper .ch-input-row {
    display:flex;
    flex-direction:row;
    align-items:flex-end;
}

.THIS.ch-section-wrapper .label-hidden>label {
    display:none;
}

.THIS .section-icon {
    display:inline-block;
}

.THIS .ch-section-body {
    padding: 0.5rem;
}

.THIS .ch-section-body.rolledup {
    max-height:0;
    overflow:hidden;
    padding:0;
}

.THIS .ch-section-body .ch-button-wrapper {
    margin-top: 1rem;
    text-align: center;
}

.THIS .section-icon>.button-icon {
    color:#fff;
}

.THIS .section-icon.section-icon-collapsed {
    transform:rotate(-90deg);
}

.THIS.ch-button_warning {
    background: #FFA33B;
    border: 1px solid #FFA33B;
    color: #fff;
}

@media (min-width:768px) {
    .THIS .slds-grid.ch-grid {
        flex-direction:row;
    }
}

@media (min-width:1200px) {
    .THIS .ch-section-body.rolledup {
        max-height:initial;
        overflow:unset;
        padding:0;
    }

    .THIS .ch-section-body .ch-input-wrapper {
        display: inline-block;
        width: 12%;
        padding: 0 .25rem;
    }

    .THIS .ch-section-body .ch-button-wrapper {
        display: inline-block;
        padding: 0 .25rem;
        margin-top:0;
        text-align:unset;
    }
    
    .THIS .section-icon>.button-icon {
        display:none;
    }
    
    .THIS.ch-section-wrapper .ch-section-header {
        background: transparent;
        padding: 0;
        color:#333;
        margin-bottom:1rem;
    }
    
    .THIS.ch-section-wrapper {
    	padding: 1rem;
    }

    .THIS .ch-section-body {
        padding: 0rem;
    }
}

@media (min-width:1600px) {
    .THIS .ch-section-body .ch-input-wrapper {
        width: 15%;
    }
}