.THIS .ch-error-block {
    padding: .5rem;
    background: #c23934;
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.THIS.slds-box {
    border: none;
    margin-left: -2rem;
    margin-right: -2rem;
}

.THIS .docusign-header {
    margin-bottom:1rem;
    display:flex;
}

.THIS .docusign-header > .docusign-component-title {
    flex-grow:1;
    align-self:center;
}

.THIS .docusign-header > .docusign-component-status .icon-approval {
    color:#fff
}

.THIS .docusign-header > .docusign-component-status .icon-warning {
    color:#ffb75d
}