.spinnerContainer .spinnerGif{width:180px; height:180px; display:inline-block; position:relative; left:25rem; right:0; top:3rem; bottom:0; margin:auto;}
.slds-backdrop{background: rgba(126, 140, 153, 0.4);}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .header, .footer {
    background: white;
    padding: 0.123rem;
  }
  .content {
    flex: 1;
    overflow: auto;
    
  }
  .scrollable {
    height: 568px;
    overflow-y:auto;
}