/*Overall Style*/
body{min-width: 1110px; background-color: #F2F2F2;}
.wrapper {display: block; padding: 25px 54px 0 54px; background-color: #FFF;}
.separator-erasor {border-bottom: 1px solid #ffffff; margin-top: -1px;}
.bottom-separator {border-bottom: 1px solid #e1e1e1; margin: 4px 0;}
#testEmail {padding-top: 0; padding: 2px 7px; border-radius: 4px; border-style: ridge; color: red; width: 300px;}
.emailTestPanel {text-align: center; margin: 7px 0; padding: 7px;}
.ui-state-focus{outline: 0;}

/*Survey Styles*/
.surveyHeader {color: #888;font-size: 12px;font-weight: bold;margin: 12px 0 5px 0;}	
.leftWrapper, .rightWrapper {vertical-align: top; padding: 0px; display: inline-block; width: 46%;}
.middleWrapper {display: inline-block;width: 7%;}
.leftSurveyContainer, .rightSurveyContainer{line-height: normal;}
.colHeader {display: inline-block;}
.colHeader, .additionalInputs {font-size: 14px;font-weight: bold;}
.colHeaderTag{  color: #777; font-size: 12px; display: block; line-height: 170%;}
.additionalInputs {color: #888; margin: 10px 0px 0px 4px;}
.surveyPanelproduct {border-bottom: 1px solid #e1e1e1;}
.percent {width: 40px; text-align: left; display: inline-block; font-weight: bold; padding: 0 0.4em;}
.percent:after { content: "%"; }
#surveyComment, #contactPhone {padding:3px 5px; color: #555;font-size: 1.2em;}
#surveyComment {height: 54px; width: 100%; border: 2px solid #d1d1d1; border-radius: 4px; resize: none;}
#contactPhone {border: 2px solid #d1d1d1; border-radius: 4px; margin-left: 0px; width: 150px; margin-left: 6px;}
.phoneLabel, .refCustomerLabel, .agreementLabel {
	font-weight: normal;
	background-image: url('../images/circle.png');
	vertical-align: middle;
	padding-left: 29px;
	padding-top: 5px;
	display: inline-block;
	background-size: 24px 24px;
	height: 24px;
	background-repeat: no-repeat;
	cursor: pointer;
	color: #777;
	font-size: 12px;
	margin: 5px 0 7px 0;
}
.phoneLabel.selected, .refCustomerLabel.selected, .agreementLabel.selected {background-image: url('../images/circle_check.png');}
.refCustomerLabel {display: block;margin-top: 0px !important}

/*Privacy Statement Styles*/
.footer {padding: 4px 54px 0 54px; margin-top: 4px; text-align: center;}
.privacy-stmt-wrapper {
	padding: 14px 15px 9px 10px; position: absolute; background: #FFFFF1; width: 550px; border: 1px solid #A1A1A1; border-radius: 2px; z-index: 3; text-align: left; line-height: 16px;
}
.close-privacy-stmt-wrapper {
	float:right; margin-right: -14px; margin-top: -13px; background: aliceblue; padding: 1px 4px; cursor: pointer; border: 1px solid #888; border-radius: 2px;
}
.privacy-info-show {
	font-weight: normal;
	vertical-align: middle;
	padding-left: 7px;
	padding-top: 5px;
	display: inline-block;
	height: 24px;
	cursor: pointer;
	color: #777;
	font-size: 12px;
}
.agreementLabel, .privacy-info-show {margin: 5px 0 0 0;}

/*Submit Button Styles*/
.submitPanel {margin-top: 10px;text-align: center;}
.submitBtnPanel {margin-left: 40px;}
.submitBtn { background-color: #DDD; padding: 7px 15px; font-weight: bold; color: #fff; border-radius: 4px; border: 1px solid #CCC;   margin-top: 2px;}
.submitBtnActive {background-color: #f86e00; padding: 7px 15px; font-weight: bold; color: #fff; border-radius: 4px; border: 1px solid #FF775A; cursor: pointer;}
.submitBtnActive:hover {background-color: #f86e10; }

/*Slider Styles*/
.slider{
	background-size: cover; 
	width: 80%; 
	display: inline-block;
	background-image: url('../images/scroller-bg-105.png');
	width: 100%;
	margin: 0 0 12px 0;
	cursor: pointer;
}
.slider-100 {background-image: url('../images/scroller-bg-100.png') !important;}
.slider-tip { opacity:1; bottom:120%; margin-top: -30px; }
.applicable {  
	width: 30px;
	display: inline-block;
	background-image: url('../images/circle.png');
	background-size: 24px 24px;
	float: right;
	height: 32px;
	background-repeat: no-repeat;
	cursor: pointer;
	color: #777;
	vertical-align: middle;
	margin-top: -9px;
	vertical-align: middle;
	padding-top: 5px;
	padding-left: 26px;
}
.applicable.selected {background-image: url('../images/circle_check.png');}

/*Tooltip Styles*/
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000000;
}
.tooltip-inner {
	max-width: 200px;
	padding: 8px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #000000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 100px;
	margin-top: 14px;
	margin-left: -43px;
}
.slider-tip {opacity: 1;bottom: 120%;margin-left: -8px;}
.tooltip.top {margin-top: 7px;padding: 5px 0;margin-left: -7px;}
.tooltip {
	position: relative; /*absolute*/
	z-index: 1030;
	display: block;
	visibility: visible;
	font-size: 11px;
	line-height: 1.4;
}
.tooltip-arrow {
	position: relative; /*absolute*/
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	margin-bottom: -50px !important;
	margin-left: -2px !important;
}

/*Smiley Styles*/
.detailsTbl {width: 100%; vertical-align: middle; border-bottom: 1px solid #e1e1e1;}
table.detailsTbl td {color: #777 !important;font-size: 1em;text-align: center;width: 20%;padding: 0 0 2px 0;}
.sprite {background: url('../images/spritesheet.png');background-repeat: no-repeat;}
.sprite-dissatisfied, .sprite-satisfied, .sprite-very_dissatisfied, .sprite-very_satisfied {	width: 48px;height: 48px;}
.sprite-dissatisfied {background-position: center -5px;}
.sprite-satisfied {background-position: center -63px;}
.sprite-very_dissatisfied {background-position: center -121px;}
.sprite-very_satisfied {background-position: center -179px;}
.ui-slider-horizontal {height: 11px;}
.ui-slider .ui-slider-handle {width: 10px; cursor: pointer;}

/*Overlay Message*/
.overlay {
	background: #bcbcbc;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	position: fixed;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	display: block;
	top: 0;
	overflow: hidden;
	left: 0;
	z-index: 999;
}
.msgPanel {
	height: 120px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	top: 37%;
	z-index: 1000;
	position: fixed;
	display: block;
	left: 0;
}
.messagePanel {
	font-size: 16px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	padding: 30px;
	border: 1px solid lightgrey;
	color: #777;
	border-radius: 5px;
}
.closeWindow {
	font-size: 13px;
	padding: 5px 18px;
	margin-top: 24px;
	background: #eee;
	cursor: pointer;
	border: 1px solid lightgrey;
	font-weight: normal;
}
.not-applicable {
	float: right;
	margin-right: 0em;
	margin-top: -17px;
	line-height: 10px;
	margin-bottom: -5px;
	font-size: 12px;
	font-weight: bold;
	color: #888;
}