#maBodyContent {
  height: 100%;
  background-color: #fff; }

.ma-body-content {
  display: none; }
  .ma-body-content.is-active {
    display: flex; }

.page-header-inline-checkbox-toggle {
  margin-top: 4px; }
  .page-header-inline-checkbox-toggle .slds-checkbox_faux {
    float: right; }
  .page-header-inline-checkbox-toggle .slds-checkbox_on, .page-header-inline-checkbox-toggle .slds-checkbox_off {
    float: left;
    margin: 4px 6px 0 0; }

#liveLogoPageHeaderIcon {
  background-color: #1589ee;
  width: 32px;
  height: 32px;
  text-align: center; }
  #liveLogoPageHeaderIcon .ma-icon {
    color: #fff;
    font-size: 21px;
    line-height: 1;
    height: 21px;
    width: 21px;
    display: block;
    margin: 5px auto;
    float: none; }

.page-header-dropdown-first .slds-button {
  border-right: 0;
  border-radius: 4px 0 0 4px !important;
  width: calc(2rem - 1px); }
  .page-header-dropdown-first .slds-button .ma-icon {
    font-size: 14px;
    display: block;
    margin: auto; }

#saveAndCloseButton {
  color: #fff !important; }

#maVerticalNav {
  background-color: #fafafb;
  width: 200px;
  border-right: 1px solid #d8dde6; }

.slds-nav-vertical__item {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }

.slds-nav-vertical__item.slds-nested-nav-item-is-active {
  background-color: #f0f8fc;
  border-top: 1px solid #d8dde6;
  border-bottom: 1px solid #d8dde6; }
  .slds-nav-vertical__item.slds-nested-nav-item-is-active:before {
    content: '';
    width: 4px;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: #0070d2; }
  .slds-nav-vertical__item.slds-nested-nav-item-is-active ul.slds-nested-nav-vertical li a:hover {
    background-color: rgba(0, 0, 0, 0.03); }
  .slds-nav-vertical__item.slds-nested-nav-item-is-active ul.slds-nested-nav-vertical li a:before {
    content: '';
    width: 4px;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: #0070d2; }
  .slds-nav-vertical__item.slds-nested-nav-item-is-active ul.slds-nested-nav-vertical li a .indicator-dot {
    box-shadow: 0 0 0 4px #f0f8fc; }

.slds-scope ul.slds-nested-nav-vertical {
  position: relative; }
  .slds-scope ul.slds-nested-nav-vertical:before {
    position: absolute;
    content: ' ';
    width: 2px;
    height: calc(100% - 32px);
    top: 16px;
    left: 36px;
    z-index: 7;
    background-color: #d8dde6; }

.slds-scope ul.slds-nested-nav-vertical li a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 9px 1.5rem;
  border-top: 0;
  border-bottom: 0;
  border-radius: 0;
  color: #16325c;
  padding-left: 64px;
  position: relative; }
  .slds-scope ul.slds-nested-nav-vertical li a:hover {
    background-color: #eef1f6;
    text-decoration: none;
    color: currentColor; }
    .slds-scope ul.slds-nested-nav-vertical li a:hover .indicator-dot {
      box-shadow: 0 0 0 4px #eef1f6; }
  .slds-scope ul.slds-nested-nav-vertical li a.slds-is-active {
    color: #0070d2; }
    .slds-scope ul.slds-nested-nav-vertical li a.slds-is-active .indicator-dot {
      background: #fff;
      border: 4px solid #0070d2;
      width: 16px;
      height: 16px;
      left: 29px;
      top: 10px; }
  .slds-scope ul.slds-nested-nav-vertical li a.is-completed .indicator-dot {
    background: #5eb4ff;
    width: 14px;
    height: 14px;
    left: 30px;
    top: 11px; }
    .slds-scope ul.slds-nested-nav-vertical li a.is-completed .indicator-dot:before {
      color: #fff;
      position: absolute;
      left: 2px;
      top: 2px;
      width: 10px;
      height: 10px;
      font-size: 10px;
      font-family: "ma-icons-2" !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      speak: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\55"; }
  .slds-scope ul.slds-nested-nav-vertical li a.has-completed-before:after {
    content: ' ';
    position: absolute;
    left: 36px;
    top: -50%;
    width: 2px;
    height: 100%;
    z-index: 8;
    background-color: #5eb4ff; }

.slds-scope ul.slds-nested-nav-vertical li a .indicator-dot {
  position: absolute;
  z-index: 10;
  width: 8px;
  height: 8px;
  left: 32.5px;
  top: 14px;
  border-radius: 8px;
  background-color: #d8dde6;
  box-shadow: 0 0 0 4px #fafafb; }

.slds-nested-nav-item_header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: .5rem 1.5rem .25rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 0; }

/*# sourceMappingURL=ma-ui.css.map */
