/*================================================================

GENERAL

================================================================*/

.light-gray {
	background-color: #f7f9fb;
	background: #f7f9fb;
}

/*================================================================

LAYOUT

================================================================*/

.ma-header {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.ma-left-nav {
	position: fixed;
	width: 200px;
	height: 100%;
	overflow: hidden;
	top: 69px;
	border-right: 1px solid #d8dde6;
}

.ma-content-area {
	padding: 70px 0 0 200px;
	overflow: hidden;
	height: calc(100% - 70px);
}

/*================================================================

CONTENT AREAS

================================================================*/

.ma-tab-content {
	padding: 25px;
}

/* Dashboard */

.counter {
	font-size: 42px;
}

.table-dropdown {
	cursor: pointer;
}

.table-dropdown-content {
	/*max-height: 0;*/
	margin-bottom: 0 !important;
	overflow: hidden;
	transition: max-height 0.15s ease-out;
}

.slds-card__footer.out {
	display: none;
}

.slds-scope .ma-table {
	border: 1px solid #d8dde6;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	-ms-border-radius: .25em;
	-o-border-radius: .25em;
	border-radius: .25em;
}

#Rules.ma-tab-content {
	padding-top: 75px;
}

.ma-tab-content .top-bar {
	position: fixed;
	width: 100%;
	margin-top: -75px;
	margin-left: -25px;
	margin-right: -25px;
	padding: 10px 25px;
	border-bottom: 1px solid #d8dde6;
	background-color: #fff;
	z-index: 1;
}

.slds-scope .ma-table thead {
	background-color: #f4f6f9;
}

.slds-scope .error-notification-badge {
	background-color: #c23934;
	color: #fff;
}

.slds-scope .slds-is-active .error-notification-badge {
	background-color: #e0e5ee;
	color: #16325c;
}

/*==== Individual Rule ====*/

.indi-rule {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
	height: calc(100% - 70px);
	width: calc(100%);
	background-color: #fff;
}

.indi-rule .indi-rule-info {
	border-bottom: 1px solid #D7DDE7;
}

.indi-rule .header-fiedlset {
	max-width: 700px;
}

.indi-rule .slds-card {
	padding: 12px 24px
}

.indi-rule .slds-card.bg-white {
	background-color: #fff;
	background: #fff;
	position: relative;
}

.right-blue-arrow:after {
	content: '';
	position: absolute;
	z-index: 0;
	top: 40px;
    right: -50px;
	width: 80px;
    height: 15px;
	background-image: url('../img/right-arrow.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.indi-rule .and-separator  {
	display: block;
	position: relative;
	padding: 20px 10px;
}

.indi-rule .and-separator .and-text {
	position: relative;
	left: 20px;
	z-index: 1;
	display: inline-block;
	line-height: 21px;
	text-transform: uppercase;
	color: #54698d;
}

.indi-rule .and-separator:before {
	content: '';
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 1;
	height: 59px;
	width: 48px;
	background-color: rgba(255,255,255,1); 
}

.indi-rule .and-separator:after {
	content: '';
	position: absolute;
	top: 29px;
	left: 0;
	z-index: 0;
	height: 1px;
	width: 100%;
	background-color: #d8dde6; 
}