.THIS .selectLink {
    text-transform: none;
}

.THIS .searchBox {
    width: 300px;
}

.THIS .overlay {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 10; 
    background-color: rgba(0,0,0,0.25);
}

.THIS .loadingText {
    color: rgb(0, 112, 210);
}

.THIS .headerTitles {
    white-space: normal;
    word-wrap: break-word;
    min-width: 5.5rem;
}
.THIS .headerTitlesReadOnly {
    white-space: normal;
    word-wrap: break-word;
    min-width: 10.5rem;
}

.THIS .mass_edit_picklist, .THIS .mass_edit_date {
    min-width: 8rem;
}

.THIS .mass_edit_picklist label.slds-form-element__label {
    padding-right: 0;
}

.THIS .mass_edit_readonly {
    color: rgb(0, 112, 210);
}

.THIS th.stickyHeader {
    background: white;
    position: sticky;
    top: 120px; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index: 2;
  }