/**
 * @FileName: ServicePlanManagerItemDetail.css
 * @Description: Style sheet for ServicePlanManagerItemDetail
 * @Author: Graeme Ward
 * @ModificationLog:
 *-----------------------------------------------------------
 * Author            Date            Modification
 * Graeme Ward       12/6/2019         Created
 *-----------------------------------------------------------  
 */
.THIS .slds-modal__container.citron-modal {
    width: 85%;
    margin: 0 auto;
    max-width: 90%;
}