.slds-modal__container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
 }

 .scrollContainer {
    overflow: auto;
    position: relative;
}
.scrollArea {
    position: relative;
}