body {
    padding: 0px;
    margin: 0px;
    border:0px;
    background-color: #FFFFFF;
}

.divToolBar {
	padding: 10px 0 0 10px !important;
	border-radius: 6px 6px 0 0 !important;
	border-bottom:1px solid #AEBAC1 !important;
	 background-image: -ms-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
   background-image: -moz-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
   background-image: -o-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E2C9C9 ), color-stop(1, #CC9F9F));
   background-image: -ms-linear-gradient(to bottom, #E2C9C9 0%, #CC9F9F 100%);
   background-image: -webkit-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
   background-image: linear-gradient(to bottom, #E2C9C9 0%, #CC9F9F 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2C9C9', endColorstr='#CC9F9F',GradientType=0 );
	height:31px !important;
}

.ssBtnCls{
	background: url(SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
	border-color: #CCC #666 #666 #CCC !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-radius: 0 !important;
	margin: 0 !important;
	padding: 1px 12px 2px 12px !important;
	top: 7px !important;
	cursor:pointer !important;
	color: #000000 !important;
	font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif !important;
}

textarea.x-form-field {
    color: black;
    line-height: normal;
    overflow: auto;
    resize: none;
}
.x-form-text, textarea.x-form-field {
    border: 1px solid #B5B8C8;
    padding: 1px 3px;
}
.x-form-field, .x-form-display-field {
       color: #000000;
       font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif !important;
       margin: 0;
    }
.x-form-text {
    vertical-align: top;
} 

.clsInputTextBox {
    color: #000000;
    font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif !important; 
    vertical-align: top;
    border: 1px solid #B5B8C8;
}

.combocls{
		color: #000000;
	    font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif !important; 
	    border: 1px solid #B5B8C8;
	    height: 19px;
}

.clsBtnToolbar{    
     background: url(SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
     border-color: #CCCCCC #666666 #666666 #CCCCCC !important;
     border-radius: 0 0 0 0 !important;
     border-style: solid !important;
     border-width: 1px !important;
}

.customLookupIconOn {
    background-image: url(SDEFimages/b_pick.gif);
    vertical-align: top;
    padding-left: 5px;
    width: 19px;
    height: 19px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#basic_slider {
    background-image: url("SDEFimages/ticks.gif") !important;
    padding-top: 6px;
    width: 195px;
}

.divToolBar {
    height: 42px !important;
    padding: 11px 0 0 10px !important;
}


.trHeight20 {
    height: 20px; !important;
}

.trHeight {
    height: 30px; !important;
}

.InputTextBox300
{
    width:435px;
    padding-left:3px !important
}

.comboBoxCls {
    width: 435px;
}
 
#divBox
{
	padding: 5px 0 0 11px !important;
} 

.x-body {
    color: black;
    font-family: arial,verdana,sans-serif;
    font-size: 12px;
}


/* CSS for Message Box   */

.x-window-default {
	background-color: #E2C9C9;
    background-image: -ms-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: -moz-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: -o-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E2C9C9 ), color-stop(1, #CC9F9F));
		background-image: -ms-linear-gradient(to bottom, #E2C9C9 0%, #E2C9C9 100%);
		background-image: -webkit-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: linear-gradient(to bottom, #E2C9C9  0%, #E2C9C9 100%);
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2C9C9', endColorstr='#CC9F9F',GradientType=0 );*/
}
.x-window-default {
    border-color: #CC9F9F !important;
    box-shadow: 0 1px 0 0 #CC9F9F inset, 0 -1px 0 0 #CC9F9F inset, -1px 0 0 0 #CC9F9F inset, 1px 0 0 0 #CC9F9F inset !important;
}
.x-window-header-default-top {
    box-shadow: 0 1px 0 0 #CC9F9F inset, -1px 0 0 0 #CC9F9F inset, 1px 0 0 0 #CC9F9F inset !important;
}
.x-window-header-default-top {
	background-color: #E2C9C9;
    background-image: -ms-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: -moz-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: -o-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E2C9C9 ), color-stop(1, #CC9F9F));
		background-image: -ms-linear-gradient(to bottom, #CC9F9F 0%, #E2C9C9 100%);
		background-image: -webkit-linear-gradient(top, #CC9F9F 0%, #E2C9C9 100%);
		background-image: linear-gradient(to bottom, #CC9F9F 0%, #E2C9C9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2C9C9', endColorstr='#CC9F9F',GradientType=0 );
    
}
.x-window-header-text-default {
    color:#460101 !important;
    font-family: arial !important;
    font-size: 12px !important;
    font-weight: bold;
}
.x-window-body-default {
    border-color: #E2C9C9 !important;
}	

.winHeaderClass .x-window-body-default {
	background: none repeat scroll 0 0 #FFFFFF !important;
}
.x-message-box .x-window-body {
    background-color: #FFFFFF;
    border: 0 none;
}
.winHeaderClass TR {
	vertical-align:top !important;
}
.msgBoxCls {
    background-color: transparent !important;border: none !important;box-shadow: 0 0 0 transparent !important;background-image: none !important;
}

.x-nbr .x-window-header-default-top-ml,
.x-nbr .x-window-header-default-top-mr,
.x-nbr .x-window-header-default-top-tl,
.x-nbr .x-window-header-default-top-tc,
.x-nbr .x-window-header-default-top-tr,
.x-nlg .x-window-header-default-top-mc,
.x-nbr .x-window-default-ml,
.x-nbr .x-window-default-mr,
.x-nbr .x-window-default-tl,
.x-nbr .x-window-default-tc,
.x-nbr .x-window-default-tr,
.x-nlg .x-window-default-mc,
.x-nbr .x-window-default-bc,
.x-nbr .x-window-default-bl,
.x-nbr .x-window-default-br
{
background-color:#CC9F9F !important;
background-image:none !important;
}

/* CSS for Message Box    End */
