 .x-column-header-sort-ASC .x-column-header-text 
    {
         background: url(SDEFimages/arrow_sort_ascending.gif) no-repeat scroll right 3px transparent !important;
         padding-right: 16px;         
    }
     
    .x-column-header-sort-DESC .x-column-header-text
    {
         background:url(SDEFimages/arrow_sort_descending.gif) no-repeat scroll right 3px transparent !important;
         padding-right: 16px;
    }
    
    .x-column-header,.x-column-header-over {
           	/*background-color: #375A47;*/
           /*background-image: url(SDEFimages/grid-header.gif) !important;*/
           box-shadow: 0px 0px 5px #CDD7D7;
	background-image: -ms-linear-gradient(top, #DE7984 0%, #861D28 100%);
	background-image: -moz-linear-gradient(top, #DE7984 0%, #861D28 100%);
	background-image: -o-linear-gradient(top, #DE7984 0%, #861D28 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DE7984), color-stop(1, #861D28));
	background-image: -webkit-linear-gradient(top, #DE7984 0%, #861D28 100%);
	background-image: linear-gradient(to bottom, #DE7984 0%, #861D28 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DE7984', endColorstr='#861D28',GradientType=0 );
            
           color: #FFFFFF;
           font-family: Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif;
           font-size: 12px;
           font-weight: bold;  
       }
       
.x-column-header-inner {
 	overflow: hidden !important;
	text-overflow: ellipsis !important;
}
        
    .clsBtnToolbar{    
     background: url(SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
     border-color: #CCCCCC #666666 #666666 #CCCCCC !important;
     border-radius: 0 0 0 0 !important;
     border-style: solid !important;
     border-width: 1px !important;
}


.clsSSButtonStyle{
	background: url(SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
	border-color: #CCC #666 #666 #CCC !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-radius: 0 !important;
		margin: 0 5px 5px 0 !important;
	/*padding: 1px 10px !important;*/
	/*top: 7px !important;*/
	cursor:pointer;
	width:80px;
    padding: 1px 12px 2px 12px !important;
    font-weight:normal;
    font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif !important;
    height:24px;
   
}
 
    .msgBoxCls
    {
        background-color:transparent;
        border:none; 
        box-shadow: 0 0 0 transparent;          
    }

    .x-body {
        color: black;
        font-family: Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif;
        font-size: 12px;
    }

    .x-toolbar-default{
         /*background-color: #E0E3E5;*/
		padding: 0px 0 0 10px;
		border-radius: 6px 6px 0 0;
		border-bottom:1px solid #AEBAC1;
		background-image: -ms-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: -moz-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: -o-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E2C9C9 ), color-stop(1, #CC9F9F));
		background-image: -ms-linear-gradient(to bottom, #E2C9C9 0%, #CC9F9F 100%);
		background-image: -webkit-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: linear-gradient(to bottom, #E2C9C9 0%, #CC9F9F 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2C9C9', endColorstr='#CC9F9F',GradientType=0 );
		min-height:40px;
   
     }
     
	.noRecordDivCls {
        background:transparent;
        color: #000000;
        font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif;
	}
    
    .x-form-field, .x-form-display-field {
       color: #000000;
       font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif;
       margin: 0;
    }

    .x-grid-row .x-grid-cell {
        color: #000000;
       font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif;
    }

    .x-toolbar .x-toolbar-text {
        color: #000000;
        font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif;
    }

    .x-form-item-label {
        -moz-user-select: -moz-none;
        cursor: default;
        display: block;
        font-size: 12px;
        padding: 3px 0 0;
        color: #000000;
        font-weight:normal !important; 
        font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif !important; 
    }
  
        .x-grid-rowbody {
            padding: 0 5px 5px 5px;
        }
        
        body{
        margin:0px;
        padding:0px;
        border:0px;
        }

    .x-btn-inner
    {
        color:black;
        font-family:Arial !important;
        font-size:12px !important; 
    }
 
	.x-window-body-default {
	    background: none repeat scroll 0 0 #FFFFFF;
	    border-color: #99BBE8;
	    border-width: 1px;
	    color: black;
	}
 
.x-toolbar {
    
    background-color: #FFFFFF !important;
    border: 0 none;
	font-size: 12px !important;
	font-family: Arial !important;
	color: #000000 !important;
    padding-right: 5px;
    height:42px;
}
 
.x-btn-default-small {
    background-color: transparent;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F9F9F9 48%, #E2E2E2 52%, #E7E7E7);
    border-radius: 1px 1px 1px 1px;
    border-style: solid !important;
    border-width: 1px !important;
    padding: 2px !important;
}

.x-btn-default-small {
    border-color: transparent;
}


.x-column-header-checkbox {
       padding-left: 13px !important;
}
    
.x-grid-row-checker{
    margin-left: 14px !important;
}
/*
.x-toolbar-default {
    background-color: #D3E1F1;
    background-image: -moz-linear-gradient(center top , #000000, #D3E1F1);
    border-color: #99BCE8;
}

/*.x-toolbar x-docked,  .x-box-inner*/ 

 
    
/*

 
.x-column-header-checkbox {
        width: 25px !important;
        text-align:right;
    }
    
.x-grid-cell-row-checker .x-grid-cell-inner {
    line-height: 14px;
    padding-bottom: 1px;
    padding-top:1px;
     width: 25px !important;
}

.x-grid-cell-special .x-grid-cell-inner {
    padding-left: 1px;
    padding-right:1px;
     width: 25px !important;
}
    
    
.x-grid-row-checker {
  
    margin-left: 5px !important;
}

.x-grid-row .x-grid-cell-row-checker {
    vertical-align: middle;
    text-align:right;
    width: 25px !important;
}

.x-grid-row  .x-grid-cell-special, .x-grid-cell-row-checker, .x-grid-cell-first {
     width: 25px !important;
     vertical-align: middle;
}
 
.x-grid-row-selected  .x-grid-cell-special, .x-grid-cell-row-checker, .x-grid-cell-first
 {
     width: 25px !important;
     vertical-align: middle;
 }

 
 .x-grid-cell  .x-grid-cell-special, .x-grid-cell-row-checker, .x-grid-cell-first
 {
     width: 25px !important;
      vertical-align: middle;
 }
 
 */
 
.x-window-default {
	background-color: #E2C9C9;
    background-image: -ms-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: -moz-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: -o-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E2C9C9 ), color-stop(1, #CC9F9F));
		background-image: -ms-linear-gradient(to bottom, #E2C9C9 0%, #E2C9C9 100%);
		background-image: -webkit-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: linear-gradient(to bottom, #E2C9C9 0%, #E2C9C9 100%);
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2C9C9', endColorstr='#CC9F9F',GradientType=0 );*/
}
.x-window-default {
    border-color: #CC9F9F !important;
    box-shadow: 0 1px 0 0 #CC9F9F inset, 0 -1px 0 0 #CC9F9F inset, -1px 0 0 0 #CC9F9F inset, 1px 0 0 0 #CC9F9F inset !important;
}

.x-window-header-default-top {
    box-shadow: 0 1px 0 0 #CC9F9F inset, -1px 0 0 0 #CC9F9F inset, 1px 0 0 0 #CC9F9F inset !important;
}
.x-window-header-default-top {
	background-color: #E2C9C9;
    background-image: -ms-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: -moz-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: -o-linear-gradient(top, #E2C9C9 0%, #CC9F9F 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E2C9C9 ), color-stop(1, #CC9F9F));
		background-image: -ms-linear-gradient(to bottom, #CC9F9F 0%, #E2C9C9 100%);
		background-image: -webkit-linear-gradient(top, #CC9F9F 0%, #E2C9C9 100%);
		background-image: linear-gradient(to bottom, #CC9F9F 0%, #E2C9C9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2C9C9', endColorstr='#CC9F9F',GradientType=0 );
    
}

.x-window-header-text-default {
    color:#460101 !important;
    font-family: arial !important;
    font-size: 12px !important;
    font-weight: bold;
}


.x-window-body-default {
    border-color: #E2C9C9 !important;
}

.x-nbr .x-window-header-default-top-ml,
.x-nbr .x-window-header-default-top-mr,
.x-nbr .x-window-header-default-top-tl,
.x-nbr .x-window-header-default-top-tc,
.x-nbr .x-window-header-default-top-tr,
.x-nlg .x-window-header-default-top-mc,
.x-nbr .x-window-default-ml,
.x-nbr .x-window-default-mr,
.x-nbr .x-window-default-tl,
.x-nbr .x-window-default-tc,
.x-nbr .x-window-default-tr,
.x-nlg .x-window-default-mc,
.x-nbr .x-window-default-bc,
.x-nbr .x-window-default-bl,
.x-nbr .x-window-default-br
{
background-color:#CC9F9F !important;
background-image:none !important;
}
/* CSS for Message Box   */
.winHeaderClass .x-window-body-default {
	background: none repeat scroll 0 0 #FFFFFF !important;
}
.x-message-box .x-window-body {
    background-color: #FFFFFF;
    border: 0 none;
}
.winHeaderClass TR {
	vertical-align:top !important;
}
.msgBoxCls {
    background-color: transparent !important;border: none !important;box-shadow: 0 0 0 transparent !important;background-image: none !important;
}
/* CSS for Message Box   */