.THIS .ch-button-wrapper button[disabled] {
    cursor: not-allowed
}

.THIS .ch-btn-warning {
    border-color:#FFA33B;
    color:#FFA33B;
    background:#fff;
}

.THIS .ch-button-wrapper button.ch-btn-warning[disabled] {
    border-color:rgb(221, 219, 218);
    background: rgb(201, 199, 197);
    color:#fff;
}

.THIS .ch-section-header .ch-section-header_content .ch-section-header_icon {
    display:none;
}

.THIS .ch-section-header .ch-section-header_content {
    margin-left:.5rem
}

@media (min-width:1200px) {
    .THIS .ch-section-header .ch-section-header_content .ch-section-header_icon {
        display:inline-block;
        color: #fff;
        margin-right:.75rem;
    }

    .THIS .ch-section-header .ch-section-header_content {
        margin-left:0
    }
}