#headerBlueStart
			{
				float:left;
				background-image:url('CreateAccountHeaderStart.png');
				background-repeat:no-repeat;
				width: 5px;
				height: 39px;
			}
		
			#headerBlueMiddle
			{
				float:left;
				background-image:url('CreateAccountHeaderBlueMiddle.png');
				background-repeat:repeat-x;
				height: 39px;
				min-width: 150px;
				color: #FFFFFF;				
			}
			
			#headerCreateAccountTransition1
			{
				float:left;
				background-image:url('CreateAccountHeaderBlueArrow.png');
				background-repeat:no-repeat;
				width: 18px;
				height: 39px;
			}
			#headTextContainer
			{
				margin-top:10px;
				text-align:center;
				font: bold 11px arial;
				padding: 0px 20px 0px 20px;
			}
			
			#headerWhiteMiddle
			{
				float:left;
				background-image:url('CreateAccountHeaderWhiteMiddle.png');
				background-repeat:repeat-x;
				height: 39px;
				min-width: 150px;
				font: bold 11px arial;
			}
			
			#whiteArrowTransition
			{
				float:left;
				background-image:url('CreateAccountHeaderWhiteArrow.png');
				background-repeat:no-repeat;
				height: 39px;
				width: 18px;
			}
			
			#headerWhiteEnd
			{
				float:left;
				background-image:url('CreateAccountHeaderWhiteEnd.png');
				background-repeat:no-repeat;
				height: 39px;
				width: 4px;
			}
			
			#headerWhiteStart
			{
				float:left;
				background-image:url('HeaderWhiteStart.png');
				background-repeat:no-repeat;
				width: 5px;
				height: 39px;
			}
			#headerWhiteMiddle
			{
				float:left;
				background-image:url('CreateAccountHeaderWhiteMiddle.png');
				background-repeat:repeat-x;
				height: 39px;
			}
			
			#headerTrustNetworkTransition1
			{
				float:left;
				background-image:url('TrustedNetworkHeaderTransition1.png');
				background-repeat:no-repeat;
				width: 18px;
				height: 39px;
			}
			
			#headerTrustNetworkTransition2
			{
				float:left;
				background-image:url('TrustedNetworkHeaderTransition2.png');
				background-repeat:no-repeat;
				width: 18px;
				height: 39px;
			}
			#headerWhiteEnd
			{
				float:left;
				background-image:url('CreateAccountHeaderWhiteEnd.png');
				background-repeat:no-repeat;
				width: 5px;
				height: 39px;
			}
			
			#headerFinalStepTransition1
			{
				float:left;
				background-image:url('FinalStepsHeaderTransition1.png');
				background-repeat:no-repeat;
				width: 18px;
				height: 39px;
			}
			
			#headerFinalStepTransition2
			{
				float:left;
				background-image:url('FinalStepsHeaderTransition2.png');
				background-repeat:no-repeat;
				width: 18px;
				height: 39px;
			}
			
			#headerBlueEnd
			{
				float:left;
				background-image:url('HeaderBlueEnd.png');
				background-repeat:no-repeat;
				width: 5px;
				height: 39px;
			}
			
			#backButtonStart
			{
				float:left;
				background-image:url('BackButtonArrow.png');
				background-repeat:no-repeat;
				width: 15px;
				height: 39px;
			}
			
			#backButtonMiddle
			{
				float:left;
				background-image:url('BackButtonMiddle.png');
				background-repeat:repeat-x;
				height: 39px;
			}
			
			#backButtonMiddle:hover
			{
				background-image:url('BackButtonHoverMiddle.png');
			}
			
			#backButtonMiddle:hover + #backButtonEnd
			{
				background-image:url('BackButtonHoverEnd.png');
			}
			
			#backButtonMiddle:hover + #backButtonStart
			{
				background-image:url('BackButtonHoverArrow.png');
			}
			
			#backButtonEnd
			{
				float:left;
				background-image:url('BackButtonEnd.png');
				background-repeat:no-repeat;
				width: 5px;
				height: 39px;
			}
			
			#nextButtonStart
			{
				float:left;
				background-image:url('BackButtonArrow.png');
				background-repeat:no-repeat;
				width: 5px;
				height: 39px;
			}
			
			#nextButtonMiddle
			{
				float:left;
				background-image:url('NextButtonMiddle.png');
				background-repeat:repeat-x;
				height: 39px;
			}
			
			#nextButtonMiddle:hover
			{
				background-image:url('NextButtonHoverMiddle.png');
			}
			
			#nextButtonMiddle:hover + #nextButtonEnd
			{
				background-image:url('NextButtonHoverArrow.png');
			}
			
			#nextButtonMiddle:hover + #nextButtonStart
			{
				background-image:url('NextButtonHoverEnd.png');
			}
			
			#nextButtonEnd
			{
				float:left;
				background-image:url('NextButtonArrow.png');
				background-repeat:no-repeat;
				width: 15px;
				height: 39px;
			}
			
			#doneButtonStart
			{
				float:left;
				background-image:url('doneButtonStart.png');
				background-repeat:no-repeat;
				width: 5px;
				height: 39px;
			}
			
			#doneButtonMiddle
			{
				float:left;
				background-image:url('doneButtonMiddle.png');
				background-repeat:repeat-x;
				height: 39px;
			}
			
			#doneButtonEnd
			{
				float:left;
				background-image:url('doneButtonEnd.png');
				background-repeat:no-repeat;
				width: 5px;
				height: 39px;
			}