/**
 * @FileName: TechCapacityRouteDayDetail.css
 * @Description: Style sheet for TechCapacityRouteDayDetail
 * @Author: Graeme Ward
 * @ModificationLog:
 *-----------------------------------------------------------
 * Author            Date            Modification
 * Graeme Ward       11/21/2019         Created
 *-----------------------------------------------------------  
 */
.THIS .slds-modal__container.citron-modal {
    width: 70%;
    margin: 0 auto;
    max-width: 90%;
}

.THIS table {
    table-layout: fixed;
    width: 100%;
}

.THIS th,
.THIS td {
    vertical-align: top;
}

.THIS tr>th:first-child,
.THIS tr>td:first-child {
    padding-left: 0.5rem !important;
}