.THIS .hide {
    display:none;
}

.THIS .slds-notify--alert {
    color:#000;
    font-weight:600;
}

.THIS .small {
    font-size:x-small;
}

.THIS.slds-box_white {
    background:#fff
}

.THIS .citron_date-range-wrapper {
    display:inline-block;
}

.THIS .citron_date-range {
    position:relative;
    left:2.5%;
}