.sticky {
	width:100%;
	height:44px;
	padding-top:20px;
	background:black;
	color:white;
	font-weight:bold;
	font-size:24px;
	text-align:center;
	position:-webkit-sticky;
	position:sticky;
	bottom:0;
	left:0;
}