.activity-log {
	max-height: 400px;
	overflow: auto;
	margin-top: 10px;
	background-color: $color-light-grey;
	border: 1px solid $color-medium-grey;
}

.activity-log__item {
	padding: 10px;
	margin-top: 5px;
	border-top: 1px solid $color-medium-grey;

	&:first-child {
		margin-top: 0;
		border: none;
	}
}

.activity-log__item-type {
	color: $color-grey;
	font-size: 12px;
}

.activity-log__item-submitter {
	@include font-bold;
}

.activity-log__item-date {
	@include font-light;
	font-size: 12px;
	color: $color-grey;
}

.activity-log__item-user-thumbnail-container {
	width: 15%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 0 10px;
}

.activity-log__item-content {
	width: 84%;
	display: inline-block;
	box-sizing: border-box;
}

.activity-log__item-user-thumbnail {
	width: 50px;
	height: 50px;
}

.activity-log__attachment {
	display: block;
	margin-top: 10px;
	color: $color-darkest-grey;
	font-size: 12px;
	padding-left: 50px;

	.activity-log__attachment-icon {
		float: left;
		margin-left: -50px;
	}

	.activity-log__attachment-name {
		@include font-bold;
		display: block;
		padding-top: 2px;
	}

	&:hover,
	&:active,
	&:focus {
		color: $color-darkest-grey;
		text-decoration: none;

		.activity-log__attachment-name {
			text-decoration: underline;
		}
	}

	.change-details__item & {
		margin-top: 5px;
		margin-bottom: 15px;
	}
}