$appointment-day-slot-height: 50px;

.modal__user-comment {
	width: 100%;
	height: 125px;
	padding: 0 35px;
	border: 0;
	resize: none;
	cursor: auto;
}

.appointment-modal__details {
	border-top: 1px solid $color-medium-grey;
	padding: 0 35px;
}

.appointment-modal__details-item-title {
	display: inline-block;
	padding: 20px 0 10px;
	color: $color-darkest-grey;
}

.appointment-modal__details {
	.dropdown-menu {
		top: 0;
	}

	.btn, .btn_nofill {
		text-align: left;
//		@include font-bold;
	}
}

.appointment-modal__only-free-timeslots {
	display: block;
	margin: 29px auto 0;
	font-size: 12px;
	color: #000;
	font-weight: normal;
}

.appointment-modal__only-free-timeslots-checkbox {
	vertical-align: -2px;
	margin-right: 8px !important;
}

.appointment-time-selector {
	min-height: 40px;
	position: relative;
	text-align: center;
}

.appointment-day-slot-selector {
	padding: 0 35px;
	margin: 0 10px;
	position: relative;
}

.appointment-day-slot-selector__navigator {
	position: absolute;
	top: 50%;
	cursor: pointer;
}

.appointment-day-slot-selector__navigator-back {
	@extend .appointment-day-slot-selector__navigator;
	left: 0;
}

.appointment-day-slot-selector__navigator-forward {
	@extend .appointment-day-slot-selector__navigator;
	right: 0;
}

.appointment-day-slot-selector__navigator-back_disabled {
	@extend .appointment-day-slot-selector__navigator-back;
	cursor: default;
}

.appointment-day-slot-selector__navigator-forward_disabled {
	@extend .appointment-day-slot-selector__navigator-forward;
	cursor: default;
}

.appointment-day-slot-selector__day {
	float: left;
}

.appointment-day-slot-selector__day_2-in-column {
	@extend .appointment-day-slot-selector__day;
	width: 50%;
}

.appointment-day-slot-selector__day_3-in-column {
	@extend .appointment-day-slot-selector__day;
	width: 33.33%
}

.appointment-day-slot-selector__day_4-in-column {
	@extend .appointment-day-slot-selector__day;
	width: 25%;
}

.appointment-day-slot-selector__day_5-in-column {
	@extend .appointment-day-slot-selector__day;
	width: 20%
}

.appointment-day-slot {
	overflow: visible;
	margin: 0 5px;
	border-radius: 4px;
	background-image: url('../img/appointment-day-slot-bg.png');
	height: $appointment-day-slot-height;
}

.appointment-day-slot + .appointment-day-slot {
	margin-top: 10px;
}

.appointment-day-slot_available {
	height: $appointment-day-slot-height;
	cursor: pointer;
	background-color: #fff;
	color: $color-darkest-grey;
	border-radius: 0;
	border: 1px solid $color-medium-grey;
	font-size: 13px;
	padding-top: 10px;
	line-height: 15px;
}

.appointment-day-slot__free-time-slots {
	font-size: 16px;
	color: $bmc-mid-orange;
}

.appointment-modal__change-selected-day-slot-label {
	float: right;
	font-weight: normal;
}

.appointment-time-slot-selector {
	overflow-x: auto;
	margin-top: 10px;
	max-height: 230px;
}

.appointment-time-slot {
	height: 40px;
	line-height: 40px;
	position: relative;
	background-color: $color-light-grey;
	text-align: left;
	padding-left: 20px;
	color: #000;
	border-radius: 4px;
	margin-top: 5px;
}

.appointment-time-slot_selected {
	@extend .appointment-time-slot;
	background-color: $bmc-teal;
	color: #fff;
}

/* Confirmation */

.appointment-confirmation__date-time {
	height: 48px;
	line-height: 48px;
	background-color: $color-light-grey;
	text-align: center;
}

.appointment-confirmation__details {
	width: 480px;
	margin: 0 auto;
	padding-top: 18px;
	text-align: center;
}

.appointment-confirmation__map {
	height: 106px;
	border: 1px solid $color-grey;
	margin-bottom: 15px;
}

.appointment-confirmation__location {
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	word-wrap: break-word;

	.i-appointment-location-pin {
		vertical-align: -3px;
	}
}

.appointment-confirmation__note {
	@include font-light;
	color: $color-darkest-grey;
	text-align: left;
	font-size: 13px;
	margin-top: 8px;
	word-wrap: break-word;
}
