.approvals-btn-group-container {
	text-align: center;
	margin-top: 15px;
}

.approvals-btn-group {
	width: 50%;
}

.approvals-btn {
	@extend .approvals-btn-group;
}

.approvals-list {
	position: relative;
}

.approvals-list-imminent__item {
	background: #ffffff;
	margin-top: 20px;
	border-radius: 5px;
	padding: 10px;
	overflow: hidden;
}

.approvals-list-imminent__item-icon,
.approvals-list-imminent__item-info,
.approvals-list-imminent__item-priority {
	display: inline-block;
}

.approvals-list-imminent__item-icon {
	width: 7%;
	vertical-align: top;
	margin-top: -1px;
}

.approvals-list-imminent__item-info {
	width: 80%;
	line-height: 18px;
}

.approvals-list-imminent__item-priority {
	width: 11%;
	padding-left: 10px;
	vertical-align: top;
}

.approvals-list-imminent__item-priority-sign {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
}

.approvals-list-imminent__item-priority-sign_red {
	background-color: red;
}

.approvals-list-imminent__item-priority-sign_blue {
	background-color: #00a4ff;
}

.approvals-list-imminent__item-priority-title {
	display: inline-block;
	padding-left: 5px;
	font-size: 13px;
	line-height: 16px;
	color: $color-darkest-grey;
}

.approvals-list-imminent__item-title {
	@include font-bold;
	font-size: 16px;
}

.approvals-list-imminent__item-acting-as {
	color: $color-dark-grey;
}

.approvals-list-imminent__item-date {
	@extend .activity-item__timestamp;
}

.approvals-list-imminent__item-by {
	margin-top: 4px;
}

.approvals-list-imminent__item-due {
	@include font-bold;
}

.approvals-list-all {
	margin-top: 20px;
}

.approvals-list-all__item {
	cursor: pointer;
	margin-top: 20px;
	padding-left: 56px;
	position: relative;

	.activity-item__type-icon {
		left: 10px;
		top: 0;
	}

	&.activity-item {
		padding-left: 12px;

		&:first-child {
			margin-top: 57px !important;
		}

		.activity-item__type-icon {
			left: -55px;
			top: 5px;
		}
	}
}

.approvals-list-all__item-info {
	width: 87%;
}

.approvals-list-all__item-title {
	@extend .activity-item__header;
}

.approvals-list-all__item-acting-as {
	@extend .approval-modal-acting-as;
}

.approvals-list-all__item-priority {
	@extend .approvals-list-imminent__item-priority;
	padding-left: 5px;
}

.approvals-list-all__item-priority-sign {
	@extend .approvals-list-imminent__item-priority-sign;
}

.approvals-list-all__item-priority-sign_red {
	@extend .approvals-list-imminent__item-priority-sign_red;
}

.approvals-list-all__item-priority-sign_blue {
	@extend .approvals-list-imminent__item-priority-sign_blue;
}

.approvals-list-all__item-priority-title {
	@extend .approvals-list-imminent__item-priority-title;
}

.approvals-list-all__item-date {
	@extend .approvals-list-imminent__item-date;
}

.approvals-list-all__item-by {
	margin-top: 3px;
}

.approval-modal-header {
	position: relative;
}

.approval-modal-footer {
	padding-right: 40px;
	text-align: right;
}

.approval-modal-body {
	min-height: 500px;
	padding-top: 0;
}

.approval-modal-info-container {
	padding: 0 15px;
	overflow: hidden;
	margin-top: 15px;
}

.approval-modal-icon {
	float: left;
	width: 50px;
}

.approval-modal-info {
	float: left;
	width: 440px;
}

.approval-modal-priority {
	float: left;
	width: 58px;
}

.approval-modal-btn-container {
	float: left;
	margin-top: 10px;
	width: 100%;
}

.approval-modal-menu {
	margin: 15px 0 0;
	padding: 0;
}

.approval-modal-menu__item:first-child {
	border-top: 1px solid $color-medium-grey;
}

.approval-modal-menu__item {
	@extend .next-arrow;
	list-style-type: none;
	border-bottom: 1px solid $color-medium-grey;
	width: 100%;
	padding: 15px 20px;
	background-position: 96.5% 50%;

	&:hover {
		background-color: mix($color-light-grey, #ffffff, 50%);
	}
}

.approval-modal-menu__item-label {
	@include font-bold;
	display: block;
}

.approval-modal-details {
	padding: 0 20px;
}

.approval-modal-details__item {
	margin-top: 20px;
}

.approval-modal-details__item-label {
	@include font-bold;
}

.approval-modal-btn {
	margin-right: 5px;
	padding: 0 25px;
	font-size: 13px;
	height: 30px;
	line-height: 13px;
}

.approval-modal-priority-sign {
	@extend .approvals-list-imminent__item-priority-sign;
}

.approval-modal-priority-sign_red {
	@extend .approvals-list-imminent__item-priority-sign_red;
}

.approval-modal-priority-sign_blue {
	@extend .approvals-list-imminent__item-priority-sign_blue;
}

.approval-modal-priority-title {
	@extend .approvals-list-imminent__item-priority-title;
	font-weight: normal;
}

.approval-modal-title {
	@extend .approvals-list-imminent__item-title;
}

.approval-modal-acting-as {
	@extend .approvals-list-imminent__item-acting-as;
}

.approval-modal-date {
	@extend .approvals-list-imminent__item-date;
	font-style: normal;
}

.approval-modal-date__due-soon {
	@extend .approvals-list-imminent__item-due;
	color: $color-status-orange;
}

.approval-modal-date__past-due {
	@extend .approvals-list-imminent__item-due;
	color: $color-status-red;
}

.approval-modal-input-container {
	padding: 10px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color: $color-light-grey;
	margin-top: 20px;
}

.approval-modal-approvers-list {
	padding: 0;
	margin: 0;
}

.approval-modal-approvers-list__item {
	list-style-type: none;
	padding: 10px 25px;
	border-bottom: 1px solid #cccccc;
	overflow: hidden;
}

.approval-modal-approvers-list__item-img {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: #cccccc;
	float: left;
}

.approval-modal-approvers-list__item-name {
	float: right;
	width: 490px;
	padding-left: 15px;
	line-height: 35px;
}

.approval-modal-approvers-list__item-name_line-height {
	line-height: 20px;
}

.approval-modal-approvers-list__item-date {
	@extend .approval-modal-approvers-list__item-name;
}

.approval-modal-activity-log-container {
	overflow: hidden;
	background-color: $color-light-grey;
}

.approval-modal-submitted-container {
	overflow: hidden;
	padding: 20px 20px 0;
}

.approval-modal-submitted-info {
	float: right;
	width: 480px;
}

.approval-modal-submitted-img {
	@extend .approval-modal-approvers-list__item-img;
}

.approval-modal-submitted-info__date {
	color: $color-grey;
	font-size: 13px;
}
