$color-appzone-separator: #d9d9d9;
$color-appzone-separator-dark: #c6c6c6;
$color-appzone-input: #595959;
$color-appzone-title: #414141;
$color-appzone-timeline-background: #f7f7f7;
$color-appzone-modal-separator: #ccc;
$color-appzone-modal-section-background: #fbfbfb;

.appzone-container {
	margin-top: -110px;
	padding-top: 110px;
}

.appzone-section-separator {
	border-color: $color-appzone-separator;
}

.appzone-navigation-container {
	float: left;
	border: 1px solid $bmc-teal;
	border-radius: 2px;
	overflow: hidden;
	margin: 10px 0 22px 0;
	max-height:30px;

	button {
		border-radius: 0;
		border: none;
		font-weight: normal;
		font-size: 13px;
		padding: 7px 32px 5px 32px;
		background: $bmc-teal;
		color: #fff;
        max-height:30px;
		
		&:disabled {
			opacity: 1;
			background: #fff;
			color: $bmc-teal;
			max-height:30px;
		}
	}
}

.appzone-dashboard .top-separator {
	clear: both;
}

.appzone-dashboard .appzone-navigation-container {
	margin: 26px 0 29px 0;
}

.appzone-carousel {
	position: relative;
	padding: 0;

	.item-container {
		position: relative;
		padding: 0;
		overflow: hidden;
	}

	ol.items {
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: relative;

		&:after {
			clear: both;
			content: "";
			display: table;
		}

		> li {
			@include box-sizing(border-box);
			position: relative;
			margin: 0;
			float: left;

			&:first-child {
				margin-left: 50%;
			}

			img {
				width: 100%;
				max-width: 100%;
			}
		}
	}

	.selectors {
		position: absolute;
		width: 100%;
		bottom: 6px;
		left: 0;
		text-align: center;

		ol {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		li {
			display: inline-block;
			list-style-type: none;
			margin: 0 2px;
			opacity: 0.5;

			&.active, &:hover {
				opacity: 1;
			}
		}

		a {
			cursor: pointer;
			width: 8px;
			height: 8px;
			background: white;
			border-radius: 4px;
			display: inline-block;
		}
	}

	.arrows a {
		cursor: pointer;
		position: absolute;
		top: 50%;
		margin-top: -85px;
		height: 170px;
		width: 28px;
		outline: none !important;
		border: none;
		background-repeat: no-repeat;
		opacity: 0.7;

		&.previous {
			right: 100%;
			background-image: url('../img/appzone/banner_arr_left.png');
		}

		&.next {
			left: 100%;
			background-image: url('../img/appzone/banner_arr_right.png');
		}

		&:hover {
			opacity: 1;
		}
	}

	&.hero-banner {
		.item-container {
			@include transition(margin 0.5s ease, max-height 0.5s ease, opacity 0.5s ease 0.2s);
			max-height: 305px;
			opacity: 1;
			border-radius: 5px;
			margin-top: -20px;

			&.loading {
				margin-top: -20px;
				max-height: 0;
				opacity: 0;
			}

			&.ready {
				margin-top: 0;
				max-height: 305px;
				opacity: 1;
			}
		}
	}

	&.featured-banner {
		.item-container {
			@include transition(margin 0.5s ease, max-height 0.5s ease, padding 0.5s ease);
			max-height: 212px;
			opacity: 1;
			margin-top: 20px;
			margin-bottom: 20px;
			padding-top: 20px;
			padding-bottom: 20px;
			border-top: 1px solid $color-appzone-separator;
			border-bottom: 1px solid $color-appzone-separator;

			.items {
				@include transition(opacity 0.5s ease 0.2s);
				opacity: 1;
			}

			&.loading {
				margin-top: 0;
				max-height: 0;
				padding-top: 0;
				padding-bottom: 0;
				border-bottom-width: 0;

				.items {
					opacity: 0;
				}
			}

			&.ready {
				max-height: 212px;
				margin-top: 20px;
				margin-bottom: 20px;
				padding-top: 20px;
				padding-bottom: 20px;
				border-bottom-width: 1px;

				.items {
					opacity: 1;
				}
			}
		}

		ol.items > li {
			padding: 0 6px;
			height: 170px;
			overflow: hidden;
		}
	}
}

.appzone-products-container {
	margin: 22px 0 15px 0;
}

.appzone-dashboard .appzone-products-container {
	margin-top: 45px;
}

.appzone-products-header {
	margin: 0 0 25px 0;
}

.appzone-products-header__title {
	font-size: 26px;
	color: $color-appzone-title;
	font-weight: 100;
	float: left;
	margin-bottom: 0;
	margin-top: 0;
	clear: both;
}

.appzone-products-header__more {
	float: right;
	font-size: 14px;
	margin-top: 12px;
	margin-right: 18px;
	line-height: 1;
	text-decoration: none !important;
	outline: none !important;

	&:after {
		font-family: 'Glyphicons Halflings';
		content: "\e080";
		margin-left: 3px;
		font-size: 11px;
		opacity: 0.9;
	}
}

.appzone-products-header__filters {
	margin: 5px 0 25px 0;
	padding-bottom: 22px;
	border-bottom: 1px solid $color-appzone-separator;
	text-align: right;
}

.appzone-products-header__filters-content {
	display: inline-block;
}

.appzone-products-header__search-box {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 200px;
	text-align: left;
	margin: 0 0 0 15px;
}

.appzone-products-header__search-box .search-remove-btn {
	right: 13px;
	top: 14px;
	font-size: 11px;
	color: $color-appzone-input;
	position: absolute;
}

.appzone-search-box {
	height: 39px;
	padding-right: 25px;
	padding-top: 12px;
	font-size: 15px;
	color: $color-appzone-input;
	width: 100%;

	&.ie-placeholder {
		padding-top: 13px;
	}
}

.ie10 .appzone-search-box {
	line-height: 0;
}

.ie .appzone-search-box {
	line-height: 12px;
}

.appzone-products-header__category-filter {
	width: 170px;
	margin: 0 0 0 10px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.appzone-products-header__platform-filter {
	width: 150px;
	margin: 0 0 0 10px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.appzone-products-header__type-filter {
	width: 150px;
	margin: 0 0 0 10px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.appzone-products-header__order {
	width: 150px;
	margin: -4px 0 -6px 10px;
	float: right;
}

.appzone-dropdown {
	width: 100%;
	height: 36px;
	position: relative;

	.dropdown-toggle {
		display: inline-block;
		position: relative;
		width: 100%;
		height: 38px;
		font-weight: 100;
		font-size: 18px;
		text-align: right;
		cursor: pointer;
		padding-right: 22px;
		color: $color-appzone-input;

		> span {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: inline-block;
			max-width: 100%;
			padding-top: 8px;
		}
	}

	.dropdown-menu {
		max-height: 276px;
		width: auto;
		min-width: 160px;
		left: auto;
		right: 0;
	}

	a {
		padding: 0 !important;

		&:after {
			display: block;
			content: "";
			height: 0;
			margin: 0 13px;
			border-bottom: 1px solid $color-appzone-separator-dark;
		}

		> span {
			color: $color-appzone-input;
			display: block;
			padding: 7px 20px 5px 20px;
			font-size: 15px;
			font-weight: 100;
		}
	}

	li:last-child a:after {
		border-bottom: none;
	}

	.selected a > span {
		@include font-bold;
	}

	a {
		overflow: hidden;
	}
}

.appzone-dropdown__icon {
	position: absolute;
	top: 15px;
	right: 6px;
	font-size: 10px;
}

.appzone-no-results {
	background: url("../img/appzone/loupe.png") no-repeat scroll 50% 0 transparent;
	height: 230px;
	text-align: center;

	> * {
		vertical-align: middle;
		display: inline-block;

		&:last-child {
			height: 100%;
			width: 0;
		}
	}
}

.appzone-no-results__message {
	padding: 0;
	margin: 0;
	word-wrap: break-word;
}

.appzone-products-list {
	position: relative;
	clear: both;
	margin: 0 -5px;
	padding: 0 5px;
}

.appzone-catalog .appzone-products-list {
	min-height: 185px;
}

.appzone-bundled-products {
	padding: 10px 30px;
	background: $color-appzone-modal-section-background;

	&.form-submitted ol.appzone-product-items.ng-invalid {
		margin: -1px -1px 9px -1px;
		border: 1px solid #ec1c24;
		border-radius: 4px;
	}

	input[type="checkbox"][disabled] {
		display: none;
	}
}

ol.appzone-product-items {
	list-style-type: none;
	margin-top: 5px;
	padding: 0;
}

.appzone-product-item {
	min-height: 45px;
	position: relative;
	padding: 5px 0;
	border-bottom: 1px solid $color-light-grey;
	white-space: nowrap;

	&:last-child {
		border-bottom-width: 0;
	}

	&:nth-child(2n) {
		background: #f9f9f9;
	}

	img {
		width: 35px;
		height: 35px;
		display: inline-block;
		vertical-align: middle;
		margin-right: -39px;
		padding: 0;
		border: 0 none;

		&.animate-show {
			@include transition(opacity 0.1s ease);

			&.ng-hide-remove {
				opacity: 0;
				display: inline-block !important;
			}

			&.ng-hide-remove.ng-hide-remove-active {
				opacity: 1;
			}
		}
	}

	span {
		display: inline-block;
		vertical-align: middle;
		min-height: 35px;
	}
}

.appzone-product-item__name {
	@include box-sizing(border-box);
	padding-left: 50px;
	min-height: 0 !important;
	max-width: 100%;
	width: 100%;
	padding-right: 40px;
	margin-right: -30px;
	white-space: normal;
}

.appzone-product-item__status {
	width: 30px;
	position: absolute;
	right: 0;

	&.pending_approval {
		background: url(../img/appzone/pending-icon.png) no-repeat top center;
	}

	&.ready_to_install,
	&.installed {
		background: url(../img/appzone/installed-icon.png) no-repeat top center;
	}
}

ol.appzone-product-thumbs {
	list-style-type: none;
	padding: 0 0 0 5px;
	margin: 0 -16px 0 -5px;
	position: relative;
	overflow: hidden;

	&:after {
		clear: both;
		content: "";
		display: table;
	}
}

.appzone-loading-more {
	position: relative;
	text-align: center;

	.appzone-section-separator {
		margin: 0;
	}

	.loading-spinner_inline {
		background: #fff;
		position: absolute;
		top: -7px;
		left: 50%;
		margin-left: -7px;
	}
}

.appzone-loading-more__message {
	color: $color-dark-grey;
	font-style: italic;
	display: inline-block;
	margin: 7px auto 0 auto;
}

.appzone-product-thumb {
	padding: 0;
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 110px;
	margin: 0 12px 15px 0;
	min-height: 160px;
}

.with-price .appzone-product-thumb {
	min-height: 172px;
}

.appzone-product-thumb__logo {
	text-decoration: none;
	vertical-align: baseline;
	outline: none;
	position: relative;
	width: 100px;
	height: 100px;

	img {
		margin: 0;
		padding: 0;
		border: 0 none;
		display: block;
		width: 100%;
		height: 100%;

		&.animate-show {
			@include transition(opacity 0.1s ease);

			&.ng-hide-remove {
				opacity: 0;
				display: block !important;
			}

			&.ng-hide-remove.ng-hide-remove-active {
				opacity: 1;
			}
		}
	}
}

.appzone-product-thumb__platform {
	&.ios, &.android, &.web, &.mac, &.windows, &.linux, &.desktop {
		display: block;
		position: absolute;
		height: 37px;
		width: 37px;
		right: -5px;
		top: 65px;
		background: transparent url(../img/appzone/corner.png) no-repeat center center;

		i {
			display: block;
			position: absolute;
			width: 18px;
			height: 18px;
			left: 18px;
			top: 18px;
		}
	}

	&.ios i {
		background: transparent url(../img/appzone/icon-ios.png) no-repeat center center;
	}

	&.android i {
		background: transparent url(../img/appzone/icon-android.png) no-repeat center center;
	}

	&.desktop i {
		background: transparent url(../img/appzone/icon-desktop.png) no-repeat center center;
	}

	&.mac i {
		background: transparent url(../img/appzone/icon-apple.png) no-repeat center center;
	}

	&.windows i {
		background: transparent url(../img/appzone/icon-pc.png) no-repeat center center;
	}

	&.linux i {
		background: transparent url(../img/appzone/icon-linux.png) no-repeat center center;
	}

	&.web i {
		background: transparent url(../img/appzone/icon-webapp.png) no-repeat center center;
	}
}

.appzone-product-thumb__indicator {
	position: absolute;
	bottom: -8px;
	left: -8px;
	width: 33px;
	height: 33px;

	&.pending {
		background: url(../img/appzone/pending-icon.png) no-repeat top left;
	}

	&.approved {
		background: url(../img/appzone/installed-icon.png) no-repeat top left;
	}
}

.appzone-product-thumb__title {
	vertical-align: baseline;
	color: $color-appzone-title;
	width: 100%;
	line-height: 1.1;
	margin: 13px 0 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.appzone-product-thumb__price {
	vertical-align: baseline;
	font-size: 12px;
	line-height: 1;
	color: $bmc-mid-orange;
	max-width: 100%;
	overflow: hidden;
}

.appzone-product-thumb-btn-container .btn {
	height: auto;
	line-height: 18px;
	font-size: 13px;
	padding: 4px;
}

.appzone-product-rating {
	margin-top: 2px;
	line-height: 14px;

	.stars {
		width: 65px;
		display: inline-block;
		overflow: hidden;
		vertical-align: middle;
		font-size: 10px;

		> .star {
			color: $color-grey;
			position: relative;
			top: auto;
			text-decoration: none;

			&.hover {
				color: $bmc-teal !important;
				text-decoration: inherit;
			}

			&.active {
				color: $color-appzone-input;
				text-decoration: inherit;
			}
		}
	}

	.count {
		font-size: 12px;
		color: $color-grey;
		display: inline-block;
		vertical-align: middle;
	}
}

.appzone-page-selector {
	position: relative;
	float: right;

	&:after {
		display: table;
		content: "";
		clear: both;
	}

	a.next, a.previous {
		display: inline-block;
		vertical-align: middle;
		height: 16px;
		width: 16px;
		overflow: hidden;
		background-image: url("../img/appzone/ui-icons_c4c4c4_256x240.png");
		background-repeat: no-repeat;
		text-align: left;
		text-indent: -119988px;
		cursor: pointer;

		&:hover {
			background-image: url("../img/appzone/ui-icons_333333_256x240.png");
		}
	}

	a.previous {
		background-position: -96px -17px;
	}

	a.next {
		background-position: -32px -17px;
	}

	input.page-number {
		margin: 0 2px 4px;
		width: 24px;
	}
}

.appzone-slideshow-container {
	@include box-sizing(border-box);
	@include transition(all 0.5s ease);
	max-width: 659px;
	overflow: hidden;
	display: inline-block;
	max-height: 0;
	margin-bottom: -7px;

	&.ready {
		max-height: 385px;
	}
}

.appzone-slideshow-stage {
	overflow: hidden;
	position: relative;

	ol.appzone-slideshow {
		border: 0 none;
		list-style: none outside none;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		position: relative;

		> li {
			list-style-image: none;
			list-style-type: none;
			margin-left: 0;
			display: inline-block;
			height: 100%;
			vertical-align: top;
			position: relative;

			> img {
				height: 100%;
			}

			&:after {
				content: "";
				position: absolute;
				width: 1px;
				right: 0;
				background: white;
				height: 100%;
				opacity: 0.9;
			}

			&:last-child:after {
				width: 0;
			}
		}
	}
	.slider-track {
		@include transition(opacity 0.1s ease);
		position: absolute;
		height: 10px;
		top: 0;
		width: 100%;
		opacity: 0;
		background: $color-dark-grey;
		border-bottom: 1px solid $color-almost-black;
	}

	.slider {
		@include transition(opacity 0.1s ease);
		position: absolute;
		height: 7px;
		top: 1px;
		left: 0;
		border-radius: 3px;
		opacity: 0;
		cursor: pointer;
		background: $color-light-grey;
	}

	&:hover .slider {
		opacity: 0.6;
	}

	&.sliding {
		.slider-track {
			opacity: 0.5;
		}

		.slider {
			opacity: 0.9;
		}
	}
}

.appzone-profile-container {
	position: relative;
	margin-top: -88px;
	padding-top: 88px;

	.page-toolbar__breadcrumbs {
		margin-top: 22px;
		margin-bottom: 14px;
		float: none;
	}
}

.appzone-loading-profile {
	position: relative;
}

.appzone-profile {
	display: table;
}

.appzone-profile-left-col {
	vertical-align: top;
	display: table-cell;
	border-top: 1px solid $color-appzone-separator;
	width: 300px;
}

.appzone-profile-right-col {
	display: table-cell;
	border-left: 1px solid $color-appzone-separator;
	border-top: 1px solid $color-appzone-separator;
	width: 660px;
}

.appzone-profile-right-col__bg-fill {
	background: $color-appzone-timeline-background;
}

.appzone-profile-left-col__inner {
	padding: 20px 20px 0 0;
}

.appzone-product-logo {
	margin-bottom: 35px;
	max-width: 100%;
	width: 220px;
	height: 220px;
	display: block;
	position: relative;

	img {
		max-width: 100%;
		width: 100%;

		&.animate-show {
			@include transition(opacity 0.1s ease);

			&.ng-hide-remove {
				opacity: 0;
				display: block !important;
			}

			&.ng-hide-remove.ng-hide-remove-active {
				opacity: 1;
			}
		}
	}
}

.appzone-product-title {
	margin: 0;
	font-weight: 100;
	color: $color-appzone-title;
	width: 280px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.appzone-rating-bar-container {
	position: relative;

	.loading-spinner_inline {
		position: absolute;
		width: 80px;
		top: 0;
	}
}

.appzone-rating-bar-pending .appzone-rating-bar {
	cursor: auto;
	opacity: 0.3;
}

.appzone-profile-left-col .appzone-product-rating {
	line-height: 18px;

	.stars {
		width: 82px;
		font-size: 14px;
	}

	.count {
		font-size: 14px;
		margin-top: -2px;
	}
}

.appzone-product-profile__price {
	font-size: 16px;
	color: $bmc-mid-orange;
	display: inline-block;
	margin-top: 2px;
}

.appzone-profile-btn-container {
	margin: 45px 0 34px 0;
}

.appzone-profile-btn-container .btn {
	height: 41px;
	font-size: 17px;
	line-height: 31px;
	margin-bottom: 7px;
}

.appzone-launch-btn__icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	padding-bottom: 5px;
	box-sizing: content-box;
	background: url('../img/appzone/launch_16.png') no-repeat;
}

.appzone-install-btn__icon {
	@extend .appzone-launch-btn__icon;
	background: url('../img/appzone/install_16.png') no-repeat;
}

.appzone-request-btn__icon {
	@extend .appzone-launch-btn__icon;
	background: url('../img/appzone/request_16.png') no-repeat;
}

.appzone-message-incompatible {
	display: block;
	margin-bottom: 10px;
}

.appzone-message-pending {
	@include font-bold;
	font-size: 15px;
	color: $color-appzone-title;
	display: block;
	margin-bottom: 10px;
	margin-top: -26px;
}

.appzone-message-all-products-requested {
	@include font-bold;
	font-size: 15px;
	color: $color-appzone-title;
	display: block;
	margin-bottom: 10px;
}

.appzone-profile-btn-container .btn .loading-spinner_inline {
	margin-left: -25px;
	margin-right: 6px;
}

.appzone-profile-btn-container .btn .ls-bar {
	background: white;
}

.appzone-btn-cancel-request {
	margin-top: -6px;
}

.appzone-product-info {
	margin-bottom: 30px;

	> div {
		line-height: 1.1;
		margin-bottom: 2px;
		color: $color-dark-grey;

		b {
			color: $color-almost-black;
		}
	}
}

.appzone-product-info-title {
	margin-bottom: 10px;
	color: $color-appzone-title;
	font-weight: 100;
	font-size: 24px;
}

.appzone-product-members {
	position: relative;
	min-height: 114px;
	padding: 20px 0 7px 0;
	border-top: 1px solid $color-appzone-separator;
	border-bottom: 1px solid $color-appzone-separator;
	font-weight: 100;

	.profile-info__section-header {
		font-size: 19px;
		color: $color-appzone-title;
		margin-bottom: 6px;
	}
}

/* AppZone profile tabs page START */
.appzone-profile-tabs-container {
	position: relative;
	min-height: 43px;
}

.appzone-profile-tabs-container > img {
	width: 100%;
}

.appzone-profile-tabs__background {
	position: absolute;
	background: #000;
	opacity: .5;
	bottom: 0;
	height: 43px;
	width: 100%;
}

.appzone-profile-tabs__button-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.appzone-profile-tabs__buttons-list {
	margin: 0;
	padding: 0;
}

.appzone-profile-tabs__button-lists-item, .appzone-profile-tabs__button-lists-item__selected {
	position: relative;
	list-style-type: none;
	display: inline-block;
	height: 43px;
	font-size: 16px;
	line-height: 16px;
	padding: 15px 30px 12px 30px;
	color: $color-medium-grey;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.appzone-profile-tabs__button-lists-item:hover {
	color: #fff;
}

.appzone-profile-tabs__button-lists-item__selected {
	cursor: auto;
}

.appzone-profile-tabs__button-lists-item__selected:after {
	display: block;
	content: " ";
	width: 14px;
	height: 6px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 6px solid white;
	position: absolute;
	bottom: -1px;
	left: 50%;
	margin-left: -7px;
}

.appzone-profile-right-col__bg-fill .appzone-profile-tabs__button-lists-item__selected:after {
	border-bottom-color: $color-appzone-timeline-background;
}

/* AppZone profile tabs page END */

.appzone-profile-product-content {
	padding: 26px 0 0 22px;
}

.appzone-profile-product-content h3 {
	margin-bottom: 5px;
	font-weight: 100;
	font-size: 25px;
	color: $color-appzone-title;
}

.appzone-profile-product-description {
	line-height: 1.2;
	color: $color-dark-grey;

	> div {
		margin-bottom: 38px;

		&:last-child {
			margin-bottom: 27px;
		}
	}
}

.appzone-profile-product-related, .appzone-profile-product-bundled {
	padding-top: 13px;
	border-top: 1px solid $color-appzone-separator;
}

.appzone-profile-product-related h3 {
	margin-bottom: 20px;
}

.appzone-profile-product-timeline {
	padding-right: 20px;
}

.appzone-modal-body {
	padding: 0;
}

.appzone-modal__header-container {
	background-color: $color-light-grey;
	overflow: hidden;
	padding: 15px 30px;
}

.appzone-modal__header-product-thumb {
	display: inline-block;
	width: 29px;
}

.appzone-modal__header-product-title {
	float: right;
	width: 500px;
	padding-left: 10px;
	line-height: 30px;
	margin-bottom: -1px;
}

.appzone-product-review-inputs {
	padding: 10px 30px;
	position: relative;
}

.appzone-product-review-input-label {
	color: $color-dark-grey;
	line-height: 1;
}

.appzone-product-review-input {
	margin-bottom: 10px;

	input,
	.ie-placeholder {
		width: 100%;
		border-radius: 4px;
		border: 1px solid $color-medium-grey;
		padding: 10px;
	}

	textarea {
		width: 100%;
		border-radius: 4px;
		border: 1px solid $color-medium-grey;
		padding: 10px;
		resize: none;
		height: 100px;
	}

	.ie-placeholder {
		padding-top: 11px;
	}
}

.appzone-rating-input {
	text-align: center;

	.appzone-product-review-input-label {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}

	.appzone-rating-bar {
		display: inline-block;
		vertical-align: middle;
	}

	.appzone-product-rating .stars {
		font-size: 36px;
		width: 210px;

		.star {
			width: 40px;
		}
	}

	&.form-submitted .appzone-rating-bar.ng-invalid {
		.stars .star:after {
			position: absolute;
			top: 3px;
			left: 3px;
			font-size: 8px;
		}

		.stars > .star:before {
			color: $color-status-red;
			text-shadow: 0 0 1px #ec1c24;
		}

		.stars > .star.hover:before {
			color: inherit;
			text-shadow: none;
		}
	}
}

.appzone-srd-request-modal-body {
	padding: 0;

	& > .loading-spinner {
		padding: 40px 0;
	}
}

.appzone-srd-request-modal-header__title {
	margin: 0 !important;
	display: inline-block;
}

.appzone-srd-request-modal-header__back-link {
	line-height: 48px;
	padding-right: 15px;
	color: inherit;

	&:hover {
		color: $color-medium-grey;
		text-decoration: none;
	}
}

.appzone-srd-request__bundle_steps {
	text-align: right;
	line-height: 48px;
}

.appzone-srd-request__product-thumb {
	float: left;
}

.appzone-srd-request__product-info {
	float: left;
	width: 468px;
	padding-left: 15px;

	.support-modal__srd-header-title,
	.support-modal__srd-header-description {
		width: auto;
		float: none;
	}
}
