/* --------------*/
/*    Buttons    */
/* --------------*/
.btn, .btn_nofill, .btn_blue {
  box-shadow: none;
  padding: 0 12px;
  min-height: 40px;
  line-height: 1.3;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #999;
}

.btn:hover, .btn_nofill:hover, .btn_blue:hover {
  background: #E5E5E5;
}

.btn:focus, .btn_nofill:focus, .btn_blue:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:active, .btn_nofill:active, .btn_blue:active {
  outline: 0;
}

.btn .loading-spinner_inline, .btn_nofill .loading-spinner_inline, .btn_blue .loading-spinner_inline {
  vertical-align: -2px;
  margin-right: 2px;
}

.btn_link {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  background: none;
  border: none;
}

.btn_link:focus,
.btn_link:active {
  outline: 0;
}

.btn_wide {
  width: 100%;
}

.btn_wide + .btn_wide {
  margin-top: 6px;
}

button[disabled] {
  opacity: 0.6;
}

.btn_nofill {
  background: #fff;
  border: 1px solid #afafaf;
}

.btn_nofill:hover {
  background: #f2f2f2;
}

.btn_blue {
  color: #fff;
  background: #2e80b5;
  border: 1px solid #afafaf;
}

.btn_blue:hover,
.btn_blue:focus {
  color: #fff;
  background: #4a8bb5;
}

.btn_blue .ls-bar {
  background: #fff;
}

.btn_orange, .btn-primary {
  color: #fff;
  background: #f86e00;
  border: 1px solid #f86e00;
}

.btn_orange:hover,
.btn-primary:hover,
.btn_orange:focus,
.btn-primary:focus,
.btn_orange:active,
.btn-primary:active,
.btn_orange.disabled,
.disabled.btn-primary,
.btn_orange.disabled:hover,
.disabled.btn-primary:hover,
.btn_orange[disabled],
[disabled].btn-primary,
.btn_orange[disabled]:active,
[disabled].btn-primary:active,
.btn_orange[disabled]:focus,
[disabled].btn-primary:focus,
.btn_orange[disabled]:hover, [disabled].btn-primary:hover {
  color: #fff;
  background: #DD5900;
  border-color: #f86e00;
}

.btn_green {
  background-color: #8cc63f;
  color: #fff;
}

.btn_green:hover,
.btn_green:focus {
  color: #fff;
}

.btn_teal {
  background-color: #00a79d;
  color: #fff;
}

.btn_teal:hover,
.btn_teal:focus {
  color: #fff;
  background-color: #00746d;
}

.btn_red {
  background-color: #ed1c24;
  color: #fff;
}

.btn_red:focus,
.btn_red:hover {
  color: #fff;
}

.btn_dark-grey {
  background-color: #727272;
  color: #fff;
}

.btn_dark-grey:focus,
.btn_dark-grey:hover {
  color: #fff;
}

.btn-group .btn, .btn-group .btn_nofill, .btn-group .btn_blue {
  line-height: 25px;
}

.btn-group .btn:hover, .btn-group .btn_nofill:hover, .btn-group .btn_blue:hover, .btn-group .btn:active, .btn-group .btn_nofill:active, .btn-group .btn_blue:active {
  z-index: 1;
}

.btn_profile-action .i {
  vertical-align: -6px !important;
  margin-left: -8px;
}

.btn_profile-action .i-button_request {
  vertical-align: -8px !important;
}

.btn_profile-action .loading-spinner_inline {
  vertical-align: -2px;
  margin-left: -4px;
  margin-right: 6px;
}

.btn-group_bmc {
  border: 1px solid #00a79d;
  border-radius: 2px;
}

.btn-group_bmc .btn, .btn-group_bmc .btn_nofill, .btn-group_bmc .btn_blue {
  font-size: 13px;
  line-height: 30px;
  padding: 0 32px;
  background: #00a79d;
  color: #fff;
  min-height: 0;
  border-radius: 2px;
  border: none;
}

.btn-group_bmc .btn.active,
.btn-group_bmc .active.btn_nofill,
.btn-group_bmc .active.btn_blue,
.btn-group_bmc .btn:active, .btn-group_bmc .btn_nofill:active, .btn-group_bmc .btn_blue:active {
  background: #fff;
  color: #00a79d;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  cursor: default;
}

.support-request__status-topmargin{
   margin-top:-14px;
}
