.error-panel {
	position: absolute;
	width: 100%;
	background-color: #ec1c24;
	top: -1px;
	text-align: center;
	font-size: 13px;
	line-height: 30px;
	color: #ffffff;
	padding: 0 10px;
	z-index: 98;
}

.error-panel_global {
	@extend .error-panel;
	width: 640px;
	top: $page-header-height;
	left: 50%;
	margin-left: -320px;
}

.error-panel__item {
	word-wrap: break-word;
}

.error-panel__item_multiline {
	line-height: 18px;
	padding-top: 6px;
	padding-bottom: 6px;
}