// See designated purpose of this file on Confluence: http://confluence.bmc.com:8080/x/VANsD
// Description of classes in this file: http://confluence.bmc.com:8080/x/TBNsD

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url("../fonts/Helvetica/HelveticaNeueLTW1G-Lt.woff") format("woff"), url("../fonts/Helvetica/HelveticaNeueLTW1G-Lt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueRegular";
  src: url("../fonts/Helvetica/HelveticaNeueLTW1G-Roman.woff") format("woff"), url("../fonts/Helvetica/HelveticaNeueLTW1G-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("../fonts/Helvetica/HelveticaNeueLTW1G-Md.woff") format("woff"), url("../fonts/Helvetica/HelveticaNeueLTW1G-Md.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("../fonts/Helvetica/HelveticaNeueLTW1G-Bd.woff") format("woff"), url("../fonts/Helvetica/HelveticaNeueLTW1G-Bd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@mixin font-light {
  @include sans-serif-family(HelveticaNeueLight);
}

@mixin font-regular {
  @include sans-serif-family(HelveticaNeueRegular);
}

@mixin font-medium {
  @include sans-serif-family(HelveticaNeueMedium);
}

@mixin font-bold {
  @include sans-serif-family(HelveticaNeueBold);
}
