// See designated purpose of this file on Confluence: http://confluence.bmc.com:8080/x/VANsD
// Description of classes in this file: http://confluence.bmc.com:8080/x/URNsD

@mixin form-element {
	width: 100%;
	border-radius: 2px;
	border: 1px solid $color-medium-grey;
	padding: 10px;
}

input, textarea {
	outline: none;
}

input[type="search"]::-ms-clear,
input[type="text"]::-ms-clear {
	display: none;
}

.default-input {
	@include transition(all .2s);
	color: $color-almost-black;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	height: 40px;
	padding: 10px 12px;

	&:focus {
		border-color: #999;
	}
}

:-ms-input-placeholder {
	color: $color-grey;
}

.ie-placeholder {
	color: mix($color-grey, $color-dark-grey, 50%) !important;
	cursor: text !important;
	border: none !important;
	background: none !important;
	box-shadow: none !important;
	width: auto !important;
	max-width: 100% !important;
	position: absolute;

	&.default-input {
		margin-top: 1px;
		margin-left: 1px;
	}
}


.default-input_smaller {
	@extend .default-input;
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.default-textarea {
	@extend .default-input;
	height: auto;
}

.default-input_wide {
	@extend .default-input;
	width: 100%;
}

.default-textarea_wide {
	@extend .default-textarea;
	width: 100%;
}

.default-input.ng-dirty.ng-invalid {
	border: 1px solid $color-status-red;
	border-top-color: $color-status-red;
}

.default-input.ng-dirty.ng-invalid:focus {
	border: 1px solid $color-medium-grey;
	border-top-color: $color-grey;
}

.search-input {
	@extend .default-input;
	background: #fff url('../img/search_grey.png') no-repeat 12px;
	padding-left: 44px;
	border: 1px solid rgb(230, 230, 230);
}

.hidden-file-input {
	opacity: 0;
	cursor: pointer;
	&::-webkit-file-upload-button {
		cursor: pointer;
	}
}


// Checkbox list

.checkbox-list {
	position: relative;
	display: table;
	padding: 0;
	list-style-type: none;
	text-align: left;
	font-size: 16px;
	margin: 0;
}

.checkbox-list_medium-size {
	@extend .checkbox-list;
	font-size: 14px;
}

.checkbox-list__container {
	display: inline-block;
}

.checkbox-list__title {
	@include font-bold;
	margin: 0 0 14px;
	font-size: 18px;
}

.checkbox-list__item {
	margin-bottom: 12px;
}

.checkbox-list__item:last-child {
	margin-bottom: 0;
}

.checkbox-list__item-label {
	font-weight: normal;
	margin: 0;
}

.checkbox-list__item-label_disabled {
	@extend .checkbox-list__item-label;
	color: $color-dark-grey;
}

.checkbox-list__checkbox {
	margin-right: 16px !important;
	vertical-align: -1px;
}


.form-item {
	margin-bottom: 14px;
}

.form-item__label-container {
	overflow: hidden;
}

.form-item-label-container__left {
	float: left;
}

.form-item-label-container__right {
	float: right;
}

.form-item__label {
	color: $color-dark-grey;
	line-height: 1;
}

.form-item__label_required {
	@include font-bold;
	@extend .form-item__label;
	font-size: 12px;
	margin: 10px 0;
	display: block;
}

.form-item__content {
	position: relative;

	i.glyphicon-calendar,
	i.glyphicon-time {
		position: absolute;
		top: 11px;
		right: 11px;
	}

	&.padded-box {
		padding: 15px;
		min-height: 30px;
	}
}

.form-item__timepicker {
	display: inline-block;
	text-align: center;

	.form-group {
		text-align: center;
		width: 120px;
	}

	input.form-control {
		margin: 0 auto;
		width: 100px;
	}
}


.selectbox__hidden-default-option {
	display: none;
}
