// See designated purpose of this file on Confluence: http://confluence.bmc.com:8080/x/VANsD

$connections-list-thumbnail-size: 40px;

.connections-list {
	background: $color-light-grey;
	padding: 20px 16px 0;
	min-height: 60px;
	position: fixed;
	bottom: 0;
	z-index: 1;
}

.connections-list__search {
	margin-bottom: 18px;
}

.connections-list__search-input {
	width: 155px;
	display: inline-block;
	vertical-align: middle;
	height: 28px;
	line-height: 28px;
	padding: 0 12px;
}

.connections-list-search__button-separator {
	background: $color-medium-grey;
	display: inline-block;
	width: 1px;
	height: 20px;
	vertical-align: middle;
	margin: 0 5px;
}

.connections-list__create-group-button {
	width: 28px;
	height: 28px;
	min-height: 0;
	text-align: center;
	padding: 0;

	.i-button-add {
		margin: -5px;
		vertical-align: middle;
	}
}

.connections-list__items-viewport {
	overflow: hidden;
}

.connections-list__scrollable-items {
	overflow-y: scroll;
	overflow-x: hidden;
	margin-right: -20px;
}

.connections-list__section-title {
	@include font-medium;
	font-size: 14px;
	border-bottom: 1px solid $color-medium-grey;
	padding-bottom: 5px;
}

.connections-list__section-count {
	color: #999;
	margin-left: 5px;
}

.connections-list__section {
	margin-bottom: 20px;
}


.connections-list__item-layout {
	margin-top: 14px;
	position: relative;
}

.connections-list-item {
	font-size: 13px;
	line-height: 16px;
	display: table-cell;
	vertical-align: middle;
	height: $connections-list-thumbnail-size;
	padding-left: 55px;
}

.connections-list-item,
.connections-list-item:hover {
	text-decoration: none;
	color: $color-almost-black;
}

.connections-list-item__thumbnail {
	width: $connections-list-thumbnail-size;
	height: $connections-list-thumbnail-size;
	position: absolute;
	left: 0;
	top: 0;
}

.connections-list-item__name {
	max-width: 135px;
	display: inline-block;
	vertical-align: middle;
}

.connections-list-item__status {
	position: absolute;
	top: 50%;
	right: 5px;
	margin-top: -5px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
}

.connections-list-item__status_unknown {
	background-color: $color-status-orange;
}

.connections-list-item__status_unavailable {
	background-color: $color-status-red;
}

.connections-list-item__status_available {
	background-color: $color-status-green;
}

.connections-list-item__status_group {
	@include font-light;
	font-size: 12px;
	margin-top: -8px;
	width: auto;
	height: auto;
}

.connections-list-item_new,
.connections-list-item_new:hover {
	text-decoration: none;
	color: $color-dark-grey;
	vertical-align: middle;
}

.connections-list__nothing-found {
	font-size: 13px;
	margin-bottom: 15px;
}

.connections-list__server-search-link {
	color: $bmc-teal;
	border: 1px solid $color-medium-grey;
	font-size: 12px;
	border-width: 1px 0;
	height: 34px;
	line-height: 32px;
	padding-left: 20px;
	position: relative;
	margin-bottom: 10px;

	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;

	.i-search_link {
		position: absolute;
		top: 50%;
		margin-top: -9px;
		left: 0;
	}
}