// See designated purpose of this file on Confluence: http://confluence.bmc.com:8080/x/VANsD
// Description of classes in this file: http://confluence.bmc.com:8080/x/PxNsD

.layout-width {
	width: 960px;
	margin: 0 auto;
	position: relative;
}