// See designated purpose of this file on Confluence: http://confluence.bmc.com:8080/x/VANsD
// Description of classes in this file: http://confluence.bmc.com:8080/x/9yRsD // todo deprecated

.landing-page {
	height: 100%;
	background: 50% 50% no-repeat;
	background-size: cover;
	min-width: 700px;
}

.landing-page_background-1 {
	background-image: url("../img/login/login-cover-1.jpg");
}

.landing-page_background-2 {
	background-image: url("../img/login/login-cover-2.jpg");
}

.landing-page_background-3 {
	background-image: url("../img/login/login-cover-3.jpg");
}

.landing-page_background-4 {
	background-image: url("../img/login/login-cover-4.jpg");
}

.login-form {
	margin-left: -150px;
	background: #fff;
	border-radius: 4px;
	width: 300px;
	padding: 20px;
	z-index: 1;
	position: absolute;
	left: 50%;
	top: 15%;
}

.login-form__logo {
	background: url("../img/myit-logo.png") no-repeat;
	width: 82px;
	height: 52px;
	margin: 2px 0 25px 3px;
}

.login-form__row {
	margin-bottom: 10px;
	position: relative;
}

.login-form__row_links {
	margin: 20px 0;
}

.login-form__input-icon {
	position: absolute;
	left: 1px;
	top: 1px;
	bottom: 1px;
	width: 29px;
	background: #e6e6e6;

	ins {
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.login-form__error {
	background: $bmc-red;
	color: #fff;
	line-height: 1.1;
	border-radius: 2px;
	padding: 8px 5px 7px 30px;;
	position: relative;
}

.i-login-form-error {
	position: absolute;
	left: 9px;
	top: 10px;
}

.login-form__input {
	width: 100%;
	padding: 0 5px 0 40px;
	line-height: 30px;
	height: 30px;
}

.login-form__help-btn {
	color: $bmc-teal;

	&:hover {
		text-decoration: underline;
	}
}

.login-form__submit-btn {
	border: none;
	text-transform: uppercase;
	min-height: 33px;

	.ls-bar {
		background: #fff;
	}
}


.landing-page-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(33, 33, 33, 0.8);
	color: #fff;
	min-width: 700px;
}

.landing-page-intro {
	display: table;
	margin: 0 auto;
	max-width: 1200px;
	padding: 15px 0;
}

.landing-page-intro__header {
	@include font-medium;
	font-size: 18px;
	margin: 0 0 7px 0;
}

.landing-page-intro__item {
	display: table-cell;
	width: 33.33%;
	padding: 0 3%;
	vertical-align: top;
	border-right: 1px solid white;

	&:last-child {
		border-right-color: transparent;
	}
}

.landing-page-intro__list {
	list-style: disc;
	padding-left: 1.5em;
	font-size: 13px;
}


.login-help {
	padding: 0 65px;
	margin-top: 6px;
	word-wrap: break-word;
}

.login-help__info-block {
	margin-bottom: 22px;
	font-size: 16px;
}

.login-help__info-block-details {
	border-right: 1px solid $color-grey;
}

.login-help__info-block_extended{
	@extend .login-help__info-block;
	padding:  6px 75px 6px 0;
}

.login-help__info-block_extended-img-web{
	@extend .login-help__info-block_extended;
	background-image: url('../img/web_big.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.login-help__info-block-title {
	margin-bottom: 10px;
}

.login-help__info-block-text {
	@include font-light;
	color: $color-grey;
	word-wrap: break-word;
	padding-right: 5px;
}

.login-help__reset-password{
	padding: 20px 35px 0;
}

.login-help__info-block-contacts-container {
	border-bottom: 1px solid $color-grey;
}

.login-help__info-block-container {
    border-top: 1px solid $color-grey;
}
