// See designated purpose of this file on Confluence: http://confluence.bmc.com:8080/x/VANsD
// Description of classes in this file: http://confluence.bmc.com:8080/x/OBNsD

$color-almost-black: #343434;
$color-darkest-grey: #666;
$color-dark-grey: #808080;
$color-grey: #afafaf;
$color-medium-grey: #e1e1e1;
$color-light-grey: #f2f2f2;

$color-theme-dark-blue: #2e80b5;
$color-theme-light-blue: #2bb5dc;

$color-status-red: #ee5a29;
$color-status-orange: #f49020;
$color-status-green: #89c341;

//Location hover menu colors
$location-search-dropout-main-bg: #fff;
$location-search-form-border-color: #e6e6e6;
$location-search-form-color: #97999c;

$page-header-height: 126px;
$page-toolbar-height: 52px;

$header-user-avatar-size: 40px;
$main-background-color: #fff;

// BMC brand colors
// colors from http://www.bmcux.com/dpl/article/visual_design_guidelines/color-palettes
$bmc-red: #f83200;
$bmc-orange: #fe5000;
$bmc-mid-orange: #f86e00;
$bmc-light-orange: #f98700;
$bmc-grey: #414042;
$bmc-light-grey: #a7a9ac;
$bmc-teal: #00a79d;
$bmc-blue: #3980b2;
$bmc-light-blue: #3cb6ce;
$bmc-lemon-green: #d7df0f;

html,
body {
	height: 100%;
	font-family: "HelveticaNeueRegular", Arial, sans-serif;
}

h3 {
	margin: 0;
}

b,
strong {
	@include font-bold;
}

a {
	color: $bmc-teal;

	&:hover {
		color: darken($bmc-teal, 10%);
	}
}

[ng-click],
[ui-sref] {
	cursor: pointer;
}

.full-height {
	height: 100%;
}

.inline-block {
	display: inline-block;
}

.page-header {
	background: #f5f4f4;
	color: #fff;
	margin: 0;
	padding: 0;
	border: none;
	position: relative;
	z-index: 1000;
	min-height: $page-header-height;
}

.page-header__logo-layout {
	min-height: 75px;
}

.myit-logo {
	margin: 15px 0 0;
}

.myit-logo__link {
	background: url("../img/myit-logo.png") no-repeat;
	width: 82px;
	height: 52px;
	display: block;
}


.page-header__nav-wrapper {
	background: #414042;
	position: relative;
	color: #fff;
	border-top: 1px solid #f35802;
}

.modules-nav {
	margin-bottom: 0;
	padding-left: 0;
	min-height: 50px;
}

.modules-nav__item {
	display: inline-block;
	font-size: 18px;
	margin-left: 25px;
	position: relative;

	&:first-child {
		margin-left: 0;
	}
}

.modules-nav__item-link {
	@include transition(all .2s);
	color: inherit;
	line-height: 50px;
	display: inline-block;
	position: relative;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		color: inherit;
		outline: none;
	}
}

.modules-nav__item_selected {
	@extend .modules-nav__item;
	color: $bmc-mid-orange;

	.modules-nav__item-link:after {
		display: block;
		content: " ";
		width: 14px;
		height: 6px;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 6px solid white;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -7px;
	}
}


.user-nav {
	min-width: 25%;
	height: 75px;
	position: relative;
}

.user-nav__top-layout {
	display: table;
	width: 100%;
	height: 75px;
}

.user-nav__top-layout-inner {
	display: table-cell;
	vertical-align: bottom;
	padding-bottom: 15px;
}

.user-nav__user-link {
	@include transition(all .2s);
	@include font-light;
	font-size: 20px;
	line-height: 1.2;
	height: $header-user-avatar-size;
	vertical-align: middle;
	cursor: pointer;
	color: $bmc-light-grey;
	float: right;
	position: relative;

	&:hover,
	&:focus,
	&:active {
		color: darken($bmc-light-grey, 10%);
		text-decoration: none;
	}
}

.user-nav__user-link-avatar {
	width: $header-user-avatar-size;
	height: $header-user-avatar-size;
	float: left;
	margin-right: 11px;
}

.user-nav__user-link-name {
	@extend .nowrap-line;
	display: inline-block;
	max-width: 220px;
	line-height: $header-user-avatar-size;
}

.i-user-nav-dropdown-arrow {
	margin-left: 6px;
}

.user-nav-dropdown {
	-webkit-box-shadow: none;
	box-shadow: none;
	color: $color-almost-black;
}

.user-nav-dropdown.dropdown-menu {
	margin-top:2px;
}

.user-nav-dropdown-item {
	height: 34px;
	line-height: 34px;
	padding: 0 10px;
	
	&:hover {
		background: $color-light-grey;
	}
}

.user-nav-dropdown-icon {
	margin-right: 6px;
	vertical-align: middle;
}

.user-nav-menu {
	margin-top: 10px;
	line-height: 16px;
	float: right;
	position: relative;
	z-index: 1;
}

.user-nav-menu__item {
	@include transition(all .2s);
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
	line-height: 1;
	margin-right: 12px;

	&:last-child {
		margin-right: 0;
	}

	&,
	&:hover,
	&:focus,
	&:active {
		outline: 0;
		color: #999;
		text-decoration: none;
	}

	&:hover {
		color: #fff;
	}
}

.i-user-nav-notifications {
	position: relative;

	.activity-stream-notifications-badge {
		color: $bmc-grey;
		height: 18px;
		min-width: 22px;
		position: absolute;
		top: -2px;
		right: -8px;
		background: $bmc-mid-orange;
		border: 1px solid $bmc-grey;
		margin-right: 0;
		vertical-align: baseline;
	}
	
	&:hover {
		.activity-stream-notifications-badge {
			background: $color-light-grey;
		}
	}
}

.user-nav-menu-item__requests-title {
	display: none;
}

.vertical-nav {
	list-style: none;
	margin: 0;
	padding-left: 0;
}


.page-toolbar {
	border-bottom: 1px solid $color-medium-grey;
	height: $page-toolbar-height;
	color: $color-almost-black;
	background: #fff;
	position: relative;
	z-index: 1;
}

.page-toolbar_overlayed {
	background: rgba(#fff, 0.9);
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
}

.page-toolbar_no-border {
	border-bottom: none;
}

.page-toolbar__breadcrumbs {
	height: $page-toolbar-height;
	line-height: $page-toolbar-height;
	float: left;
	max-width: 760px;

	.i-breadcrumb-home {
		margin-left: 15px;
		vertical-align: -4px;
	}

	.i-breadcrumb-arrow {
		margin: 0 14px;
		vertical-align: -1px;
	}
}

.page-breadcrumb-item {
	padding: 17px 0;
}

.page-breadcrumb-item,
.page-breadcrumb-item:hover {
	color: $color-almost-black;
	text-decoration: none;
}

.page-breadcrumb-item_active {
	@include font-bold;
}


.tools {
	height: 52px;
	float: right;
}

.toolbar-overlay {
	@extend .layout-width;
	overflow: hidden;
	min-height: 60px;
	clear: both;
}

.toolbar-overlay.embedded {
	max-width: 960px;
	position: absolute;
	opacity: 0.9;
	width: 100%;
	z-index: 3;
}

.toolbar-overlay__container {
	background: $color-darkest-grey;
	color: white;
	padding: 0 32px;
	position: absolute;
	top: -62px;
	height: 60px;
	width: 100%;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.toolbar-overlay__container.active {
	top: 0;
}

.toolbar-overlay__description {
	line-height: 60px;
	padding-left: 44px;
	position: relative;
	float: left;
	height: 100%;
	width: 50%;
}

.toolbar-overlay__controls {
	float: right;
	height: 100%;
	line-height: 60px;
	text-align: right;
}

.toolbar-overlay__controls_button {
	@include font-bold;
	font-size: 16px;
	text-align: center;
	line-height: 33px;
	border: 2px solid #f2f2f2;
	border-radius: 4px;
	background: gray;
	cursor: pointer;
	display: inline-block;
	margin-right: 20px;
	width: 170px;
	height: 35px;
}

.toolbar-overlay__controls_button.long {
	width: 210px;
}

.toolbar-overlay__controls_button.small {
	width: 100px;
}

@include loading-spinner;
@include loading-spinner('loading-spinner_inline', 14px, 10, 1px, 4px);

.loading-spinner_wide {
	width: 100%;
}

.loading-spinner_centered {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.loading-spinner_with-overlay {
	@extend .loading-spinner_centered;
	background: rgba(#fff, 0.85);
}

@-webkit-keyframes ls-bar-fade {
	from { opacity: 1 }
	to { opacity: 0 }
}

@keyframes ls-bar-fade {
	from { opacity: 1 }
	to { opacity: 0 }
}

.transition {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}


.nowrap-line {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
}


.next-arrow {
	background: no-repeat 100% 50% url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAYAAACXDi8zAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAExJREFUeNpiYMAF0tPTFYC4AJdkAgjjkizAJzkfiB1AbCY0uYlA7I+u2gCI+2F8FpggkAIJBsIkGIGCAlDBwpkzZ35AN0YA3SEAAQYAmtkZQoAfFIQAAAAASUVORK5CYII=);
}


.modal-content {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}