
.modal {
  overflow: auto;
}

body.modal-open {
  margin-right: 0;
}

.modal-dialog {
  cursor: default;
}

.modal_wide .modal-dialog {
  width: 1000px;
}

.modal-content {
  border-radius: 6px 6px 4px 4px;
}

.modal-header {
  background-color: #434547;
  height: 48px;
  color: #ffffff;
  padding: 0 18px;
  border-bottom: none;
  position: relative;
}

.modal-header-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.modal-header__title, .modal-header__title_centered {
  font-size: 16px;
  line-height: 48px;
  margin: 0 20px 0 0;
}

.modal-header__title .loading-spinner_inline, .modal-header__title_centered .loading-spinner_inline {
  vertical-align: -1px;
  margin-left: 2px;
}

.modal-header__title .ls-bar, .modal-header__title_centered .ls-bar {
  background: #fff;
}

.modal-header__title_centered {
  text-align: center;
  margin: 0;
}

.modal-header__link {
  position: absolute;
  left: 15px;
  line-height: 48px;
  color: #fff;
}

.modal-header__link:hover {
  color: #fff;
}

.modal-header__link .glyphicon-chevron-left {
  float: left;
  margin-right: 6px;
  top: 17px;
}

.modal-header__link .glyphicon-trash {
  float: left;
  margin-right: 6px;
  top: 16px;
}

.modal-body, .modal-body_no-padding, .modal-body_header-stick, .modal-body_bottom-stick, .modal-body_stick {
  padding: 22px 0 30px 0;
  position: relative;
}

.modal-body_no-padding {
  padding: 0;
}

.modal-body_header-stick {
  padding-top: 0;
}

.modal-body_header-stick .modal__user-comment {
  padding-top: 12px;
}

.modal-body_bottom-stick {
  padding-bottom: 0;
}

.modal-body_stick {
  padding: 0;
}

.modal-footer, .modal-footer_right-aligned {
  margin: 0;
  padding: 10px 0 12px 0;
  text-align: center;
  background-color: #f2f2f2;
  border-top: 1px solid #cccccc;
}

.modal-footer-padding {
  padding: 10px 0 33px 0 !important;
}

.modal-footer_right-aligned {
  text-align: right;
  padding-right: 40px;
}

.modal-footer__btn-container {
  display: inline-block;
  width: 100%;
}

.modal-footer__btn-container .btn_destructive {
  float: left;
}

.modal-footer__btn-container .btn {
  min-width: 130px;
}

.btn-header {
  background: transparent;
  border: 1px solid #343434;
  color: white;
  height: 30px;
  line-height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
}

.btn-header:first-child {
  left: 0;
}

.btn-header:last-child {
  right: 0;
}

.btn-header:hover {
  color: white;
}

.image-upload-block {
  text-align: center;
  position: relative;
}

.uploading-image-preview {
  display: inline-block;
  width: 320px;
  height: 200px;
  position: relative;
}

.uploading-image-preview .uploading-image-preview-default-state {
  font-size: 20px;
  padding: 30px 15px;
  margin: 0 auto;
}

.uploading-image-preview .uploading-image-preview-default-state,
.uploading-image-preview .edit-profile__upload-file {
  margin-top: 35px;
  height: 125px;
  width: 125px;
}

.uploading-image-preview .edit-profile__upload-file {
  left: 50%;
  margin-left: -63px;
}

.uploading-image-description {
  color: #808080;
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
}

.uploading-image-description .ie8-only {
  display: none;
}

.ie .uploading-image-description .ie8-only {
  display: block;
  color: #ee5a29;
}

.upload-image-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  padding: 0 10px;
}

.share-profile-selector__header {
  padding: 0 35px;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
}

.share-profile-selector__header .i-round-x {
  position: absolute;
  right: 35px;
  top: 12px;
}

.share-profile-selector__filter-input {
  border: none;
  cursor: text;
  padding: 0;
  width: 100%;
  height: 44px;
  vertical-align: top;
}

.share-profile-selector__filter-input.ie-placeholder {
  margin-top: 1px;
}

.share-profile-selector__profiles {
  overflow-y: auto;
  height: 225px;
  margin-bottom: -30px;
  position: relative;
}

.share-profile-selector__profiles .group-member-selector__item-layout:first-child {
  border-top: none;
}

.shared-post-preview {
  border-radius: 4px;
  background: #f2f2f2;
  border: 1px solid #afafaf;
  height: 50px;
  line-height: 48px;
  padding: 0 42px;
  margin: 20px 18px 0;
  position: relative;
}

.shared-post-preview .i-document {
  position: absolute;
  left: 7px;
  top: 10px;
}
