// See designated purpose of this file on Confluence: http://confluence.bmc.com:8080/x/VANsD

/*   colors  */
$profile-name-color: $color-almost-black;

/*  dimensions  */
$profile-margin: 0 28px 28px 0;
$profile-info-width: 302px;
$profile-height: $page-header-height;
$profile-with-toolbar-height: $page-header-height + $page-toolbar-height;
$profile-picture-preview-width: 320px;
$profile-picture-preview-height: 200px;

//name
$profile-name-font-size: 36px;

.profile {
	height: 100%;
	width: 100%;
	float: left;
	display: table;
	margin-top: - $profile-with-toolbar-height;
}

.profile__edit-button {
	@include font-bold;
	line-height: 52px;
	color: $color-almost-black;
	float: right;
}

.profile-container {
	height: 100%;
	display: table;
	table-layout: fixed;
}

.profile-inner {
	margin-top: $profile-with-toolbar-height;

	.superbox {
		margin-bottom: 20px;
	}
}

.profile-inner_table {
	display: table;
}

.profile-info {
	display: table-cell;
	padding: $profile-margin;
	max-width: $profile-info-width;
	width: $profile-info-width;
	overflow-y: auto;
	vertical-align: top;
	position: relative;
}

.profile-info__status-info {
	position: relative;
	margin: 28px 0;
}

.profile-info__service-following-details {
	margin: 20px 0;
	text-align: center;
}

.profile-info__parent-information {
	@include font-light;
	height: 20px;
	position: relative;
	width: 100%;
}

.profile-info__parent-section {
	height: 20px;
	padding: 20px 0;
	overflow: hidden;
	@extend .transition;
}

.profile-info__parent-section.expanded{
	height: 100px;
	overflow: visible;
	@extend .transition;
	.dropdown{
		margin: 10px 0;
	}
}

.profile-info__status-state {
	margin-bottom: 10px;
	color: $color-almost-black;
	text-indent: -25px;
	padding-left: 25px;
	margin-right: -5px;

	.loading-spinner_inline {
		vertical-align: -3px;
		margin-right: 8px;
	}
}

.profile-info__status-icon {
	margin-right: 9px;
	overflow: hidden;
	float: left;
}

.profile-status {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 8px;
	vertical-align: -2px;
	border-radius: 50%;
}

.profile-status_down {
	@extend .profile-status;
	background: $color-status-red;
}

.profile-status_unknown,
.profile-status_warning {
	@extend .profile-status;
	background: $color-status-orange;
}

.profile-status_up {
	@extend .profile-status;
	background: $color-status-green;
}

.profile-info__divider {
	background: $color-grey;
	height: 1px;
	width: 100%;
	margin: 26px 0;
}

.profile-info-card {
	padding-top: 28px;
}

.profile-info-card__name {
	color: $profile-name-color;
	font-size: $profile-name-font-size;
	line-height: 43px;
	margin-top: 20px;
	word-wrap: break-word;
}

.profile-info-card__picture {
	width: 100%;
	min-height: 171px;
	position: relative;
}

.profile-picture-placeholder {
	background-color: #6d6e70;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 0;
	padding-top: 62.5%; // 100:62.5 is the same ration as 320:200 and 640:400
}

.profile-picture-placeholder_asset {
	background-image: url(../img/asset-thumbnail-placeholder.png);
}

.profile-picture-placeholder_group {
	background-image: url(../img/group-thumbnail-placeholder.png);
}

.profile-picture-placeholder_location {
	background-image: url(../img/location-thumbnail-placeholder.png);
}

.profile-picture-placeholder_service {
	background-image: url(../img/service-thumbnail-placeholder.png);
}

.profile-picture-placeholder_user {
	background-image: url(../img/user-thumbnail-placeholder.png);
}


.profile-info__square-icon-container {
	position: relative;
	padding-left: 100%;
	padding-top: 100%;
}

.profile-info__square-icon-frame {
	border: 1px solid $color-medium-grey;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.profile-info__centered-icon {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}


.profiles-list__disclosure-triangle {
	display: inline-block;
	vertical-align: middle;
	margin-left: 12px;
}

.profiles-list__item-layout,
.profiles-list__item-layout:hover,
.profiles-list__item-layout:active,
.profiles-list__item-layout a,
.profiles-list__item-layout a:hover,
.profiles-list__item-layout a:active {
	color: #000;
	text-decoration: none;
}

.profile-info__profiles-list_compact {
	margin-right: -18px;

	.profile-info__section-header {
		font-size: 18px;
		margin-bottom: 8px;
	}

	.profiles-list__disclosure-triangle {
		border-top: 6px solid $color-grey;
		border-left: 5px solid #fff;
		border-right: 5px solid #fff;
	}

	.profiles-list__item-layout {
		display: inline-block;
		margin-right: 18px;
		margin-bottom: 20px;
	}

	.profiles-list-item__thumbnail {
		width: 40px;
		height: 40px;
	}

	.profiles-list-item__name,
	.profiles-list-item__description {
		display: none;
	}
}

.profile-info__profiles-list_expanded {
	.profile-info__section-header {
		margin-bottom: 22px;
	}

	.profiles-list__disclosure-triangle {
		border-top: 8px solid $color-grey;
		border-left: 6px solid #fff;
		border-right: 6px solid #fff;
	}

	.profiles-list__item-layout {
		display: block;
		position: relative;
		margin-bottom: 20px;
	}
	
	.profiles-list-item {
		padding-left: 65px;
		display: table-cell;
		height: 50px;
		vertical-align: middle;
	}

	.profiles-list-item__thumbnail {
		width: 50px;
		height: 50px;
		position: absolute;
		left: 0;
		top: 0;
	}

	.profiles-list-item__name {
		font-size: 18px;
		max-width: 180px;
	}

	.profiles-list-item__description {
		color: $color-dark-grey;
		line-height: 18px;
		padding-left: 18px;
		text-indent: -18px;
	}

	.profile-status {
		width: 12px;
		height: 12px;
		vertical-align: -1px;
		margin-right: 2px;
	}

	.profiles-list-item__status {
		display: block;
		position: absolute;
		right: 0;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		margin-top: -20px;
		text-decoration: none;
	}

}


.profile-info__admins-list {
	margin-bottom: 30px;

	&.profile-info__profiles-list_expanded {
		
		.profiles-list-item__name,
		.profiles-list-item__description {
			max-width: 165px;
		}
		
		.i-mail_42 {
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -21px;
		}
	}
}



.profile-info__details {
	word-wrap: break-word;
}

.profile-info__details-description {
	color: $color-dark-grey;
	font-size: 14px;
	line-height: 18px;
	margin: 5px 0 20px;
}

.profile-info__location-preview {
	margin: 26px 0;
}

.profile-info__location-map {
	height: 140px;
	margin-top: 16px;
	margin-bottom: 22px;

  // .floormap-embedded has its own height, that's why it is re-set when used with .profile-info__location-map
  &.floormap-embedded {
	height: 140px;
  }
}

// common styles for profile-info
.profile-info__section {
	display: table;
	vertical-align: middle;
	width: 100%;
	position: relative;
	height: 42px;
	margin: 20px 0;
}

.profile-info__section-header {
	color: $color-almost-black;
	line-height: 1;
	font-size: 22px;
}

.profile-info__section_position {
	margin: 20px 0;
	font-size: 16px;
	color: $color-almost-black;
}

.profile-info__section-text {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}

.profile-info__section-desc {
	@include font-light;
	color: $color-dark-grey;
	font-size: 14px;
	line-height: 1;
	display: block;
}

.profile-info__additional_time {
	@include font-light;
	color: $color-dark-grey;
	font-size: 14px;
}

.profile-info__additional_address {
	@include font-light;
	color: $color-almost-black;
	font-size: 14px;
	opacity: 0.5;
	word-wrap: break-word;
	width: 212px;
}

.profile-info__child-resources-item {
	margin-bottom: 10px;
	overflow: hidden;
	&:hover {
		cursor: pointer;
	}
}

.profile-info__child-asset-name {
	@include font-bold;
}

.profile-info__child-asset-thumbnail {
	width: 50px;
	height: 50px;
	float: left;
}

.profile-info__child-info {
	display: inline-block;
	width: 220px;
	padding-left: 10px;
}

.profile-info__resource-children {
	min-height: 100px;
	position: relative;
}

.profile-info__resource-info-section {
	margin-bottom: 10px;
}

.profile-info__resource-label {
	color: $color-grey;
}

.profile-info__details_clm-style {
	.profile-info__section-header {
		font-size: 12px;
		text-transform: uppercase;
		color: $color-dark-grey;
	}

	.profile-info__detail-text {
		font-size: 20px;

		& + .profile-info__section-header {
			margin-top: 18px;

			&:before {
				display: block;
				content: '';
				height: 1px;
				background: $color-medium-grey;
				margin-bottom: 25px;
			}
		}
	}
}

.activity-icon {
	display: table-cell;
	float: right;
	width: 57px;
	border-left: 1px solid $color-grey;
	height: 42px;
	padding-left: 12px;
	cursor: pointer;
}

.profile-activity-stream {
	background: #f2f2f2;
	border-color: #e1e1e1;
	border-style: solid;
	border-width: 1px;
	border-top-width: 0;
	display: table-cell;
	padding: 20px;
	width: 658px;
	overflow-y: auto;
	vertical-align: top;
	height: 100%;
	position: relative;

	.profile-inner {
		width: 616px;
	}
}

.profile-activity-stream__loading-spinner-container {
	position: relative;
}

.profile-activity-stream__loading-spinner {
	position: absolute;
	top: 10px;
	left: 2px;
}

.profile-tabs {
	@extend .profile-activity-stream
}

.profile-tabs_no-bg {
	background: none;
}

.profile-tabs-nav {
	text-align: center;
	background: rgba(#000, 0.4);

	.profile-inner & {
		margin: -20px -20px 20px;
	}
}

.profile-tabs-nav__item {
	@include transition(color 0.2s);
	display: inline-block;
	font-size: 16px;
	height: 42px;
	line-height: 42px;
	padding: 0 32px;
	color: rgba(#fff, 0.5);

	&:hover {
		color: #fff;
	}
}

.profile-tabs-nav__item_selected {
	color: #fff;
	position: relative;

	&:before {
		display: block;
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -8px;

		border-bottom: 7px solid #fff;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;

		.profile-tabs:not(.profile-tabs_no-bg) & {
			border-bottom-color: #f2f2f2;
		}
	}
}

.profile-info__resource-status {
	@include font-light;
	margin-top: 15px;
	position: relative;
	text-indent: -20px;
	padding-left: 20px;

	.profile-status {
		width: 10px;
		height: 10px;
		margin-left: 2px;
		margin-right: 4px;
		vertical-align: 0;
	}
}

.profile-status-report-disclosure-triangle {
	position: absolute;
	right: 12px;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 0;
	width: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.profile-status-report-disclosure-triangle_down {
	border-top: 6px solid $color-dark-grey;
}

.profile-status-report-disclosure-triangle_up {
	border-bottom: 6px solid $color-dark-grey;
}

.profile-info__status-report-container {
	overflow: hidden;
}

.profile-status-report-button {
	@extend .nowrap-line;
	@include font-bold;
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	border-radius: 5px;
	min-width: 90px;
	max-width: 130px;
	overflow-y: hidden;
}

.profile-status-report-button + .profile-status-report-button {
	margin-left: 4px;
}

.profile-info__status-report {
	@extend .transition;
	margin-top: -50px;
	margin-bottom: 0;
	opacity: 0;
}

.profile-info__status-report_expanded {
	margin-top: 26px;
	margin-bottom: 16px;
	opacity: 1;
}

.profile-info-status-report__label {
	display: inline-block;
	font-size: 12px;
	margin-right: 12px;
	margin-bottom: 5px;
}



.timeline-toolbar {
	background: #fff;
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	padding-left: 20px;
	position: relative;

	.profile-activity-stream & {
		margin: 0 -20px 20px;
	}

	.profile-inner & {
		margin-top: -21px;
	}
}

.timeline-toolbar__search {
	overflow: hidden;
	padding-left: 16px;
	position: relative;

	&:before {
		display: block;
		content: '';
		position: absolute;
		left: 16px;
		top: 17px;
		width: 1px;
		height: 16px;
		background: #c6c6c6;
	}
}

.timeline-toolbar__search-input {
	background: url(data:image/gif;base64,R0lGODlhDgAOALMAAP///9nZ2eLi4vr6+sHBwcbGxtTU1Ozs7PX19d7e3s/Pz8vLy+fn57y8vPHx8be3tyH5BAAAAAAALAAAAAAOAA4AAARGEMhJ62QhIwtGKcIRNIZFJNRABJSwWMOzScXBGcJUcECm2xbcJKGAySaqHFJRojgIC8Yh0SgQBhaBohBwAARXXisslggCEQA7) no-repeat 16px 50%;
	border: none;
	padding: 0 0 0 36px;
	font-size: 14px;
	vertical-align: top;
	height: 48px;

	@include placeholder {
		color: $color-grey;
	}

	&.ie-placeholder {
		color: $color-grey;
	}
}

.timeline-toolbar__actions {
	position: absolute;
	right: 20px;
	height: 100%;
}

.timeline-toolbar__action-icon {
	cursor: pointer;
	vertical-align: -2px;

	&.i-timeline-toolbar-search {
		margin-right: 28px;
		position: relative;
		left: 0;
	}

	&.i-timeline-toolbar-filter {
		margin-right: 28px;
	}
}

.timeline-toolbar__clear-text {
	float: right;
	margin-right: 15px;
	color: $bmc-teal;

	.timeline-toolbar__search_approvals & {
		margin-right: 15px;
	}
}


.timeline-toolbar-filter {
	cursor: pointer;
	float: left;
}

.timeline-toolbar-filter__current-icon {
	margin-left: 1px;
	margin-right: 3px;
	vertical-align: -7px;
}

.timeline-toolbar-filter__selection {
	color: $bmc-teal;
}

.timeline-toolbar-filter__dropdown-arrow {
	vertical-align: 2px;
	margin-left: 2px;
}

.timeline-toolbar-dropdown {
	max-height: none;
	width: auto;
	margin-top: -5px;
	left: 10px;
	font-size: 16px;
}

.timeline-toolbar-dropdown__item {
	line-height: 42px;
	padding: 0 10px;
	white-space: nowrap;

	&:hover {
		background: $color-light-grey;
	}
}

.timeline-toolbar-dropdown__item_selected,
.timeline-toolbar-dropdown__item_header {
	@include font-bold;
}

.timeline-toolbar-dropdown__item_header {
	&,
	&:hover {
		background: #fff;
	}
}

.timeline-toolbar-dropdown__item-icon {
	vertical-align: -9px;
	margin-right: 3px;
}

.timeline-toolbar-dropdown_add-item-menu {
	left: auto;
	right: -10px;
}



// edit profile
.edit-profile__title {
	text-align: center;
}

.edit-profile__footer {
	text-align: right;
	padding-right: 40px;
	padding-left: 40px;
}

.edit-profile__info {
	padding: 0;
}

.edit-profile__picture-info {
	background: $color-light-grey;
}

.edit-profile__picture-container {
	float: left;
	width: $profile-picture-preview-width;
	height: $profile-picture-preview-height;
	margin-left: 50%;
	position: relative;
	left: -$profile-picture-preview-width / 2;
	margin-right: -$profile-picture-preview-width / 2;
	text-align: center;

	.profile-picture-placeholder {
		width: $profile-picture-preview-width;
		height: $profile-picture-preview-height;
		padding-top: 0;
		margin: 0 auto;
	}
}

.edit-profile__picture {
	max-width: $profile-picture-preview-width;
	max-height: $profile-picture-preview-height;
}

.edit-profile__picture-change {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	position: relative;
}

.edit-profile__picture-change-label {
	@include font-light;
	color: $bmc-teal;
}

.edit-profile__picture-change-description {
	font-size: 11px;
	color: $color-status-red;;
	width: 110px;
	margin-top: 5px;
	position: absolute;
	display: none;

	.ie & {
		display: block;
	}
}

.edit-profile__info-section {
	margin: 20px 40px;
}

.edit-profile__info-item {
	margin: 10px 0;
}

.edit-profile__info-subtype {
	width: 100px !important;
	margin-right: 10px;
	margin-bottom: 0 !important;
}

.edit-profile__info-value {
	width: 272px;
	margin-right: 10px;
}

.edit-profile__info-button {
	width: 100px;
	line-height: 1;
	height: auto;
}

.edit-profile__info-new {
	color: $bmc-teal;
	display: block;
    @include font-light;
}
.edit-profile__info-new span{
	cursor: pointer;
}

.edit-profile__setting-button {
	text-align: center;
	margin: 20px 0;
}

.edit-profile__upload-file {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.profile-error{
	margin-top: 50px;
}


.group-create__members-title {
	@include font-bold;
	margin-bottom: 10px;
}

.group-create__member {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;

	.i-round-x {
		vertical-align: -6px;
	}
}


.group-member-selector__search {
	@extend .location-selector__search;
}

.group-member-selector-search__input {
	@extend .location-selector__search-input;
}

.group-member-selector__results {
	@extend .location-selector__results;
}

.group-member-selector__item-layout {
	@extend .location-selector-item;
	height: 48px;
	line-height: 46px;
	position: relative;
}

.group-member-selector-item__thumbnail {
	width: 35px;
	height: 35px;
	margin: -1px 10px 0 12px;
}

.group-member-selector-item__name {
	font-size: 13px;
}

.group-member-selector-item__checkmark {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -11px;
}

.group-member-selector__loading-message {
	border-top: 1px solid $color-medium-grey;
	padding: 5px 10px;

	.loading-spinner_inline {
		top: 2px;
		margin-right: 2px;
	}
}

.profile-image-crop {
	width: 320px;
	height: 200px;
	overflow: hidden;
	position: relative;
}

.profile-image-crop__image {
	position: absolute;
	left: 0;
	top: 0;

	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: -o-grab;
	cursor: -ms-grab;
	cursor: grab;
}

.profile-image-crop__image_grabbed {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: -o-grabbing;
	cursor: -ms-grabbing;
	cursor: grabbing;
}

.profile-image-crop__image_tall {
	width: 100%;
}

.profile-image-crop__image_wide {
	height: 100%;
}

.entity-status-dropdown-filter {
	position: relative;
	cursor: pointer;
	display: inline-block;
}

.entity-status-dropdown-filter__list {
	width: 260px;
	max-height: 370px;
	left: auto;
	right: -10px;
	margin-top: -10px;
}

.entity-status-dropdown-filter-item {
	line-height: 26px;
	border-top: 1px solid $color-grey;
	display: block;
	padding: 0 20px;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}

.entity-status-dropdown-filter-item:first-child {
	border-top: none;
}

.entity-status-dropdown-filter-item_header {
	text-transform: uppercase;
	color: $color-grey;
	padding: 0 20px;
	line-height: 28px;
}

.entity-status-dropdown-filter-item:hover,
.entity-status-dropdown-filter-item:focus {
	color: $color-darkest-grey;
	background-color: $color-light-grey;
}

.entity-status-dropdown-filter-item_header:hover {
	cursor: default;
	color: $color-grey;
	background-color: $main-background-color;
}

.entity-status-dropdown-filter-item__checkbox {
	position: absolute;
	right: 20px;
	top: 3px;
}

.entity-status-dropdown-filter-item__input {
	display: none;
}