// See designated purpose of this file on Confluence: http://confluence.bmc.com:8080/x/VANsD
// Description of classes in this file: http://confluence.bmc.com:8080/x/aCRsD

.service-status-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 8px;
	vertical-align: -3px;
}

.service-status-icon_up {
	@extend .service-status-icon;
	background-color: $color-status-green;
}

.service-status-icon_down {
	@extend .service-status-icon;
	background-color: $color-status-red;
}

.service-status-icon_warning {
	@extend .service-status-icon;
	background-color: $color-status-orange;
}

.service-status-icon_neutral {
	@extend .service-status-icon;
	background-color: $color-grey;
}
