.settings-info {
	width: 274px;
	padding-top: 20px;
}

.settings-map {
	position: absolute;
	left: 314px;
	top: 0;
	bottom: 0;
	right: 0;
}

.settings-map__content {
	@include position(absolute, 20px 0px 20px 0px);
	border: 1px solid $color-grey;
}

.settings-map__no-location {
	@include position(absolute, 0px 0px 0px 0px);
	background-color: $color-light-grey;
}

.settings-map__no-location-text {
	position: absolute;
	top: 50%;
	text-align: center;
	z-index: 6;
	font-size: 18px;
	width: 100%;
	margin-top: -18px;
}

.settings-info__home-pic {
	width: 100%;
}

.settings-info__section {
	padding: 16px 5px 26px 0;
}
.settings-info__chage-location-link {
	float: right;
	font-size: 14px;
	line-height: 33px;
	color: $bmc-teal;

	&:hover {
		color: darken($bmc-teal, 10%);
	}
}

.settings-info__set-location-button {
	margin-top: 14px;
}

.settings-info__section + .settings-info__section {
	border-top: 1px solid $color-grey;
}

.settings-info__text-section {
	color: $color-dark-grey;
	padding-top: 14px;
	word-wrap: break-word;
}

.settings-info__important-text {
	@include font-bold;
	color: $color-almost-black;
	font-size: 16px;
}

.settings-info__section-switcher {
	position: relative;
	font-weight: normal;
	font-size: 18px;
	margin: 24px 0 0; /*overwrite bootstrap*/
}

.settings-info__section-switcher_disabled {
	@extend .settings-info__section-switcher;
	color: $color-dark-grey;
}

.settings-info__checkbox {
	margin-right: 10px !important;
}

.settings-info__section {
	.checkbox-list__container {
		display: block;
		margin: 14px 0 0 15px;
	}
}

.settings-map__no-location-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #000000;
	opacity: .3;
	z-index: 5;
}