// See designated purpose of this file on Confluence: http://confluence.bmc.com:8080/x/VANsD
$support-item-height: 40px;

@mixin question {
	@include transition(all .2s);
	width: 100%;
	border-radius: 2px;
	border: 1px solid $color-medium-grey;
	padding: 10px;

	&:focus {
		border-color: #999999;
	}

	&.disabled,
	&[disabled] {
		background: $color-light-grey;
		border-color: #d9d9d9;
	}
}

// @todo need to rewrite layout to prevent IE fixes
.support-main {
	display: table;
	height: 100%;
	margin-top: -$page-header-height - 1; // add some magic xD
	border-left: 1px solid $color-medium-grey;
	border-right: 1px solid $color-medium-grey;

	.ie &, .ie10 &, .ie11 & {
		margin-top: 0;
	}
}

.support-left-col {
	background: #f2f2f2;
	width: 300px;
	display: table-cell;
	vertical-align: top;
}

.support-left-col__inner {
	padding: 30px 15px;
	margin-top: $page-header-height;

	.ie &, .ie10 &, .ie11 & {
		margin-top: 0;
	}
}

.support-right-col {
	overflow: hidden;
}

.support-right-col__inner {
	padding: 38px 30px 30px;
	margin-top: $page-header-height;

	.ie &, .ie10 &, .ie11 & {
		margin-top: 0;
	}
}

.support-menu {
	margin: 15px 0;
}

.support-menu__item-link {
	@include transition(all .2s);
	@extend .next-arrow;
	height: $support-item-height;
	line-height: $support-item-height;
	color: $color-almost-black;
	display: block;
	padding: 0 20px;
	background-position: 245px 50%;
	max-width: 270px;
}

.support-menu__item-link_selected {
	@extend .support-menu__item-link;
	background-color: #ffffff;
}

.support-menu__item-link:hover {
	@extend .support-menu__item-link_selected;
	color: $color-almost-black;
	text-decoration: none;
}

.support-menu__item-link-icon {
	float: left;
	margin: 8px 10px 0 0;
}

.support-search-input-container {
	position: relative;
}

.support-search-input {
	width: 240px;
	margin-left: 15px;

	&.ie-placeholder {
		margin-left: 16px;
	}
}

.search-remove-btn {
	position: absolute;
	right: 30px;
	top: 8px;
	color: #999;
	cursor: pointer;
	padding: 5px;
}

.support-view-activity-panel {
	overflow: hidden;
	margin: 60px 15px 0 15px;
	border: 1px solid $color-medium-grey;
	background: #ffffff url('../img/appointments_and_requests.png') no-repeat center 30px;
	padding: 100px 40px 30px;
	text-align: center;
}

.support-view-activity-panel__title {
	color: $bmc-mid-orange;
	font-size: 16px;
	display: block;
	margin-bottom: 20px;
}

.support-internal-padding {
	padding: 0 15px;
}

.support-request-type-header {
	margin-bottom: 30px;
}

.support-howto-container {
	position: relative;
	min-height: 70px;
}

.support-request-container {
	@extend .support-howto-container;
}

.support-request {
	@extend .next-arrow;
	background-position: 98% 50%;
	overflow: hidden;
	margin-bottom: 10px;
	font-size: 12px;
	padding: 5px;
}

.support-request:hover {
	background-color: $color-light-grey;
}

.support-request__title {
	@extend .support-request__description;
	@include font-bold;
}

.support-request__rkm-title {
	@extend .support-request__description;
}

 .support-request__description {
	float: right;
	padding-right: 25px;
	width: 540px;
}

.support-request__icon {
	float: left;
	width: 32px;
	height: 32px;
}

.support-view-all {
	text-align: right;
}

.support-view-all__link {
	@include font-light;
	color: $bmc-teal;

	&:hover {
		color: darken($bmc-teal, 10%);
		text-decoration: none;
	}
}

.support-view-all__link:hover {
	@extend .support-view-all__link;
}

.support-btn-group {
	width: 100%;
	padding: 20px 30px 0;
}

.support-btn {
	width: 25%;
}

.support-modal-body {
	padding: 0;
}

.support-modal__rkm-header-container {
	@extend .support-modal__srd-header-container;
}

.support-modal__rkm-header-title {
	//white-space: pre-wrap;
}

.support-modal__rkm-content-container {
	position: relative;
	min-height: 200px;
	padding: 20px 0 20px 20px;
}

.support-modal__rkm-article-content {
	width: 100%;
	height: 400px;
}

.support-modal__srd-header-container {
	overflow: hidden;
	background-color: $color-light-grey;
	padding: 15px 30px;
}

.support-modal__srd-header-icon {
	float: left;
	width:29px;
	height:29px;
}

.support-modal__srd-header-title {
	width: 500px;
	float: right;
}

.support-modal__srd-header-description {
	float: right;
	width: 500px;
}

.support-modal__srd-header-instruction {
	border-top: 1px solid $bmc-light-grey;
	clear: both;
	padding: 10px 0;
	position: relative;
	top: 10px;
}

.support-modal__srd-questions-container {
	padding: 0;
}

.support-modal__highligting-required-element {
	border: 1px solid #ec1c24 !important;
}

.srd-questions-placeholder {
	position: relative;
	padding: 0 30px 10px 30px;
	min-height: 100px;
}

/* styles for questions controls */

.srd-question {
	margin-bottom: 10px;

	& .ie-placeholder {
		margin-top: 1px;
		margin-left: 1px;
	}
}

.srd-question-label,
.srd-question-label__required {
	color: $color-dark-grey;
	line-height: 1;
}

.srd-question-label__required-error {
	color: $bmc-red;
}

.srd-question-label-container {
	overflow: hidden;
}

.srd-question-label-container__left {
	float: left;
}

.srd-question-label-container__right {
	float: right;
}

.srd-question-label__required {
	@include font-bold;
	font-size: 12px;
	margin: 10px 0;
	display: block;
}

.srd-question-textarea {
	@include question;
	resize: none;
}

.srd-question-input {
	@include question;
}

.srd-question-textarea_small {
	width: 160px;
	padding: 0 5px;
	line-height: 22px;
}

.srd-question-error_message {
	@extend .srd-question-label__required;
	color: $color-status-red;
	font-weight: normal;
}

.srd-question-error_text-box {
	@extend .support-modal__highligting-required-element;
	color: $color-status-red;
}

.srd-question-options {
	@include question;
	height: 40px;
}

.srd-question-menu {
	@include question;
	height: 40px;
}

.srd-question-radio-button__label {
	display: block;
	padding-left: 20px;
	font-weight: normal;
	position: relative;
	word-wrap: break-word;
}

.srd-question-radio-button__input {
	position: absolute;
	left: 0;
}

.srd-question-checkbox__label {
	@extend .srd-question-radio-button__label;
}

.srd-question-checkbox__input {
	@extend .srd-question-radio-button__input;
}

.srd-question-range {
	@include question;
	height: 40px;
}

.srd-question-label__range-hint {
	@include font-light;
	padding-left: 20px;
}

.srd-question-datetimepicker__icon {
	z-index: 98;
	top: -30px;
	left: 95%;
}

.srd-question-datetimepicker__row {
	padding-left: 20px;
	display: inline-block;
	width: 100%;
}

.srd-question-datetimepicker__label-container {
	float: left;
	width: 20%;
}

.srd-question-datetimepicker__input-container {
	float: right;
	width: 80%;
	height: 40px;
}

.srd-question-instruction {
	position: relative;
	top: -5px;
	color: $color-grey;
	font-size: 12px;
	clear: both;
}


.srd-attachments {
	margin: 10px 0 15px;
}

.srd-attachment {
	overflow: hidden;
	margin-bottom: 10px;
}

.srd-attachment__icon {
	float: left;
	line-height: 40px;
	margin-top: 6px;
}

.srd-attachment__name {
	display: inline-block;
	float: left;
	line-height: 40px;
	padding-left: 5px;
	max-width: 25em;
}

.srd-attachment__button {
	float: right;
	display: inline-block;
}

.srd-new-attachment-container {
	position: relative;
}

.srd-new-attachment__visible {
	overflow: hidden;
	line-height: 40px;
}

.srd-new-attachment__button-container {
	float: right;
	position: relative;
}

.srd-new-attachment-button {
	float: right;
}

.srd-new-attachment__hidden-file-input {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	opacity: 0;
	overflow: hidden;
	cursor: pointer;

	// input in IE9 should be clickable in order to work,
	// so stretch it over the button
	.ie & {
		width: 100%;
		height: 100%;
	}
}

.srd-attachments__size-message {
	font-size: 12px;
	color: $color-dark-grey;
	margin-top: 5px;
}

.srd-attachments__size-message_ie9-only {
	display: none;

	.ie & {
		display: block;
	}
}


textarea.ng-invalid.form-submitted,
input.ng-invalid.form-submitted,
select.ng-invalid.form-submitted {
	@extend .support-modal__highligting-required-element;
}


/* "On behalf of" */

.srd-question-on-behalf {
	margin: 10px 0 20px;
}

.loading-spinner_obo {
	margin: 0 0 -3px 5px;
}

.srd-question-on-behalf__actions {
	margin-left: 10px;
}

.srd-question-on-behalf__requester-info {
	float: right;
	height: 40px;
	margin-top: 20px;
}

.srd-question-on-behalf__buttons-wrapper {
	padding-left: 15px;
}

.srd-question-on-behalf__button {
	font-size: 13px;
	color: $color-dark-grey;
	min-width: 62px;
	text-align: left;

	&:hover {
		color: darken($color-dark-grey, 10%);
	}

	ins {
		vertical-align: -2px;
	}
}

.srd-question-on-behalf__name {
	margin-right: 10px;
}

.srd-question-on-behalf__label {
	text-align: right;
	max-width: 250px;
}

.srd-question-on-behalf__fields {
	float: right;

	.srd-question-textarea {
		display: block;
		margin-bottom: 4px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.srd-question-on-behalf-search {
	display: inline-block;
	position: relative;
	width: 260px;
	margin: -5px 0;
}

.srd-question-on-behalf-search__dropdown {
	position: absolute;
	top: 100%;
	width: 100%;
	background: #fff;
	border: 1px solid $color-medium-grey;
	z-index: 1;

	.loading-spinner {
		margin-left: -4px;
		margin-right: 2px;
		vertical-align: -3px;
	}
}

.srd-question-on-behalf-search__message {
	background: $color-light-grey;
	font-size: 12px;
	line-height: 16px;
	padding: 4px 10px 4px 12px;
}

.srd-question-on-behalf-search__result-item {
	@extend .nowrap-line;
	padding: 2px 10px 2px 13px;

	&:hover {
		background: $color-medium-grey;
	}
}

.srd-question-on-behalf-search__result-item + .srd-question-on-behalf-search__result-item {
	border-top: 1px solid $color-medium-grey;
}



.support-search-results {
	position: relative;
}

.support-search-results__row {
	margin-bottom: 20px;
}

.support-search-results__row-title {
	margin-bottom: 20px;
}

.support-back-link-container {
	padding-bottom: 20px;
}

.support-back-link {
	font-size: 12px;
}

.support-back-link__icon {
	margin-right: 3px;
}

.aif-modal-dialog .modal-dialog {
	width: 1420px;
}

.aif-iframe {
	width: 100%;
	height: 675px;
}

.aif-modal-detail-dialog .modal-dialog {
	width: 990px;
}

.aif-detail-iframe {
	width: 100%;
	height: 700px;
}

.support-aif-modal__srd-header-title {
	width: 900px;
	float: right;
	padding-left: 10px;
}

.support-aif-modal__srd-header-description {
	width: 900px;
	float: right;
	padding-left: 10px;
}

/* Styles for SR Details modal */

.sr-modal-header__link_cancel {
	left: auto;
	right: 20px;
}

.sr-modal-header__title {
	text-align: center;
}

.sr-modal-body {
	min-height: 300px;
	padding-top: 0;
}

.sr-log-container {
	padding: 10px 20px;
}

.sr-details-container {
	@extend .sr-log-container;
}

.sr-detail-text {
	margin-top: 10px;
}

.sr-details-link {
	@extend .next-arrow;
	@include font-bold;
	background-position: 96% 50%;
	margin: 10px -20px 15px;
	padding: 15px 20px;
	border: 1px solid $color-medium-grey;
	border-width: 1px 0;

	&:hover {
		background-color: mix($color-light-grey, #ffffff, 50%);
	}
}

.sr-log-input-container {
	position: relative;
	margin-top: 10px;
}

.sr-log-attachment {
	margin-top: 10px;
}

.sr-log-input {
	height: 100px;
}

.sr-answers__item {
	margin-top: 10px;
	word-wrap: break-word;
}

.change-request-modal-body {
	@extend .sr-modal-body;
}

.change-request-details-container {
	@extend .sr-details-container;
	padding-top: 15px;
	padding-bottom: 15px;
}

.change-request__title {
	@extend .change-request-details-container;
	line-height: 28px;
	border-bottom: 1px solid $color-medium-grey;
}

.change-details__item:first-child {
	margin-top: 5px;
}

.change-details__item + .change-details__item {
	margin-top: 15px;
}

.change-details__item-label {
	@include font-bold;
}
