// See designated purpose of this file on Confluence: http://confluence.bmc.com:8080/x/VANsD

.superbox {
	position: relative;
	text-align: left;
	font-size: 14px;
	line-height: 20px;
}

.superbox__placeholder,
.superbox__inner-placeholder {
	position: absolute;
	left: 10px;
	top: 8px;
	color: $color-grey;
	cursor: pointer;
	pointer-events: none;
}

.superbox_placeholder-style_home .superbox__placeholder {
	color: #999;
}

.superbox__inner-placeholder {
	left: 11px;
	top: 11px;
	right: 11px;

	.superbox_expanded & {
		cursor: text;
	}
	
	.superbox_with-banner & {
		top: 35px;
	}
}

.superbox__textarea {
	background: #ffffff;
	outline: none;

	// @mentions leftovers
	b {
		font-weight: normal;
	}
}

.superbox__text-suggestion {
  @include font-bold;
}

.superbox_collapsed .superbox__textarea {
	height: 36px;
	padding-top: 12px;
	padding-left: 10px;
}

.superbox_expanded .superbox__textarea {
	cursor: auto;
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding: 10px;
	min-height: 80px;
	height: auto;
	word-wrap: break-word;

	&:focus + .superbox__toolbar {
		border-color: #d9d9d9 #999 #999 #999;
	}
}

.superbox_with-banner .superbox__textarea {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.superbox__location-indicator {
	background: #fff;
	border: 1px solid $color-medium-grey;
	border-width: 0 1px;
	padding: 0 20px 10px;
	position: relative;

	.i-post-location-indicator {
		vertical-align: middle;
		margin-right: 3px;
	}

	.dropdown-menu {
		width: auto;
		left: 20px;
		margin-top: -5px;
	}
}

.superbox__location-indicator-text {
	@include font-light;
	color: $color-dark-grey;
	font-size: 12px;
	cursor: pointer;
}

.superbox_collapsed .superbox__location-indicator {
	display: none;
}

.superbox__toolbar {
	@include transition(all .2s);
	background: $color-light-grey;
	border: 1px solid $color-medium-grey;
	border-bottom-left-radius: 2px;
	height: 32px;
	overflow: hidden;
}

.superbox_collapsed .superbox__toolbar {
	display: none;
}

.superbox__toolbar-button {
	color: $color-almost-black;
	float: left;
	min-width: 43px;
	height: 100%;
	padding: 0 12px;
	position: relative;
	text-align: center;
	line-height: 30px;

	.i {
		vertical-align: -3px;
	}
}

.superbox__toolbar-button_active {
	background: $bmc-mid-orange;
	color: #ffffff;
}

.superbox__toolbar-button_disabled {
	cursor: auto;
}

.superbox__toolbar-button-label {
	font-size: 10px;
	margin-right: 3px;
	vertical-align: 1px;
}

.superbox-toolbar-button__disabled-overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #ffffff;
	opacity: 0.75;
}

.superbox__post-button,
.superbox__cancel-button {
	float: right;
	height: 30px;
	line-height: 1;
	border-radius: 0;
	padding-left: 15px;
	padding-right: 15px;
	min-width: 112px;
    min-height: 0;
}

.superbox__post-button {
	color: #fff;
	background: $bmc-mid-orange;
}

.superbox__cancel-button {
	border: solid $color-medium-grey;
	border-width: 0 1px;
}

.superbox-toolbar-button__file-input {
	@extend .srd-new-attachment__hidden-file-input;
}

.superbox__attachments {
	background: #fff;
	padding-left: 20px;
	border: 1px solid $color-medium-grey;
	border-width: 0 1px;
}

.superbox__attachment {
	float: left;
	width: 120px;
	position: relative;
	margin-bottom: 15px;
}

.superbox-attachment__thumbnail {
	width: 76px;
	height: 76px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 2px;
}

.superbox-attachment__remove {
	position: absolute;
	top: 0;
	left: 85px;
}

.superbox__suggestions {
	position: relative;
}

.superbox-suggestions {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	border: 1px solid $color-grey;
	background: $color-light-grey;
	z-index: 300;
}

.superbox-suggestions__section-header {
	@include font-bold;
	color: rgba(#000, 0.4);
	font-size: 14px;
	line-height: 25px;
	height: 25px;
	background: $color-medium-grey;
	padding-left: 22px;

    .loading-spinner_inline {
		vertical-align: -1px;
		margin-left: 4px;
	}
}

.superbox-suggestions__empty-list-message {
	text-align: center;
	padding: 5px 0;
	color: $color-dark-grey;
}

.superbox-suggestions-item {
	color: #000000;
	font-size: 16px;
	line-height: 41px;
	height: 42px;
	padding-left: 22px;
}

.superbox-suggestions-item + .superbox-suggestions-item {
	border-top: 1px solid $color-grey;
}

.superbox-suggestions-item__symbol {
	color: $color-grey;
}

.superbox-suggestions-item_selected {
	background: $color-grey;

	.superbox-suggestions-item__symbol {
		color: $color-medium-grey;
	}
}

.superbox-global-search-results {
	@extend .superbox-suggestions;

	.superbox-global-search-results-container {
		max-height: 400px;
		overflow-x: auto;
	}

	.superbox-global-search-results__loading-indicator {
		height: 35px;
		line-height: 35px;
		text-align: center;
	}

	.loading-spinner {
		vertical-align: -2px;
		margin-right: 2px;
	}
}

.superbox-global-search-results-item {
	@extend .superbox-suggestions-item;
	height: 60px;
	line-height: 60px;
	padding-left: 16px;
	word-wrap: break-word;
	overflow: hidden;
}

.superbox-global-search-results-item_selected {
	@extend .superbox-suggestions-item_selected;
}

.superbox-global-search-results-item__icon {
	display: inline-block;
	height: 35px;
	text-align: center;
	vertical-align: middle;
	width: 35px;
	span {
		vertical-align: top;
	}

	.i-activity-item-request,
	.i-activity-item-request-needs-attention {
		margin: -10px 0 0 -8px;
	}
}

.superbox-global-search-results-item__profile-thumbnail {
	width: 100%;
	vertical-align: top;
}

.superbox-global-search-results-item__details {
	display: inline-block;
	min-height: 31px;
	max-height: 40px;
	overflow: hidden;
	width: 90%;
	padding-left: 16px;
	line-height: 15px;
	vertical-align: middle;
}

.superbox-global-search-results-item__details:after {
	content: "\02026";
}

.superbox-global-search-results-item__title {
	@include font-bold;
	font-size: 14px;
	line-height: 14px;
	display: inline-block;
	height: 14px;
	width: 95%;
}

.superbox-global-search-results-item__title_rkm {
	@extend .superbox-global-search-results-item__title;
	@include font-regular;
}

.superbox-global-search-results-item__details_description {
	display: inline-block;
	font-size: 12px;
	height: 13px;
	line-height: 12px;
	width: 100%;
}

.superbox__banner {
	@include font-bold;
	font-size: 18px;
	position: relative;
	height: 45px;
	z-index: 10;
	line-height: 45px;
}

.superbox__banner_support-type {
	background: $color-almost-black;
	color: #ffffff;
	text-align: center;

	.i-superbox-appointment-banner,
	.i-superbox-request-banner {
		vertical-align: middle;
	}
}

.superbox__banner_item-submitted {
	@include font-light;
	color: #ffffff;
	background: $bmc-teal;
	padding: 0 30px 0 25px;

	.i-request-submitted {
		vertical-align: -5px;
		margin-right: 14px;
	}
}

.superbox__banner_error {
	background: #ec1c24;
	color: #ffffff;
	padding-left: 15px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: normal;
}

.superbox-banner__right-link {
	font-size: 16px;
	font-weight: normal;
	float: right;
}

.superbox-banner__right-link,
.superbox-banner__right-link:hover {
	color: #ffffff;
	text-decoration: none;
}


// Superbox tutorial

.superbox-tutorial {
	background: rgba($bmc-teal, 0.9);
	color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;

	.superbox-tutorial__magnify {
		background: url(../img/superbox-tutorial-magnify.png) no-repeat;
		width: 360px;
		height: 360px;
		position: absolute;
		left: 30px;
		top: 195px;
	}

	.superbox-tutorial__content {
		margin: 270px 0 0 420px;
		font-size: 36px;
		line-height: 44px;
		width: 535px;
	}

	.superbox-tutorial__header {
		font-size: 44px;
		margin-bottom: 48px;
	}

	.superbox-tutorial__button {
		@include transition(all .2s);
		height: 80px;
		background-color: #008c7e;
		border: 1px solid #fff;
		border-radius: 5px;
		outline: none;
		color: #fff;
		font-size: 30px;
		padding: 0 55px;
		margin-top: 35px;

		&:hover {
			background-color: darken(#008c7e, 10%);
		}
	}
}
