/* This CSS is Used to Highlight HTML Element When Accessibility Mode On */

*:focus {
    outline: none;
}

input:focus,
textarea:focus,
li:focus,
ul:focus,
a:focus,
button:focus,
select:focus,
.accessibilityHighlight,
[ng-keydown]:focus,
[ng-click]:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
.ka-feedback:focus,
.dropdown-content:focus,
input[type="radio"]:focus {
    outline: 2px solid #00a79d !important;
}

.screen_reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#requestCategoryId li:focus,
#articleCategoryId li:focus {
    border: 2px solid #00a79d !important;
    outline: none !important;
}