body.rtl {
	direction: rtl;
	unicode-bidi: embed;
}

.rtl {
	.pull-left {
		float: right !important;
	}

	.pull-right {
		float: left !important;
	}

	.myit-logo__link {
		background: url("../img/myit-logo.png") /* ltr2rtl, background image might need mirorring */ no-repeat right;
	}
	.modules-nav {
		padding-right: 0;
		padding-left: 0;
	}
	.modules-nav__item,
	.modules-nav__item_selected {
		margin-right: 25px;
		margin-left: 0;

		&:first-child {
			margin-right: 0;
		}
	}
	.modules-nav__item-link {
		direction: ltr;
	}
	.modules-nav__item_selected .modules-nav__item-link:after {
		right: 50%;
		left: auto;
		margin-right: -7px;
		margin-left: 0;
	}
	.user-nav__user-link-avatar {
		float: right;
		margin-left: 11px;
		margin-right: 0;
	}
	.user-nav__user-link {
		float: left;
	}
	.i-user-nav-dropdown-arrow,
	.user-nav-dropdown-icon {
		margin-right: 0;
		margin-left: 6px;
	}
	.user-nav-menu {
		float: left;
	}
	.user-nav-menu__item {
		margin-left: 12px;
		margin-right: 0;
	}
	.user-nav-menu__item:last-child {
		margin-left: 0;
	}

	.user-nav-notifications .activity-stream-notifications-badge {
		left: -8px;
		right: auto;
		margin-left: 0;
	}

	.vertical-nav {
		padding-right: 0;
		padding-left: 0;
	}

	.page-toolbar__breadcrumbs {
		float: right;
	}
	.page-toolbar__breadcrumbs .i-breadcrumb-home {
		margin-right: 15px;
		margin-left: 0;
	}
	.tools {
		float: left;
	}
	.toolbar-overlay {
		clear: both;
	}
	.toolbar-overlay__description {
		padding-right: 44px;
		padding-left: 0;
		float: right;
	}
	.toolbar-overlay__controls {
		float: left;
		text-align: left;
	}
	.toolbar-overlay__controls_button {
		text-align: center;
		margin-left: 20px;
		margin-right: 0;
	}
	.loading-spinner .ls-bar {
		right: 50%;
		left: auto;
		margin-right: -1px;
		margin-left: 0;
	}
	.loading-spinner_inline .ls-bar {
		right: 50%;
		left: auto;
		margin-right: -0.5px;
		margin-left: 0;
	}

	.btn .loading-spinner_inline,
	.btn_nofill .loading-spinner_inline,
	.btn_blue .loading-spinner_inline {
		margin-left: 2px;
		margin-right: 0;
	}
	.btn_profile-action .i {
		margin-right: -8px;
		margin-left: 0;
	}
	.btn_profile-action .loading-spinner_inline {
		margin-right: -4px;
		margin-left: 6px;
	}
	.btn .i,
	.btn_nofill .i,
	.btn_blue .i,
	.btn_nofill .i {
		margin-left: 4px;
		margin-right: 0;
	}
	.modal-header__title .i-reservation-confirmation,
	.modal-header__title_centered .i-reservation-confirmation,
	.modal-header__title .i-share,
	.modal-header__title_centered .i-share {
		margin-left: 10px;
		margin-right: 0;
	}
	.dropdown-menu__item,
	.dropdown-menu__item_selected {
		text-align: right;
		direction: ltr;
		padding: 0 16px 0 32px !important;
	}
	.dropdown-menu__item_selected {
		background-position: 2% 50% /* ltr2rtl, background image position might need adjustment */;
	}
	.dropdown-toggle .i-dropdown_big {
		float: left;
	}
	.ie-placeholder.default-input,
	.ie-placeholder.default-input_smaller,
	.ie-placeholder.default-textarea,
	.ie-placeholder.default-textarea_wide,
	.ie-placeholder.default-input_wide,
	.ie-placeholder.location-selector-item__input,
	.ie-placeholder.location-selector-item__select,
	.ie-placeholder.location-selector-item__select_empty,
	.ie-placeholder.search-input {
		margin-right: 1px;
		margin-left: 0;
	}
	.search-input {
		background-position: 95%;
		padding-right: 44px;
		padding-left: 12px;
	}
	.checkbox-list,
	.checkbox-list_medium-size {
		text-align: right;
	}
	.checkbox-list__checkbox {
		margin-left: 16px !important;
		margin-right: 0 !important;
	}
	.form-item-label-container__left {
		float: right;
	}
	.form-item-label-container__right {
		float: left;
	}
	.form-item__content i.glyphicon-calendar,
	.form-item__content i.glyphicon-time {
		left: 11px;
		right: auto;
	}
	.form-item__timepicker {
		text-align: center;
	}
	.form-item__timepicker .form-group {
		text-align: center;
	}
	.error-panel,
	.error-panel_global {
		text-align: center;
	}
	.error-panel_global {
		right: 50%;
		left: auto;
		margin-right: -320px;
		margin-left: 0;
	}
	body.modal-open {
		margin-left: 0;
		margin-right: 0;
	}
	.modal-header__title,
	.modal-header__title_centered {
		margin: 0 0 0 20px;
	}
	.modal-header__title .loading-spinner_inline,
	.modal-header__title_centered .loading-spinner_inline {
		margin-right: 2px;
		margin-left: 0;
	}
	.modal-header__title_centered {
		text-align: center;
	}
	.modal-header__link {
		right: 15px;
		left: auto;
	}
	.modal-header__link .glyphicon-chevron-left {
		float: right;
		margin-left: 6px;
		margin-right: 0;
	}
	.modal-header__link .glyphicon-trash {
		float: right;
		margin-left: 6px;
		margin-right: 0;
	}
	.modal-footer,
	.modal-footer_right-aligned {
		text-align: center;
	}
	.modal-footer_right-aligned {
		text-align: left;
		padding-left: 40px;
		padding-right: 0;
	}
	.modal-footer__btn-container .btn_destructive {
		float: right;
	}
	.btn-header:first-child {
		right: 0;
		left: auto;
	}
	.btn-header:last-child {
		left: 0;
		right: auto;
	}
	.image-upload-block {
		text-align: center;
	}
	.uploading-image-preview .edit-profile__upload-file {
		right: 50%;
		left: auto;
		margin-right: -63px;
		margin-left: 0;
	}
	.uploading-image-description {
		text-align: center;
	}
	.upload-image-button {
		left: 0;
		right: auto;
	}
	.share-profile-selector__header .i-round-x {
		left: 35px;
		right: auto;
	}
	.shared-post-preview .i-document {
		right: 7px;
		left: auto;
	}
	.activity-stream .timeline-toolbar-dropdown {
		right: -10px;
		left: auto;
	}
	.activity-stream-notifications-badge {
		margin-left: -0.25em;
		margin-right: 0;
	}
	.activity-item {
		padding-right: 80px;
		padding-left: 0;
	}
	.activity-item__request-name {
		direction: ltr;
		text-align: right;
	}
	.activity-item__header .i-activity-item-request,
	.approvals-list-all__item-title .i-activity-item-request,
	.activity-item__header .i-activity-item-request-needs-attention,
	.approvals-list-all__item-title .i-activity-item-request-needs-attention {
		right: -70px;
		left: auto;
	}
	.activity-item__type-icon {
		right: -60px;
		left: auto;
	}
	.activity-item_notification .activity-item__type-icon {
		right: -50px;
		left: auto;
	}
	.activity-item-type-icon__appointment-date-text {
		margin: 11px 2px 0 1px;
		text-align: center;
	}
	.activity-item__header-userpic,
	.activity-item__header-applicationpic {
		right: -80px;
		left: auto;
	}
	.activity-item-attachments__staple-icon {
		margin-right: -2px;
		margin-left: 0;
	}
	.activity-item-attachments__more-block {
		text-align: center;
		margin-right: 8px;
		margin-left: 0;
	}
	.activity-item-attachments__attachment + .activity-item-attachments__attachment {
		margin-right: 8px;
		margin-left: 0;
	}
	.activity-item-attachments__attachment + .activity-item-attachments__attachment_expanded {
		margin-right: 35px;
		margin-left: 0;
	}
	.activity-item-attachment__details {
		margin-right: 12px;
		margin-left: 0;
	}
	.activity-item__location-indicator-layout {
		padding-right: 20px;
		padding-left: 0;
	}
	.activity-item__location-indicator-layout .loading-spinner {
		right: 1px;
		left: auto;
	}
	.activity-item__location-indicator .i-post-location-indicator,
	.activity-item__location-indicator .i-post-location-indicator_link {
		right: 0;
		left: auto;
	}
	.activity-item__control-item-counter {
		margin-right: 2px;
		margin-left: 0;
	}
	.activity-item_notification {
		padding: 12px 60px 12px 30px;
	}
	.activity-item_sticky-notification .i-activity-item-sticky-close {
		left: 20px;
		right: auto;
	}
	.activity-item_commented .activity-item__timestamp,
	.activity-item_commented .approvals-list-imminent__item-date,
	.activity-item_commented .approvals-list-all__item-date,
	.activity-item_commented .approval-modal-date {
		margin-right: 5px;
		margin-left: 0;
	}
	.activity-item_comment .activity-item__header-userpic,
	.activity-item_comment .activity-item__header-applicationpic {
		right: -60px;
		left: auto;
	}
	.activity-item_type_approval .activity-item__type-icon {
		right: -62px;
		left: auto;
	}
	.timeline-activity-item {
		margin-right: 82px;
		margin-left: 0;
		padding: 10px 12px;
	}
	.timeline-activity-item .i-timeline-bubble-pointer {
		right: -5px;
		left: auto;
		background: none;
		width: 0;
		top: 0;
		height: 0;
		border: 7px solid;
		border-color: #fff transparent transparent #fff;
	}
	.timeline-activity-item .activity-item__header-userpic,
	.timeline-activity-item .activity-item__header-applicationpic {
		right: -82px;
		left: auto;
	}
	.timeline-activity-item .activity-item__type-icon {
		margin-right: -18px;
		margin-left: 0;
	}
	.timeline-activity-item__the-line {
		right: -18px;
		left: auto;
	}
	.timeline-activity-item__timeline-dot {
		right: -23px;
		left: auto;
	}
	.timeline-activity-item__timeline-time {
		right: -88px;
		left: auto;
		text-align: center;
	}
	.timeline-activity-item__group-title {
		margin-right: -24px;
		margin-left: 0;
		text-align: center;
		right: -18px;
		left: auto;
	}
	.activity-stream__loading-more {
		text-align: center;
	}
	.activity-stream__loading-more .loading-spinner_inline {
		margin-left: 5px;
		margin-right: -25px;
	}
	.modal-header__text,
	.modal-header__text_error {
		padding-right: 18px;
		padding-left: 0;
	}
	.modal-header__text_error .i-login-form-error {
		margin-left: 10px;
		margin-right: 0;
	}
	.modal-activity-stream-notifications__loading-message {
		padding-right: 8px;
		padding-left: 0;
	}
	.superbox {
		text-align: right;
	}
	.superbox__placeholder,
	.superbox__inner-placeholder {
		right: 10px;
		left: auto;
	}
	.superbox_collapsed .superbox__textarea {
		padding-right: 10px;
		padding-left: 0;
	}
	.superbox_expanded .superbox__textarea {
		direction: ltr;
	}
	.superbox__location-indicator .i-post-location-indicator {
		margin-left: 3px;
		margin-right: 0;
	}
	.superbox__location-indicator .dropdown-menu {
		right: 20px;
		left: auto;
	}
	.superbox__toolbar {
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 0;
	}
	.superbox__toolbar-button {
		float: right;
		text-align: center;
	}
	.superbox__toolbar-button-label {
		margin-left: 3px;
		margin-right: 0;
	}
	.superbox-toolbar-button__disabled-overlay {
		right: auto;
		left: 0;
	}
	.superbox__post-button,
	.superbox__cancel-button {
		float: left;
	}
	.superbox__attachments {
		padding-right: 20px;
		padding-left: 0;
	}
	.superbox__attachment {
		float: right;
	}
	.superbox-attachment__remove {
		right: 85px;
		left: auto;
	}
	.superbox-suggestions,
	.superbox-global-search-results {
		right: 0;
		left: auto;
	}
	.superbox-suggestions__section-header {
		padding-right: 22px;
		padding-left: 0;
	}
	.superbox-suggestions__section-header .loading-spinner_inline {
		margin-right: 4px;
		margin-left: 0;
	}
	.superbox-suggestions__empty-list-message {
		text-align: center;
	}
	.superbox-suggestions-item,
	.superbox-global-search-results-item {
		padding-right: 22px;
		padding-left: 0;
	}
	.superbox-global-search-results .superbox-global-search-results__loading-indicator {
		text-align: center;
	}
	.superbox-global-search-results .loading-spinner {
		margin-left: 2px;
		margin-right: 0;
	}
	.superbox-global-search-results-item {
		padding-right: 16px;
		padding-left: 0;
	}
	.superbox-global-search-results-item__icon {
		text-align: center;
	}
	.superbox-global-search-results-item__icon .i-activity-item-request,
	.superbox-global-search-results-item__icon .i-activity-item-request-needs-attention {
		margin: -10px -8px 0 0;
	}
	.superbox-global-search-results-item__details {
		padding-right: 16px;
		padding-left: 0;
	}
	.superbox__banner_support-type {
		text-align: center;
	}
	.superbox__banner_item-submitted {
		padding: 0 25px 0 30px;
	}
	.superbox__banner_item-submitted .i-request-submitted {
		margin-left: 14px;
		margin-right: 0;
	}
	.superbox__banner_error {
		padding-right: 15px;
		padding-left: 0;
	}
	.superbox-banner__right-link {
		float: left;
	}
	.superbox-tutorial .superbox-tutorial__magnify {
		background: url(../img/superbox-tutorial-magnify.png) /* ltr2rtl, background image might need mirorring */ no-repeat right;
		right: 30px;
		left: auto;
	}
	.superbox-tutorial .superbox-tutorial__content {
		margin: 270px 420px 0 0;
	}
	.landing-page_background-1 {
		background-image: url("../img/login/login-cover-1.jpg") /* ltr2rtl, background image might need mirorring */;
	}
	.landing-page_background-2 {
		background-image: url("../img/login/login-cover-2.jpg") /* ltr2rtl, background image might need mirorring */;
	}
	.landing-page_background-3 {
		background-image: url("../img/login/login-cover-3.jpg") /* ltr2rtl, background image might need mirorring */;
	}
	.landing-page_background-4 {
		background-image: url("../img/login/login-cover-4.jpg") /* ltr2rtl, background image might need mirorring */;
	}
	.login-form {
		margin-right: -150px;
		margin-left: 0;
		right: 50%;
		left: auto;
	}
	.login-form__logo {
		background: url("../img/myit-logo.png") /* ltr2rtl, background image might need mirorring */ no-repeat right;
		margin: 2px 3px 25px 0;
	}
	.login-form__input-icon {
		right: 1px;
	}
	.login-form__input-icon ins {
		left: 0;
	}
	.login-form__error {
		padding: 8px 30px 7px 5px;
	}
	.i-login-form-error {
		right: 9px;
		left: auto;
	}
	.login-form__input {
		padding: 0 40px 0 5px;
	}
	.landing-page-intro__item {
		border-left: 1px solid white;
		border-right: 0;
	}
	.landing-page-intro__item:last-child {
		border-left-color: transparent;
		border-right-color: transparent;
	}
	.landing-page-intro__list {
		padding-right: 1.5em;
		padding-left: 0;
	}
	.login-help__info-block-details {
		border-left: 1px solid #afafaf;
		border-right: 0;
	}
	.login-help__info-block_extended,
	.login-help__info-block_extended-img-web {
		padding: 6px 0 6px 75px;
	}
	.login-help__info-block_extended-img-web {
		background-image: url("../img/web_big.png") /* ltr2rtl, background image might need mirorring */;
		background-position: 0% 50%;
	}
	.login-help__info-block-text {
		padding-left: 5px;
		padding-right: 0;
	}
	.connections-list__create-group-button {
		text-align: center;
	}
	.connections-list__scrollable-items {
		margin-left: -20px;
		margin-right: 0;
	}
	.connections-list__section-count {
		margin-right: 5px;
		margin-left: 0;
		display: inline-block;
		vertical-align: middle;
	}
	.connections-list-item {
		padding-right: 55px;
		padding-left: 0;
	}
	.connections-list-item__thumbnail {
		right: 0;
		left: auto;
	}
	.connections-list-item__status {
		left: 5px;
		right: auto;
	}
	.connections-list__server-search-link {
		padding-right: 20px;
		padding-left: 0;
	}
	.connections-list__server-search-link .i-search_link {
		right: 0;
		left: auto;
	}
	.profile {
		float: right;
	}
	.profile__edit-button {
		float: left;
	}
	.profile-info {
		padding: 0 0 28px 28px;
	}
	.profile-info__service-following-details {
		text-align: center;
	}
	.profile-info__status-state {
		padding-right: 25px;
		padding-left: 0;
		margin-left: -5px;
		margin-right: 0;
	}
	.profile-info__status-state .loading-spinner_inline {
		margin-left: 8px;
		margin-right: 0;
	}
	.profile-info__status-icon {
		margin-left: 9px;
		margin-right: 0;
		float: right;
	}
	.profile-status,
	.profile-status_down,
	.profile-status_unknown,
	.profile-status_warning,
	.profile-status_up {
		margin-left: 8px;
		margin-right: 0;
	}
	.profile-picture-placeholder_asset {
		background-image: url(../img/asset-thumbnail-placeholder.png) /* ltr2rtl, background image might need mirorring */;
	}
	.profile-picture-placeholder_group {
		background-image: url(../img/group-thumbnail-placeholder.png) /* ltr2rtl, background image might need mirorring */;
	}
	.profile-picture-placeholder_location {
		background-image: url(../img/location-thumbnail-placeholder.png) /* ltr2rtl, background image might need mirorring */;
	}
	.profile-picture-placeholder_service {
		background-image: url(../img/service-thumbnail-placeholder.png) /* ltr2rtl, background image might need mirorring */;
	}
	.profile-picture-placeholder_user {
		background-image: url(../img/user-thumbnail-placeholder.png) /* ltr2rtl, background image might need mirorring */;
	}
	.profiles-list__disclosure-triangle {
		margin-right: 12px;
		margin-left: 0;
	}
	.profile-info__profiles-list_compact {
		margin-left: -18px;
		margin-right: 0;
	}
	.profile-info__profiles-list_compact .profiles-list__item-layout {
		margin-left: 18px;
		margin-right: 0;
	}
	.profile-info__profiles-list_expanded .profiles-list-item {
		padding-right: 65px;
		padding-left: 0;
	}
	.profile-info__profiles-list_expanded .profiles-list-item__thumbnail {
		right: 0;
		left: auto;
	}
	.profile-info__profiles-list_expanded .profiles-list-item__description {
		padding-right: 18px;
		padding-left: 0;
	}
	.profile-info__profiles-list_expanded .profile-status,
	.profile-info__profiles-list_expanded .profile-status_down,
	.profile-info__profiles-list_expanded .profile-status_unknown,
	.profile-info__profiles-list_expanded .profile-status_warning,
	.profile-info__profiles-list_expanded .profile-status_up {
		margin-left: 2px;
		margin-right: 0;
	}
	.profile-info__profiles-list_expanded .profiles-list-item__status {
		left: 0;
		right: auto;
	}
	.profile-info__admins-list.profile-info__profiles-list_expanded .i-mail_42 {
		left: 0;
		right: auto;
	}
	.profile-info__child-asset-thumbnail {
		float: right;
	}
	.profile-info__child-info {
		padding-right: 10px;
		padding-left: 0;
	}
	.activity-icon {
		float: left;
		border-right: 1px solid #afafaf;
		border-left: 0;
		padding-right: 12px;
		padding-left: 0;
	}
	.profile-activity-stream__loading-spinner {
		right: 2px;
		left: auto;
	}
	.profile-tabs-nav {
		text-align: center;
	}
	.profile-tabs-nav__item_selected:before {
		right: 50%;
		left: auto;
		margin-right: -8px;
		margin-left: 0;
	}
	.profile-info__resource-status {
		padding-right: 20px;
		padding-left: 0;
	}
	.profile-info__resource-status .profile-status,
	.profile-info__resource-status .profile-status_down,
	.profile-info__resource-status .profile-status_unknown,
	.profile-info__resource-status .profile-status_warning,
	.profile-info__resource-status .profile-status_up {
		margin-right: 2px;
		margin-left: 4px;
	}
	.profile-info__resource-info-section {
		text-align: right;
		direction: ltr;
	}
	.profile-status-report-disclosure-triangle {
		left: 12px;
		right: auto;
	}
	.profile-status-report-button + .profile-status-report-button {
		margin-right: 4px;
		margin-left: 0;
	}
	.profile-info-status-report__label {
		margin-left: 12px;
		margin-right: 0;
	}
	.timeline-toolbar {
		padding-right: 20px;
		padding-left: 0;
	}
	.timeline-toolbar__search {
		padding-right: 16px;
		padding-left: 0;
	}
	.timeline-toolbar__search:before {
		right: 16px;
		left: auto;
	}
	.timeline-toolbar__search-input {
		padding: 0 36px 0 0;
		background-position: 93% 50%;
	}
	.timeline-toolbar__actions {
		left: 20px;
		right: auto;
	}
	.timeline-toolbar__action-icon.i-timeline-toolbar-search {
		margin-left: 28px;
		margin-right: 0;
		right: 0;
		left: auto;
	}
	.timeline-toolbar__action-icon.i-timeline-toolbar-filter {
		margin-left: 28px;
		margin-right: 0;
	}
	.timeline-toolbar__clear-text {
		float: left;
		margin-left: 15px;
		margin-right: 0;
	}
	.timeline-toolbar__search_approvals .timeline-toolbar__clear-text {
		margin-left: 15px;
		margin-right: 0;
	}
	.timeline-toolbar-filter {
		float: right;
	}
	.timeline-toolbar-filter__current-icon {
		margin-right: 1px;
		margin-left: 3px;
	}
	.timeline-toolbar-filter__dropdown-arrow {
		margin-right: 2px;
		margin-left: 0;
	}
	.timeline-toolbar-dropdown {
		right: 10px;
		left: auto;
	}
	.timeline-toolbar-dropdown__item-icon {
		margin-left: 3px;
		margin-right: 0;
	}
	.timeline-toolbar-dropdown_add-item-menu {
		right: auto;
		left: -10px;
	}
	.edit-profile__title {
		text-align: center;
	}
	.edit-profile__footer {
		text-align: left;
	}
	.edit-profile__picture-container {
		float: right;
		margin-right: 50%;
		margin-left: -160px;
		right: -160px;
		left: auto;
		text-align: center;
	}
	.edit-profile__picture-change {
		margin-right: 20px;
		margin-left: 0;
	}
	.edit-profile__info-subtype {
		margin-left: 10px;
		margin-right: 0;
	}
	.edit-profile__info-value {
		margin-left: 10px;
		margin-right: 0;
	}
	.edit-profile__setting-button {
		text-align: center;
	}
	.edit-profile__upload-file {
		right: 0;
		left: auto;
	}
	.group-create__member {
		float: right;
		margin-left: 15px;
		margin-right: 0;
	}
	.group-member-selector-item__thumbnail {
		margin: -1px 12px 0 10px;
	}
	.group-member-selector-item__checkmark {
		left: 10px;
		right: auto;
	}
	.group-member-selector__loading-message .loading-spinner_inline {
		margin-left: 2px;
		margin-right: 0;
	}
	.profile-image-crop__image {
		right: 0;
		left: auto;
	}
	.entity-status-dropdown-filter__list {
		right: auto;
		left: -10px;
	}
	.entity-status-dropdown-filter-item__checkbox {
		left: 20px;
		right: auto;
	}
	.location-expanded,
	.floormap-view {
		left: auto;
		right: 0;
	}
	.floormap__wrapper {
		right: auto;
		left: 0;
	}
	.tools_new-resource-tool {
		float: left;
	}
	.location-map__minimize {
		left: 15px;
		right: auto;
	}
	.location-map__tools {
		float: left;
	}
	.location-map-tools__reserve-location {
		float: left;
		margin-right: 10px;
		margin-left: 0;
	}
	.location-map-tools__type-selector {
		float: right;
	}
	.location-map-tools-type-selector__option {
		float: right;
	}
	.location-map-tools-type-selector__option:first-child:after {
		left: 0;
		right: auto;
	}
	.location-map__marker-home-body {
		padding-right: 3px;
		padding-left: 0;
	}
	.location-map__marker-home-body:after {
		right: 32%;
		left: auto;
	}
	.floormap__marker-simple-body:after {
		right: 8px;
		left: auto;
	}
	.location-map__info-window_location-data {
		border-left: 1px solid #afafaf;
		border-right: 0;
		float: right;
	}
	.location-map__info-window_location-link {
		float: left;
	}
	.location-map__info-window_location-image {
		text-align: center;
		float: right;
	}
	.location-map__info-window_location-image img {
		right: auto;
		left: 0;
	}
	.location-map__info-window_description {
		right: 55px;
		left: auto;
	}
	.location-map__map-search,
	.floormap__map-search {
		right: -292px;
		left: auto;
		border-width: 1px 0 0 1px;
	}
	.floormap__map-search.disabled {
		right: -340px;
		left: auto;
	}
	.location-map__map-search.active,
	.floormap__map-search.active {
		right: 0;
		left: auto;
	}
	.location-map__control-buttons,
	.floormap__control-buttons {
		left: -45px;
		right: auto;
		border-right: none;
		border-left: 0;
		box-shadow: -2px 0 3px rgba(0, 0, 0, 0.3);
	}
	.location-map__dropout-button[data-icon="search"],
	.floormap__dropout-button[data-icon="search"] {
		background: url("../img/map_search.png") /* ltr2rtl, background image might need mirorring */ no-repeat center #fff;
	}
	.location-map__dropout-button[data-icon="search"].active,
	.floormap__dropout-button[data-icon="search"].active {
		background: url("../img/map_dropout.png") /* ltr2rtl, background image might need mirorring */ no-repeat center #fff;
	}
	.location-map__dropout-button[data-icon="bookmarks"],
	.floormap__dropout-button[data-icon="bookmarks"] {
		background: url("../img/map_bookmarks.png") /* ltr2rtl, background image might need mirorring */ no-repeat center #fff;
	}
	.floormap__search-filters input,
	.floormap__search-filters .ie-placeholder {
		background: url("../img/search_grey_big.png") /* ltr2rtl, background image might need mirorring */ no-repeat 12px /* ltr2rtl, background image position might need adjustment */ center;
		padding-right: 42px;
		padding-left: 10px;
	}
	.location-map__search-results.expanded {
		right: auto;
		left: 0;
	}
	.floormap__search-results,
	.floormap__search-results.expanded {
		right: auto;
		left: 0;
	}
	.floormap__search-result-container {
		padding-right: 20px;
		padding-left: 0;
	}
	.location-map__search-result-item_location-descr,
	.floormap__search-result-item_asset-descr {
		padding-right: 41px;
		padding-left: 0;
		right: auto;
		left: 0;
	}
	.floormap__search-result-item_asset-descr {
		padding-right: 35px;
		padding-left: 0;
	}
	.floormap__search-result-item_asset-type-name {
		float: right;
		padding-right: 4px;
		padding-left: 0;
	}
	.location-map__search-result-item_location-name {
		float: right;
	}
	.floormap__search-result-item_asset-status-icon {
		float: right;
	}
	.location-map__search-result-item_location-distance {
		background: url("../img/location_small.png") /* ltr2rtl, background image might need mirorring */ no-repeat right;
		float: left;
		padding-right: 15px;
		padding-left: 0;
	}
	.location-map__search-result-item_location-address {
		clear: both;
	}
	.floormap-switcher__dropdown-trigger,
	.floormap-switcher__dropdown-trigger:focus,
	.floormap-switcher__dropdown-trigger:hover,
	.floormap-switcher__dropdown-trigger:active,
	.floormap__asset-type-switcher_dropdown-trigger,
	.floormap__asset-type-switcher_dropdown-trigger:focus,
	.floormap__asset-type-switcher_dropdown-trigger:hover,
	.floormap__asset-type-switcher_dropdown-trigger:active {
		float: none;
	}
	.floormap-switcher__dropdown-menu {
		text-align: center;
		left: 0;
	}
	ul.floormap__asset-type-switcher_dropdown-menu li.active {
		background-position: 0 50%;
	}
	ul.floormap__asset-type-switcher_dropdown-menu li.active:first-child {
		background-position: 0 50%;
	}
	ul.floormap__asset-type-switcher_dropdown-menu li:first-child {
		background-position: 0 50%;
	}
	.floormap__asset-type-switcher {
		left: 46px;
		right: auto;
	}
	.floormap__asset-type-switcher_dropdown-container {
		text-align: right;
	}
	.floormap__asset-type-switcher_dropdown-trigger {
		text-align: right;
	}
	span.floormap__asset-infowindow_asset-name {
		float: right;
	}
	span.floormap__asset-infowindow_asset-availability {
		float: right;
	}
	.floormap__asset-infowindow_asset-icon {
		margin-left: 14px;
		margin-right: 0;
	}
	.floormap__asset-infowindow_asset-icon span {
		left: auto;
		right: -8px;
	}
	.floormap__asset-infowindow_asset-link {
		left: 8px;
		right: auto;
	}
	.floormap__asset-infowindow_container {
		right: auto;
		left: 0;
	}
	.location-embedded .floormap-embedded-content__no-floormaps-message,
	.floormap-embedded .floormap-embedded-content__no-floormaps-message,
	.floormap-embedded-content .floormap-embedded-content__no-floormaps-message {
		text-align: center;
	}
	.floormap__search-result_no-matches {
		text-align: center;
	}
	.location-selector__search-input,
	.group-member-selector-search__input {
		background-position: 100% 50%;
		padding-right: 28px;
		padding-left: 0;
	}
	.location-map__location-search-form .location-selector__results,
	.location-map__location-search-form .group-member-selector__results {
		right: auto;
		left: 0;
	}
	.location-selector-item_selected,
	.room-selector-item_selected {
		background-position: 98% 15px /* ltr2rtl, background image position might need adjustment */;
	}
	.location-selector-item_selected-with-floor {
		background-position: 98% 15px /* ltr2rtl, background image position might need adjustment */;
	}
	.location-selector-item__image,
	.user-bookmarks-group_asset-thumbnail,
	.room-selector-item__image {
		float: right;
	}
	.location-selector-item__description,
	.location-selector-item__description_custom,
	.user-bookmarks-group_asset-description,
	.room-selector-item__description {
		margin-right: 40px;
		margin-left: 0;
		padding: 6px 12px 0 28px;
	}
	.location-selector-item__name,
	.user-bookmarks-group_asset-name,
	.room-selector-item__name,
	.location-selector-item__address,
	.user-bookmarks-group_asset-availability {
		padding-left: 25px;
		padding-right: 0;
	}
	.location-selector-item__miles {
		float: left;
	}
	.location-selector-item__miles .i-location_small {
		margin-left: 8px;
		margin-right: 0;
	}
	.location-selector-item_no-matches,
	.location-selector-item_notification {
		text-align: center;
	}
	.location-selector-floor-item {
		padding: 11px 18px 0 28px;
	}
	.location-selector-floor-item_selected {
		padding: 11px 18px 0 28px;
		background-position: 2% 15px /* ltr2rtl, background image position might need adjustment */;
	}
	.user-bookmarks-group_floormap {
		padding: 10px 20px 10px 0;
	}
	.user-bookmarks-group_asset-availability {
		padding-right: 15px;
		padding-left: 0;
	}
	.user-bookmarks-group_asset-availability-icon {
		right: 0;
		left: auto;
	}
	.bookmarks-list__star-icon {
		left: 13px;
		right: auto;
	}
	.i-add_resource_gray.centered {
		right: 0;
		left: auto;
	}
	.new-resource-marker {
		text-align: center;
	}
	.new-resource-marker:after {
		right: auto;
		left: 0;
	}
	.assets-cluster {
		float: right;
	}
	.new-resource-form_item-dropdown {
		text-align: right;
	}
	.asset-status-circle {
		margin: .3em 0 0 10px;
		float: right;
	}
	.resource-parent-clear {
		left: 35px;
		right: auto;
		background: url("../img/discard.png") /* ltr2rtl, background image might need mirorring */ 0 0 /* ltr2rtl, background image position might need adjustment */ no-repeat;
	}
	.resource-parent-clear:hover {
		background-position: 100% -11px;
	}
	.floormap-embedded-link {
		left: 10px;
		right: auto;
	}
	.new-resource-form-settings {
		right: auto;
		left: 0;
	}
	.resource-status-filter {
		text-align: center;
	}
	.reserve-form h4 {
		padding-right: 25px;
		padding-left: 0;
	}
	.room-selector__no-results {
		text-align: center;
	}
	.reservation-confirmation__date-time {
		text-align: center;
	}
	.reservation-confirmation__details {
		text-align: center;
	}
	.reservation-confirmation__location {
		background-position: 100% 50%;
		padding-right: 20px;
		padding-left: 0;
	}
	.reservation-confirmation__note {
		text-align: right;
	}
	.support-menu__item-link,
	.support-menu__item-link_selected,
	.support-menu__item-link:hover {
		background-position: 15px 50% /* ltr2rtl, background image position might need adjustment */;
	}
	.support-menu__item-link-icon {
		float: right;
		margin: 8px 0 0 10px;
	}
	.support-search-input {
		margin-right: 15px;
		margin-left: 0;
	}
	.support-search-input.ie-placeholder {
		margin-right: 16px;
		margin-left: 0;
	}
	.search-remove-btn {
		left: 20px;
		right: auto;
	}
	.support-view-activity-panel {
		background: #fff url("../img/appointments_and_requests.png") /* ltr2rtl, background image might need mirorring */ no-repeat center 30px;
		text-align: center;
	}
	.support-request {
		background-position: 2% 50% /* ltr2rtl, background image position might need adjustment */;
	}
	.support-request__description,
	.support-request__title {
		float: left;
		padding-left: 25px;
		padding-right: 0;
		text-align: right;
		direction: ltr;
	}
	.support-request__icon {
		float: right;
	}
	.support-view-all {
		text-align: left;
	}
	.support-modal__rkm-content-container {
		padding: 20px 20px 20px 0;
	}
	.support-modal__srd-header-icon {
		float: right;
	}
	.support-modal__srd-header-title {
		float: left;
		padding-right: 10px;
		padding-left: 0;
	}
	.support-modal__srd-header-description {
		float: left;
		padding-right: 10px;
		padding-left: 0;
	}
	.support-modal__srd-header-instruction {
		clear: both;
	}
	.srd-question .ie-placeholder {
		margin-right: 1px;
		margin-left: 0;
	}
	.srd-question-label-container__left {
		float: right;
	}
	.srd-question-label-container__right {
		float: left;
	}
	.srd-question-radio-button__label,
	.srd-question-checkbox__label {
		padding-right: 20px;
		padding-left: 0;
	}
	.srd-question-radio-button__input,
	.srd-question-checkbox__input {
		right: 0;
		left: auto;
	}
	.srd-question-label__range-hint {
		padding-right: 20px;
		padding-left: 0;
	}
	.srd-question-datetimepicker__icon {
		right: 95%;
		left: auto;
	}
	.srd-question-datetimepicker__row {
		padding-right: 20px;
		padding-left: 0;
	}
	.srd-question-datetimepicker__label-container {
		float: right;
	}
	.srd-question-datetimepicker__input-container {
		float: left;
	}
	.srd-question-instruction {
		clear: both;
		text-align: right;
		direction: ltr;
	}
	.srd-attachment__icon {
		float: right;
	}
	.srd-attachment__name {
		float: right;
		padding-right: 5px;
		padding-left: 0;
	}
	.srd-attachment__button {
		float: left;
	}
	.srd-new-attachment__button-container {
		float: left;
	}
	.srd-new-attachment-button {
		float: left;
	}
	.srd-new-attachment__hidden-file-input,
	.superbox-toolbar-button__file-input {
		left: 0;
		right: auto;
	}
	.loading-spinner_obo {
		margin: 0 5px -3px 0;
	}
	.srd-question-on-behalf__actions {
		margin-right: 10px;
		margin-left: 0;
	}
	.srd-question-on-behalf__requester-info {
		float: left;
	}
	.srd-question-on-behalf__buttons-wrapper {
		padding-right: 15px;
		padding-left: 0;
	}
	.srd-question-on-behalf__button {
		text-align: right;
	}
	.srd-question-on-behalf__name {
		margin-left: 10px;
		margin-right: 0;
	}
	.srd-question-on-behalf__label {
		text-align: left;
	}
	.srd-question-on-behalf__fields {
		float: left;
	}
	.srd-question-on-behalf-search__dropdown .loading-spinner {
		margin-right: -4px;
		margin-left: 2px;
	}
	.srd-question-on-behalf-search__message {
		padding: 4px 12px 4px 10px;
	}
	.srd-question-on-behalf-search__result-item {
		padding: 2px 13px 2px 10px;
	}
	.support-back-link__icon {
		margin-left: 3px;
		margin-right: 0;
	}
	.support-aif-modal__srd-header-title {
		float: left;
		padding-right: 10px;
		padding-left: 0;
	}
	.support-aif-modal__srd-header-description {
		float: left;
		padding-right: 10px;
		padding-left: 0;
	}
	.sr-modal-header__link_cancel {
		right: auto;
		left: 20px;
	}
	.sr-modal-header__title {
		text-align: center;
	}
	.sr-details-link {
		background-position: 4% 50% /* ltr2rtl, background image position might need adjustment */;
	}
	.settings-map {
		right: 314px;
		left: 0;
	}
	.settings-info__section {
		padding: 16px 0 26px 5px;
	}
	.settings-info__chage-location-link {
		float: left;
	}
	.settings-info__checkbox {
		margin-left: 10px !important;
		margin-right: 0 !important;
	}
	.settings-info__section .checkbox-list__container {
		margin: 14px 15px 0 0;
	}
	.settings-map__no-location-overlay {
		right: 0;
		left: auto;
	}
	.appointment-modal__details .btn,
	.appointment-modal__details .btn_nofill,
	.appointment-modal__details .btn_blue,
	.appointment-modal__details .btn_nofill {
		text-align: right;
		direction: ltr;
	}
	.appointment-modal__only-free-timeslots-checkbox {
		margin-left: 8px !important;
		margin-right: 0 !important;
	}
	.appointment-time-selector {
		text-align: center;
	}
	.appointment-day-slot-selector__navigator-back,
	.appointment-day-slot-selector__navigator-back_disabled {
		right: 0;
		left: auto;
	}
	.appointment-day-slot-selector__navigator-forward,
	.appointment-day-slot-selector__navigator-forward_disabled {
		left: 0;
		right: auto;
	}
	.appointment-day-slot-selector__day,
	.appointment-day-slot-selector__day_2-in-column,
	.appointment-day-slot-selector__day_3-in-column,
	.appointment-day-slot-selector__day_4-in-column,
	.appointment-day-slot-selector__day_5-in-column {
		float: right;
	}
	.appointment-day-slot {
		background-image: url("../img/appointment-day-slot-bg.png") /* ltr2rtl, background image might need mirorring */;
	}
	.appointment-modal__change-selected-day-slot-label {
		float: left;
	}
	.appointment-time-slot,
	.appointment-time-slot_selected {
		text-align: right;
		padding-right: 20px;
		padding-left: 0;
	}
	.appointment-confirmation__date-time {
		text-align: center;
	}
	.appointment-confirmation__details {
		text-align: center;
	}
	.appointment-confirmation__note {
		text-align: right;
	}
	.appzone-navigation-container {
		float: right;
	}
	.appzone-dashboard .top-separator {
		clear: both;
	}
	.appzone-carousel ol.items:after {
		clear: both;
	}
	.appzone-carousel ol.items > li {
		float: right;
	}
	.appzone-carousel ol.items > li:first-child {
		margin-right: 50%;
		margin-left: 0;
	}
	.appzone-carousel .selectors {
		right: 0;
		left: auto;
		text-align: center;
	}
	.appzone-carousel .arrows a.previous {
		left: 100%;
		right: auto;
		background-image: url("../img/appzone/banner_arr_left.png") /* ltr2rtl, background image might need mirorring */;
	}
	.appzone-carousel .arrows a.next {
		right: 100%;
		left: auto;
		background-image: url("../img/appzone/banner_arr_right.png") /* ltr2rtl, background image might need mirorring */;
	}
	.appzone-products-header__title {
		float: right;
		clear: both;
	}
	.appzone-products-header__more {
		float: left;
		margin-left: 18px;
		margin-right: 0;
	}
	.appzone-products-header__more:after {
		margin-right: 3px;
		margin-left: 0;
	}
	.appzone-products-header__filters {
		text-align: left;
	}
	.appzone-products-header__search-box {
		text-align: right;
		margin: 0 15px 0 0;
	}
	.appzone-products-header__search-box .search-remove-btn {
		left: 13px;
		right: auto;
	}
	.appzone-products-header__category-filter {
		margin: 0 10px 0 0;
		text-align: right;
	}
	.appzone-products-header__platform-filter {
		margin: 0 10px 0 0;
		text-align: right;
	}
	.appzone-products-header__type-filter {
		margin: 0 10px 0 0;
		text-align: right;
	}
	.appzone-products-header__order {
		margin: -4px 10px -6px 0;
		float: left;
	}
	.appzone-dropdown .dropdown-toggle {
		text-align: left;
		padding-left: 22px;
		padding-right: 0;
	}
	.appzone-dropdown .dropdown-menu {
		right: auto;
		left: 0;
	}
	.appzone-dropdown__icon {
		left: 6px;
		right: auto;
	}
	.appzone-no-results {
		background: url("../img/appzone/loupe.png") /* ltr2rtl, background image might need mirorring */ no-repeat scroll 50% 0 /* ltr2rtl, background image position might need adjustment */ transparent;
		text-align: center;
	}
	.appzone-products-list {
		clear: both;
	}
	.appzone-product-item img {
		margin-left: -39px;
		margin-right: 0;
	}
	.appzone-product-item__name {
		padding-right: 50px;
		padding-left: 40px;
		margin-left: -30px;
		margin-right: 0;
	}
	.appzone-product-item__status {
		left: 0;
		right: auto;
	}
	.appzone-product-item__status.pending_approval {
		background: url(../img/appzone/pending-icon.png) /* ltr2rtl, background image might need mirorring */ no-repeat top center;
	}
	.appzone-product-item__status.ready_to_install,
	.appzone-product-item__status.installed {
		background: url(../img/appzone/installed-icon.png) /* ltr2rtl, background image might need mirorring */ no-repeat top center;
	}
	ol.appzone-product-thumbs {
		padding: 0 5px 0 0;
		margin: 0 -5px 0 -16px;
	}
	ol.appzone-product-thumbs:after {
		clear: both;
	}
	.appzone-loading-more {
		text-align: center;
	}
	.appzone-loading-more .loading-spinner_inline {
		right: 50%;
		left: auto;
		margin-right: -7px;
		margin-left: 0;
	}
	.appzone-product-thumb {
		margin: 0 0 15px 12px;
	}
	.appzone-page-selector {
		float: left;
	}
	.appzone-page-selector:after {
		clear: both;
	}
	.appzone-page-selector a.next,
	.appzone-page-selector a.previous {
		background-image: url("../img/appzone/ui-icons_c4c4c4_256x240.png") /* ltr2rtl, background image might need mirorring */;
		text-align: right;
	}
	.appzone-page-selector a.next:hover,
	.appzone-page-selector a.previous:hover {
		background-image: url("../img/appzone/ui-icons_333333_256x240.png") /* ltr2rtl, background image might need mirorring */;
	}
	.appzone-page-selector a.previous {
		background-position: -96px -17px /* ltr2rtl, background image position might need adjustment */;
	}
	.appzone-page-selector a.next {
		background-position: -32px -17px /* ltr2rtl, background image position might need adjustment */;
	}
	.appzone-slideshow-stage ol.appzone-slideshow > li {
		margin-right: 0;
		margin-left: 0;
	}
	.appzone-slideshow-stage ol.appzone-slideshow > li:after {
		left: 0;
		right: auto;
	}
	.appzone-slideshow-stage .slider {
		right: 0;
		left: auto;
	}
	.appzone-profile-container .page-toolbar__breadcrumbs {
		float: none;
	}
	.appzone-profile-right-col {
		border-right: 1px solid #d9d9d9;
		border-left: 0;
	}
	.appzone-profile-left-col__inner {
		padding: 20px 0 0 20px;
	}
	.appzone-launch-btn__icon,
	.appzone-install-btn__icon,
	.appzone-request-btn__icon {
		margin-left: 10px;
		margin-right: 0;
		background: url("../img/appzone/launch_16.png") /* ltr2rtl, background image might need mirorring */ no-repeat right;
	}
	.appzone-install-btn__icon {
		background: url("../img/appzone/install_16.png") /* ltr2rtl, background image might need mirorring */ no-repeat right;
	}
	.appzone-request-btn__icon {
		background: url("../img/appzone/request_16.png") /* ltr2rtl, background image might need mirorring */ no-repeat right;
	}
	.appzone-profile-btn-container .btn .loading-spinner_inline,
	.appzone-profile-btn-container .btn_nofill .loading-spinner_inline,
	.appzone-profile-btn-container .btn_blue .loading-spinner_inline {
		margin-right: -25px;
		margin-left: 6px;
	}
	.appzone-profile-tabs__button-container {
		text-align: center;
	}
	.appzone-profile-tabs__button-lists-item__selected:after {
		right: 50%;
		left: auto;
		margin-right: -7px;
		margin-left: 0;
	}
	.appzone-profile-product-content {
		padding: 26px 22px 0 0;
	}
	.appzone-profile-product-timeline {
		padding-left: 20px;
		padding-right: 0;
	}
	.appzone-modal__header-product-title {
		float: left;
		padding-right: 10px;
		padding-left: 0;
	}
	.appzone-rating-input {
		text-align: center;
	}
	.appzone-rating-input .appzone-product-review-input-label {
		margin-left: 10px;
		margin-right: 0;
	}
	.appzone-rating-input.form-submitted .appzone-rating-bar.ng-invalid .stars .star:after {
		right: 3px;
		left: auto;
	}
	.appzone-srd-request-modal-header__back-link {
		padding-left: 15px;
		padding-right: 0;
	}
	.appzone-srd-request__bundle_steps {
		text-align: left;
	}
	.appzone-srd-request__product-thumb {
		float: right;
	}
	.appzone-srd-request__product-info {
		float: right;
		padding-right: 15px;
		padding-left: 0;
	}
	.appzone-srd-request__product-info .support-modal__srd-header-title,
	.appzone-srd-request__product-info .support-modal__srd-header-description {
		float: none;
	}
	.appzone-product-thumb__title {
		direction: ltr;
	}
	.approvals-btn-group-container {
		text-align: center;
	}
	.approvals-list-imminent__item-priority,
	.approvals-list-all__item-priority {
		padding-right: 10px;
		padding-left: 0;
	}
	.approvals-list-imminent__item-priority-title,
	.approvals-list-all__item-priority-title,
	.approval-modal-priority-title {
		padding-right: 5px;
		padding-left: 0;
	}
	.approvals-list-all__item {
		padding-right: 56px;
		padding-left: 0;
	}
	.approvals-list-all__item .activity-item__type-icon {
		right: 10px;
		left: auto;
	}
	.approvals-list-all__item.activity-item {
		padding-right: 12px;
		padding-left: 0;
	}
	.approvals-list-all__item.activity-item .activity-item__type-icon {
		right: -55px;
		left: auto;
	}
	.approvals-list-all__item-priority {
		padding-right: 5px;
		padding-left: 0;
	}
	.approval-modal-footer {
		padding-left: 40px;
		padding-right: 0;
		text-align: left;
	}
	.approval-modal-icon {
		float: right;
	}
	.approval-modal-info {
		float: right;
	}
	.approval-modal-priority {
		float: right;
	}
	.approval-modal-btn-container {
		float: right;
	}
	.approval-modal-menu__item {
		background-position: 3.5% 50% /* ltr2rtl, background image position might need adjustment */;
	}
	.approval-modal-btn {
		margin-left: 5px;
		margin-right: 0;
	}
	.approval-modal-approvers-list__item-img,
	.approval-modal-submitted-img {
		float: right;
	}
	.approval-modal-approvers-list__item-name,
	.approval-modal-approvers-list__item-date {
		float: left;
		padding-right: 15px;
		padding-left: 0;
	}
	.approval-modal-submitted-info {
		float: left;
	}
	.activity-log__attachment {
		padding-right: 50px;
		padding-left: 0;
	}
	.activity-log__attachment .activity-log__attachment-icon {
		float: right;
		margin-right: -50px;
		margin-left: 0;
	}
	.catalog-search__field {
		background-position: 98% 50%;
	}
	.catalog-search__field:focus {
		background-position: 105% 50% /* ltr2rtl, background image position might need adjustment */;
	}
	//.catalog-search__dropdown {
	//	right: auto;
	//	left: 0;
	//}
	.catalog-search__dropdown-caption .loading-spinner {
		margin: 0 0 -2px 5px;
	}
	.catalog-section__item-count {
		margin-right: 5px;
		margin-left: 0;
	}
	.catalog-section__all-link {
		float: left;

    	.glyphicon-chevron-right {
			display: none;
		}
	}
	.catalog-section__name {
		direction: ltr;
	}
	.catalog-section__items {
		margin-right: -0.4%;
		margin-left: 0;
	}
	.catalog-item_display_catalog {
		margin-right: 0.4%;
		margin-left: 0;
		padding: 10px 80px 8px 10px;
	}
	.catalog-item_type_quick-link.catalog-item_display_catalog {
		padding-right: 25px;
	}	
	.catalog-item_display_catalog .catalog-item__icon-wrapper {
		right: 10px;
		left: auto;
	}
	.catalog-item_display_catalog .catalog-item__name:after {
		background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, white 100%) /* ltr2rtl, background image might need mirorring */;
		left: 0;
		right: auto;
	}
	.catalog-item_display_catalog:hover .catalog-item__name:after {
		background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, #f2f2f2 100%) /* ltr2rtl, background image might need mirorring */;
	}
	.catalog-item_display_catalog .catalog-item__text-wrapper:after {
		background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, white 100%) /* ltr2rtl, background image might need mirorring */;
		left: 0;
		right: auto;
	}
	.catalog-item_display_catalog:hover .catalog-item__text-wrapper:after {
		background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, #f2f2f2 100%) /* ltr2rtl, background image might need mirorring */;
	}
	.catalog-item_display_catalog .catalog-item__service-status {
		text-align: left;
		left: 28px;
		right: auto;
	}
	.catalog-item_display_catalog .catalog-item__service-status .service-status-icon,
	.catalog-item_display_catalog .catalog-item__service-status .service-status-icon_up,
	.catalog-item_display_catalog .catalog-item__service-status .service-status-icon_down,
	.catalog-item_display_catalog .catalog-item__service-status .service-status-icon_warning {
		left: -21px;
		right: auto;
	}
	.catalog-item_display_catalog .catalog-item__followed-icon {
		left: 2px;
		right: auto;
	}
	.catalog-item_display_search .catalog-item__name {
		padding-left: 20px;
		padding-right: 0;
	}
	.catalog-item_display_search .catalog-item__rating {
		text-align: left;
	}
	.catalog-item__price {
		float: left;
	}
	.catalog-item_subscribed .catalog-item__name {
		margin-right: 0;
		margin-left: 10px;
	}
	.catalog-banners-section__button_prev {
		left: 100%;
		right: auto;
		margin-left: 10px;
		margin-right: 0;
	}
	.catalog-banners-section__button_next {
		right: 100%;
		left: auto;
		margin-right: 10px;
		margin-left: 0;
	}
	.catalog-banners-list {
		margin: 0 -12px 0 0;
	}
	.catalog-banner {
		padding-right: 12px;
		padding-left: 0;
	}
	.catalog-section__toolbar {
		float: left;
	}
	.catalog-section-toolbar-menu {
		margin-left: 40px;
		margin-right: 0;
	}
	.catalog-section-toolbar-menu__dropdown-arrow {
		margin-right: 4px;
		margin-left: 0;
	}
	.catalog-section-toolbar-menu__dropdown .entity-status-dropdown-filter-item {
		padding-right: 15px;
		padding-left: 35px;
	}
	.catalog-section-toolbar-menu__dropdown .entity-status-dropdown-filter-item__checkbox {
		left: 10px;
		right: auto;
	}
	.clm-profile-configuration-details__label {
		padding-left: 4px !important;
		padding-right: 0 !important;
	}
	.catalog-footer__item:last-child {
		border-right: 10px solid #fff;
	}
	.catalog-footer__item:first-child {
		border-right: none;
	}
	.catalog-footer__item-icon {
		float: right;
		margin-left: 25px;
		margin-right: 0;
	}
}