.catalog-item__icon {
float :none !important;
}
.support-request__title-search {
  padding-right: 1.125rem!important;	
}
.support-request__description, .support-request__title, .support-request__rkm-title {
  padding-right: 1.125rem!important ;
 }
.support-request__description-content {
  padding-right: 0px;
}
.TileImageSection {
  margin-left: 15px!important;
  margin-right: 5px!important;
  float: right
}

.support-request_floatleft{
  float:right !important;
}
.catalogImgCls{
 float:right;
}
.catalogNameCls{
 padding-right: 10px;
 padding-left: 5px;
}
.item-display-catalog-text{
 padding-right: 0.9rem !important;
 padding-left: 0px !important;
}
.support-request__icon {
 float: right !important;
 padding-left :0px !important;
}
.rtl-floatRight{
    float: right !important;
    padding-right: 10px;
	padding-left :0px !important
}
.draft-field-inline-div{
	padding-right: 1.125rem!important;
}
.icon-enhance {
    float: right !important;
}