.support-request {
	padding: 1.4rem;
}
li.support-request {
  display: flex;
  align-items: center;
}
.support-request__title-search {
  padding-left: 1.125rem!important;	
}
.support-request__description, .support-request__title, .support-request__rkm-title {
  text-align: justify;
  padding-left: 1.125rem;
  width: auto;
}
.support-request__description-content {
  padding-left: 0px;
}
.catalog-section {
  border-bottom: none !important;
  padding-bottom: 0px !important;
}
.catalog-item_display_catalog {
  vertical-align: middle !important;
  width: 31.9% ;
  margin-left:0.8% !important;
  margin-bottom:0.8% !important;
  padding: 0px;
  min-height: 64px !important; 
  max-height: 64px !important;
}
.catalog-item_display_catalog .catalog-item__icon {
  max-width: 32px !important; 
  max-height: 32px !important;
  width: 32px !important;
  height: 32px !important;
}
.speaker-icon{
  font-size: xx-large !important;
}
.catalog-item_display_catalog.catalog-item_type_srm .catalog-item__name, .catalog-item_display_catalog.catalog-item_type_how-to .catalog-item__name {
  max-height: 40px !important; }
	
.service-tile-widget {
  height: 80px !important;
  min-width: 23% !important;
}	
.service-tile-title {
  padding-top: 0px !important;
  margin-bottom: 10px !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.TileDetailsSection {
  margin-bottom: 5px;
  float: left;
  width: 74%;
  margin-top: 20px;
}
.TileDetailsSection-MarginTop {
  margin-top :13px! important;
}
.TileImageSection {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.serviceIconCls {
  font-size: 32px !important;
}
.item-display-catalog{
  display: inline-flex !important;
  align-items: center;
  width: 44.5%;   
  margin-left: 0.8%; 
  margin-bottom:9px;
  padding: 0.8% ;
  min-height: 64px;
  max-height: 64px;
  max-width: none;  
}
.support-request_floatleft{
  float:left !important;
}
.paddingtop5px{
 padding-top: 5px !important; 
}
.displayTableCls{
display:table;	
line-height: 60px;
word-break: break-word;
}
.padding14px{
padding: 0 10px 0 14px !important;
}
.catalogImgCls{
 vertical-align: middle;
 display: table-cell;
 float:left;
}
.catalogNameCls{
 vertical-align: middle; 
 display: table-cell;
 padding-left: 10px;
 padding-top: 5px;
}
.item-display-catalog-text{
  padding-left:0.9rem;
  padding-top:0px;
}
.catalog-item_display_catalog .catalog-item__icon-wrapper {
  position: static !important;
  width: auto;
}
.support-request_tableDisplay {
  display: table-cell;  
}

.SearchPaddingTop-7px {
	padding-top: 8px;
}

#articleId .support-request {
	margin-bottom: 0px;
}
.support-request-enhanced{
	padding: 13px 5px 13px 5px;
	margin-bottom:0px;
}

.icon-enhance{
	font-size: xx-large !important;
}
.customlink-div{
	
	padding-left : 2px !important;
}
.custom-link-top-14px{
	padding-top :14px !important;
}
.custom-link-top-7px{
	padding-top :7px !important;
}
.srdraft-descriptionenhance{
	width: 94.4% !important;
	padding-left: 10px !important;
}
.draft-field-inline-div{
	width: 94.5% !important;
	padding-left: 10px !important;
}

.padding5px-enhance{
	padding: 5px !important;
}
.SRFilterIcon-32px {
   	background: url(../img/ServiceRequest_32.png) no-repeat ;
    height: 32px !important;
    width: 32px !important;
}