.srd-question-label-container__left{
	direction: rtl;
    float: none;
}	
.srd-question-on-behalf-search{
	direction: rtl;
}
.srd-question-range{
	direction: rtl;
}
.search-remove-btn{
	 left: 15px;
	 right:auto;
}
.noServicesDiv {
    padding-right: 425px  !important;
}
.txtBoxClsSearch {
    text-align: right !important;
    padding-right: 32px !important;
}
.search-remove-btn-input {
    left: 15px;
	direction: ltr;
}
.support-search-input{
	direction: rtl !important;
}
.search-input {
    background: #fff url("../img/search_grey.png") no-repeat 95%;
}	
.srd-question-textarea{
	direction: rtl !important;
}
.srd-question-datetimepicker__label-container{
	float: right;
	direction: rtl;
}
.support-modal__header_section{
	direction: rtl;
}
.srd-attachment__button{
	float:left;
}
.srd-attachment__name{
	float: right;
}
.srd-attachment__icon{
	float: right;
}
.srd-new-attachment__button-container{
	float:left;
}
.srd-new-attachment__visible{
	direction:rtl;
}
.sr-details-container{
	direction:rtl;
}
.activity-log__item{
	direction:rtl;
}
.sr-log-input{
	direction:rtl;
}
.sr-log-container{
	direction:rtl;
}
.ticket-details-link{
	background-position: 2% 50%;
}
.support-request__icon{
	float: right;
}
.support-request {
	background-position: 2% 50%;
}
.catalog-item_display_catalog .catalog-item__icon-wrapper{
	right: 10px;
}
.catalog-item_display_catalog{
	padding: 5px 48px 5px 10px;
}
.page-toolbar__breadcrumbs {
	float: right;
}
.catalog-section__all-link{
	float: left;
}
.modal-footer{
	text-align: center;
}
.srd-question-on-behalf__requester-info{
	float: left;
}
.srd-question-radio-button__input, .srd-question-checkbox__input{
	right:0px;
}
.modal-header__link{
	right:15px;
}
.sr-modal-header__link_cancel{
	left:20px;
	right: auto;
}
.timeline-toolbar-filter{
	float:right;
	margin-right: 20px;
}
.broadcast-ticker{
	float:right;
}
.pull-left {
	float: right!important;
}
.pull-right{
	float: left!important;
}
.broadcast-ticker{
	float:right;
}
.search-result-header,.search-result-header-separator,.search-result-header-section,.search-home-title{
	float:right;	
	padding-right: 2%!important;
}
.approval-request-name {
    float: right!important;
   
}
.activity-item_input_checkbox {
	margin-left: 5px !important;
   float: right!important;
}

.search-home-link {
	float:left!important;
	text-align: left;
	padding-left: 12px!important;
}
.ServiceHealthSearchRemoveBtnCls {
    right: auto !important; 
	left: 0px !important;
}
.float-left-rtl {
	float:left!important;
}

.float-right-rtl {
	float: right!important;
}
.search-input-cross-icon{
	left: 40px!important;
	right: auto!important;
	
}
.timeline-activity-item {
    margin-right: 60px;
    margin-left: 5px;
    padding: 10px 12px;
}
.timeline-activity-item__the-line {
    right: -18px;
    left: auto;
}
.timeline-activity-item__timeline-dot {
    right: -23px;
    left: auto;
}
.timeline-activity-item__group-title {
    margin-right: -24px;
    margin-left: 0;
    text-align: center;
    right: -18px;
    left: auto;
}
.timeline-activity-item .activity-item__type-icon {
    margin-right: -18px;
    margin-left: 0;
}
.activity-item__type-icon {
    right: -60px;
    left: auto;
}
.search-home-remove-btn-input{
	left:30px;
}
.timeline-activity-item__timeline-time {
    right: -88px;
    left: auto;
    text-align: center;
}
.i-activity-item-request{
	 right: -70px;
}
.profile-page-navigator{
	float:right;
}
.approval-page-navigator {
	float:right;
}
.profile-page-navigator-first {
	text-align: right;
}
.profile-page-navigator-last {
	text-align: left;
}
.approval-page-number {
	float:right !important;
}
#chatWindow{
	right:auto !important;
	left: 20px;
}
.startChatContainer{
	left:20px;
	right:auto !important;
}
.chat_endchaticon ,.chat_endchaticon:hover {
	float:left !important;
}
.Try {
	margin-right: 100px;
}
.breadcrumb-span-float{
	float:right;
}
.timeline-toolbar__actions{
	left: 20px;
	right:auto;
	float: left!important;
    margin-left: 20px;
}
.support-modal__rkm-content-container-problem,.support-modal__rkm-content-container{
	padding: 20px 20px 20px 0;
}
.onbehalf-user-result{
	float:right;
	padding-right: 5px;
}
.timeline-activity-item__timeline-time{
	direction:ltr;
}
.support-modal__srd-header-title{
	padding-right:10px;
}
.support-modal__srd-header-icon{
	float:right;
}
.srd-question-datetimepicker__input-container{
	direction:ltr;
}
.datepicker,.timepicker{
	right:290px!important;
}
.user-nav__user-link{
	float: left;
}
.user-nav__user-link-avatar {
    float: right;
    margin-left: 11px;
    margin-right: 0;
}	
.srd-question-radio-button__label{
	padding-right: 20px;
}
.activity-icon {
    float: left;
    border-right: 1px solid #afafaf;
    border-left: 0;
    padding-right: 12px;
    padding-left: 0;
}
.modal-header, .support-modal-header{
	padding: 0px 0px 0px 20px;
}
.modal-header__title, .modal-header__title_centered{
	margin: 0px 0px 0px 20px;
}
#broadcast-ticker{
	direction:ltr!important;
}

.icon-attach {
    background: transparent url(../img/icon_attach.png) 0 0 no-repeat;
    margin: -12px 515px 10px 5px;
    padding: 14px;
    width: 26px;
    height: 30px;
    cursor: pointer;
}

.srd-new-attachment-button {
    float: right !important;
}
div.profile-search-input-container{
  float: left;
  padding-right: 10px;
}
div.timeline-toolbar{
  padding-left: 0px;
}
div.timeline-toolbar__actions{
	position: static;
}
.search-home-remove-btn-input.profile-search-remove-btn-input{
	right: 522px !important;
}
.profile-search-input{
	margin-left: 20px !important;
	direction: rtl !important;
	padding-right: 44px;
	background: #fff url(../img/search_grey.png) no-repeat 98%;
}
.filterDiv{
	margin-right: 20px;
}
.filter-div-title,.filter-dropdown-title{
	padding-right: 20px;
}
.filter-dropdown{
	margin-left: 20px;
}
.srd-question-label__required{
	float: right;
	margin: 0px 0px 0px 5px !important;
}
.modal-header__text, .modal-header__text_error {
  padding-right: 18px;
}
.btn-cancel {
	margin-right: 487px;
}
.srd-question-on-behalf__name{
	float:right !important;;
}
.srd-question-label__required{
	float:right !important;;
}

.attachment-type-icon{
	float:right !important;
}
.icon-delete{
	float:left !important;	
}
.btn-draft-delete-icon{
	float:left !important;
}
.support-modal__srd-header-description-ellipsis_for_2_column{
	text-align: right !important;
}
.support-modal__srd-header-description_for_2_column{
	text-align: right !important;
}
.item-display-catalog-text{
	padding-right: 10px !important;
}

.filter-container{
	float:right;
}

.catIconPicklist{
	float: right !important;
    margin-right: 10px !important;
}
.support-request__title, .support-request__description{
	padding-right: 5px !important;
}

.support-request__description-content{
	padding-right: 0px !important;	
}
.sort-container{
	float: left;
    position: relative;
    text-align: left;
}

.support-request__title{
	padding-right: 10px !important;	
}
.catalog-item__icon{
	float:right !important;
}
.floatLeftRtl{
	float:left !important;
}