#att-div-id, #request-entries-div-id, #approvals-div-id{font-family: Arial !important;}
#attachment-grid .x-column-header-inner .x-column-header-text{
	font-weight: bold !important;
}
.rf-lookup-icon{
    background-image: url(sst_baseurl/SDEFicons/b_pick.gif);
    height: 19px; 
    width: 19px;
    margin-left: 5px;
    vertical-align: top;
    border: medium none;
    cursor:pointer;
}
 .rf-editor-icon {
	background-image: url(sst_baseurl/SDEFicons/b_textbox_popup_on.gif) !important;
	border:none;
	height: 19px;
	width: 19px;
	margin-left: 5px;
	vertical-align: middle;
	border: medium none;
	cursor:pointer;
	
 }
.rf-toolbar-btn{
	background: url(sst_baseurl/SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
	border:1px solid #004376;
	border-color: #CCCCCC #666666 #666666 #CCCCCC !important;
	height: 20px;
	margin-left:2px;
	*margin-left:5px;
    vertical-align: middle;
	font:12px arial;color:#000;
	cursor:default;
}
.rf-toolbar-btn:focus,.rf-editor-icon:focus{
    border: 1px solid sst_color8 !important;
	-moz-box-shadow:inset 0 0 1px sst_color8;
    -webkit-box-shadow:inset 0 0 1px sst_color8;
    box-shadow:inset 0 0 1px sst_color8;
	outline:none;
}
textarea :focus,input:focus,*:focus,button:focus{
    -moz-box-shadow:inset 0 0 1px sst_color8;
    -webkit-box-shadow:inset 0 0 1px sst_color8;
    box-shadow:inset 0 0 1px sst_color8;
	outline:#000000 dotted thin;
}
a:focus{ border:1px dotted sst_color8;}
#file-add-btn,#delete-att-btnId{margin: 7px 7px 7px 10px;}
.rf-toolbar-sep {color: #000;font: 12px arial;vertical-align: middle;}
.rf-toolbar-btn:hover {
	 background-image:none;
	 background:#E8E8E9 !important; 
	 cursor:pointer;
 }
.rf-toolbar-btn:disabled {
   color:#CCCCCC;
}
.rf-toolbar-btn:disabled:hover {
  cursor:default;
  background: url(sst_baseurl/SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
}
body,table,.x-body{font:12px arial;color:#000;}
.rf-label-td{padding:15px 0 0 15px;font-weight:bold;}
.rf-field-td{padding:5px 0 0 15px}
.rf-input-text{
 height:20px;
 width:445px;
 border:1px solid;
 border-color: #6A7378 #BAC3C8 #BAC3C8 #6A7378;
 }
 .rf-input-file{ min-height:/*\**/20px\9; vertical-align: middle;margin-left:18px;}
 
 .rf-div-light{
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, sst_color2 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, sst_color2 100%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, sst_color2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, sst_color2));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, sst_color2 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, sst_color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='sst_color2',GradientType=0 );
}
.x-column-header,.rf-div-dark{
    background-image: -ms-linear-gradient(top, sst_color3 0%, sst_color4 100%);
    background-image: -moz-linear-gradient(top, sst_color3 0%, sst_color4 100%);
    background-image: -o-linear-gradient(top, sst_color3 0%, sst_color4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, sst_color3), color-stop(1, sst_color4));
    background-image: -webkit-linear-gradient(top, sst_color3 0%, sst_color4 100%);
    background-image: linear-gradient(to bottom, sst_color3 0%, sst_color4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='sst_color3', endColorstr='sst_color4',GradientType=0 );
}
.x-column-header-inner,.x-column-header-over {
   background-image: -ms-linear-gradient(top, sst_color9 0%, sst_color10 100%) !important;
   background-image: -moz-linear-gradient(top, sst_color9 0%, sst_color10 100%) !important;
   background-image: -o-linear-gradient(top, sst_color9 0%, sst_color10 100%) !important;
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, sst_color9), color-stop(1, sst_color10)) !important;
   background-image: -webkit-linear-gradient(top, sst_color9 0%, sst_color10 100%) !important;
   background-image: linear-gradient(to bottom, sst_color9 0%, sst_color10 100%) !important;
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='sst_color9', endColorstr='sst_color10',GradientType=0 ) !important;
}
.rf-toolbar-header{
  padding: 10px 0 0 10px;
   border-bottom:1px solid #AEBAC1;
   border-top:1px solid #AEBAC1;
   background-image: -ms-linear-gradient(top, sst_color9 0%, sst_color10 100%);
   background-image: -moz-linear-gradient(top, sst_color9 0%, sst_color10 100%);
   background-image: -o-linear-gradient(top, sst_color9 0%, sst_color10 100%);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, sst_color9 ), color-stop(1, sst_color10));
   background-image: -webkit-linear-gradient(top, sst_color9 0%, sst_color10 100%);
   background-image: linear-gradient(to bottom, sst_color9 0%, sst_color10 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='sst_color9', endColorstr='sst_color10',GradientType=0 );
   min-height:40px;
 }
 .rf-toolbar-footer{
   border:1px solid #AEBAC1;
   background: #EBEBEB;
   padding:10px 0 0 10px;
   height:40px;
 }
 .x-column-header{font: bold 12px arial;}
.rf-main-attachment-div{width:100%;float:left;padding-right:30px;}
 .rf-attachment-left{height:172px;width:100%;float:left;border:1px solid #AEBAC1;margin-left:15px;}
 .rf-attachment-left-1{float:left;border-right: 1px solid #AEBAC1;width:10%;background:#EBEBEB;height:170px;position: absolute;}
.attachment-grid-cls {padding-left:6px; height:100% !important }
.attachment-grid-cls .x-grid { height:100% !important}
 .attachment-grid-cls .x-grid-cell{font: normal 12px Arial !important;}
 #att-div-id,#request-entries-div-id,#approvals-div-id{height:35px;text-align:center;padding-top:10px;border-bottom: 1px solid #AEBAC1;cursor:pointer;}
 #att-note-id{height:35px;text-align:center;padding-top:10px;border-bottom: 1px solid #AEBAC1;}
.rf-attachment-left-2{width:90%;float:right; height:168px;}
.rf-attachment-left-22{width:90%;float:right; height:135px;}
.rf-attachment-left-3{width:90%;float:right; height:168px;}
.attachment-grid-cls .x-panel .x-grid-body {width:100% !important;height:85% !important}
.attachment-grid-cls .x-grid-view {height:100% !important}

.attachment-grid-cls .x-grid-header-ct-default {width:100% !important }
.attachment-grid-cls .x-panel .x-grid-body {width:100% !important }
.attachment-grid-cls .x-grid-table {width:100% !important }
 .rf-attachment-left-note{height:35px;background:#EBEBEB;border-bottom: 1px solid #AEBAC1;}
 .rf-main-note{height:152px;width:39%;float:right;border:1px solid #AEBAC1;}
 .rf-add-note-hd{height:25px;border-bottom: 1px solid #AEBAC1;font-weight:bold;padding-left:10px;line-height:22px;}
 .rf-note-area{resize:none;height:19px;width:80%;vertical-align: middle;margin-left:15px;border: 1px solid #AEBAC1;}
 .rf-add-note-btn{height:35px;background:#EBEBEB;border-top: 1px solid #AEBAC1;}
 .rf-anchor-attach{display:block;text-decoration:none;color:#000;cursor:pointer;}
 .rf-file-label{padding-left:5px;}
  #file-info-icon{vertical-align:middle;margin-left:15px;}
 .rf-note-header{background:#EBEBEB;border-bottom: 1px solid #AEBAC1;height: 35px; padding:8px 0 0 10px;}
 .showDescClass{width:96%;height:100px;float:left;}
 .showDescriptionClass{float: left;height: 245px;width: 97.3%;resize:none;}
.hideComponent{display:none !important;}
.rf-input-textarea{width:94.5%;resize:none;height:235px;float:left;border:1px solid;border-color: #6A7378 #BAC3C8 #BAC3C8 #6A7378 !important;}
.hideRes {display:none;}
.rf-lookup-icon1 {margin-left:0 !important;}
.msgBoxCls {
   background-color:transparent;
   border:none; 
   box-shadow: 0 0 0 transparent;
 }
 .x-form-item {
	font-family : arial !important;
}
.x-window-header-text-default{ 
	font-family : arial !important;
}

.x-btn-default-small .x-btn-inner{
	font-family : arial !important;
}
#formTextId.x-field {
	font-family : arial !important;
}
.x-form-display-field{font-family : arial !important;}
#windowId textarea{font-family : arial !important;}
#windowId button{font-family : arial !important;}
.x-message-box button{font-family : arial !important;}
input[readonly="readonly"],input[readonly],input[disabled],input[disabled="disabled"],textarea[readonly="readonly"],textarea[readonly] ,textarea[disabled="disabled"], textarea[disabled] {
    background-color:#D4D0C8;
}

/*  msg box */
.x-window-default {
	background-color: sst_color9;
    background-image: -ms-linear-gradient(top, sst_color9 0%, sst_color10 100%);
		background-image: -moz-linear-gradient(top, sst_color9 0%, sst_color10 100%);
		background-image: -o-linear-gradient(top, sst_color9 0%, sst_color10 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, sst_color9 ), color-stop(1, sst_color10));
		background-image: -ms-linear-gradient(to bottom, sst_color9 0%, sst_color9 100%);
		background-image: -webkit-linear-gradient(top, sst_color9 0%, sst_color10 100%);
		background-image: linear-gradient(to bottom, sst_color9  0%, sst_color9 100%);
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='sst_color9', endColorstr='sst_color10',GradientType=0 );*/
}
.x-window-default {
    border-color: sst_color10 !important;
    box-shadow: 0 1px 0 0 sst_color10 inset, 0 -1px 0 0 sst_color10 inset, -1px 0 0 0 sst_color10 inset, 1px 0 0 0 sst_color10 inset !important;
}


.x-panel-header-text-container .x-window-header-text-container {
    background-color: sst_color9;
	overflow: hidden;
    padding: 0 0 1px;
    text-overflow: ellipsis;
}
.x-window-header-default-top {
    box-shadow: 0 1px 0 0 sst_color10 inset, -1px 0 0 0 sst_color10 inset, 1px 0 0 0 sst_color10 inset !important;
}
.x-window-header-default-top {
	background-color: sst_color9;
    background-image: -ms-linear-gradient(top, sst_color9 0%, sst_color10 100%);
		background-image: -moz-linear-gradient(top, sst_color9 0%, sst_color10 100%);
		background-image: -o-linear-gradient(top, sst_color9 0%, sst_color10 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, sst_color9 ), color-stop(1, sst_color10));
		background-image: -ms-linear-gradient(to bottom, sst_color10 0%, sst_color9 100%);
		background-image: -webkit-linear-gradient(top, sst_color10 0%, sst_color9 100%);
		background-image: linear-gradient(to bottom, sst_color10 0%, sst_color9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='sst_color9', endColorstr='sst_color10',GradientType=0 );
    
}

.x-window-header-text-default {
    color:sst_color1 !important;
    font-family: arial !important;
    font-size: 12px !important;
    font-weight: bold;
}

.x-window-body-default {
    border-color: sst_color9 !important;
}

.winHeaderClass .x-window-body-default {
	background: none repeat scroll 0 0 #FFFFFF !important;
}
.x-message-box .x-window-body {
    background-color: #FFFFFF !important;
    border: 0 none;
}	
.winHeaderClass TR {
	vertical-align:top !important;
}
.msgBoxCls {
    background-color: transparent !important;border: none !important;box-shadow: 0 0 0 transparent !important;background-image: none !important;
}

.x-nbr .x-window-header-default-top-ml,
.x-nbr .x-window-header-default-top-mr,
.x-nbr .x-window-header-default-top-tl,
.x-nbr .x-window-header-default-top-tc,
.x-nbr .x-window-header-default-top-tr,
.x-nlg .x-window-header-default-top-mc,
.x-nbr .x-window-default-ml,
.x-nbr .x-window-default-mr,
.x-nbr .x-window-default-tl,
.x-nbr .x-window-default-tc,
.x-nbr .x-window-default-tr,
.x-nlg .x-window-default-mc,
.x-nbr .x-window-default-bc,
.x-nbr .x-window-default-bl,
.x-nbr .x-window-default-br
{
background-color:sst_color10 !important;
background-image:none !important;
}
/*  msg box */

.x-message-box  .x-window-body{
	top: 13px !important;
}
.x-nlg .x-btn-default-small {
  background-repeat: repeat-x !important;
  background-image: url(sst_baseurl/SDEFimages/btn-default-small-bg.gif) !important;}
  
.x-nbr .x-btn-default-small-tl,
.x-nbr .x-btn-default-small-bl,
.x-nbr .x-btn-default-small-tr,
.x-nbr .x-btn-default-small-br,
.x-nbr .x-btn-default-small-tc,
.x-nbr .x-btn-default-small-bc,
.x-nbr .x-btn-default-small-ml,
.x-nbr .x-btn-default-small-mr {
  zoom: 1 !important;
  background-image: url(sst_baseurl/SDEFimages/btn-default-small-corners.gif) !important; }
  
.x-nbr .x-btn-default-small-ml,
.x-nbr .x-btn-default-small-mr {
  zoom: 1 !important;
  background-image: url(sst_baseurl/SDEFimages/btn-default-small-sides.gif) !important;
  background-position: 0 0 ;}
  
.x-nlg .x-btn-default-small-mc {
  background-image: url(sst_baseurl/SDEFimages/btn-default-small-bg.gif) !important;
  background-color: white !important;}
  
.x-mask-msg div {
	background-image: url(sst_baseurl/SDEFimages/blue-loading.gif) !important;
	padding: 15px 15px 20px 25px !important;
    border: none !important;
    background-color: transparent !important;
}
.x-mask-msg {
	border: 0 !important;
	border-color: none !important;
	background-color: transparent !important; 
}
.incidentForm{min-width : 900px !important;}