#att-div-id, #request-entries-div-id, #approvals-div-id{font-family: Arial !important;}
#attachment-grid .x-column-header-inner .x-column-header-text{
	font-weight: bold !important;
}
.rf-lookup-icon ,.rf-lookup-icon:hover{
    background-image: url(sst_baseurl/SDEFicons/b_pick.gif);
    height: 19px;
    width: 19px;
    margin-left: 5px;
    vertical-align: top;
	border: medium none;
	cursor:pointer;
	background-position:right 0px !important;
}
 .rf-editor-icon {
	background-image: url(sst_baseurl/SDEFicons/b_textbox_popup_on.gif) !important;
	border:none;
	height: 19px;
	width: 19px;
	margin-left: 5px;
	vertical-align: middle;
	border: medium none;
	cursor:pointer;
	
 }

.ssSuggestion-header {
	background-image: -ms-linear-gradient(top, sst_color7 0%, sst_color8 100%);
	background-image: -moz-linear-gradient(top, sst_color7 0%, sst_color8 100%);
	background-image: -o-linear-gradient(top, sst_color7 0%, sst_color8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, sst_color7), color-stop(1, sst_color8));
	background-image: -webkit-linear-gradient(top, sst_color7 0%, sst_color8 100%);
	background-image: linear-gradient(to bottom, sst_color7 0%, sst_color8 100%);
	color: white;
	width: 100%;
	height: 37px;
	font: 12px Arial;
	cursor: pointer;
} 

 .ssSuggDivcls{
	float:right;
	width:19%;
	overflow-y:auto;
	background-color: white !important;
	border: 1px solid sst_color1; 
	z-index: 1;
	visibility: visible;
	position: absolute;
	left: 81%;
	border-bottom: none;
}

.suggestionslinks{
	color:sst_color1 !important;
	cursor:pointer;

}
.rf-datatr:hover{
	background-color:sst_color13;
}

.rf-toolbar-btn{
	background: url(sst_baseurl/SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
	border:1px solid sst_color1;
	border-color: #CCCCCC #666666 #666666 #CCCCCC !important;
	height: 20px;
	margin-left:2px;
	*margin-left:5px;
    vertical-align: middle;
	font:12px arial;color:#000;
	cursor:default;
}
.rf-toolbar-btn:hover {
	 background-image:none;
	 background:#E8E8E9 !important; 
	 cursor:pointer;
 }
.rf-toolbar-btn:focus,.rf-editor-icon:focus{
    border: 1px solid sst_color8 !important;
	-moz-box-shadow:inset 0 0 1px sst_color8;
    -webkit-box-shadow:inset 0 0 1px sst_color8;
    box-shadow:inset 0 0 1px sst_color8;
	outline:none;
}
textarea :focus,input:focus,button:focus,.lookupIcon:focus,.lookupIconOn:focus{
    -moz-box-shadow:inset 0 0 1px sst_color8;
    -webkit-box-shadow:inset 0 0 1px sst_color8;
    box-shadow:inset 0 0 1px sst_color8;
	outline:#000000 dotted thin;
}
a:focus,.lookupIcon:focus,.lookupIconOn:focus{border: 1px dotted sst_color8 !important;}
.rf-toolbar-btn:disabled {
   color:#CCCCCC;
}
.rf-toolbar-btn:disabled:hover {
  cursor:default;
  background: url(sst_baseurl/SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
}
body,table{font:12px arial;color:#000;}
.rf-label-td{padding:15px 0 0 15px;font-weight:bold;font-family:Arial;}
.rf-field-td{padding:5px 0 0 15px}
.rf-input-text{
 height:20px;
 width:445px;
 border:1px solid;
 border-color: #6A7378 #BAC3C8 #BAC3C8 #6A7378;
 }
 .rf-input-file{ min-height:/*\**/20px\9; vertical-align: middle;margin-left:18px;}
 .rf-input-textarea{
 width:96%;resize:none;height:100px;float:left;
 border:1px solid;
 border-color: #6A7378 #BAC3C8 #BAC3C8 #6A7378 !important;
 }
.rf-div-light{
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, sst_color2 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, sst_color2 100%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, sst_color2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, sst_color2));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, sst_color2 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, sst_color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='sst_color2',GradientType=0 );
}
.x-column-header ,.rf-div-dark{
    background-image: -ms-linear-gradient(top, sst_color3 0%, sst_color4 100%);
    background-image: -moz-linear-gradient(top, sst_color3 0%, sst_color4 100%);
    background-image: -o-linear-gradient(top, sst_color3 0%, sst_color4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, sst_color3), color-stop(1, sst_color4));
    background-image: -webkit-linear-gradient(top, sst_color3 0%, sst_color4 100%);
    background-image: linear-gradient(to bottom, sst_color3 0%, sst_color4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='sst_color3', endColorstr='sst_color4',GradientType=0 );
}
.rf-toolbar-header{
   border-bottom:1px solid #AEBAC1;
   border-top:1px solid #AEBAC1;
   background-image: -ms-linear-gradient(top, sst_color2 0%, sst_color10 100%);
   background-image: -moz-linear-gradient(top, sst_color2 0%, sst_color10 100%);
   background-image: -o-linear-gradient(top, sst_color2 0%, sst_color10 100%);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, sst_color2 ), color-stop(1, sst_color10));
   background-image: -webkit-linear-gradient(top, sst_color2 0%, sst_color10 100%);
   background-image: linear-gradient(to bottom, sst_color2 0%, sst_color10 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='sst_color2', endColorstr='sst_color10',GradientType=0 );
   padding:10px 0 0 10px;
   height:40px;
 }
 .rf-toolbar-footer{
   border:1px solid #AEBAC1;
   background: #EBEBEB;
   padding:10px 0 0 10px;
   height:40px;
 }
 .x-column-header{font: bold 12px arial;}
 .rf-main-attachment-div{width:96%;float:left;}
 .rf-attachment-left{height:152px;width:58%;float:left;border:1px solid #AEBAC1;margin-left:15px;}
 .rf-attachment-left-1{float:left;border-right: 1px solid #AEBAC1;width:10%;background:#EBEBEB;height:150px;}
 #att-div-id,#request-entries-div-id,#approvals-div-id{height:35px;text-align:center;padding-top:10px;border-bottom: 1px solid #AEBAC1;cursor:pointer;}
 #att-note-id{height:35px;text-align:center;padding-top:10px;border-bottom: 1px solid #AEBAC1;}
 .rf-attachment-left-2{width:80%;float:right;}
 .rf-attachment-left-22{width:80%;float:right;}
 .rf-attachment-left-note{height:35px;background:#EBEBEB;border-bottom: 1px solid #AEBAC1;}
 .rf-main-note{height:152px;width:39%;float:right;border:1px solid #AEBAC1;}
 .rf-add-note-hd{height:25px;border-bottom: 1px solid #AEBAC1;font-weight:bold;padding-left:10px;line-height:22px;}
 .rf-note-area{resize:none;height:19px;width:80%;vertical-align: middle;margin-left:15px;border: 1px solid #AEBAC1;}
 .rf-add-note-btn{height:35px;background:#EBEBEB;border-top: 1px solid #AEBAC1;}
 .rf-anchor-attach{display:block;text-decoration:none;color:#000;cursor:pointer;}
 .rf-file-label{padding-left:15px;}
 .rf-note-header{background:#EBEBEB;border-bottom: 1px solid #AEBAC1;height: 35px;}
 .showDescClass{width:96%;height:100px;float:left;}
 .showDescriptionClass{width:96%;height:245px;float:left;}
.hideComponent{display:none !important;}


.lookupIcon{background-image: url(sst_baseurl/SDEFicons/b_pick.gif);height: 19px;width: 19px;margin-left: 5px;}
.lookupIconOn {background-image: url(sst_baseurl/SDEFicons/b_pick.gif);height: 19px;width: 19px;margin-left: 5px;border:0;}
.toolBarIcon{background-image: url(sst_baseurl/SDEFicons/b_pick.gif);height: 18px;width: 18px;margin-left: 5px;border:medium none;padding-top:9px;}
.TextboxPopupIcon {background-image: url(sst_baseurl/SDEFicons/b_textbox_popup_on.gif) !important;border: 0 none;height: 19px;margin-left: 5px;padding-left: 0;vertical-align: top;width: 19px;}

.labelCol{font-weight: bold;padding-bottom: 10px;padding-left: 15px;padding-right: 0;padding-top: 15px;}
.data2Col{padding-bottom: 0;padding-left: 15px;padding-right: 0;padding-top: 15px;}
.lookupInput input{float:left;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-bottom-color: #BAC3C8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-left-color-value: #6A7378;
	border-left-style-value: solid;
	border-left-width-value: 1px;
	border-left-width: 1px;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	border-right-color-value: #BAC3C8;
	border-right-style-ltr-source: physical;
	border-right-style-rtl-source: physical;
	border-right-style-value: solid;
	border-right-width-ltr-source: physical;
	border-right-width-rtl-source: physical;
	border-right-width-value: 1px;
	border-right-width: 1px;
	border-top-color: #6A7378;
	border-top-style: solid;
	border-top-width: 1px;
	height: 20px;
	width: 300px;
		   
}


.rf-table textarea{
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-bottom-color: #BAC3C8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-left-color-value: #6A7378;
	border-left-style-value: solid;
	border-left-width-value: 1px;
	border-left-width: 1px;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	border-right-color-value: #BAC3C8;
	border-right-style-ltr-source: physical;
	border-right-style-rtl-source: physical;
	border-right-style-value: solid;
	border-right-width-ltr-source: physical;
	border-right-width-rtl-source: physical;
	border-right-width-value: 1px;
	border-right-width: 1px;
	border-right-color: #BAC3C8;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #6A7378;
	border-top-style: solid;
	border-top-width: 1px;
	height: 100px;
	width: 550px;
}

.rf-inc-label{font-weight: bold;padding-bottom: 10px;padding-left: 0;padding-right: 0;padding-top: 15px;}
.rf-inc-field{padding-top: 5px;}
.rf-inc-checkbox-label{font-weight: bold;padding-bottom: 10px;padding-left: 10px;padding-right: 0;padding-top: 15px;}
.rf-editor-Btn-td{vertical-align: top;padding-top: 5px;}
.cke_skin_sfdc {overflow-x: auto;overflow-y: auto;visibility: inherit; width:570px;}
.rf-table input[type=text]{-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;border-bottom-color: #BAC3C8;border-bottom-style: solid;border-bottom-width: 1px;border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;border-image-slice: 100% 100% 100% 100%;border-image-source: none;border-image-width: 1 1 1 1;border-left-color-ltr-source: physical;border-left-color-rtl-source: physical;border-left-color-value: #6A7378;
	border-left-style-value: solid;border-left-width-value: 1px;border-left-width: 1px;border-right-width: 1px;border-right-color: #BAC3C8;border-right-style: solid;border-right-color-ltr-source: physical;border-right-color-rtl-source: physical;border-right-style-ltr-source: physical;
	border-right-style-rtl-source: physical;border-right-style-value: solid;border-right-width-ltr-source: physical;border-right-width-rtl-source: physical;border-top-color: #6A7378;border-top-style: solid;border-top-width: 1px;height: 20px;width: 300px;}
.rf-table input[type=checkbox] {float:left;border:none; border:0px;}
.rf-table select{height: 20px;width: 300px;}
.x-form-item {
	font-family : arial !important;
}
.x-window-header-text-default {
    color:sst_color1 !important;
    font-family: arial !important;
    font-size: 12px !important;
    font-weight: bold;
}

.x-btn-default-small .x-btn-inner{
	font-family : arial !important;
}
#formTextId.x-field {
	font-family : arial !important;
}
.x-form-display-field{font-family : arial !important;}
#windowId textarea{font-family : arial !important;}
#windowId button{font-family : arial !important;}
.x-message-box button{font-family : arial !important;}
.rf-table select[multiple="multiple"]
{
	height: 100px;
	width: 110px;
}
.picklistArrowRight {
	height: 20px;
	margin-bottom: 8px;
	margin-left: 8px;
	margin-right: 8px;
}
.picklistArrowLeft {
	height: 20px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: -15px;
	width: 30px;
}
td.multiPickListClsTD img{
	 width: 24px;
	 *width: 24px !important;
	 *height:20px !important;
}
.picklistArrowLeft, .leftArrowIcon {
	background-position: left -60px;
}
.multiPickListCls {
	font: 11px Tahoma,MS Sans Serif;
	width:110px;
	*width:110px !important;
	*height:100px !important;
}
.multiPickListClsTD{
	padding-left:10px;
}
.multiSelectPicklistTable .multiSelectPicklistRow .multiSelectPicklistCell{
	background-color: #FFFFFF;
	vertical-align:middle;
}
.picklistArrowRight{
	background: url("/img/alohaSkin/combobox_arrows_sprite.gif") no-repeat scroll 0 0 transparent;
	height: 20px;
	margin-left: 8px;
	margin-right: 8px;
	width: 30px;
}
.picklistArrowLeft, .leftArrowIcon{
	 background-position: left -60px;
}
.picklistArrowLeft {
	background: url("/img/alohaSkin/combobox_arrows_sprite.gif") no-repeat scroll 0 -60px transparent;
	height: 20px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: -15px;
	width: 30px;
}

input[readonly="readonly"],input[readonly],input[disabled],input[disabled="disabled"],textarea[readonly="readonly"],textarea[readonly] ,textarea[disabled="disabled"], textarea[disabled] {
    background-color:#D4D0C8;
	color:#000000;
}
textarea.x-form-field { background:#fff !important;}
.rf-mainDiv{width:99%;padding-left:5px;padding-bottom:50px;}
.rf-inc-lft-td{vertical-align:top; width:50%;}


/* Style to remove distortion from Pop-up */
DIV.x-window DIV.x-window-mc
{
	padding-top:0px !important;
	padding-right:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	vertical-align:top !important;
}

.x-nlg .x-window-default-mc
{
	top:-10px !important;
}

/*Style to make loading backgroound transperent*/
#SRloadingIcon .x-window-default-ml,#SRloadingIcon .x-window-default-mr,#SRloadingIcon .x-window-default-tl,
#SRloadingIcon .x-window-default-tc,#SRloadingIcon .x-window-default-tr,#SRloadingIcon .x-window-default-mc,
#SRloadingIcon .x-window-default-bc,#SRloadingIcon .x-window-default-bl,#SRloadingIcon .x-window-default-br
{
	background-color:transparent  !important;
	border:none  !important;
	background-image:none !important;
}

.tdHeaderSectionSRBar{
	background-image: -ms-linear-gradient(top, sst_color7 0%, sst_color8 100%);
    background-image: -moz-linear-gradient(top, sst_color7 0%, sst_color8 100%);
    background-image: -o-linear-gradient(top, sst_color7 0%, sst_color8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, sst_color7), color-stop(1, sst_color8));
    background-image: -webkit-linear-gradient(top, sst_color7 0%, sst_color8 100%);
    background-image: linear-gradient(to bottom, sst_color7 0%, sst_color8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='sst_color7', endColorstr='sst_color8',GradientType=0 );
	border-color:#99BBE8 !important;
	color: #FFFFFF !important;
	font: bold 12px arial;
	height: 16px;
	padding-left: 5px;
}

.tdHeaderSectionSR {
	color: #000000 !important;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	height: 16px;
	padding-left: 3px;
	padding-top: 0;
	white-space: normal;
}
.inputOptionsTdCls{padding:5px 0px 2px 0px;}
.clsPanelCheckBoxLabel {padding:0px 5px;vertical-align:top;}
.picklistInputCls{width:60%!important;}
.rf-bbar{position:fixed;bottom:0;width: 100%;}

/*  msg box */

.x-window-default {
	background-color: sst_color2;
    background-image: -ms-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: -moz-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: -o-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, sst_color2 ), color-stop(1, sst_color10));
		background-image: -ms-linear-gradient(to bottom, sst_color2 0%, sst_color2 100%);
		background-image: -webkit-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: linear-gradient(to bottom, sst_color2  0%, sst_color2 100%);
}
.x-window-default {
    border-color: sst_color10 !important;
    box-shadow: 0 1px 0 0 sst_color10 inset, 0 -1px 0 0 sst_color10 inset, -1px 0 0 0 sst_color10 inset, 1px 0 0 0 sst_color10 inset !important;
}


.x-panel-header-text-container .x-window-header-text-container {
    background-color: sst_color2;
	overflow: hidden;
    padding: 0 0 1px;
    text-overflow: ellipsis;
}
.x-window-header-default-top {
    box-shadow: 0 1px 0 0 sst_color10 inset, -1px 0 0 0 sst_color10 inset, 1px 0 0 0 sst_color10 inset !important;
}
.x-window-header-default-top {
	background-color: sst_color2;
    background-image: -ms-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: -moz-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: -o-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, sst_color2 ), color-stop(1, sst_color10));
		background-image: -ms-linear-gradient(to bottom, sst_color10 0%, sst_color2 100%);
		background-image: -webkit-linear-gradient(top, sst_color10 0%, sst_color2 100%);
		background-image: linear-gradient(to bottom, sst_color10 0%, sst_color2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='sst_color2', endColorstr='sst_color10',GradientType=0 );
    
}

.x-window-header-text-default {
    color:sst_color1 !important;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}

.x-window-body-default {
    border-color: sst_color2 !important;
}

.x-message-box .x-window-body {
    background-color: #FFFFFF !important;
    border: 0 none;
}	
.winHeaderClass .x-window-body-default {
	background: none repeat scroll 0 0 #FFFFFF !important;
}
.winHeaderClass TR {
	vertical-align:top !important;
}
.msgBoxCls {
    background-color: transparent !important;border: none !important;box-shadow: 0 0 0 transparent !important;background-image: none !important;
}

.x-nbr .x-window-header-default-top-ml,
.x-nbr .x-window-header-default-top-mr,
.x-nbr .x-window-header-default-top-tl,
.x-nbr .x-window-header-default-top-tc,
.x-nbr .x-window-header-default-top-tr,
.x-nlg .x-window-header-default-top-mc,
.x-nbr .x-window-default-ml,
.x-nbr .x-window-default-mr,
.x-nbr .x-window-default-tl,
.x-nbr .x-window-default-tc,
.x-nbr .x-window-default-tr,
.x-nlg .x-window-default-mc,
.x-nbr .x-window-default-bc,
.x-nbr .x-window-default-bl,
.x-nbr .x-window-default-br
{
background-color:sst_color10 !important;
background-image:none !important;
}
/*  msg box */
/* section headers */
body .bPageBlock .pbBody .pbSubheader{
	padding: 4px 3px;
	border:1px solid sst_color5;
	box-shadow: 0px 0px 5px sst_color6;
	background-image: -ms-linear-gradient(top, sst_color7 0%, sst_color8 100%);
	background-image: -moz-linear-gradient(top, sst_color7 0%, sst_color8 100%);
	background-image: -o-linear-gradient(top, sst_color7 0%, sst_color8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, sst_color7), color-stop(1, sst_color8));
	background-image: -webkit-linear-gradient(top, sst_color7 0%, sst_color8 100%);
	background-image: linear-gradient(to bottom, sst_color7 0%, sst_color8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='sst_color7', endColorstr='sst_color8',GradientType=0 );
}
.pbHeader .pbTitle h2, .pbHeader .pbTitle h3, .pbSubheader h3{
	color: white!Important;
	font: bold 12px Arial!Important;
}

.x-message-box  .x-window-body{
	top: 13px !important;
}
.x-nlg .x-btn-default-small {
  background-repeat: repeat-x !important;
  background-image: url(sst_baseurl/SDEFimages/btn-default-small-bg.gif) !important;}
  
.x-nbr .x-btn-default-small-tl,
.x-nbr .x-btn-default-small-bl,
.x-nbr .x-btn-default-small-tr,
.x-nbr .x-btn-default-small-br,
.x-nbr .x-btn-default-small-tc,
.x-nbr .x-btn-default-small-bc,
.x-nbr .x-btn-default-small-ml,
.x-nbr .x-btn-default-small-mr {
  zoom: 1 !important;
  background-image: url(sst_baseurl/SDEFimages/btn-default-small-corners.gif) !important; }
  
.x-nbr .x-btn-default-small-ml,
.x-nbr .x-btn-default-small-mr {
  zoom: 1 !important;
  background-image: url(sst_baseurl/SDEFimages/btn-default-small-sides.gif) !important;
  background-position: 0 0 ;}
  
.x-nlg .x-btn-default-small-mc {
  background-image: url(sst_baseurl/SDEFimages/btn-default-small-bg.gif) !important;
  background-color: white !important;}
 
.x-mask-msg div {
	background-image: url(sst_baseurl/SDEFimages/blue-loading.gif) !important;
	padding: 15px 15px 20px 25px !important;
    border: none !important;
    background-color: transparent !important;
}
.x-mask-msg {
	border: 0 !important;
	border-color: none !important;
	background-color: transparent !important; 
}
.incidentForm{min-width : 900px !important;}
.incCustomForm{min-width :1200px !important;}

/* CSS for SR */
.addFieldsLbl{
text-align:left !important;
width:19.8% !important;
font-weight:normal!important; 
font-family: Arial,Geneva, Helvetica, sans-serif, MS Sans Serif !important;
font-size:12px !important;
color:#000000 !important;
}

#additionalInfoDiv .bPageBlock .detailList tr th.labelCol,
#additionalInfoDiv .bPageBlock .detailList tr td.dataCol,
#additionalInfoDiv .bPageBlock .detailList tr td.data2Col
 {
      border-bottom:0px ;
 }
 
#additionalInfoDiv .bPageBlock{
background:#ffffff !important;
border:none;
}
 
  .twoColLayout{        
    width:31.2% !important;        
  }

#additionalInfoDiv .pbSubsection{
    margin-top: 10px !important;
  }
