 .x-column-header-sort-ASC .x-column-header-text 
    {
         background: url(sst_baseurl/SDEFimages/arrow_sort_ascending.gif) no-repeat scroll right 3px transparent !important;
         padding-right: 16px;         
    }
     
    .x-column-header-sort-DESC .x-column-header-text
    {
         background:url(sst_baseurl/SDEFimages/arrow_sort_descending.gif) no-repeat scroll right 3px transparent !important;
         padding-right: 16px;
    }
    
    .x-column-header,.x-column-header-over {
	box-shadow: 0px 0px 5px #CDD7D7;
		background-image: -ms-linear-gradient(top, sst_color7 0%, sst_color8 100%);
		background-image: -moz-linear-gradient(top, sst_color7 0%, sst_color8 100%);
		background-image: -o-linear-gradient(top, sst_color7 0%, sst_color8 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, sst_color7), color-stop(1, sst_color8));
		background-image: -webkit-linear-gradient(top, sst_color7 0%, sst_color8 100%);
		background-image: linear-gradient(to bottom, sst_color7 0%, sst_color8 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='sst_color7', endColorstr='sst_color8',GradientType=0 );
           color: #FFFFFF;
           font-family: Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif;
           font-size: 12px;
           font-weight: bold;  
       }
       
.x-column-header-inner {
 	overflow: hidden !important;
	text-overflow: ellipsis !important;
}
 #searchBtn,#resetBtn{border-color: #CCCCCC #666666 #666666 #CCCCCC;
    border-style: solid !important;
    border-width: 1px !important;
    height:21px;
}      
    .clsBtnToolbar,.x-btn-default-toolbar-medium{    
     background: url(sst_baseurl/SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
     border-color: #CCCCCC #666666 #666666 #CCCCCC ;
     border-radius: 0 0 0 0 !important;
     border-style: solid !important;
     border-width: 1px !important;
}
.x-btn-default-toolbar-small-focus,.x-btn-default-toolbar-medium-focus{
   	border: 2px solid sst_color8 !important;
	-moz-box-shadow:inset 0 0 2px sst_color8;
    -webkit-box-shadow:inset 0 0 2px sst_color8;
    box-shadow:inset 0 0 2px sst_color8;
}

.clsSSButtonStyle{
	background: url(sst_baseurl/SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
	border-color: #CCC #666 #666 #CCC !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-radius: 0 !important;
	margin: 0 5px 5px 0 !important;
	/*padding: 1px 10px !important;*/
	/*top: 7px !important;*/
	cursor:pointer;
	width:75px;

    padding-right:0 5px 0 1;
    font-weight:normal;
    
}
 
    .msgBoxCls
    {
        background-color:transparent;
        border:none; 
        box-shadow: 0 0 0 transparent;          
    }

    .x-body {
        color: black;
        font-family: Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif;
        font-size: 12px;
    }

    .x-toolbar-default{
         /*background-color: #E0E3E5;*/
         
		padding: 10px 0 0 10px;
		border-radius: 6px 6px 0 0;
		border-bottom:1px solid #AEBAC1;
		background-image: -ms-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: -moz-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: -o-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, sst_color2 ), color-stop(1, sst_color10));
		background-image: -webkit-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: linear-gradient(to bottom, sst_color2 0%, sst_color10 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='sst_color2', endColorstr='sst_color10',GradientType=0 );
		min-height:40px;
   
     }
     
	.noRecordDivCls {
        background:transparent;
        color: #000000;
        font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif;
	}
    
    .x-form-field, .x-form-display-field {
       color: #000000;
       font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif;
       margin: 0;
    }

    .x-grid-row .x-grid-cell {
        color: #000000;
       font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif;
    }

    .x-toolbar .x-toolbar-text {
        color: #000000;
        font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif;
    }

    .x-form-item-label {
        -moz-user-select: -moz-none;
        cursor: default;
        display: block;
        font-size: 12px;
        padding: 3px 0 0;
        color: #000000;
        font-weight:normal !important; 
        font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif !important; 
    }
  
        .x-grid-rowbody {
            padding: 0 5px 5px 5px;
        }
        
        body{
        margin:0px;
        padding:0px;
        border:0px;
        }

    .x-btn-inner
    {
        color:black;
        font-family:Arial !important;
        font-size:12px !important; 
    }
 
	
 
.x-btn-default-small {
    background-color: transparent;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F9F9F9 48%, #E2E2E2 52%, #E7E7E7);
    border-radius: 1px 1px 1px 1px;
    border-style: solid !important;
    border-width: 1px !important;
    padding: 2px !important;
}

.x-btn-default-small {
    border-color: transparent;
}
 
 
 .combocls{
	    padding:8px 0px 8px 8px;
	 }

/*  msg box */

.x-window-default {
	background-color: sst_color2;
    background-image: -ms-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: -moz-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: -o-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, sst_color2 ), color-stop(1, sst_color10));
		background-image: -ms-linear-gradient(to bottom, sst_color2 0%, sst_color2 100%);
		background-image: -webkit-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: linear-gradient(to bottom, sst_color2  0%, sst_color2 100%);
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='sst_color2', endColorstr='sst_color10',GradientType=0 );*/
}
.x-window-default {
    border-color: sst_color10 !important;
    box-shadow: 0 1px 0 0 sst_color10 inset, 0 -1px 0 0 sst_color10 inset, -1px 0 0 0 sst_color10 inset, 1px 0 0 0 sst_color10 inset !important;
}


.x-panel-header-text-container .x-window-header-text-container {
    background-color: sst_color2;
	overflow: hidden;
    padding: 0 0 1px;
    text-overflow: ellipsis;
}
.x-window-header-default-top {
    box-shadow: 0 1px 0 0 sst_color10 inset, -1px 0 0 0 sst_color10 inset, 1px 0 0 0 sst_color10 inset !important;
}
.x-window-header-default-top {
	background-color: sst_color2;
    background-image: -ms-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: -moz-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: -o-linear-gradient(top, sst_color2 0%, sst_color10 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, sst_color2 ), color-stop(1, sst_color10));
		background-image: -ms-linear-gradient(to bottom, sst_color10 0%, sst_color2 100%);
		background-image: -webkit-linear-gradient(top, sst_color10 0%, sst_color2 100%);
		background-image: linear-gradient(to bottom, sst_color10 0%, sst_color2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='sst_color2', endColorstr='sst_color10',GradientType=0 );
    
}

.x-window-header-text-default {
    color:sst_color1 !important;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}

.x-window-body-default {
    border-color: sst_color2 !important;
}
.x-message-box .x-window-body {
    background-color: #FFFFFF !important;
    border: 0 none;
}	
.winHeaderClass .x-window-body-default {
	background: none repeat scroll 0 0 #FFFFFF !important;
}
.winHeaderClass TR {
	vertical-align:top !important;
}
.msgBoxCls {
    background-color: transparent !important;border: none !important;box-shadow: 0 0 0 transparent !important;background-image: none !important;
}

.x-nbr .x-window-header-default-top-ml,
.x-nbr .x-window-header-default-top-mr,
.x-nbr .x-window-header-default-top-tl,
.x-nbr .x-window-header-default-top-tc,
.x-nbr .x-window-header-default-top-tr,
.x-nlg .x-window-header-default-top-mc,
.x-nbr .x-window-default-ml,
.x-nbr .x-window-default-mr,
.x-nbr .x-window-default-tl,
.x-nbr .x-window-default-tc,
.x-nbr .x-window-default-tr,
.x-nlg .x-window-default-mc,
.x-nbr .x-window-default-bc,
.x-nbr .x-window-default-bl,
.x-nbr .x-window-default-br
{
background-color:sst_color10 !important;
background-image:none !important;
}
/*  msg box */	
.x-mask-msg div {
	background-image: url(sst_baseurl/SDEFimages/blue-loading.gif) !important;
	padding: 15px 15px 20px 25px !important;
    border: none !important;
    background-color: transparent !important;
}
.x-mask-msg {
	border: 0 !important;
	border-color: none !important;
	background-color: transparent !important; 
} 