.labor-law-notification {
    position: relative !important;
    margin: 0 !important;
    flex-shrink: 0;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10000;
    text-align: center;
    height: 32px;
    
    .slds-notify--alert {
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: rgba(84,105,141,.95);
        font-weight: 300;
        padding: .5rem 0;
        text-align: center;
        width: 100%;
        
        &.slds-theme--warning, &.slds-theme_warning {
            background-color: #ffb75d;
            color: #16325c;
            font-family: "Salesforce Sans",Arial,sans-serif;
            
            h2 {
                font-weight: normal;
                font-size: 1em;
                display: inherit;    
                margin: 0;
                padding: 0;
                color: #16325c;
                font-size: 12px;
            }
        }
        
        &.slds-theme--alert-texture {
            background-image: -webkit-linear-gradient(bottom left, rgba(0,0,0,.025) 25%, transparent 25%, transparent 50%, rgba(0,0,0,.025) 50%, rgba(0,0,0,.025) 75%, transparent 75%, transparent);
            background-image: -moz-linear-gradient(bottom left, rgba(0,0,0,.025) 25%, transparent 25%, transparent 50%, rgba(0,0,0,.025) 50%, rgba(0,0,0,.025) 75%, transparent 75%, transparent);
            background-image: -o-linear-gradient(bottom left, rgba(0,0,0,.025) 25%, transparent 25%, transparent 50%, rgba(0,0,0,.025) 50%, rgba(0,0,0,.025) 75%, transparent 75%, transparent);
            background-image: linear-gradient(to top right, rgba(0,0,0,.025) 25%, transparent 25%, transparent 50%, rgba(0,0,0,.025) 50%, rgba(0,0,0,.025) 75%, transparent 75%, transparent);
            background-size: 64px 64px;
        }
    }
}