.THIS {
    margin:1px 1px 1px 1px;
}
.THIS .over {
    border: 2px dashed red; /*rgb(216, 221, 230)*/
    border-radius: .25rem;
}
.THIS .tileHeader {
    color:#0070d2;
    font-size:.9rem;
}

.THIS .noevent-child {
  pointer-events: none;
}

.THIS .no-text-overflow {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.THIS .divMargin {
    margin:10px 10px 10px 10px !important;
}

.THIS .sldxBoxOverride {
    margin: 5px 5px 5px 3px !important;
    padding:7px 7px 7px 7px !important;
    background:#fff;

}
.THIS.customOverFlow {
    overflow:scroll;
}

.THIS .btn-add {
    font-size:.85rem;
}

.THIS .btn-add svg {
    margin-top:-.1rem;
}

.THIS .selected-item-list {
    display:flex;
    flex-flow:row wrap;
}

.THIS .selected-item-list>.selected-item {
    flex-basis:25%;
    flex-grow:1;
    flex-shrink:0;
    max-width:50%;
}

@media (min-width:1200px) {
    .THIS .selected-item-list>.selected-item {
        max-width:25%;
    }
}

@media (min-width:1600px) {
    .THIS .selected-item-list>.selected-item {
        max-width:20%;
    }
}

.THIS .location-btn-wrapper {
    float:right;
    position: relative;
    z-index: 999;
}

.THIS .slds-button__icon {
    width:1.25rem;
    height:1.25rem;
}

.THIS .text-bold {
    font-weight:bold;
}

.THIS .survey-location {
    padding:.25rem;
    border-top:1px solid rgb(221, 219, 218);
    border-bottom:1px solid rgb(221, 219, 218);
    background:#f9f9f9;
    border-radius:0;
}

.THIS .section-header {
    background: rgb(243, 242, 242);
    margin: -.5rem -.5rem 1rem -.5rem;
    display:flex;
    align-items:center;
    padding:.5rem;
    flex-direction:column;
}

.THIS .custom-col .slds-page-header__title {
    font-size:.8rem;
}

.THIS .sorting-wrapper {
    font-size:.75rem;
}

.THIS .sorting-wrapper input[type=text] {
    padding-right:1.65rem;
}

@media (min-width:1200px) {
    .THIS .section-header {
        flex-direction:unset;
    }
}

.THIS.custom-grid {
    display:flex;
}

.THIS.custom-grid .left-col {
    flex: 1.5 0 0;
    margin-right:1rem;
}

.THIS.custom-grid .right-col {
    flex: 3 0 0;
}

@media (min-width:1200px) {
    .THIS.custom-grid .right-col {
        flex: 5 0 0;
    }
}

.THIS.custom-grid .custom-col {
    overflow:auto;
    padding:.5rem;
    border:1px solid rgb(221, 219, 218);
    max-height:35rem;
}

.THIS .sorting-wrapper {
    display:inline-flex;
    align-items:center;
    /*justify-content:flex-end;*/
    flex:1;
}

.THIS .sorting-wrapper .form-wrapper {
    margin:0 .25rem;
}

.THIS .sorting-wrapper lightning-input[lightning-input_input], .THIS .sorting-wrapper .slds-form-element {
    display:inline-flex;
}

.THIS .sorting-wrapper .slds-form-element__label {
    display:none;
}

.THIS .sorting-wrapper .sort-direction-wrapper label {
    display:inline-flex;
    align-items:center;
}


.THIS .sorting-wrapper label {
    margin-right:.05rem;
}

.THIS .sorting-wrapper .sort-direction-wrapper input[type=checkbox] {
    margin-left:.5rem;
}

.THIS .btn-search {
    margin-left:-2.5rem;
}

.THIS .btn-add lightning-primitive-icon {
    display:none;
}

@media (min-width:1200px) {
    .THIS .btn-add lightning-primitive-icon {
        display:inline-block;
    }
}