.THIS.slds-modal__footer {
    text-align: right !important;
    margin-right: -2rem;
    margin-left: -2rem;
    margin-bottom: -1rem;
    margin-top: 1rem;
    border-top: 2px solid rgb(221, 219, 218) !important;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16) !important;
}