.THIS {
    margin:1px 1px 1px 1px;
}

.THIS .input-full-height {
    display:flex;
    flex-direction:column;
    height:100%;
}

.THIS .input-full-height .lightningInputRichText {
    flex:1;
    align-self:stretch;
    justify-self:stretch;
}

.THIS .input-full-height .lightningInputRichText .slds-rich-text-editor {
    height:100%;
}

.THIS .btn-wrapper {
    margin-top:1rem;
    display:flex;
    justify-content:flex-end;
}