.ssBtnCls{
	background: url(SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
	border-color: #CCC #666 #666 #CCC !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-radius: 0 !important;
	margin: 0 !important;
	padding: 1px 10px !important;
	cursor:pointer;
}
.requestHelpCls{
	color:#1B3C55 !important;
	font-weight:bold;
	padding: 0 5px;
}
.submitLinkCls,.submitLinkCls .x-btn-inner{
	color:#1B3C55 !important;
	text-decoration: underline;
	cursor:pointer;
	font: 12px Arial;
}
.srpreview-tbar,.srpreview-bbar{
	padding: 10px 0 0 10px;
	border: 1px solid #AEBAC1;
	background-image: -ms-linear-gradient(top, #CBE8FF 0%, #9EBFD8 100%);
	background-image: -moz-linear-gradient(top, #CBE8FF 0%, #9EBFD8 100%);
	background-image: -o-linear-gradient(top, #CBE8FF 0%, #9EBFD8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #CBE8FF ), color-stop(1, #9EBFD8));
	background-image: -ms-linear-gradient(to bottom, #CBE8FF 0%, #9EBFD8 100%);
	background-image: -webkit-linear-gradient(top, #CBE8FF 0%, #9EBFD8 100%);
	background-image: linear-gradient(to bottom, #CBE8FF 0%, #9EBFD8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CBE8FF', endColorstr='#9EBFD8',GradientType=0 );
	min-height: 30px;
	margin:0;
}
.srpreview-bbar{
	position:fixed;
	bottom: 0;
	width:100%;
}
.boldFontCls{
	font-weight:bold;
}
.srpreview-contents{
	padding:0 20px 50px;
	overflow:auto;
}
.srHeaderCls{
	font: bold 14px Arial;
	color: #1B3C55;
	padding: 10px 0;
	text-decoration: none;
}
.ssImageCls{
	float: left;
	padding: 10px 10px 0 0;
	margin: 0px;
	width:32px;
	height:32px
}
.rf-sr-infotd{
	padding:15px 0 0 10px;
	vertical-align: top;
}

/*  msg box */
.x-window-default {
	background-color: #CBE8FF;
    background-image: -ms-linear-gradient(top, #CBE8FF 0%, #9EBFD8 100%);
		background-image: -moz-linear-gradient(top, #CBE8FF 0%, #9EBFD8 100%);
		background-image: -o-linear-gradient(top, #CBE8FF 0%, #9EBFD8 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #CBE8FF ), color-stop(1, #9EBFD8));
		background-image: -ms-linear-gradient(to bottom, #CBE8FF 0%, #CBE8FF 100%);
		background-image: -webkit-linear-gradient(top, #CBE8FF 0%, #9EBFD8 100%);
		background-image: linear-gradient(to bottom, #CBE8FF  0%, #CBE8FF 100%);
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CBE8FF', endColorstr='#9EBFD8',GradientType=0 );*/
}
.x-window-default {
    border-color: #9EBFD8 !important;
    box-shadow: 0 1px 0 0 #9EBFD8 inset, 0 -1px 0 0 #9EBFD8 inset, -1px 0 0 0 #9EBFD8 inset, 1px 0 0 0 #9EBFD8 inset !important;
}

.x-panel-header-text-container .x-window-header-text-container {
    background-color: #CBE8FF;
	overflow: hidden;
    padding: 0 0 1px;
    text-overflow: ellipsis;
}

.x-window-header-default-top {
    box-shadow: 0 1px 0 0 #9EBFD8 inset, -1px 0 0 0 #9EBFD8 inset, 1px 0 0 0 #9EBFD8 inset !important;
}
.x-window-header-default-top {
	background-color: #CBE8FF;
    background-image: -ms-linear-gradient(top, #CBE8FF 0%, #9EBFD8 100%);
		background-image: -moz-linear-gradient(top, #CBE8FF 0%, #9EBFD8 100%);
		background-image: -o-linear-gradient(top, #CBE8FF 0%, #9EBFD8 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #CBE8FF ), color-stop(1, #9EBFD8));
		background-image: -ms-linear-gradient(to bottom, #9EBFD8 0%, #CBE8FF 100%);
		background-image: -webkit-linear-gradient(top, #9EBFD8 0%, #CBE8FF 100%);
		background-image: linear-gradient(to bottom, #9EBFD8 0%, #CBE8FF 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CBE8FF', endColorstr='#9EBFD8',GradientType=0 );
    
}
.x-window-header-text-default {
    color:#1B3C55 !important;
    font-family: arial !important;
    font-size: 12px !important;
    font-weight: bold;
}

.x-window-body-default {
    border-color: #CBE8FF !important;
}

.winHeaderClass .x-window-body-default {
	background: none repeat scroll 0 0 #FFFFFF !important;
}
.x-message-box .x-window-body {
    background-color: #FFFFFF;
    border: 0 none;
}			
.winHeaderClass TR {
	vertical-align:top !important;
}
.msgBoxCls {
    background-color: transparent !important;border: none !important;box-shadow: 0 0 0 transparent !important;background-image: none !important;
}
.x-nbr .x-window-header-default-top-ml,
.x-nbr .x-window-header-default-top-mr,
.x-nbr .x-window-header-default-top-tl,
.x-nbr .x-window-header-default-top-tc,
.x-nbr .x-window-header-default-top-tr,
.x-nlg .x-window-header-default-top-mc,
.x-nbr .x-window-default-ml,
.x-nbr .x-window-default-mr,
.x-nbr .x-window-default-tl,
.x-nbr .x-window-default-tc,
.x-nbr .x-window-default-tr,
.x-nlg .x-window-default-mc,
.x-nbr .x-window-default-bc,
.x-nbr .x-window-default-bl,
.x-nbr .x-window-default-br
{
background-color:#9EBFD8 !important;
background-image:none !important;
}

/*  msg box */