<div class="catalog-banners-section" ng-show="banners.length">
	<ul class="catalog-banners-list list-unstyled">
		<li ng-repeat="banner in banners"
			ng-show="banner.isVisible"
			class="catalog-banner">

			<loading-spinner if="banner.srdLoading" inline="true" overlay="true"></loading-spinner>

			<a ng-click="activateItem(banner)"
			   target="_blank"
			   class="catalog-banner__link"
			   title="{{banner.label}}">

				<img class="catalog-banner__image"
					 ng-src="{{banner.imageUrl}}"
					 alt="{{banner.label}}" />
			</a>
		</li>
	</ul>

	<button class="catalog-banners-section__button catalog-banners-section__button_prev i-catalog-banner-arrow-left"
			ng-show="prevEnabled"
			ng-click="prevBanner()"
			type="button">
	</button>

	<button class="catalog-banners-section__button catalog-banners-section__button_next i-catalog-banner-arrow-right"
			ng-show="nextEnabled"
			ng-click="nextBanner()"
			type="button">
	</button>
</div>