<li set-Width-Of-Tile="{{numberOfCols}}" class="padding14px catalog-item catalog-item_type_{{itemData.sourceType}} catalog-item_display_{{displayStyle}}"
	ng-class="{
		'clearfix': displayStyle == 'catalog'
	}"
	ng-click="activateItem(itemData)" aria-label="{{decodeText(itemData.label)}}">

	<loading-spinner if="itemData.srdLoading" inline="true" overlay="true"></loading-spinner>
	
	<div class="displayTableCls" title={{decodeText(itemData.label)}}>
		<div class="catalog-item__icon-wrapper" ng-class="{'catalogImgCls': $root.isSwitchToEnhancedUI}">
			<img class="catalog-item__icon" style="background: none;"
				 ng-src="{{itemData.imageUrl}}"
				 ng-if="itemData.imageUrl && itemData.isSrm"
				 alt="{{itemData.label}}" 
				 aria-hidden="true" />
			<img class="catalog-item__icon"
				 ng-src="{{itemData.imageUrl}}"
				 ng-if="itemData.isHowTo || itemData.isRkm"
				 alt="{{itemData.label}}" 
				 aria-hidden="true" />
			<img class="catalog-item__icon"
				 ng-src="{{itemData.imageUrl}}"
				 ng-if="itemData.isTmp"
				 alt="{{itemData.label}}" 
				 aria-hidden="true" />
				 <img class="catalog-item__icon"
				 ng-src="{{itemData.imageUrl}}"
				 ng-if="itemData.isSFkm"
				 alt="{{itemData.label}}" 
				 aria-hidden="true" />	 
			<ins class="i-catalog-quick-link" ng-if="itemData.isQuickLink"></ins>
		</div>

		<div class="catalogNameCls"
			 ng-if="displayStyle == 'catalog'">

			<h3 class="catalog-item__name">
				<div ng-bind-html="itemData.label"/>
			</h3>
		</div>
	</div>
</li>