<div class="modal-header Branding-Title_bar-background_color Branding-Title_bar-broadcast_text_color support-modal-header">  
    <div style="float:left;width:97%;"> 
        <h1 class="modal-header__title support-modal-header__title" id="support-modal-header__title"> 
			{{selfServiceLabels.UploadProfilePhoto}} 
		</h1> 
	</div> 
	<div id="crossCancelButton" role="button" aria-label="{{ $root.selfServiceLabels.cancel }}" tabindex="0" class="search-remove-btn search-remove-btn-dpl" ng-click="cancel()">
        <span class="d-icon-cross"/>
	</div>
</div>
<div class="modal-body" style="padding: 22px"> 
    <loading-spinner if="profileImageIsUpdating" overlay="true"></loading-spinner> 
    <div class="user-image-upload-div" tabindex="0">
		{{selfServiceLabels.UserProfileImage}}
	</div>
    <div class="user-image-upload-div"> 
        <input type="file" id="userImageUpload" name="file" onchange="angular.element(this).scope().file_changed(this)"/> 
    </div>
    <div class="profile-user-image" style="margin-left: 0px;"> 
        <div class="photo-upload-section"> 
            <img class="profile-picture-user" ng-src="{{profileImage}}"> 
        </div> 
	</div> 
</div> 
<div class="modal-footer"> 
    <div class="modal-footer__btn-container"> 
        <button type="submit" class="btn btn-primary Branding-Right_Panel-default_button Branding-Right_Panel-button_outline" ng-click="save()"> 
            {{selfServiceLabels.save}} 
        </button> 
        <button type="button" class="btn Branding-Right_Panel-button_outline" ng-click="cancel()"> 
            {{selfServiceLabels.cancel}} 
		</button> 
    </div> 
</div> 