<div ng-hide="(!data.isVisible)">
	<table class="srd-question-checkbox__input-type-align">
		<tr>
			<td style="width: 4%;">
				<div >
					<label class="srd-question-checkbox__label" style="padding-bottom: 16px;!important;">
						<input type="checkbox" class="srd-question-checkbox__input"
						   ng-model="data.Value"
						   ng-value="{{ option.Text }}"
						   id="{{ data.Id }}"
						   ng-required="!data.Value && data.isRequired && data.isVisible"
						   ng-disabled="!data.isUpdateable && !data.isSRInput"
						   title="{{data.InlineHelp}}" aria-labelledby="{{data.isSRInput ? data.Id+' '+data.Id+'errorMsg' : data.id+' '+data.id+'errorMsg'}}"
						   style="margin-top: 6px;"
						   />
					</label>
				</div>
			</td>
			<td style="width: 96%;">
				<srd-question-header question-data="data"></srd-question-header>
			</td>
		</tr>
	</table>
</div>
