<div ng-hide="(!data.isVisible) && data.Name!='dateRequired'">
	<srd-question-header question-data="data"></srd-question-header>
	<input ng-if="data.Name!='dateRequired'" type="text" ng-model="data.Value"  datetime-picker date-format="{{data.dateTimeFormat}}" 
		 date-Valid class="srd-question-input"
		 ng-required="data.IsRequired && (data.isVisible || !data.isSRInput)" 
		 year="{{data.yy}}" month="{{data.MM}}" day="{{data.dd}}" hour="{{data.HH}}" minute="{{data.mm}}"
		 ng-disabled="(!data.isUpdateable && !data.isSRInput) || data.DefaultValueReadOnly" 
		 ng-readonly="(!data.isUpdateable && !data.isSRInput) || data.DefaultValueReadOnly" 
		 name="formField" 
		 id="{{data.isSRInput? data.Id : data.apiName}}"  
		 title="{{data.InlineHelp}}" aria-labelledby="{{data.isSRInput ? data.Id+' '+data.Id+'errorMsg' : data.id+' '+data.id+'errorMsg'}}"
	/>
	
	<input ng-if="data.Name=='dateRequired'" type="text" ng-model="data.Value" datetime-picker 
		date-format="{{data.dateTimeFormat}}" date-Valid class="srd-question-input" year="{{data.yy}}" 
		month="{{data.MM}}" day="{{data.dd}}" hour="{{data.HH}}" minute="{{data.mm}}" name="formField" aria-labelledby="{{data.isSRInput ? data.Id+' '+data.Id+'errorMsg' : data.id+' '+data.id+'errorMsg'}}"/>
	
</div>