<div ng-hide="(!data.isVisible)">
	<srd-question-header question-data="data"></srd-question-header>	
	<input  type="text"  date-Valid dateTimeUSLocaleVal="data.dateTimeUSLocaleVal"
			ng-model="data.Value"   class="srd-question-input"
			datetime-picker date-format="{{data.dateFormat}}"  date-only 
			ng-required="data.IsRequired && (data.isVisible || !data.isSRInput)" name="formField"
			ng-disabled="(!data.isUpdateable && !data.isSRInput) || data.DefaultValueReadOnly" 
			ng-readonly="(!data.isUpdateable && !data.isSRInput) || data.DefaultValueReadOnly" 
			year="{{data.yy}}" month="{{data.MM}}" day="{{data.dd}}" 
			id="{{data.isSRInput? data.Id : data.apiName}}"  
			title="{{data.InlineHelp}}"  aria-labelledby="{{data.isSRInput ? data.Id+' '+data.Id+'errorMsg' : data.id+' '+data.id+'errorMsg'}}"
	/>
</div>