<div ng-hide="!data.isVisible && data.isSRInput" tabindex="0">
	<div class="support-modal__header_section" ng-if="data.Values[0].Value == '2'" style="margin-left: -11px;" title="{{data.Tooltip}}" aria-labelledby="{{data.isSRInput ? data.Id+' '+data.Id+'errorMsg' : data.id+' '+data.id+'errorMsg'}}">
		<h4 style="margin-left: -9px;" ng-bind-html="data.Text"></h4>
	</div>

	<div class="support-modal__header_section" style="background-color: #ffffff; border-bottom: 1px solid #999; padding-left: 0px; padding-bottom: 0px;" ng-if="data.Values[0].Value == '1'" title="{{data.Tooltip}}" aria-labelledby="{{data.isSRInput ? data.Id+' '+data.Id+'errorMsg' : data.id+' '+data.id+'errorMsg'}}">
		<h4 style="margin-bottom: 5px;" ng-bind-html="data.Text"></h4>
	</div>
	
	<div class="support-modal__header_section" style="background-color: #ffffff; padding-left: 0px;" ng-if="data.Values[0].Value == '0'" title="{{data.Tooltip}}" aria-labelledby="{{data.isSRInput ? data.Id+' '+data.Id+'errorMsg' : data.id+' '+data.id+'errorMsg'}}">
		<h4 ng-if="data.Values[0].Value == '0'" ng-bind-html="data.Text"></h4>
	</div>
</div>