<div ng-hide="(!data.isVisible)">
	<srd-question-header question-data="data"></srd-question-header>
	<div>
		<select class="srd-question-menu"
				id="{{ data.isSRInput? data.Id : data.apiName}}"
				name="formField"
				title="{{data.InlineHelp}}"
				ng-disabled="(!data.isUpdateable && !data.isSRInput) || ((data.Values == undefined || data.Values.length == 0) && (data.Value == undefined || data.Value == ''))"
				ng-model="data.Value"
				ng-options="option.Value as (option.Text | cut: true : 65) for option in data.Values"
				ng-required="data.IsRequired && data.isVisible"
				ng-if="!data.MultiSelect" ng-readonly="!data.isUpdateable && !data.isSRInput"
				aria-label="{{data.Text}}"
				aria-labelledby="{{data.isSRInput ? data.Id+' '+data.Id+'errorMsg' : data.id+' '+data.id+'errorMsg'}}">
		</select>
		<select multiple class="srd-question-menu" menu-Multi-Select="true"
				id="{{ data.isSRInput? data.Id : data.apiName}}"
				name="formField"
				title="{{data.InlineHelp}}"
				ng-disabled="(!data.isUpdateable && !data.isSRInput) || ((data.Values == undefined || data.Values.length == 0) && (data.Value == undefined || data.Value == ''))"
			    ng-model="data.Value"
				ng-required="data.IsRequired && data.isVisible"
				ng-if="data.MultiSelect" ng-readonly="!data.isUpdateable && !data.isSRInput"
				ng-options="option.Value as option.Text for option in data.Values"
				aria-label="{{data.Text}}"
				aria-labelledby="{{data.isSRInput ? data.Id+' '+data.Id+'errorMsg' : data.id+' '+data.id+'errorMsg'}}">
		</select>
	</div>
	
	
</div>
 