<div ng-hide="(!data.isVisible)">
	<srd-question-header question-data="data" show-required-label-if-default="true"></srd-question-header>
	<input type="number" ng-model="data.Value" number-Range="true" 
ng-required="data.IsRequired && (data.isVisible || !data.isSRInput)" 
	    id="{{ data.isSRInput? data.Id : data.apiName}}"
	       name="formField"
		   title="{{data.InlineHelp}}"
		   ng-if="!(!data.isUpdateable && !data.isSRInput) && !enableLocale"
		  ng-readonly="(!data.isUpdateable && !data.isSRInput) || data.DefaultValueReadOnly" ng-disabled="(!data.isUpdateable && !data.isSRInput) || data.DefaultValueReadOnly" class="srd-question-range" check-form-validity validate-integer aria-labelledby="{{data.isSRInput ? data.Id+' '+data.Id+'errorMsg' : data.id+' '+data.id+'errorMsg'}}">
	
	<input type="text" ng-model="data.Value" ng-required="data.IsRequired && (data.isVisible || !data.isSRInput)" 
	    id="{{ data.isSRInput? data.Id : data.apiName}}"
	       name="formField"
		   title="{{data.InlineHelp}}"
		   ng-if="!data.isUpdateable && !data.isSRInput && !enableLocale"
	       ng-disabled="(!data.isUpdateable && !data.isSRInput) || data.DefaultValueReadOnly"  class="srd-question-range" aria-labelledby="{{data.isSRInput ? data.Id+' '+data.Id+'errorMsg' : data.id+' '+data.id+'errorMsg'}}">
		   
	<input type="text" ng-model="data.Value" number-Range="true" 
ng-required="data.IsRequired && (data.isVisible || !data.isSRInput)" 
	    id="{{ data.isSRInput? data.Id : data.apiName}}"
	       name="formField"
		   title="{{data.InlineHelp}}"
		   ng-if="!(!data.isUpdateable && !data.isSRInput) && enableLocale"
	       ng-readonly="(!data.isUpdateable && !data.isSRInput) || data.DefaultValueReadOnly"
		   ng-disabled="(!data.isUpdateable && !data.isSRInput) || data.DefaultValueReadOnly" class="srd-question-range" check-form-validity validate-integer locale-Decimal-Number-Format aria-labelledby="{{data.isSRInput ? data.Id+' '+data.Id+'errorMsg' : data.id+' '+data.id+'errorMsg'}}">
	
	<input type="text" ng-model="data.Value" ng-required="data.IsRequired && (data.isVisible || !data.isSRInput)" 
	    id="{{ data.isSRInput? data.Id : data.apiName}}"
	       name="formField"
		   title="{{data.InlineHelp}}"
		   ng-if="!data.isUpdateable && !data.isSRInput && enableLocale"
	       ng-disabled="(!data.isUpdateable && !data.isSRInput) || data.DefaultValueReadOnly" class="srd-question-range" locale-Decimal-Number-Format aria-labelledby="{{data.isSRInput ? data.Id+' '+data.Id+'errorMsg' : data.id+' '+data.id+'errorMsg'}}">
</div>
