<div data-parent-name="{{data.parentId}}" data-condition-values="{{ data.conditionValues }}">
	<srd-question-header question-data="data"></srd-question-header>
	<loading-spinner if="data.dynamicOptionAreLoading" inline="true"></loading-spinner>
	<select name="{{data.id}}" class="srd-question-options"
			ng-class="{
				'form-submitted': data.validate, 
				'form-not-submitted': !data.validate
			}"
			ng-if="data.visibility && !data.dynamicOptionAreLoading"
			ng-model="data.answer"
			ng-options="option.value as (option.label | cut: true : 65) for option in data.options"
			ng-required="data.isRequired && data.visibility"
			ng-readonly="data.isReadOnly"
			ng-disabled="data.isReadOnly">
		<option value=""></option>
	</select>
</div>