<div class="srd-question-label-container" ng-hide="!questionData.isVisible && data.isSRInput">
	<div class="srd-question-label-container__left wrapContentsForIE">
		<h5 class="srd-question-label maintain-word-breaks" id="{{questionData.id || questionData.Id}}" style="margin-bottom: 5px;">
			{{questionData.Text}}
			<span class="srd-question-label__required srd-question-label__required-error" ng-show="questionData.IsRequired">
			&nbsp;({{ $root.selfServiceLabels.required }})</span>
			<span ng-if="!(!questionData.URL)" 
			 class="d-icon-info_circle service-request-url-info"
			 title="{{questionData.URL}}"
			 onmouseout="this.className='d-icon-info_circle service-request-url-info service-request-url-info-out'"
			 onmouseover ="this.className='d-icon-info_circle service-request-url-info service-request-url-info-hover'" 
				 ng-click='urlInfo(questionData.URL)'></span>
		</h5>
	</div>
 	<div ng-if="questionData.isDependentPicklist"
 	    class="d-icon-info_circle picklist-info dependent-picklist-info"
 		title="{{questionData.picklistInfo}}"
 	</​div>
</div>