<div ng-hide="(!data.isVisible) && (data.isSRInput)">
	<srd-question-header question-data="data"></srd-question-header>
	<div title="{{data.InlineHelp}}">
		<label class="srd-question-radio-button__label" ng-repeat="option in data.Values">
			<form name="radioButtonForm" novalidate>
				<input type="radio" class="srd-question-radio-button__input"
					   ng-model="data.Value"
					   name="formField"
					   id="{{ data.isSRInput? data.Id : data.apiName}}"
					   ng-value="option.Value"
					   ng-checked="option.Value == data.Value"
					   ng-required="data.IsRequired && data.isVisible" ng-readonly="!data.isUpdateable && !data.isSRInput"
					   aria-labelledby="{{data.isSRInput? data.Id+' '+data.Id+$index : data.apiName+' '+data.apiName+$index}}"/>
				<span id="{{data.isSRInput ? data.Id+$index : data.apiName+$index}}">
					{{ option.Text }}
				</span>
			</form>
		</label>
	</div>
</div>
