<div>
	<div ng-repeat="optionVal in childData" class="srd-question-reference-container">
        <ul class="ul-dropdown-list">
          	<li>
          		<div class="srd-question-reference__dropdown-item ellipsisText">
                    <div style="float: left;width: 15px;">
                        <span ng-show="optionVal.showLoader">
                            <loading-spinner if="true" inline="true" ></loading-spinner>
                        </span>
                	    <span ng-class="optionVal.className" ng-click="showChildren(optionVal);" ng-if="!optionVal.leaf" ng-show="!optionVal.showLoader"></span>
                    </div>
                  	<span title="{{optionVal.text}}" ng-class="{ 'div-empty-margin': optionVal.leaf, 'div-margin': !optionVal.leaf}" ng-bind="optionVal.text" ng-click="selectFromChild(optionVal);" tooltip></span>
        		</div>
        		<div ng-show="optionVal.showChilds" class="span-child-margin">
    				<srd-children-category child-data="optionVal.children" searchText="searchText" data="data" select-action="selectFromChild(selectedCategory)" for-sr="forSr"></srd-children-category>
    			</div>
            </li>
        </ul>
	</div>	
</div>	