<div ng-click="disableRecorddetailPopup($event)">
	<div class="support-request__description {{data.descriptionData.descriptionClass}}" ng-class="{'support-request_floatleft': $root.isSwitchToEnhancedUI}">
		<div ng-bind-html="trustedHtml(data.descriptionData.value)" class="support-request__description-content"></div>
	</div>
	<div ng-if="data.descriptionData.showToggle && data.name == undefined" >
		<a class="support-request__expandcollapse-links Branding-Right_Panel-hyperlink" 
			ng-show="data.descriptionData.showDescriptionEllipses" 
			ng-click="toggleDescription()">{{$root.selfServiceLabels.ShowMore}}
		</a>
		<a class="support-request__expandcollapse-links Branding-Right_Panel-hyperlink" 
    		ng-hide="data.descriptionData.showDescriptionEllipses" 
    		ng-click="toggleDescription()">{{$root.selfServiceLabels.ShowLess}}
		</a>
	<div>
</div>
