<div class="modal-header Branding-Title_bar-background_color Branding-Title_bar-broadcast_text_color">
	<h1 class="modal-header__title" id="modal-header__title">{{title}}</h1>
</div>
<div class="modal-body">
	<p class="modal-header__text" id="modal-header__text">{{text}}</p>
</div>
<div class="modal-footer">
	<div class="modal-footer__btn-container">
		<button type="button" class="btn btn-primary Branding-Right_Panel-default_button Branding-Right_Panel-button_outline" ng-click="confirm()">{{$root.selfServiceLabels.ok}}</button>
	</div>
</div>