<div class="page-toolbar__breadcrumbs nowrap-line" aria-label="Breadcrumb">
	<span ng-repeat="breadcrumbItem in pageBreadcrumbsModel.items" class="breadcrumb-span-float">
		<a class="page-breadcrumb-item Branding-Right_Panel-hyperlink" ng-if="breadcrumbItem.isHome" ui-sref="home" tabindex="0">
			<ins class="i-breadcrumb-home"></ins>
		</a>
		<a id="firstElementFocusId" class="page-breadcrumb-item Branding-Right_Panel-hyperlink breadcrumb-navigate" ng-if="!breadcrumbItem.isHome && breadcrumbItem.state && !$last" ng-click="goToState(breadcrumbItem.state)" tabindex="0">
			{{breadcrumbItem.label }}
		</a>
		<span class="page-breadcrumb-item" style="font-weight:bold;" ng-if="!breadcrumbItem.isHome && breadcrumbItem.state && !$last">&#10095;</span>
		<span class="page-breadcrumb-item" ng-if="!breadcrumbItem.isHome && (!breadcrumbItem.state || $last)" class="page-breadcrumb-item" ng-class="{ 'page-breadcrumb-item_active': $last }" aria-current="page" tabindex="0">
			{{breadcrumbItem.label }}
		</span>		
	</span>
</div>