.THIS {
    /*max-width: 1140px !important;*/
    
    margin-bottom: auto !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

@media screen and (max-width: 768px){
    .THIS.desktop{
        display : none !important;
    }
}

@media screen and (min-width: 769px) {
    .THIS.mobileDisplay{
        display : none !important;
    }
}
.THIS.customMargin {
    margin-top:900px;
}

.THIS .bold {
    font-weight: bold;
}

.THIS .center {
    text-align: center;
}

.THIS .iconWrapper {
    padding-bottom: 5%;
}

.THIS .iconValueWrapper {
    padding-bottom: 3%;
}