/**
 * @FileName: Util_LightningLookupResult.css
 * @Description: Style sheet for Util_LightningLookupResult
 * @Author: Graeme Ward
 * @ModificationLog:
 *-----------------------------------------------------------
 * Author            Date            Modification
 * Graeme Ward       11/20/2019         Created
 *-----------------------------------------------------------  
 */
.THIS .citron-button-subdued {
    background-color: transparent;
    border: none;
    text-align: left;
    width: 100%;
}

.THIS .citron-button-subdued:focus {
    background-color: rgb(236, 235, 234);
    outline: none !important;
}