.THIS.ch-font_bold {
    font-weight: bold
}

.THIS.ch-accordion {
    border: 1px solid #ccc;
    border-radius: .25rem;
}

.THIS.overlay {
    position: absolute;
    height: 57px;
    text-align: center;
    width:100%;
}