.THIS .citronProducts{
    padding-bottom: 30px;
}

.THIS .citronProductScroll{
    height : 400px;
    overflow-y : scroll;
}

@media screen and (max-width: 768px){
    .THIS.desktop{
        display : none !important;
    }
}

@media screen and (min-width: 769px) {
    .THIS.mobileDisplay{
        display : none !important;
    }
}
.THIS.customMargin {
    margin-top:900px;
}