/**
 * @FileName: Util_LightningLookup.css
 * @Description:
 * @Author: Graeme Ward
 * @ModificationLog:
 *-----------------------------------------------------------
 * Author            Date            Modification
 * Graeme Ward       11/15/2019         Created
 *-----------------------------------------------------------  
 */
.THIS .citron-search-results {
    background-color: rgb(255,255,255);
    border: 1px solid rgb(221,219,218);
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%;
    z-index: 99999999;
}