.THIS .ch-slds-form-element--warning .slds-input {
    border-color: #FFA33B;
    background: #FCEFDF;
}

.THIS .warning-icon {
    margin-top: -2rem;
    position: relative;
    right: .5rem;
    float: right;
}

.THIS .ch-section-header .ch-section-header_content .ch-section-header_icon {
    display:none;
}

.THIS .ch-section-header .ch-section-header_content {
    margin-left:.5rem
}

.THIS .ch-date-row {
    margin-top: 0.5rem;
    margin-left: -.25rem;
}

.THIS .ch-date-row .slds-form-element__row {
    align-items:center;
}

@media (min-width:1200px) {
    .THIS .ch-col_special {
        margin-top: -3rem
    }
    
    .THIS .ch-section-header .ch-section-header_content .ch-section-header_icon {
        display:inline-block;
        color: #fff;
        margin-right:.75rem;
    }

    .THIS .ch-section-header .ch-section-header_content {
        margin-left:0
    }
}