/* VARIABLES
========================================================================== */

$font-primary: 'Salesforce Sans', Verdana, sans-serif !Important; 

$white : #ffffff;
$transparent-white : rgba(255,255,255,0.7);
$light-gray : #f3f2f2;
$gray : #706e6b;
$medium-gray : #706e6b;
$dark-gray : #182337;
$black : #000205;
$transparent-gray : rgba(8, 7, 7, 0.6);
$border-gray: #dddbda;
$border-dark-gray: #dddbda;


// MA Blues
$light-blue : #1589ee;
$blue : #0070d2;
$blue-2 : #005fb2;
$blue-3 : #005583;
$blue-4 : #16325c;

// SF blues from dreamforce '16 site
// $light-blue : #19AAE3;
// $blue : #0094D2;
// $blue-2 : #0083C1;
// $blue-3 : #0072B0;
// $blue-4 : #0061A0;

// SF blues 
// $light-blue : #1181e3;
// $blue : #0070d2;
// $blue-2 : #0060c2;
// $blue-3 : #005fb2;
// $blue-4 : #004fa2;

// SF blues 2
// $light-blue : #1181e3;
// $blue : #0c8eff;
// $blue-2 : #0060c2;
// $blue-3 : #005fb2;
// $blue-4 : #004fa2;

$dark-blue : #16325c;
$sf-blue: #0094D2;
$green : #4bca81;
$red : #d4504c;
$orange : #e3924a;
$yellow : #F7B64B;
$magenta : #EF7EAD;
$text-sf : #54698d;
$color-text-default: #080707;
$menu-bar-hover-gray: #e6e9f0;
$google-blue: #4285F4;
$bottom-bar-blue: #182337;
$indigo: #bb55ff;
$violet: #ff22ff;
$brown: #603813;
$lime: #00ff44;
$peach: #f4cc73;
$teal: #00bab0;
$gold: #bcb81d;
$gold: #bcb81d;
$color-text-weak: #3e3e3c;
$color-text-input-icon: #706e6b;
$color-border: #dddbda; $GEYSER: $color-border;
$color-background: #f3f2f2;

$color-event-background: #CFEBFE;

$radius : .25rem;
$box-shadow :  0px 2px 3px 0px rgba(0,0,0,0.16);
$box-shadow-right :  2px 0px 3px 0px rgba(0,0,0,0.16);

$responsive-breakpoint-large: 1280px;
$responsive-breakpoint-medium: 1024px;
$responsive-breakpoint-small: 768px;
$responsive-breakpoint-xsmall: 425px;