.THIS#current-order {
    overflow: hidden;
}

.THIS table.ch-product-table {
    font-size:.75rem;
}

.THIS table.ch-product-table thead th {
    font-size:.75rem;
}

.THIS table.ch-product-table tbody tr td:first-of-type .ch-cb-select-row  {
    float: left;
    margin-top: 7px;
}

.THIS table.ch-product-table tbody tr td:first-of-type span  {
    margin-top: 14px;
    display: inline-block;
}
    
.THIS .ch-survey-location-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.THIS .ch-survey-location-cell>span {
    width:300px;
}

.THIS .ch-cb-select-row .slds-checkbox_add-button .slds-checkbox_faux {
    width:1.75rem;
    height:1.75rem;
}

.THIS table.ch-product-table {
    table-layout: fixed;
}

.THIS .ch-product-table th#ch-product-table__actions {
    width:150px;
}

.THIS .ch-product-table th#ch-product-table__survey-location {
    width:400px;
}

.THIS .ch-product-table th#ch-product-table__number-of-rooms {
    width:200px;
}

.THIS .ch-product-table th#ch-product-table__infestation-level {
    width:250px;
}

.THIS .ch-product-table th#ch-product-table__po-number {
    width:200px;
}

.THIS .ch-product-table th#ch-product-table__product {
    width:200px;
}

.THIS .ch-product-table th#ch-product-table__price {
    width:200px;
}

.THIS .ch-section-body .ch-table-wrapper {
    overflow-y: auto;
}

.THIS .ch-section-header .ch-section-header_content .ch-section-header_icon {
    display:none;
}

.THIS .ch-section-header .ch-section-header_content {
    margin-left:.5rem
}

@media (min-width:1200px) {
    .THIS .ch-section-header .ch-section-header_content {
        margin-left:0
    }
    
    .THIS .ch-section-header .ch-section-header_content .ch-section-header_icon {
        display:inline-block;
        color: #fff;
        margin-right:.75rem;
    }
    
    .THIS table.ch-product-table {
        table-layout: initial;
    }
    
    .THIS .ch-product-table th#ch-product-table__actions {
        width:250px;
    }
    
    .THIS .ch-product-table th#ch-product-table__survey-location {
        width:500px;
    }
     
    .THIS .ch-product-table th#ch-product-table__number-of-rooms {
        width:initial;
    }
    
    .THIS .ch-product-table th#ch-product-table__infestation-level {
        width:initial;
    }
    
    .THIS .ch-product-table th#ch-product-table__po-number {
        width:initial;
    }
    
    .THIS .ch-product-table th#ch-product-table__product {
        width:initial;
    }
    
    .THIS .ch-product-table th#ch-product-table__price {
        width:initial;
    }
    
    .THIS .ch-survey-location-cell>.slds-form-element {
        width: auto;
        min-width: 300px;
        max-width: 300px;
    }

    .THIS table.ch-product-table {
        font-size:inherit;
    }
    
    .THIS table.ch-product-table thead th {
        font-size:inherit;
    }
    
    .THIS .ch-survey-location-cell>button {
        margin-left:.5rem;
    }

    .THIS .ch-cb-select-row .slds-checkbox_add-button .slds-checkbox_faux {
        width:2rem;
        height:2rem;
    }

    .THIS .ch-survey-location-cell>span {
        width:initial;
    }
}