/**
 * @FileName: TechCapacityTechnicianDetail.css
 * @Description: Stylesheet for TechCapacityTechnicianDetail
 * @Author: Graeme Ward
 * @ModificationLog:
 *-----------------------------------------------------------
 * Author            Date            Modification
 * Graeme Ward       11/25/2019      Created
 *-----------------------------------------------------------  
 */
.THIS .No_Utilization {
    background-color: rgba(243,242,242,1);
}

.THIS .High_Utilization {
    background-color: rgba(255,34,34,0.4);
}

.THIS .High_Utilization_L {
    background-color: rgba(255,34,34,0.2);
}

.THIS .High_Utilization_H {
    background-color: rgba(255,34,34,0.7);
}

.THIS .Low_Utilization {
    background-color: rgba(255,165,0,0.4);
}

.THIS .Low_Utilization_L {
    background-color: rgba(255,165,0,0.2);
}

.THIS .Low_Utilization_H {
    background-color: rgba(255,165,0,0.7);
}

.THIS .Good_Utilization {
    background-color: rgba(151,251,152,0.4);
}

.THIS .Good_Utilization_L {
    background-color: rgba(151,251,152,0.2);
}

.THIS .Good_Utilization_H {
    background-color: rgba(151,251,152,0.7);
}