b.cBold
{
  font-weight: bold
}
code.cCode
{
  font-family: Courier New, Courier, mono
}
em.cEmphasis
{
  font-style: normal
}
sub.cSubscript
{
  vertical-align: sub
}
sup.cSuperscript
{
  vertical-align: super
}
u.cUnderline
{
  text-decoration: underline
}
code.cUserType
{
  font-family: Courier New, Courier, mono;
  font-weight: bolder
}

p.pBody
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBodyRelative
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellBody
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellHeading
{
  color: #00418C;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pCellNote
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pChecklist
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 20px;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: -20px;
  text-transform: none
}
p.pChecklistIndent
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 20px;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0px;
  text-transform: none
}
p.pDefinition
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 10px;
  margin-left: 2.5em;
  margin-right: 0em;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pDropDownClosed
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pDropDownOpen
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pHeading1
{
  color: #00418C;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 5px;
  margin-right: 0em;
  margin-top: 5px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pHeading1Title
{
  color: #00418C;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 5px;
  margin-right: 0em;
  margin-top: 5px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h3.pHeading2
{
  color: #00418C;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pHeading2NewPage
{
  color: #00418C;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h3.pHeading3
{
  color: #00418C;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h5.pHeading4
{
  color: #00418C;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h6.pHeading5
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h6.pHeading6
{
  color: #00418C;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pImportant
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 5em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented3
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 7.5em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented4
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 10em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented5
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 12.5em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndentedRelative
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 2.5em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pNote
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pOverviewStep
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 3em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: -3em;
  text-transform: none
}
div.pPopup
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPopupAppend
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPopupOnly
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPopupOnlyAppend
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
pre.pPreformatted
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
pre.pPreformattedRelative
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
blockquote.pQuotation
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 2.5em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pRelatedTopic
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pRelatedTopicOnly
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pRemedyTitle
{
  color: #00418C;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 11pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0em;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 5px;
  text-transform: none
}
div.pSeeAlso
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList3
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList4
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList5
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pStepIndentIntro
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 2px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pTableTitle
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTerm
{
  color: #00418C;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 10px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTip
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pTitle
{
  color: #00418C;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pWarning
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

