.slds-modal__container {
    max-width: 80rem !important;
    width: 70% !important;
}


.slds-utility-panel {
    width: 32.25 rem !important;
}

.txtarea{
    --sds-c-textarea-sizing-min-height: 100px;
 }

 .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .header, .footer {
    background: white;
    padding: 0.123rem;
  }
  .content {
    flex: 1;
    overflow: auto;
    
  }
  .scrollable {
    height: 568px;
    overflow-y:auto;
}