.TextboxPopupIcon{
    border:0 none;
    height:19px;    
    margin-left:2px;
    padding-left:0px;
    vertical-align:top;
    width:19px;
	cursor: pointer;
 }

.addNoteBtnStyle1 {
	background-color:#DEE0E0;
	border-color:#6A7378 #BAC3C8 #BAC3C8 #6A7378;
	border-style:solid;
	border-width:1px;
	color:#000000;
	margin:5px;
	padding-top:0;
	height:25px;
}

.clsDurationLabel{
	font-family: tahoma ! important;
	font-size: 11px ! important;
	margin-left:11px;
}

.clsDurationTextBoxDisable, .clsInputTextAreaDisabledNote{
	background-color:#D4D0C8;
}

.clsDurationTextBox, .clsDurationTextBoxDisable{
	font-family: tahoma ! important;
	font-size: 11px ! important;
	color:#000000;
	width:45px;
	height:14px;    
	margin-left:11px;
	border-color:#6A7378 #BAC3C8 #BAC3C8 #6A7378;
	border-style:solid;
	border-width:1px;
	padding-left:5px;
}	
	
.clsInputTextAreaNote {
	border-color:#6A7378 #BAC3C8 #BAC3C8 #6A7378;
	border-style:solid;
	border-width:1px;
	color:#000000;
	font-family:Tahoma,Ms Sans Serif;
	font-size:11px;
}

.clsInputTextAreaNote, .clsInputTextAreaDisabledNote {
	border-color:#6A7378 #BAC3C8 #BAC3C8 #6A7378;
	border-style:solid;
	border-width:1px;
	color:#000000;
	font-family:Tahoma,Ms Sans Serif;
	font-size:11px;
	height:70px;
	margin:0;
	overflow:auto;
	padding-bottom:0;
	vertical-align:top;
	width:100%;
	padding-left:5px;
	padding-top:3px;
	resize: none;
}

.clsTimeLabel{
	font-family:Tahoma,Ms Sans Serif;
	font-size:11px;
	color:#000000;	
	margin-left:5px;
}

.clsInputTextAreaTDNote{
	width: 100%;
	padding-left: 10px;
}

.AddButton{
	cursor: pointer;
	height:19px;
	width:50px;
	min-width:50px;
	color:#000000;	
        margin-right:10px;
	margin-bottom:2px;
	padding-bottom: 4px;
	margin-top: 5px;
	padding-top:1px;
	background: url("/img/alohaSkin/btn_sprite.png") repeat-x scroll right top #E8E8E9 !important;
		border-color:#B5B5B5 #B5B5B5 #7F7F7F;
		border-style:solid;
		border-width:1px;
		-moz-border-radius:3px 3px 3px 3px;
		padding-bottom: 0px\9;
}

.addNoteBtnStyle2{
	background-color:#DEE0E0;
	border-color:#6A7378 #BAC3C8 #BAC3C8 #6A7378;
	border-style:solid;
	border-width:1px;
	color:#000000;
	margin:5px;
	padding-top:0;
	height:25px;	
	border-left-width: 0px;
}

.addNoteBtnStyle1{
	border-right-width: 0px;
}
	
.AddButtonOff{
	cursor: arrow;
	margin-left:10px;
	height:19px;
	width:50px;
	margin-top:5px;
	margin-right:10px;
	margin-bottom:2px;
	color:#657383;	
	background-color:#DEE0E0;
	padding-bottom: 3px;
	border-color:#B5B5B5 #B5B5B5 #7F7F7F;
		border-style:solid;
		border-width:1px;
		-moz-border-radius:3px 3px 3px 3px;
		padding-bottom: 0px\9;
}

.hidden { display: none; }
.unhidden { display: block; } 


.clsRightPadTD{
	padding-right: 7px !important;
	padding-right/*\**/: 8px\9 !important;
	*padding-right: 0px !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.clsRightPadTD{
	   padding-right: 9px !important;
	}  
}

.clsNoteTextAreaDisabled{
 	border-color:#6A7378 #BAC3C8 #BAC3C8 #6A7378;
    border-style:solid;
    border-width:1px;
    color:#000000;
    font-family:Tahoma,Ms Sans Serif;
    overflow: auto;
    font-size:11px;
    height:400px;
    height/*\**/: 407px\9;
    *height:407px;
    width:400px;
    padding:10px 0px 0px 8px;
	background-color: #D4D0C8;
}

.clsNoteEditorMainTable{
	background-color:#EFF3F5;
	height: 100%;
	width: 100%;
	padding:0px;
	margin:0px;
	border: 0 none;
}
.clsTextArea{
	font-family:Arial,Helvetica,sans-serif;
        font-size:12px;
}
.waitingSearchDiv{
	background-color: #e6e6e6;
	opacity: 0.65;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.waitingHolder{
	font-family: arial;
    font-size: 12px;
	top: 40%;
	left: 40%;
	position: relative;
}
.waitingImage{
	width:5%; 
	padding-left:20px;
}