    .container{
        overflow:auto;
    } 
    .messageContainer{
         height:25px;
    }
    .border1px{
		border-width:1px;
		border-style:solid;
		border-color : #BDBDBD;
        background-color: #F2F2F2;
    }
    .lightningBorder{
        border-width:1px;
		border-style:solid;
        background-color: #F2F2F2;
        border-color : rgb(224, 227, 229)
    }
    .padding5px{
        padding: 5px;
    }
    .padding8px{
        padding: 8px;
    }
    .blue-color-class{
        color: #0070d2 !important;
    }
    .green-color-class{
        color: #00a79d !important;
    }
    .firstPageEnableClass {
/*         background-image: url("Images/paginationArrowsStd.gif"); */
/*         background-position: 2px 1px; */
/*         background-repeat: no-repeat; */
/*         height: 10px; */
/*         width: 12px; */
        cursor:pointer;
        font-size: 18px;
    }
    .firstPageDisableClass {
        /*background-image: url("Images/paginationArrowsStd.gif");*/
/*         background-position: 2px -10px; */
/*         background-repeat: no-repeat; */
/*         height: 10px; */
/*         width: 12px; */
        font-size: 18px;
		opacity: 0.5;
		color: #333 !important;        
    }
    .previousPageEnableClass {
        /*background-image: url("Images/paginationArrowsStd.gif");*/
/*         background-position: -9px 1px; */
/*         background-repeat: no-repeat; */
/*         height: 10px; */
/*         width: 12px; */
        cursor:pointer;
        font-size: 18px;        
    }
    .prevLinkEnableClass{
        /*color: #333333;*/
        font-size: 18px;
    }
    .previousPageDisableClass{
        /*background-image: url("Images/paginationArrowsStd.gif");*/
/*         background-position: -9px -10px; */
/*         background-repeat: no-repeat; */
/*         height: 10px; */
/*         width: 12px; */
        cursor:pointer;
        font-size: 18px;
		opacity: 0.5;
		color: #333 !important;        
    }
    .prevLinkDisableClass{
/*         color: #A8A8A8; */
		font-size: 18px;
		opacity: 0.5;
		color: #333 !important;
    }
    .nextPageEnableClass {
        /*background-image: url("Images/paginationArrowsStd.gif");*/
/*         background-position: -15px 1px; */
/*         background-repeat: no-repeat; */
/*         height: 10px; */
/*         width: 12px; */
        cursor:pointer;
        font-size: 18px;
    }
    .nextLinkEnableClass{
/*         color: #333333; */
		font-size: 18px;
    }
    .nextPageDisableClass {
        /*background-image: url("Images/paginationArrowsStd.gif");*/
/*         background-position: -15px -10px; */
/*         background-repeat: no-repeat; */
/*         height: 10px; */
/*         width: 12px; */
/*         cursor:pointer; */
        font-size: 18px;
		opacity: 0.5;
		color: #333 !important;
    }
    .nextLinkDisableClass{
/*         color: #A8A8A8; */
		font-size: 18px;
		opacity: 0.5;
		color: #333 !important;
    }
    .lastPageEnableClass {
        /*background-image: url("Images/paginationArrowsStd.gif");*/
/*         background-position: -26px 1px; */
/*         background-repeat: no-repeat; */
/*         height: 10px; */
/*         width: 12px;  */
        cursor:pointer;
        font-size: 18px;      
    }
    .lastPageDisableClass {
        /*background-image: url("Images/paginationArrowsStd.gif");*/
/*         background-position: -26px -10px; */
/*         background-repeat: no-repeat; */
/*         height: 10px; */
/*         width: 12px;  */
        font-size: 18px;
		opacity: 0.5;
		color: #333 !important;              
    }
    .d-icon-restart{
    	cursor:pointer;
        font-size: 18px;
    }
    .leftClass {
/*         left: 15px; */
/*         position: absolute; */
/*         padding-bottom: 10px; */
		float:left;
    }
    .rightClass {
/*         right: 15px; */
/*         position: absolute; */
/*         padding-bottom: 10px; */
        float:right;
        margin-top: -3px !important;
    } 
    #choosePageSize{
    	height:20px;
    }
    .goBtnClass{
        padding-left: 5px;
        position: relative;    
    } 
    .goBtnClass INPUT{
    	height: 20px !important;
    }
    .prevClass{
        cursor:pointer;
    } 
    .nextClass{
        cursor:pointer;
    } 
    .top10pxPadding{
        padding-top: 10px;
    } 
    .top20pxPadding{
        padding-top: 20px;
    }
    .bottom20pxPadding{
        padding-bottom: 20px;
    }
	.leftright10pxPadding{
        padding-right: 10px;
		padding-left: 10px;
    }
    .left2pxPadding{
        padding-left: 2px;
		text-align: center;
		height: 20px !important;
    }
	.searchClass{
		font-weight:bold;
		padding: 2px 5px 2px 2px;
	}
    .bmcView1 {
		background-image: url(Images/b_views.gif) !important;
	}
	.mnuCls {
		background: none !important;
		border: none !important;
	}
	.mnuList {
		background-image: url(Images/list-items.gif) !important;
	}
	.x-form-field {
		margin-left: 5px !important;
		margin-right: 10px !important;
	}
	.commonCls {
		font: 12px Arial !important;
	}
	.clearLinkCls {
		font-family: Arial !important;
	}
	.btnCls {
		font-family: Arial !important;
		font-size: 12px !important;
		font-weight: bold !important;
	}
	.x-menu-item-text{
		font: 12px Arial !important;
	}
	.x-form-text{
		font: 12px Salesforce Sans !important;
	}
	h2 {
		font-family: Arial !important;
		font-size: 12px !important;
		font-weight: bold !important;
	}
	#statusLookUpButtonId {
		margin-left: -8px;
		top: 1px !important;
	}
	.headerRow th {
		font-family: Salesforce Sans !important;
		font-size: 12px !important;
	}
	
	.waitingSearchDiv {
		background-color: #fbfbfb;
		height: 100%;
		opacity:0.65;
		width:100%;
	}
	.waitingHolder {
		align: center; 
		width: 91px;
	}
	.commonClsWithPaddingAndColour {
		font: 12px Salesforce Sans !important;
		padding-left: 6px !important;
        padding-top: 10px;
		background:#fff;
	}
	.top8pxPadding {
		padding-top: 7px !important;
	}
	.menuColour ,.menuColour .x-vertical-box-overflow-body,.menuColour .x-menu-icon-separator{
		background:#fff !important;
		background-color:#fff !important;
		border: none !important;
	}	
	.headerMessage{
		padding-left: 18px;
        background: #ffffff !important;
        border-width: 1px!important;
        border-color: #f1b521!important;
        border-style: solid!important;
        margin: 5px 15px 5px 10px;
        color: #666;
        font-size: 14px;
        font-weight: 600;
        padding:12px;
        font-family: 'Salesforce Sans',Arial,sans-serif !important;
	}
	#headerMessage{display:none;}
	.highlight1{
		background-color: #dfe8f6;
	}
	.MaptoRuleBtn{
		margin-top: 7px; 
		margin-left: 7px;
		padding: 4px 3px;
	}
	.MaptoRuleBtnSec{
    		width: 230px;
    		margin: 0 auto 10px;
	}

	.x-form-trigger {
		margin-left: 5px ! important;
	}

	ul li {
		margin-left: 0px! important;
		padding-left: 0;
	}
	
	.x-toolbar-default{
		width: 100% !important;
	}

	.x-panel-body-default{
		width: 100% !important;
	}
	
	
	/* abhishek das */
	
		.searchtext-input-wrapper {
  border:1px solid  #d9d9d9;
  padding:1px 6px 1px 1px;
  display:inline-block;
}
.searchtext-input-wrapper input {
  border:none;
  background:none;
  outline:none;
  padding:0 0;
  margin:0 0;
  font:inherit;
}
.searchtext-input-wrapper input::-ms-clear {
    display: none;
}
.searchfield-input ,.searchfield-input:focus{
	height:18px;
	outline: none !important;
}
.rf-icon-search{
    background-image: url(Images/search-icon.svg) !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
	width: 12px !important;
    height: 13px !important;
    display: inline-block;
	vertical-align: middle;
	cursor:pointer;
	margin-left: 5px;
	margin-bottom: 4px;
}
.rf-icon-cross{
    background-image: url(Images/icon_cross.svg) !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
	width: 12px !important;
    height: 13px !important;
    display: inline-block;
    vertical-align: middle;
    cursor:pointer;
	visibility:hidden;
}
.rf-clear-filter-icon{
    background-image: url(Images/clear-all-filter.svg) !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
	width: 16px !important;
    height: 17px !important;
    display: inline-block;
    vertical-align: middle;
    cursor:pointer;
}
.rf-icon-search:hover{
	background-image: url(Images/search-icon-hover.svg) !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
	width: 12px !important;
    height: 13px !important;
    display: inline-block;
	vertical-align: middle;
	cursor:pointer;
	margin-left: 5px;
}
.rf-icon-cross:hover{
	 background-image: url(Images/icon_cross-hover.svg) !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
	width: 12px !important;
    height: 13px !important;
    display: inline-block;
    vertical-align: middle;
    cursor:pointer;
}
.x-toolbar-default{
	background-color: white !important;
	border-color: white !important;	
}
.bmc-btn-focus,
.bmc-btn-over {
	color: #333;
	background-color: #f2f2f2 !important;
}

.bmc-btn-focus button,
.bmc-btn-over button,
.PagingToolbarClass .x-btn-focus button,
.PagingToolbarClass .x-btn-over button {
	cursor:pointer;
}

.x-bmc-btn-pressed{
	background-color: #ededed !important;
}

.bmc-btn-disabled,
.PagingToolbarClass .x-btn-disabled .x-btn-center{
	color:#333;
	background-color: transparent;
	cursor: not-allowed;
	opacity: 0.6;
	filter: alpha(opacity=60);	
}
#topdiv .bmc-btn-small{
	height: 29px !important;
}

.bmc-btn-small {
	height: 22px;
	padding: 0px 10px;
	font-size: 12px;
	line-height: 14px; 
	display: inline-block;
	color: #ffffff !important;
	border: 1px solid #f86e00 !important;
	border-radius: 2px;
	cursor: pointer;
	vertical-align: middle;
	white-space: nowrap;
	background-image: none !important;
	background-color: #f86e00 !important
}

.bmc-btn-small-center {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
	border: 0 none;
	display: block;
	margin: 0;
	outline: 0 none;
	overflow: hidden;
	padding: 0;
	vertical-align: bottom;
	width: 100%;
}

.bmc-btn-small-inner {
	font-weight:normal;
	font-size:12px;
	color:#ffffff !important;
	font-family: 'Salesforce Sans',Arial,sans-serif;
	font-style: normal;
}

.bmc-btn-focus,
.bmc-btn-over {
	color: #ffffff;
	background-color: #df6300 !important;
}

.bmc-btn-focus button,
.bmc-btn-over button {
	cursor:pointer;
}

.bmc-btn-small-pressed {
	background-color: #ededed !important;
}

.bmc-btn-small-disabled {
	background-color: #fff;
	cursor: not-allowed;
	opacity: 0.6;
	filter: alpha(opacity=60);	
}

#topdiv .bmc-btn-primary{
	height: 29px !important;
}
.bmc-btn-primary {
    height: 22px ;
    padding: 0px 14px;
    font-size: 12px !important;
    line-height: 14px !important;
    display: inline-block;
    border-radius: 2px !important;
    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
    background-image: none !important;
    color: #ffffff !important;
    border-width: 1px;
    border-style: solid;
    border-color: #f86e00 !important;
    background-color: #F86E00 !important;
}

.bmc-btn-primary-center {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border: 0 none;
    display: block;
    margin: 0;
    outline: 0 none;
    overflow: hidden;
    padding: 0;
    vertical-align: bottom;
    width: 100%;
    color: #ffffff !important;
}
.bmc-btn-primary-inner {
    font-weight: normal;
    font-size: 12px;
    font-family: 'Salesforce Sans',Arial,sans-serif;
	cursor: pointer;
}

/*.bmc-menu {
	webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.bmc-menu-body {
	padding: 0px !important;
	background: white !important;
}

.bmc-menu .x-menu-icon-separator {
	border: 0px !important;
	width: 0px;
	height: 0px;
}

.bmc-menu .x-menu-item-separator {
	border-top: 1px solid #BABABA;
}
.bmc-menu .x-menu-item{
	padding: 5px 0px 5px 8px!important;
	background-color: white;
}
.bmc-menu .x-menu-item-link{
	margin:0px 0px 0px 0px;
	padding:1px;
	padding-right: 10px;
}
.bmc-menu .x-menu-item.x-menu-item-active{
	background-color: #f2f2f2 !important;
	padding: 5px 0px 5px 8px!important;
	border-left: 3px solid #F86E00 !important;
	
}
.bmc-menu .x-menu-item-active .x-menu-item-link {
	background-color: #f2f2f2 !important;
	background-image:none;
	border-radius:0px;
	border: 0px !important;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-ms-border-radius:0px;
	-o-border-radius:0px;
}

.bmc-menu .x-menu-item.x-menu-item-separator{
	border-top:1px solid #BABABA;
	padding:0px 0px 0px 8px !important;
}
.bmc-menu .x-menu-icon-separator{
	display:none;
}

.bmc-menu-item {
    border-left: 3px solid white;
}*/

.x-panel-body.x-menu-body.x-panel-body-default{
	background: white !important;
	webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.PagingToolbarClass .x-btn-icon {
    font-size: 20px;
}
.centreClass{
	right: 42%;
    position: absolute;
    padding-bottom: 10px;
    float:left;
    padding-top: 2px;
    margin-top: -2px !important;
}
.x-form-cb-checked .x-form-checkbox{
	background-image: url(Images/cmdb_checkbox-active.svg) !important;
	background-position: 0 !important;
	width: 16px !important;
    height: 16px !important;
}

.x-form-checkbox{
	background-image: url(Images/cmdb_checkbox-regular.svg) !important;
	background-position: 0 !important;
	width: 16px !important;
    height: 16px !important;
}
.paginationSeperator{
	border-left: 1px solid #BDBDBD;
    border-right: none;
} 

/* The rf-filter-checkbox */
.rf-filter-checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.rf-filter-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.rf-checkmark {
    position: absolute;
    top: -7px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
	border: 1px solid #bebec9;
	border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.rf-filter-checkbox:hover input ~ .rf-checkmark {
    background-color: #fff;
	border: 1px solid #999999;
	border-radius: 2px;
}

/* On mouse-over, for cheked , add a orange background color */
.rf-filter-checkbox:hover input:checked ~ .rf-checkmark {
    background-color: #d75f00;
    border: 1px solid #d75f00;
	border-radius: 2px;
}
/* When the checkbox is checked, add a blue background */
.rf-filter-checkbox input:checked ~ .rf-checkmark {
    background-color: #fa6e00;
	border: 1px solid #d75f00;
	border-radius: 2px;
}

/* Create the rf-checkmark/indicator (hidden when not checked) */
.rf-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the rf-checkmark when checked */
.rf-filter-checkbox input:checked ~ .rf-checkmark:after {
    display: block;
}

/* Style the rf-checkmark/indicator */
.rf-filter-checkbox .rf-checkmark:after {
     left: 4px;
    top: 1px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0px 2px 2px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#applyBtn .bmc-btn-primary-center{
	width: 40px !important;
}
.bmc-btn-primary.x-menu-item-cmp{
	width: 60px !important;
	
}
.x-box-inner .x-menu-icon-separator{
	border-left: 0px !important;
	width: 0px !important;
}
#searchTextId{
	border: 0px !important;
	font-size: 12px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    color: #999999;
}

#rfDPLReferenceDiv .secondaryPalette {
    background-color: rgb(252,252,252);
    border-top: 1px solid #d2d2d2 !important;
    margin-top: 5px;
    border-radius: 0px;
    border-left: 0px !important;
    border-right: 0px !important;
}

#mnuBarId-body.x-panel-body-default{
	border: none !important;
}
.headerRow{
	height: 28px;
}

.lblFilterBy{
	text-overflow:ellipsis;
	overflow:hidden;
	color: #333;
	font-size: 12px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    font-family: 'Salesforce Sans',Arial,sans-serif !important;
}
.x-btn-inner{
	font-size: 14px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    font-family: 'Salesforce Sans',Arial,sans-serif !important;
}
#topdiv{
	font-family: 'Salesforce Sans',Arial,sans-serif !important;
    height: 40px;
}

#toolbarPanel{
	padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Salesforce Sans',Arial,sans-serif !important;
    font-size: 12px !important;
    font-weight: bold !important;
    font-style: normal !important;
}
.x-panel-body.x-menu-body.x-panel-body-default, .x-panel-default.x-menu{
	border: none !important;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    /*height: 91px !important;
    width: 130px !important;*/
}
.x-toolbar .x-toolbar-separator-horizontal{
	border-left:1px solid #BDBDBD !important;
}
#toolbarDiv{
	height:35px;
}
 .x-toolbar-default, .x-nlg .x-toolbar-default{
	background-image:none !important;
}
body button, body .x-btn, body .btn, body .btnDisabled, body .btnCancel, body .menuButton .menuButtonButton  {
  padding:0px 0px;
  border-style: none;
  margin:0px;
  background: none repeat scroll 0 0 transparent;
}
.pbBody a{
	color: #333 !important;
}
.x-form-cb-checked .x-form-radio{
	background-image: url(Images/cmdb_checkbox-active.svg) !important;
    background-position: 0 0 !important;
    height: 15px !important;
    width: 15px !important;	
}
.x-form-radio{
	background-image: url(Images/cmdb_checkbox-regular.svg) !important;
    background-position: 0 0 !important;
    height: 15px !important;
    width: 15px !important;
}
#tdSearch INPUT{
    border: none !important;
}
#minTwoChar, #topdiv .d-notification{
	margin-top: 15px;
}
.x-form-trigger.d-icon-triangle_down{
	background-image: none !important;
	border: none !important;
}
#instanceTypeFilter INPUT{
	width:94% !important;
	background-image: none !important;
}
#instanceTypeFilter .x-trigger-cell{
	padding-top: 7px;
}

.tableDesign{
	height: 50px;
    width: 97%;
}

.infoClass{
	width: 16px;
    height: 16px;
    object-fit: contain;
    margin-top: 1px;
}

.separateBar{
	width: 2px;
  	height: 13px;
  	object-fit: contain;
  	margin-left: -10px;
	border: solid 1px #bdbdbd;
}

.titleAttachment{
  font-family: Salesforce Sans;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f86e00;
}
.rf-padding15Left{ margin-left: 14px;}
.previousNextDisabledLabel{
	cursor: pointer;
    font-size: 13px;
    opacity: 0.5;
    font-family: Salesforce Sans !important;
    color: #333 !important;
}

.previousNextEnabledLabel{
	cursor: pointer;
    font-size: 13px;
    font-family: Salesforce Sans !important;
    color: #00a79d !important;
}

.actionLink{
	color:#00a79d !important; 
	cursor:pointer;
	font-size: 13px !important;
	font-weight: bold !important;
}

.paddingForIEseparateBar{
	padding-top: 0px;
}

.paddingForIELoading{
	padding-left: 0px;
}

.bmc-btn-primary-over{
	    cursor: pointer !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .paddingForIEseparateBar { 
   		padding-top: 10px;
    }

    .paddingForIELoading{
		padding-left: 10px;
	}

	#FileLabelTD{
		width: 4% !important;
	}
    .linkAndUpdateButton.x-nlg.x-btn-default-small {
        background-image: none !important;
    }
    .x-nlg .x-btn-default-small {
        background-image: none !important;
    }
    .x-nlg .x-btn-default-toolbar-small-over {
        background-image: none !important;
    }
    .x-nlg .x-btn-default-toolbar-small-menu-active,
    .x-nlg .x-btn-default-toolbar-small-pressed {
        background-image: none !important;
    }
}

.d-loader-container {
	text-align: center;
}

.d-loader-container > div {
	margin-top: 5px;
	font-size: 13px;
}

.d-loading {
  position: relative;
  display: inline-block;
  min-width: 40px;
  min-height: 40px;
  margin: 0;
  padding: 0;
  list-style: none; }

.d-loading__stick {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 10px;
  margin-top: -5px;
  margin-left: -1px;
  background: #000;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-animation: d-loading 0.67s linear infinite;
  -moz-animation: d-loading 0.67s linear infinite;
  -ms-animation: d-loading 0.67s linear infinite;
  -o-animation: d-loading 0.67s linear infinite;
  animation: d-loading 0.67s linear infinite;
  text-transform: none;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  transform-style: preserve-3d;
  backface-visibility: hidden; }

.d-loading__stick_1 {
  -webkit-transform: rotate(30deg) translate(0, -15px);
  -ms-transform: rotate(30deg) translate(0, -15px);
  -o-transform: rotate(30deg) translate(0, -15px);
  transform: rotate(30deg) translate(0, -15px);
  -webkit-animation-delay: -0.61s;
  -moz-animation-delay: -0.61s;
  -ms-animation-delay: -0.61s;
  -o-animation-delay: -0.61s;
  animation-delay: -0.61s; }

.d-loading__stick_2 {
  -webkit-transform: rotate(60deg) translate(0, -15px);
  -ms-transform: rotate(60deg) translate(0, -15px);
  -o-transform: rotate(60deg) translate(0, -15px);
  transform: rotate(60deg) translate(0, -15px);
  -webkit-animation-delay: -1.22s;
  -moz-animation-delay: -1.22s;
  -ms-animation-delay: -1.22s;
  -o-animation-delay: -1.22s;
  animation-delay: -1.22s; }

.d-loading__stick_3 {
  -webkit-transform: rotate(90deg) translate(0, -15px);
  -ms-transform: rotate(90deg) translate(0, -15px);
  -o-transform: rotate(90deg) translate(0, -15px);
  transform: rotate(90deg) translate(0, -15px);
  -webkit-animation-delay: -1.83s;
  -moz-animation-delay: -1.83s;
  -ms-animation-delay: -1.83s;
  -o-animation-delay: -1.83s;
  animation-delay: -1.83s; }

.d-loading__stick_4 {
  -webkit-transform: rotate(120deg) translate(0, -15px);
  -ms-transform: rotate(120deg) translate(0, -15px);
  -o-transform: rotate(120deg) translate(0, -15px);
  transform: rotate(120deg) translate(0, -15px);
  -webkit-animation-delay: -2.44s;
  -moz-animation-delay: -2.44s;
  -ms-animation-delay: -2.44s;
  -o-animation-delay: -2.44s;
  animation-delay: -2.44s; }

.d-loading__stick_5 {
  -webkit-transform: rotate(150deg) translate(0, -15px);
  -ms-transform: rotate(150deg) translate(0, -15px);
  -o-transform: rotate(150deg) translate(0, -15px);
  transform: rotate(150deg) translate(0, -15px);
  -webkit-animation-delay: -3.05s;
  -moz-animation-delay: -3.05s;
  -ms-animation-delay: -3.05s;
  -o-animation-delay: -3.05s;
  animation-delay: -3.05s; }

.d-loading__stick_6 {
  -webkit-transform: rotate(180deg) translate(0, -15px);
  -ms-transform: rotate(180deg) translate(0, -15px);
  -o-transform: rotate(180deg) translate(0, -15px);
  transform: rotate(180deg) translate(0, -15px);
  -webkit-animation-delay: -3.66s;
  -moz-animation-delay: -3.66s;
  -ms-animation-delay: -3.66s;
  -o-animation-delay: -3.66s;
  animation-delay: -3.66s; }

.d-loading__stick_7 {
  -webkit-transform: rotate(210deg) translate(0, -15px);
  -ms-transform: rotate(210deg) translate(0, -15px);
  -o-transform: rotate(210deg) translate(0, -15px);
  transform: rotate(210deg) translate(0, -15px);
  -webkit-animation-delay: -4.27s;
  -moz-animation-delay: -4.27s;
  -ms-animation-delay: -4.27s;
  -o-animation-delay: -4.27s;
  animation-delay: -4.27s; }

.d-loading__stick_8 {
  -webkit-transform: rotate(240deg) translate(0, -15px);
  -ms-transform: rotate(240deg) translate(0, -15px);
  -o-transform: rotate(240deg) translate(0, -15px);
  transform: rotate(240deg) translate(0, -15px);
  -webkit-animation-delay: -4.88s;
  -moz-animation-delay: -4.88s;
  -ms-animation-delay: -4.88s;
  -o-animation-delay: -4.88s;
  animation-delay: -4.88s; }

.d-loading__stick_9 {
  -webkit-transform: rotate(270deg) translate(0, -15px);
  -ms-transform: rotate(270deg) translate(0, -15px);
  -o-transform: rotate(270deg) translate(0, -15px);
  transform: rotate(270deg) translate(0, -15px);
  -webkit-animation-delay: -5.49s;
  -moz-animation-delay: -5.49s;
  -ms-animation-delay: -5.49s;
  -o-animation-delay: -5.49s;
  animation-delay: -5.49s; }

.d-loading__stick_10 {
  -webkit-transform: rotate(300deg) translate(0, -15px);
  -ms-transform: rotate(300deg) translate(0, -15px);
  -o-transform: rotate(300deg) translate(0, -15px);
  transform: rotate(300deg) translate(0, -15px);
  -webkit-animation-delay: -6.1s;
  -moz-animation-delay: -6.1s;
  -ms-animation-delay: -6.1s;
  -o-animation-delay: -6.1s;
  animation-delay: -6.1s; }

.d-loading__stick_11 {
  -webkit-transform: rotate(330deg) translate(0, -15px);
  -ms-transform: rotate(330deg) translate(0, -15px);
  -o-transform: rotate(330deg) translate(0, -15px);
  transform: rotate(330deg) translate(0, -15px);
  -webkit-animation-delay: -6.71s;
  -moz-animation-delay: -6.71s;
  -ms-animation-delay: -6.71s;
  -o-animation-delay: -6.71s;
  animation-delay: -6.71s; }

.d-loading__stick_12 {
  -webkit-transform: rotate(360deg) translate(0, -15px);
  -ms-transform: rotate(360deg) translate(0, -15px);
  -o-transform: rotate(360deg) translate(0, -15px);
  transform: rotate(360deg) translate(0, -15px);
  -webkit-animation-delay: -7.32s;
  -moz-animation-delay: -7.32s;
  -ms-animation-delay: -7.32s;
  -o-animation-delay: -7.32s;
  animation-delay: -7.32s; }

@-webkit-keyframes d-loading {
  from {
    opacity: 1;
    filter: alpha(opacity=100); }
  to {
    opacity: 0;
    filter: alpha(opacity=0); } }

@-moz-keyframes d-loading {
  from {
    opacity: 1;
    filter: alpha(opacity=100); }
  to {
    opacity: 0;
    filter: alpha(opacity=0); } }

@-o-keyframes d-loading {
  from {
    opacity: 1;
    filter: alpha(opacity=100); }
  to {
    opacity: 0;
    filter: alpha(opacity=0); } }

@-ms-keyframes d-loading {
  from {
    opacity: 1;
    filter: alpha(opacity=100); }
  to {
    opacity: 0;
    filter: alpha(opacity=0); } }

@keyframes d-loading {
  from {
    opacity: 1;
    filter: alpha(opacity=100); }
  to {
    opacity: 0;
    filter: alpha(opacity=0); } }

.bmc-notiltle-msg-default, 
.bmc-message-default {
    background: white;
}

.bmc-notiltle-msg-body-default {
	border-bottom: 1px solid #d9d9d9;
	margin-top: 10px;
}
.bmc-message-body-default {
    border-bottom: 1px solid #d9d9d9;
    margin: 25px 0px;
}

.bmc-notiltle-msg-header-default {
	display: none;
}
.bmc-message-header-default {
    background-color: #414042;
    color: white;
    padding: 5px
}

.bmc-notiltle-msg-default .x-btn,
.bmc-message-default .x-btn {
	height: 22px;
	padding: 0px 14px;
	font-size: 12px;
	line-height: 14px; 
	display: inline-block;
	color: #333;
	border: 1px solid #A5A5A5 !important;
	border-radius: 2px;
	cursor: pointer;
	vertical-align: middle;
	white-space: nowrap;
	background-image: none !important;
	background-color: #ffffff !important;
}

.bmc-notiltle-msg-default .x-btn-over,
.bmc-notiltle-msg-default .x-btn-over .x-btn-default-small-focus,
.bmc-notiltle-msg-default .x-btn-default-small-over,
.bmc-message-default .x-btn-over,
.bmc-message-default .x-btn-over .x-btn-default-small-focus,
.bmc-message-default .x-btn-default-small-over {
	background-color: #f2f2f2 !important;
}

.bmc-notiltle-msg-default .x-btn-default-small-focus,
.bmc-message-default .x-btn-default-small-focus {
	background-image: none !important;
	background-color: #ffffff ;
}

.bmc-notiltle-msg-default .x-toolbar-footer,
.bmc-message-default .x-toolbar-footer{
	margin-top:0px;
}
.bmc-notiltle-msg-default .x-tool-close,
.bmc-message-default .x-tool-close {
	display: none;
}

.bmc-notiltle-msg-default .x-message-box-info,
.bmc-message-default .x-message-box-info {
       background-image: none;
}
.bmc-notiltle-msg-default .x-message-box-info:before,
.bmc-message-default .x-message-box-info:before {
       content: "\E667";
       font-family: "dpl-icon-font";
       font-weight: normal;
       font-style: normal;
       font-variant: normal;
       line-height: 1;
       vertical-align: baseline;
       text-transform: none;
       speak: none;
       -webkit-font-smoothing: antialiased;
       font-size:32px;
}

.bmc-notiltle-msg-default .x-message-box-warning,
.bmc-message-default .x-message-box-warning {
       background-image: none;
}
.bmc-notiltle-msg-default .x-message-box-warning:before,
.bmc-message-default .x-message-box-warning:before {
       content: "\E646";
       font-family: "dpl-icon-font";
       font-weight: normal;
       font-style: normal;
       font-variant: normal;
       line-height: 1;
       vertical-align: baseline;
       text-transform: none;
       speak: none;
       -webkit-font-smoothing: antialiased;
       font-size:32px;
       color: #F1B521;
}

.bmc-notiltle-msg-default .x-message-box-error,
.bmc-message-default .x-message-box-error {
       /**background-image: none;**/
}
.bmc-notiltle-msg-default .x-message-box-error:before.
.bmc-message-default .x-message-box-error:before {
       content: "\E644";
       font-family: "dpl-icon-font";
       font-weight: normal;
       font-style: normal;
       font-variant: normal;
       line-height: 1;
       vertical-align: baseline;
       text-transform: none;
       speak: none;
       -webkit-font-smoothing: antialiased;
       font-size:32px;
       color: red;
}
.bmc-btn-primary.x-menu-item-cmp {
	width: auto !important;
	
}
.bmc-menu-item tr{
	height:20px !important;
}
.bmc-menu-item tr td{
	padding-right:20px !important;
}
.x-panel-body.x-menu-body.x-panel-body-default, .x-panel-default.x-menu {
	border: 1px solid #ededed !important;
}
.headerRow th, tr.dataRow {
	height: 30px;
}
tr.dataRow.highlight td {
	background-color:rgb(243, 243, 243) !important;        	
}

.bmc-btn-search,
.PagingToolbarClass .x-btn{
	height: 22px;
	padding:0px;
	font-size: 12px;
	line-height: 14px; 
	display: inline-block;
	color: #333;
	cursor: pointer;
	vertical-align: middle;
	white-space: nowrap;
	background-image: none !important;
	background-color: transparent !important;
	border:none;
}
.bmc-btn-search-center,
.PagingToolbarClass .x-btn-center{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
	border: 0 none;
	display: block;
	margin: 0;
	outline: 0 none;
	overflow: hidden;
	padding: 0;
	vertical-align: bottom;
	font-size:16px;
	cursor: pointer;
	width:100% !important;
}

.x-boundlist-item-over,.x-boundlist-selected {
	background: #ddd;
	border: 1px solid #dddbda !important;
	border-radius: 1px !important;
}
.x-boundlist{
	border: 1px solid #dddbda !important;
	border-radius: 5px !important;
}
.rf-filter-status{
	left:15px !important;
}
.x-boundlist-item{
    padding: 3px !important;
    padding-left: 10px !important;
}

.filterBtn{
	background-image: url("Images/cmdb_icon-advanced-filter.svg");
	top: 5px !important;
  	left: 5px !important;
}
.filterBtn-applied{
	background-image: url("Images/cmdb_icon-advanced-filter-applied.svg");
	top: 5px !important;
  	left: 5px !important;
}
#linkParentBtnId .x-btn-inner{
	font-size: 12px !important;
	height: 24px;
	border:1px solid #d9d9d9 !important;
	padding: 4px;
}

#linkChildBtnId{
	border:1px solid #d9d9d9 !important;
}

#linkChildBtnId .x-btn-inner{
	font-size: 12px !important;
	height: 24px;
	padding: 4px;
}
#linkParentBtnId #linkParentBtnId-btnEl{
	    height: 24px;
}
#linkChildBtnId #linkChildBtnId-btnEl{
	    height: 22px;
}
#link{
	height:30px !important;
}

#form-1014-body .x-box-inner{
	overflow: initial !important;
}

.linkAndUpdateButton{
	border: 1px solid #d9d9d9;
    padding: 1px;
    height: 24px;
    width: 176px;
    background-color: #f86e00 !important;
    border-radius: 0px !important;
} 
.linkAndUpdateButton .x-btn-inner {
    font-size: 13px !important;
   	color: #fff !important;
}
#statusLookUpId-inputEl{
	height: 22px;
    width: 163px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
}

input[type="checkbox"]:disabled + .rf-checkmark {
 cursor: not-allowed !important;
 opacity:0.6;
}
.bmc-message-default .x-btn-inner{
	font-size: 11px !important;
    font-weight: normal !important;
}
.rf-float-right{float:right}
#jsscripterrorId{padding-top:5px;}
#jsscripterrorId .d-notification { margin-left: 10px;}
.separator{
	border-left: 1px solid #BDBDBD !important;
    margin-left: 10px;
    margin-right: 10px;
}
.mainTitle{
	margin-top: 5px !important;
    font-family: Salesforce Sans !important;
    font-size: 15px !important;
}

.pbHeader table{
	border:none !important;
}

.btn{
	padding: 4px 12px 4px 12px !important;
}
.bmc-btn-dropdown {
	height: 22px;
	padding: 3px 10px;
	font-size: 12px;
	line-height: 14px; 
	display: inline-block;
	color: #333;
	cursor: pointer;
	vertical-align: middle;
	white-space: nowrap;
	background-image: none !important;
	background-color: #ffffff !important;
}

.bmc-btn-dropdown-center {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
	border: 0 none;
	display: block;
	margin: 0;
	outline: 0 none;
	overflow: hidden;
	padding: 0;
	vertical-align: bottom;
	width: 100%;
}

.bmc-btn-dropdown-inner {
	font-weight: bold;
	font-size: 12px;
	padding: 4px 0px;
	font-family: 'Salesforce Sans',Arial,sans-serif;
}
.bmc-btn-dropdown-inner:after {
	font-family: "dpl-icon-font";
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	vertical-align: baseline;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 5px;
	content: "\e603";
}
.bmc-btn-dropdown-focus,
.bmc-btn-dropdown-over,
.bmc-btn-dropdown-menu-active,
.bmc-btn-dropdown-pressed,
.bmc-btn-dropdown-focus button,
.bmc-btn-dropdown-over button,
.bmc-btn-dropdown-menu-active button, 
.bmc-btn-dropdown-pressed button {
	color: #F86E00;
	cursor:pointer;
}

.bmc-btn-dropdown-disabled {
	background-color: #fff;
	cursor: not-allowed;
	opacity: 0.6;
	filter: alpha(opacity=60);	
}

.bmc-menu {
	webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.bmc-menu-body {
	padding: 0px !important;
	background: white !important;
}

.bmc-menu .x-menu-icon-separator {
	border: 0px !important;
	width: 0px;
	height: 0px;
}

.bmc-menu .x-menu-item-separator {
	border-top: 1px solid #BABABA;
}
.bmc-menu .x-menu-item{
	padding: 5px 0px 5px 8px!important;
	background-color: white;
}
.bmc-menu .x-menu-item-link{
	margin:0px 0px 0px 0px;
	padding:1px;
	padding-right: 10px;
}
.bmc-menu .x-menu-item.x-menu-item-active{
	background-color: #f2f2f2 !important;
	padding: 5px 0px 5px 8px!important;
	border-left: 3px solid #F86E00 !important;
	
}
.bmc-menu .x-menu-item-active .x-menu-item-link {
	background-color: #f2f2f2 !important;
	background-image:none;
	border-radius:0px;
	border: 0px !important;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-ms-border-radius:0px;
	-o-border-radius:0px;
}

.bmc-menu .x-menu-item.x-menu-item-separator{
	border-top:1px solid #BABABA;
	padding:0px 0px 0px 8px !important;
}
.bmc-menu .x-menu-icon-separator{
	display:none;
}

.bmc-menu-item {
	border-left: 3px solid white;
}
.x-menu-item-text {
	font-size: 12px !important;
	font-family: 'Salesforce Sans',Arial,sans-serif !important;
}
.pbBody {
	color: #4c4c4c !important;
}

.sortIcon{
	margin-left: 5px;
}
    
#applyBtn {
        left: 26px !important;
}
    
.overflowScrollbar {
	min-width: 900px;
	overflow: auto;
}

#selectAllcheckBox + .rf-checkmark {
	margin-top: 8px !important;	
}
.slds-button{
    border: 1px solid rgb(221, 219, 218) !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 13px !important;
    height: 27px !important;
}
.slds-button-center{
    margin-top: -5px !important;
}
.slds-button-hover{
    background-color: rgb(244, 246, 249) !important;
}
.marginClass{
    margin-top: 10px;
}
.widthClass{
    width: 100%;
    overflow: auto;
}
.searchClassLightning{
    outline: none !important;
    padding-left: 8px !important;
}
.searchTextLightning:focus{
    border-color: rgb(21, 137, 238) !important;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 0.25rem;
    transition: border 0.1s linear 0s, background-color 0.1s linear 0s;
}
.searchTextLightning{
    padding: 1px 6px 1px 1px;
    display: inline-block;
    border-color: rgb(221, 219, 218);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 0.25rem;
    transition: border 0.1s linear 0s, background-color 0.1s linear 0s;
}

.x-menu-item-text {
	font-size: 12px !important;
	font-family: 'Salesforce Sans',Arial,sans-serif !important;
}


#filterDiv-inputRow * .x-form-trigger{
	margin-top: 10px;
    background-image: none;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #706e6b;
    border-bottom: none;
    margin-left: 0px !important;
}

#filterDiv-inputEl{
	border: none !important;
	box-shadow: none !important;
	background-image: none;
	background-color: #ffffff !important;
	padding : 0 !important;
	padding-left: 5px !important;
	height: 20px;
	width: 85% !important;
	font-size: 13px;
}

#filterDiv {
	width: 200px !important;
    border: solid 1px #dddbda;
	border-radius: 4px;
}
.x-form-text {
	background-image: none;
}

#themeToast{
    margin-top: 60px !important;
}

.closeIcon{
    border:none !important;
    top:9px !important;
}

.dataCell {
    padding-left: 5px !important;
}

.filterStatusCls {
    left: 337px !important;
}