.x-form-cb-label-after {
    margin-right: 10px;
    float: right;
}
.x-form-cb-checked .x-form-checkbox{
 float: right;
}
.x-form-checkbox{  float: right;}
.headerRow div{
        float:right;
    }
   .lblFilterBy{
       margin-left:-5px;
   }

.rf-float-right{float:left;padding-left:10px;}
.d-notification{padding-right:0px;}
.d-notification_content .d-notification__supporting-text {padding-right:15px !important};
.mainTitle {
    text-align: right;
}