.lookupIconDis{    
    background-image: url("/img/func_icons/util/lookup20.gif");
    background-position: left top;  
    height: 20px;
    width: 20px;
    border: 0 none;
}
.lookupIconEnable {
    background-image: url("/img/func_icons/util/lookup20.gif");
    background-position: right top;
    height: 20px;
    width: 20px;
    cursor:pointer;
}
.closeIconDis{
    background-image: url("/img/func_icons/closeSprite16.gif");
    background-position: left top;
    height: 16px;
    width: 16px;
    margin: -3px -3px -3px auto;
    border: 0 none;
}
.closeIconEnable{
    background-image: url("/img/func_icons/closeSprite16.gif");
    background-position: 0 -16px;
    height: 16px;
    width: 16px;
    margin: -3px -3px -3px auto;
    border: 0 none;
    cursor:pointer;
}
.line-separator{
	height:20px;
	width:1px;
	background:#717171;
	border-bottom:1px solid #313030;
}
.sfLabel{
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
    color: #4A4A56;
    font-size: 71%;
    font-weight: bold;
    vertical-align: middle;    
    padding-bottom: 3px;
    padding-top: 3px;
    white-space: nowrap;
}
.Applybtn{
    background: url("/img/alohaSkin/btn_sprite.png") repeat-x scroll right top #E8E8E9;
    border-color: #B5B5B5 #B5B5B5 #7F7F7F;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    font-family: Arial,Helvetica,sans-serif;
    color: #333333;
    font-size: 0.7em;
    font-weight: bold;
    margin: 1px;
    padding: 2px 3px;
    cursor:pointer;
} 