        
        
        



  
  
.statusTxt, .currentStatusTxt
	{
		padding-left:3px;
		padding-right:10px;
		color:#004376;
		font:bold 11px Tahoma, MS Sans Serif;
	}

	.currentStatusTxt
	{
		color:#0069a5;
	}

	#stageBar tr td
	{
		background:#f2f2f2
	}
	#stageBar tr td.l
	{
		background:url(SDEFimages/status_curveL.gif) !important; width:7px;height:25px;
	}
	#stageBar tr td.r
	{
		background:url(SDEFimages/status_curveR.gif) !important; width:7px;height:25px;
	}
	#stageBar tr td img
	{
		vertical-align:middle;
	}
	
.StageTdWidth{
	width:60%;
}

.Stage-TD-width{
	width /*\**/: 95%\9;
}
