.clsEmailMainTable{
    background-color:#EFF3F5;
    height: 100%;
    width: 100%;
    padding:0px;
    margin: 0px;
    border: 0px none;
    }
.CapsuleDiv1{
        width:100%;
     }
.TextboxPopupIcon{
    background-image: url(SDEFbuttons/b_textbox_popup_on.gif) !important;
    border:0 none;
    height:19px;    
    margin:0;
    padding:0;
    vertical-align:top;
    width:19px;
 }
 .clsMailInputTextBoxTD{
    width:310px;
    height:12px;
    margin:0px;
    padding:0px;
 
 }
.clsMailInputTextAreaTD{
    margin:0px;
    padding:0px 0px 0px 0px;
    width:100%;
}
.bmcSendEmail {
    background-image: url(SDEFbuttons/b_send_email_now.png) !important;
}

.bmcSendEmailHelp {
    background-image: url(SDEFbuttons/b_help.png) !important;
}

.bmcSendEmailDisable{
    background-image: url(SDEFbuttons/b_send_email_now_disable.png) !important;
}
.bmcReplyEmail{
    background-image: url(SDEFbuttons/b_reply_to_client_email.png) !important;
}
.bmcReplyEmailDisable{
    background-image: url(SDEFbuttons/b_reply_to_client_email_disable.png) !important;
}
.bmcEmailMessage {
    background-image: url(SDEFbuttons/b_send_email_to_client.png) !important;
}

.bmcEmailMessageDisable{
    background-image: url(SDEFbuttons/b_send_email_to_client_disable.png) !important;
}
.clsMailInputTextArea{
    border-color:#6A7378 #BAC3C8 #BAC3C8 #6A7378;
    border-style:solid;
    border-width:1px;
    color:#000000;
    font-family:Tahoma,Ms Sans Serif;
    overflow: auto;        
    font-size:11px;
    height:330px;
    height/*\**/: 337px\9;
    *height:337px;
    width:578px;
    padding:10px 0px 0px 8px;
}
.clsMailInputTextAreaDisabled{
    border-color:#6A7378 #BAC3C8 #BAC3C8 #6A7378;
    border-style:solid;
    border-width:1px;
    color:#000000;
    font-family:Tahoma,Ms Sans Serif;
    overflow: auto;
    font-size:11px;
    height:330px;
    height/*\**/: 337px\9;
    *height:337px;
    width:578px;
    padding:10px 0px 0px 8px;
    background-color: #D4D0C8;
}

.clsMailInputCheckBox{
    border-color:#6A7378 #BAC3C8 #BAC3C8 #6A7378;
    border-style:solid;
    border-width:1px;
    color:#000000;
    font-family:Tahoma,Ms Sans Serif;
    padding:5px 0px 0px 8px;
    overflow: auto;        
    font-size:11px;
}

.clsMailInputCheckBoxDisabled{
    border-color:#6A7378 #BAC3C8 #BAC3C8 #6A7378;
    border-style:solid;
    border-width:1px;
    color:#000000;
    font-family:Tahoma,Ms Sans Serif;
    overflow: auto;
    font-size:11px;
    padding:5px 0px 0px 0px;
    background-color: #D4D0C8;
}

.clsInputTextDisabled{
    border-color:#6A7378 #BAC3C8 #BAC3C8 #6A7378;
    border-style:solid;
    border-width:1px;
    color:#000000;
    font-family:Tahoma,Ms Sans Serif;
    overflow: auto;
    font-size:11px;
    padding:10px 0px 0px 0px;
    background-color: #D4D0C8;
}

.clsInputTextEnabled{
    border-color:#6A7378 #BAC3C8 #BAC3C8 #6A7378;
    border-style:solid;
    border-width:1px;
    color:#000000;
    font-family:Tahoma,Ms Sans Serif;
    overflow: auto;
    font-size:11px;
    padding:10px 0px 0px 0px;
    background-color: white;
}

.textBoxLookupIconTD  {
    vertical-align:top;
    width:19px;
    padding:0px 5px 0px;
    *padding:1px 5px 0px;
}
textarea {overflow:hidden}

.clsInputTextAreaReadOnlyBrownBackground {
    color: #000000;
    background-color: #D4D0C8;
    font-family: Tahoma, Ms Sans Serif;
    font-size: 11px;
    border: 1px solid;
    border-top-color: #6a7378;
    border-left-color: #6a7378;
    border-right-color: #bac3c8;
    border-bottom-color: #bac3c8;
    overflow:auto;
}
.clsInputTextArea
{
    overflow:auto;
}

.clsInputCheckBoxLabelTD1{
        white-space: normal; 
        vertical-align:middle;
        font-family: Tahoma, MS Sans Serif;
        color: #000000;
        margin: 0px;
        font-size: 11px;
        padding-left: 5px;
        width:100%;
        overflow:auto;
        height:18px;    
    }
    
    .clsComboBox{
        white-space: normal; 
        vertical-align:middle;
        font-family: Tahoma, MS Sans Serif;
        color: #000000;
        margin: 0px;
        font-size: 11px;
        padding: 0px;
        width:100%;
        height:18px;    
        border-color:#6A7378 #BAC3C8 #BAC3C8 #6A7378;
        border-style:solid;
        border-width:1px;
        background-color: white;
    }
    
    .clsDisabledComboBox{
        white-space: normal; 
        vertical-align:middle;
        font-family: Tahoma, MS Sans Serif;
        color: #000000;
        margin: 0px;
        font-size: 11px;
        padding: 0px;
        width:100%;
        height:18px;    
        border-color:#6A7378 #BAC3C8 #BAC3C8 #6A7378;
        border-style:solid;
        border-width:1px;
        background-color: #D4D0C8;
    }
    
   .clsInputLabelTD2{
       white-space: normal; 
       vertical-align:middle;
       font-family: Tahoma, MS Sans Serif;
       color: #000000;
       margin: 0px;
       font-size: 11px;
       padding-left: 10px;
       width:150px;
        overflow:auto;    
   }