.container{
	overflow:auto;
	height:499px;
} 
.searchClass{
	font-weight:bold;
	padding: 2px 5px 2px 2px;
	width: 91px;
    height: 17px;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}
.suggestedLabelClass{
	font-weight:bold;
	font-family: Salesforce Sans !important;
	font-size: 13px;
	padding: 2px 5px 2px 10px;
	color: #333333;
	display: none;
}

.top20pxPadding{
	padding-top: 20px;
}
.bottom20pxPadding{
	padding-bottom: 20px;
}
.leftright10pxPadding{
	padding-right: 10px;
	padding-left: 10px;
}
.leftright5pxPadding{
	padding-right: 5px;
	padding-left: 5px;
}
.goBtnClass{
	padding-left: 5px;
	position: relative;    
} 
.messageContainer{
	margin-top: 10px;
}
.firstPageEnableClass {
	/*background-image: url("Images/paginationArrowsStd.gif");
	background-position: 2px 1px;
	background-repeat: no-repeat;
	height: 10px;
	width: 12px;
	cursor:pointer;*/
	cursor:pointer;
    font-size: 18px;
	color: #00a79d !important;              
}
.firstPageDisableClass {
	/*background-image: url("Images/paginationArrowsStd.gif");
	background-position: 2px -10px;
	background-repeat: no-repeat;
	height: 10px;
	width: 12px;*/  
	font-size: 18px;
	opacity: 0.5;
	color: #333 !important;       
}
.previousPageEnableClass {
	/*background-image: url("Images/paginationArrowsStd.gif");
	background-position: -9px 1px;
	background-repeat: no-repeat;
	height: 10px;
	width: 12px;
	cursor:pointer; */    
	cursor:pointer;
    font-size: 18px;
	color: #00a79d !important;    
}
.previousPageDisableClass{
	/*background-image: url("Images/paginationArrowsStd.gif");
	background-position: -9px -10px;
	background-repeat: no-repeat;
	height: 10px;
	width: 12px;  */  
	cursor:pointer;
    font-size: 18px;
	opacity: 0.5;
	color: #333 !important;    
}
.prevLinkEnableClass{
	color: #333333;
	cursor: pointer;
}
.prevLinkDisableClass{
	color: #A8A8A8;
}
.nextPageEnableClass {
	/*background-image: url("Images/paginationArrowsStd.gif");
	background-position: -15px 1px;
	background-repeat: no-repeat;
	height: 10px;
	width: 12px;
	cursor:pointer;*/
	cursor:pointer;
    font-size: 18px;
	color: #00a79d !important;
}
.paginationSeperator{
	border-left: 1px solid #BDBDBD;
    border-right: none;
} 
.nextLinkEnableClass{
	font-size: 18px;
	color: #00a79d !important;
}
.nextPageDisableClass {
	/*background-image: url("Images/paginationArrowsStd.gif");
	background-position: -15px -10px;
	background-repeat: no-repeat;
	height: 10px;
	width: 12px;*/
	font-size: 18px;
	opacity: 0.5;
	color: #333 !important;
}
.nextLinkDisableClass{
	color: #A8A8A8;
}
.lastPageEnableClass {
	/*background-image: url("Images/paginationArrowsStd.gif");
	background-position: -26px 1px;
	background-repeat: no-repeat;
	height: 10px;
	width: 12px; 
	cursor:pointer;*/
	cursor:pointer;
    font-size: 18px;
	color: #00a79d !important;        
}

.left2pxPadding{
        padding-left: 2px;
		text-align: center;
		height:20px;
    }
.centreClass{
	right: 50%;
    position: absolute;
    padding-bottom: 10px;
    padding-top: 4px;
}
.border1px{
	    height: 35px;
    	border-width:1px;
		border-style:solid;
		border-color : #BDBDBD;
		background-color: #F2F2F2;
}
.leftClass {
        left: 15px;
        position: absolute;
        padding-bottom: 10px;
}
.rightClass {
    right: 15px;
    position: absolute;
    padding-bottom: 10px;
} 
.lastPageDisableClass {
	/*background-image: url("Images/paginationArrowsStd.gif");
	background-position: -26px -10px;
	background-repeat: no-repeat;
	height: 10px;
	width: 12px;*/
	font-size: 18px;
	opacity: 0.5;
	color: #333 !important;                
}
.pageTitle{
	padding-top: 4px !important;
	padding-bottom: 7px !important;
	font-size: 15px !important;
	font-family:Salesforce Sans !important;
	font-weight:bold;
}
.LookupFilterTD{background-color:#FFFFCC;border-radius:5px;padding-left:10px;height:30px;}

.Informationclass
{
    cursor:pointer;
}
  

.searchText{
  width: 258px !important;;
  height: 28px !important;
  border: 0px  !important;
  background-color: #ffffff;
  color: #999999;
  padding-left: 25px;
 }
.searchtext-input-wrapper {
  border:1px solid  #d9d9d9;
  padding:1px 6px 1px 1px;
  display:inline-block;
  border-radius: 3px;
}
.searchtext-input-wrapper input {
  border:none;
  background:none;
  outline:none;
  padding:0 0;
  margin:0 0;
}
.searchtext-input-wrapper input::-ms-clear {
    display: none;
}

.rf-icon-search{
    background-image: url(Images/search-icon.svg) !important ;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
	width: 14px !important;
    height: 15px !important;
    display: inline-block;
	vertical-align: middle;
	cursor:pointer;
	margin-left: 5px;
}

.rf-icon-cross{
    background-image: url(Images/icon_cross.svg) !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
	width: 12px !important;
    height: 13px !important;
    display: inline-block;
    vertical-align: middle;
    cursor:pointer;
	visibility:hidden;
}

.divider{
	border-left: 1px solid #BDBDBD !important;
	margin-left: 10px;
	margin-right: 5px;
}

/* Hide the browser's default radio button */
input[type="radio"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.rf-filter-radio {
  	display: block;
  	position: relative;
 	padding-left: 28px;
  	padding-right: 2px;
  	margin-bottom: 12px;
  	cursor: pointer;
  	font-size: 22px;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

/* Hide the browser's default checkbox */
.rf-filter-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.rf-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.rf-filter-radio:hover input ~ .rf-radio {
    background-color: #ccc;
}

/* When the checkbox is checked, add a orange background */
.rf-filter-radio input:checked ~ .rf-radio {
   	background-color: #fff;
	border: 1px solid #FA6E00;
	border-radius: 50%;
	border-color:#FA6E00;
}

/* Create the rf-radio/indicator (hidden when not checked) */
.rf-radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the rf-radio when checked */
.rf-filter-radio input:checked ~ .rf-radio:after {
    display: block;
}

/* Style the rf-radio/indicator */
.rf-filter-radio .rf-radio:after {
    top: 2px;
    left: 2px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #FA6E00;
}

#recordPerPage{
	padding: 4px;
	float: right;
}
   
#recordCount{
	float: left;
	padding-left: 20%;
	padding-top: 10px;
}

#paginationBar{
	float: left;
    padding: 4px;
}

.d-notification_content.d-notification_warning {
    margin-top: 10px;
    margin-left: 10px;
}

#pageMessageQM{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
#minTwoChar{
	margin-left: 10px !important;
	margin-right: 10px !important;
	margin-top: 10px !important;
}

#rfDPLReferenceDiv .secondaryPalette {
            background-color: rgb(252,252,252);
            border: none !important;
}

#mnuBarId-body.x-panel-body-default{
    border: none !important;
}
.x-btn-inner{
    font-size: 12px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    font-family: 'Salesforce Sans',Arial,sans-serif !important;
}
#topdiv{
    font-family: 'Salesforce Sans',Arial,sans-serif !important;
    height: 40px;
}
body .pbBody table.list tr.dataRow.highlight td{
	background-color: #f3f3f3 !important;
}

#minTwoCharQM{
	margin-top: 10px !important;
    margin-right: 4px !important;
    margin-left: 0px !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .border1px{
		margin-top:26px;
	}

	#radioButtonDiv{
		margin-top: -5px !important;
	}

	.suggestedLabelClass{
		margin-bottom: 7px !important;
	}

}

.bmc-btn-primary {
    height: 28px !important;
    padding: 0px 10px !important;
    font-size: 12px !important;
    line-height: 14px !important;
    border-radius: 2px !important;
    border-width: 1px !important;
    border-style: solid !important;
}

#separatorTd .divider{
	    margin-left: -1px;
}

.fullDivider{
	border-top: 1px solid #d2d2d2;
	margin: 10px 1px 5px 1px; 
}

.waitingHolder {
	align: center; 
	width: 91px;
}

.waitingSearchDiv {
	background-color: #fbfbfb;
	height: 100%;
	opacity:0.65;
	width:100%;
}

#suggestedLabel .pageTitle{
	margin-left: 9px !important;
	margin-top: 3px !important;
}
#jsscripterrorId {
	padding-top:5px;
}
#jsscripterrorId .d-notification {
	margin-left: 10px;
} 
tr.dataRow {
	height: 30px !important;
}
.pbBody {
	color: #4c4c4c !important;
}

.sortIcon {
    margin-left: 5px;
}