body {
    padding: 0px;
    margin: 0px;
    border:0px;
    background-color: #FFFFFF;
}

.divToolBar {
	padding: 10px 0 0 10px !important;
	border-radius: 6px 6px 0 0 !important;
	border-bottom:1px solid #AEBAC1 !important;
	 background-image: -ms-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
   background-image: -moz-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
   background-image: -o-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E9E9E9 ), color-stop(1, #C8C8C8));
   background-image: -ms-linear-gradient(to bottom, #E9E9E9 0%, #C8C8C8 100%);
   background-image: -webkit-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
   background-image: linear-gradient(to bottom, #E9E9E9 0%, #C8C8C8 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9E9E9', endColorstr='#C8C8C8',GradientType=0 );
	height:31px !important;
}

.ssBtnCls{
	background: url(SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
	border-color: #CCC #666 #666 #CCC !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-radius: 0 !important;
	margin: 0 !important;
	padding: 1px 12px 2px 12px !important;
	top: 7px !important;
	cursor:pointer !important;
	color: #000000 !important;
	font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif !important;
}

textarea.x-form-field {
    color: black;
    line-height: normal;
    overflow: auto;
    resize: none;
}
.x-form-text, textarea.x-form-field {
    border: 1px solid #B5B8C8;
    padding: 1px 3px;
}
.x-form-field, .x-form-display-field {
       color: #000000;
       font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif !important;
       margin: 0;
    }
.x-form-text {
    vertical-align: top;
} 

.clsInputTextBox {
    color: #000000;
    font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif !important; 
    vertical-align: top;
    border: 1px solid #B5B8C8;
}

.combocls{
		color: #000000;
	    font: 12px Arial,Tahoma,Verdana,Geneva,Helvetica,sans-serif,MS Sans Serif !important; 
	    border: 1px solid #B5B8C8;
	    height: 19px;
}

.clsBtnToolbar{    
     background: url(SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
     border-color: #CCCCCC #666666 #666666 #CCCCCC !important;
     border-radius: 0 0 0 0 !important;
     border-style: solid !important;
     border-width: 1px !important;
}

.customLookupIconOn {
    background-image: url(SDEFimages/b_pick.gif);
    vertical-align: top;
    padding-left: 5px;
    width: 19px;
    height: 19px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.x-window-default {
    background-color: #C8C8C8 !important;
}
.x-window-default {
    border-color: #C8C8C8 !important;
    box-shadow: 0 1px 0 0 #C8C8C8 inset, 0 -1px 0 0 #C8C8C8 inset, -1px 0 0 0 #C8C8C8 inset, 1px 0 0 0 #C8C8C8 inset !important;
}

.x-window-header-default-top {
    box-shadow: 0 1px 0 0 #C8C8C8 inset, -1px 0 0 0 #C8C8C8 inset, 1px 0 0 0 #C8C8C8 inset !important;
}
.x-window-header-default-top {
    background-color: #C8C8C8 !important;
}


#basic_slider {
    background-image: url("SDEFimages/ticks.gif") !important;
    padding-top: 6px;
    width: 195px;
}