table.gradientBar {
	 font-family:tahoma,arial,verdana,sans-serif ;
	 font-size:11px ;
	 color:#FFFFFF;
	 font-weight:bold;
	 border:none;
	 background-image: -ms-linear-gradient(top, sst_color7 0%, sst_color8 100%);
     background-image: -moz-linear-gradient(top, sst_color7 0%, sst_color8 100%);
     background-image: -o-linear-gradient(top, sst_color7 0%, sst_color8 100%);
     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, sst_color7), color-stop(1, sst_color8));
     background-image: -webkit-linear-gradient(top, sst_color7 0%, sst_color8 100%);
     background-image: linear-gradient(to bottom, sst_color7 0%, sst_color8 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='sst_color7', endColorstr='sst_color8',GradientType=0 );
}