.rf-tile-NEWINC{background: transparent url(SDEFicons/LandingTiles.png) no-repeat 0 0;}
.rf-tile-NEWSR{background: transparent url(SDEFicons/LandingTiles.png) no-repeat 0 -98px;}
.rf-tile-INCSRLST {background: transparent url(SDEFicons/LandingTiles.png) no-repeat 0 -196px ;}
.rf-tile-KA{background: transparent url(SDEFicons/LandingTiles.png) no-repeat 0 -294px;}
.rf-tile-APPROVAL{background: transparent url(SDEFicons/LandingTiles.png) no-repeat 0 -392px;}
.rf-tile-CHATTER{background: transparent url(SDEFicons/LandingTiles.png) no-repeat 0 -490px;}
.rf-tile-INTRANET{background: transparent url(SDEFicons/LandingTiles.png) no-repeat 0 -588px;}
.rf-tile-CONTACT{background: transparent  url(SDEFicons/LandingTiles.png) no-repeat 0 -686px;}
.rf-tile-CUSTOM{background: transparent  url(SDEFicons/LandingTiles.png) no-repeat 0 -783px;}
.rf-tile-CUSTOM,.rf-tile-INCSRLST,.rf-tile-NEWINC,.rf-tile-NEWSR,.rf-tile-CHATTER,.rf-tile-APPROVAL,.rf-tile-KA,.rf-tile-INTRANET,.rf-tile-CONTACT{
height:48px;width:48px;float: left;
}
.rf-item-INCTEMPLATE{ background: transparent url(SDEFicons/SS_RightTabItems.png) no-repeat 0 0; }
.rf-item-Broadcast{ background: transparent url(SDEFicons/SS_Broadcast.png) no-repeat 0 0; }
.rf-item-SRDEFAULT{background: transparent url(SDEFicons/SS_RightTabItems.png) no-repeat 0 -32px; }
.rf-item-KMFAQ{background: transparent url(SDEFicons/SS_RightTabItems.png) no-repeat 0 -64px;}
.rf-item-KMHowTo{background: transparent url(SDEFicons/SS_RightTabItems.png) no-repeat 0 -96px;}
.rf-item-KMKnownError{ background: transparent url(SDEFicons/SS_RightTabItems.png) no-repeat 0 -160px;}
.rf-item-KMProblemSolution{background: transparent url(SDEFicons/SS_RightTabItems.png) no-repeat 0 -128px; }
.rf-item-SFKA{background: transparent url(SDEFicons/SS_RightTabItems.png) no-repeat 0 -192px; }
.rf-item-INCTEMPLATE,.rf-item-Broadcast,.rf-item-SRDEFAULT,.rf-item-KMFAQ,.rf-item-KMHowTo,.rf-item-KMKnownError,.rf-item-KMProblemSolution,.rf-item-SR,.rf-item-SFKA{
  height:32px;
  width:32px;
 }
body,html{height:100%;}
.rf-top-banner-div{
  min-height:65px;
  padding:0 0 0 10px;
  max-height:70px;
  position:relative;
 /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EAEAEB 100%);
  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EAEAEB 100%);
  /* Opera */ 
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #EAEAEB 100%);
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EAEAEB));
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EAEAEB 100%);
  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #EAEAEB 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EAEAEB',GradientType=0 );
 }
.rf-top-banner-div img{
	margin:auto; 
	position:absolute; 
	top:0;bottom:0;
	max-height:55px;
	max-width:500px;
}
.rf-tile-widget{
    border:1px solid #AEBAC1;
    border-radius: 6px;
	box-shadow:1px 3px 5px #AEBAC1;
    margin:10px 10px 0 15px;
    color: #333333;
    padding:15px 0 10px 20px;
    min-height:82px;
	*min-height:60px;
	min-height /*\**/:60px\9;
    cursor:pointer;   
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #F2F2F2));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F2F2F2 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #F2F2F2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F2F2F2',GradientType=0 );
    height:auto;
    display:block;
 }
 .rf-tile-widget:hover{
    background-image: -ms-linear-gradient(top, #F3F3F3 0%, #C4C4C4 100%);
    background-image: -moz-linear-gradient(top, #F3F3F3 0%, #C4C4C4 100%);
    background-image: -o-linear-gradient(top, #F3F3F3 0%, #C4C4C4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F3F3F3), color-stop(1, #C4C4C4));
    background-image: -webkit-linear-gradient(top, #F3F3F3 0%, #C4C4C4 100%);
    background-image: linear-gradient(to bottom, #F3F3F3 0%, #C4C4C4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3F3F3', endColorstr='#C4C4C4',GradientType=0 );
}
 .rf-ticker-div{
   min-height:30px;
   padding-right:15px;
   padding-top:2px;
   border:1px solid #646E71;
   box-shadow: 0px 0px 5px #D6DBDD;
   background-image: -ms-linear-gradient(top, #BAC4C7 0%, #636D70 100%);
   background-image: -moz-linear-gradient(top, #BAC4C7 0%, #636D70 100%);
   background-image: -o-linear-gradient(top, #BAC4C7 0%, #636D70 100%);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #BAC4C7), color-stop(1, #636D70));
   background-image: -webkit-linear-gradient(top, #BAC4C7 0%, #636D70 100%);
   background-image: linear-gradient(to bottom, #BAC4C7 0%, #636D70 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BAC4C7', endColorstr='#636D70',GradientType=0 );
   height:40px;
 }
 .rf-right-widget{
  border-radius: 6px;
  border:1px solid #AEBAC1;
  margin:10px;
  min-height:542px; 
  min-height /*\**/:570px\9;
  box-shadow: 1px 3px 5px #AEBAC1;
  cursor:default;
 }
.rf-right-component{
  border-radius: 6px;
  border:1px solid #AEBAC1;
  margin:3px;  
  box-shadow: 1px 3px 5px #AEBAC1;
  cursor:default;
  margin-top:10px;
  width:99.80% !Important;  
  
 }
 :root #right-tab-widget{ min-height:542px\0/IE9;}  /* IE9 */
 :root .rf-tile-widget{min-height:82px\0/IE9; padding-bottom:0px\0/IE9;}
 .rf-tab-header,.ss-browse-toolbar{
   padding: 10px 0 10px 10px;
   border-radius: 6px 6px 0 0;
   border-bottom:1px solid #AEBAC1;
   background-image: -ms-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
   background-image: -moz-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
   background-image: -o-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E9E9E9 ), color-stop(1, #C8C8C8));
   background-image: -ms-linear-gradient(to bottom, #E9E9E9 0%, #C8C8C8 100%);
   background-image: -webkit-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
   background-image: linear-gradient(to bottom, #E9E9E9 0%, #C8C8C8 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9E9E9', endColorstr='#C8C8C8',GradientType=0 );
   min-height:20px;
 }
.ss-browse-toolbar{
 padding:10px;
 border-radius:0;
 min-height:10px;
}
.rf-sep-1{display:none}
.rf-tab-1,.rf-tab-2,.rf-tab-3{font:14px arial;color: #333333;padding:0 10px 0 10px;text-decoration: none;}
.rf-tab-1{font-weight:bold;}
.rf-tab-td1,.rf-sr-imagetd{padding:10px 0 0 10px;width:32px;}
.rf-tab-td2,.rf-sr-infotd{padding:15px 0 0 10px;vertical-align: top;}
.rf-header-sep{margin: 0 7px 0 5px;font:10px arial;color:#fff;vertical-align: top;}
.rf-welcome-user{float: right;font:bold 13px arial;color:#6E6E6E;padding:20px 15px 0 0;}
.rf-tab-div{padding:10px 0 0 0;border:1px solid #333333;}
.rf-tab-emptyText{text-align: center;padding-top:50px;position:absolute;width:90%;}
.rf-subtab-KA { background: none repeat scroll 0 0 #EBEBEB;border-bottom:1px solid #AEBAC1;padding: 10px 0 10px 10px;;min-height:20px;}
.rf-subtab-1,.rf-subtab-2{font:12px arial;color:#333333;padding:0 10px 0 10px;text-decoration: none;}
.rf-subtab-1{font-weight:bold;}
#tab-title-item{font:bold 12px arial;color:#333333;vertical-align:top;text-decoration: none;cursor: pointer;}
#tab-desc-item{font:12px arial;color:#000;}
#rf-tile-header{padding-left:70px;}
#rf-tile-header-text{font:bold 14px arial;}
#rf-tile-dec-text{font:12px arial;color:#000;padding:5px 10px 0 0;}
#right-tab-content{min-height:500px;}
#rf-tab-footer{min-height:40px;border-top:1px solid #AEBAC1;background:#EBEBEB;border-radius: 0 0 6px 6px;padding: 10px 0 0 10px;}
#broadcast-ticker,.rf-banner-link,.rf-banner-link:hover{
font:bold 12px arial;color: #fff;margin:0;
text-decoration: none;cursor:pointer;
}

#broadcast-ticker{
margin-left:10px;
float: left;
width: 98%;
}
#ticker-btn-grp{padding:11px 0 0;height:100%; padding-top:8px;}
#ticker-link-grp{float: right;max-width:25%;}
#rf-table-main{height:100%;width:100%}
#right-tab-morecontent{display:none;margin-bottom: 20px;padding-right:10px;}
.popular-link-label{border: medium none;color: #333333;cursor: pointer;float: right;}
.rf-banner-td-on{width:100%;height:100px;}
.rf-banner-td-off{width:100%;height:40px;}

.x-tab-bar-strip {
    top: 25px !important; /* Default value is 20, we add 5 = 25 */
}
.x-tab-bar .x-tab-bar-body {
    height: 28px !important; /* Default value is 23, we add 5= 28*/
    border: 0 !important; /* Overides the border that appears on resizing the grid */
}
.x-tab-bar .x-tab-bar-body .x-box-inner {
    height: 26px !important; /* Default value is 21, we add 5 = 26 */
}
 .x-tab-bar .x-tab-bar-body .x-box-inner .x-tab {
    height: 26px !important; /* Default value is 21, we add 5 = 26*/
}
.x-tab-top-active {border-color: #00436E;}
.x-tab,.x-tab-bar-top .x-tab-bar-strip {border-color: #00436E;}
.x-tab button {font:13px arial;color: #333333;}
.x-tab-active button {font:bold 13px arial;color: #333333;}
.x-tab-default-top {
 border-bottom: 1px solid #00436E !important;
 box-shadow: 0px 0px 0px #99BCC8;
background-image: -ms-linear-gradient(top, #C6C6C6 0%, #E9E9E9 100%);
    background-image: -ms-linear-gradient(to bottom, #C6C6C6 0%, #E9E9E9 100%);
    background-image: -moz-linear-gradient(top, #C6C6C6 0%, #E9E9E9 100%);
    background-image: -o-linear-gradient(top, #C6C6C6 0%, #E9E9E9 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C6C6C6), color-stop(1, #E9E9E9));
    background-image: -webkit-linear-gradient(top, #C6C6C6 0%, #E9E9E9 100%);
    background-image: linear-gradient(to bottom, #C6C6C6 0%, #E9E9E9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C6C6C6', endColorstr='#E9E9E9',GradientType=0 );
}
.x-tab-default-top-active {border-bottom-color: #E9E9E9 !important;}
.x-border-box .x-tab-bar-top .x-tab-bar-body {padding: 0 0 0 10px;}
.x-tab-top-active {
    background-image: -ms-linear-gradient(top, #C6C6C6 0%, #E9E9E9 100%);
    background-image: -ms-linear-gradient(to bottom, #C6C6C6 0%, #E9E9E9 100%);
    background-image: -moz-linear-gradient(top, #C6C6C6 0%, #E9E9E9 100%);
    background-image: -o-linear-gradient(top, #C6C6C6 0%, #E9E9E9 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C6C6C6), color-stop(1, #E9E9E9));
    background-image: -webkit-linear-gradient(top, #C6C6C6 0%, #E9E9E9 100%);
    background-image: linear-gradient(to bottom, #C6C6C6 0%, #E9E9E9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C6C6C6', endColorstr='#E9E9E9',GradientType=0 );
}
.x-tab-bar-strip-default, .x-tab-bar-strip-default-plain {
    background-color:#E9E9E9!important;
 }
.rf-main-tabpanel .x-panel-body-default{border:none;}
.x-tab{ border-color: #8DB3E3;}
.x-tab-active{
    border-color: #00436E;
}
/* Browse */
#ssBrowsePage body,.x-body,.x-panel-body,.x-btn-inner,.x-toolbar,.x-grid-row .x-grid-cell,.x-form-empty-field,.ssDefaultFontCls{
	font-size: 12px !important;
	font-family: Arial !important;
	color: #000000 !important;
}
#ssBrowsePanel .x-panel-body-default{
border: 1px solid #AEBAC1;
}
.browseDescCls,.browsePanelDivCls{
	padding: 15px 20px 5px;
}
.suggestedLabelCls{
	padding: 2px 20px !important;
	background: none !important;
	border: none !important;
	height: 35px;
}
.ssBtnCls{
	background: url(SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
	border-color: #CCC #666 #666 #CCC !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-radius: 0 !important;
	margin: 0 !important;
	padding: 1px 10px !important;
	cursor:pointer;
}
#searchBtn{border-color: #CCCCCC #666666 #666666 #CCCCCC !important;
    border-style: solid !important;
    border-width: 1px !important;
    height:21px;
}
.requestHelpCls{
	color:#333333 !important;
	font-weight:bold;
	padding: 0 5px;
}
.submitLinkCls,.submitLinkCls .x-btn-inner{
	color:#333333 !important;
	text-decoration: underline;
	cursor:pointer;
	font: 12px Arial;
}
.searchIconCls{
    border: none !important;
	background:none !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
}
.noRecordDivCls{
 	color:#000000;
 	left: 40%;
 	top: 200px;
 	position: relative;
}
.resultItemCls{
	padding: 10px;
	margin: 0px;
}
.resultDivCls{
    height: 52px;
    padding: 10px 5px 0;
}
.ssImageDivCls{
	float: left;
    padding: 8px 10px 0px;
	margin: 0px;
}
.ssResultsCls{
    color: #333333;
    cursor: pointer;
    font-weight: bold;
}
.kaResultCls{
	padding-top: 7px;
	cursor: pointer;
    font:bold 12px arial;color:#333333;vertical-align:top;text-decoration: none;margin-right: 7px;
}
.browsePanelDivCls .x-panel-header-text-default{
	font-size: 14px;
	font-family: Arial;
	color: #333333;
}
.browsePanelDivCls .x-panel-header-default{
   padding: 5px;
   border:1px solid #AEBAC1;
   background-image: -ms-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
   background-image: -moz-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
   background-image: -o-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E9E9E9 ), color-stop(1, #C8C8C8));
   background-image: -ms-linear-gradient(to bottom, #E9E9E9 0%, #C8C8C8 100%);
   background-image: -webkit-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
   background-image: linear-gradient(to bottom, #E9E9E9 0%, #C8C8C8 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9E9E9', endColorstr='#C8C8C8',GradientType=0 );
 }
 .clsBtnToolbar{    
     background: url(SDEFimages/grey_bg.gif) repeat-x scroll 0 0 transparent !important;
     border-color: #CCCCCC #666666 #666666 #CCCCCC !important;
     border-radius: 0 0 0 0 !important;
     border-style: solid !important;
      border-width: 1px !important;
    }
.categoryTreeCls .x-grid-tree-node-expanded .x-tree-icon-parent{
    background:transparent url(SDEFimages/sprite.png) no-repeat scroll 0 -20px !important;			
    height:20px;
    width:24px;
}
.categoryTreeCls .x-tree-icon-parent{
    background:transparent url(SDEFimages/sprite.png) no-repeat scroll 0 0 !important;
    height:20px;
    width:24px;	
}
.categoryTreeCls .x-tree-icon-leaf {
    background:transparent url(SDEFimages/sprite.png) no-repeat scroll 0 -42px;
    height:20px;
    width:15px;
    margin:0 5px;				
}
.rf-sr-imagetd{vertical-align:top;padding-top:15px;cursor: pointer;}
.rf-sr-infotd{padding-bottom:4px;}
.rf-sr-details{padding: 2px 0;min-height:15px;}
.rf-servicerequest-tr{border-bottom:thin solid #EBEBEB;}
.emptyTextCls{color: gray !important;font:12px Arial !important;}
.x-window-default {
	background-color: #E9E9E9;
    background-image: -ms-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
		background-image: -moz-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
		background-image: -o-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E9E9E9 ), color-stop(1, #C8C8C8));
		background-image: -ms-linear-gradient(to bottom, #E9E9E9 0%, #E9E9E9 100%);
		background-image: -webkit-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
		background-image: linear-gradient(to bottom, #E9E9E9  0%, #E9E9E9 100%);
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9E9E9', endColorstr='#C8C8C8',GradientType=0 );*/
}
.x-window-default {
    border-color: #C8C8C8 !important;
    box-shadow: 0 1px 0 0 #C8C8C8 inset, 0 -1px 0 0 #C8C8C8 inset, -1px 0 0 0 #C8C8C8 inset, 1px 0 0 0 #C8C8C8 inset !important;
}

.x-panel-header-text-container .x-window-header-text-container {
    background-color: #E9E9E9;
	overflow: hidden;
    padding: 0 0 1px;
    text-overflow: ellipsis;
}

.x-window-header-default-top {
    box-shadow: 0 1px 0 0 #C8C8C8 inset, -1px 0 0 0 #C8C8C8 inset, 1px 0 0 0 #C8C8C8 inset !important;
}
.x-window-header-default-top {
	background-color: #E9E9E9;
    background-image: -ms-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
		background-image: -moz-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
		background-image: -o-linear-gradient(top, #E9E9E9 0%, #C8C8C8 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E9E9E9 ), color-stop(1, #C8C8C8));
		background-image: -ms-linear-gradient(to bottom, #C8C8C8 0%, #E9E9E9 100%);
		background-image: -webkit-linear-gradient(top, #C8C8C8 0%, #E9E9E9 100%);
		background-image: linear-gradient(to bottom, #C8C8C8 0%, #E9E9E9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9E9E9', endColorstr='#C8C8C8',GradientType=0 );
    
}

.x-window-header-text-default {
    color:#333333 !important;
    font-family: arial !important;
    font-size: 12px !important;
    font-weight: bold;
}

.x-window-body-default {
    border-color: #E9E9E9 !important;
}

.winHeaderClass .x-window-body-default {
	background: none repeat scroll 0 0 #FFFFFF !important;
}
.x-message-box .x-window-body {
    background-color: #FFFFFF;
    border: 0 none;
}		
.winHeaderClass TR {
	vertical-align:top !important;
}
.msgBoxCls {
    background-color: transparent !important;border: none !important;box-shadow: 0 0 0 transparent !important;background-image: none !important;
}

 .x-nbr .x-tab-top-active .x-frame-mc,
 .x-nbr .x-tab-top-active .x-frame-mr,
 .x-nbr .x-tab-top-active .x-frame-ml,
 .x-nbr .x-tab-top-active .x-frame-tl,
 .x-nbr .x-tab-top-active .x-frame-tc,
 .x-nbr .x-tab-top-active .x-frame-tr,
 .x-nlg .x-tab-default-top-mc,
 .x-nbr .x-tab-default-top-ml,
 .x-nbr .x-tab-default-top-mr,
 .x-nbr .x-tab-default-top-tl,
 .x-nbr .x-tab-default-top-tc,
 .x-nbr .x-tab-default-top-tr
 {
 	background-color:transparent !important;
 	background-image:none !important;
 }
.x-tab-bar .x-tab-bar-body .x-box-inner .x-tab
{
	*height:25px !important;
	*border-bottom:1px solid rgb(0, 67, 110) !important;
}
.x-tab-bar .x-tab-bar-body .x-box-inner .x-tab-active
{
	height:26px !important;
}
.kaTitleCls{
	font: bold 12px Arial !important;
	color: #333333 !important;
}

.x-nbr .x-window-header-default-top-ml,
.x-nbr .x-window-header-default-top-mr,
.x-nbr .x-window-header-default-top-tl,
.x-nbr .x-window-header-default-top-tc,
.x-nbr .x-window-header-default-top-tr,
.x-nlg .x-window-header-default-top-mc,
.x-nbr .x-window-default-ml,
.x-nbr .x-window-default-mr,
.x-nbr .x-window-default-tl,
.x-nbr .x-window-default-tc,
.x-nbr .x-window-default-tr,
.x-nlg .x-window-default-mc,
.x-nbr .x-window-default-bc,
.x-nbr .x-window-default-bl,
.x-nbr .x-window-default-br
{
background-color:#C8C8C8 !important;
background-image:none !important;
}

.sprite-Cart24{ background:url(SDEFicons/SS_Primary_Toolbar_Sprite.png) 0 0; width: 24px; height: 24px; }
.sprite-CartHasItems24{background:url(SDEFicons/SS_Primary_Toolbar_Sprite.png) 0 -74px; width: 24px; height: 24px; }
.sprite-Help24{ background:url(SDEFicons/SS_Primary_Toolbar_Sprite.png) 0 -148px; width: 24px; height: 24px; }
.sprite-MoreOptions24{ background:url(SDEFicons/SS_Primary_Toolbar_Sprite.png) 0 -222px; width: 24px; height: 24px; }
.sprite-QuickLinks24{ background:url(SDEFicons/SS_Primary_Toolbar_Sprite.png) 0 -296px; width: 24px; height: 24px; }
.sprite-ViewBroadcasts24{ background:url(SDEFicons/SS_Primary_Toolbar_Sprite.png) 0 -370px;width: 24px; height: 24px; margin-left: 8px;float: left; }
.cart-icon-td{width:40px;height:30px;float: right;padding-top:5px;white-space:nowrap;}
.ticker-grp-td{white-space:nowrap;width:1%;padding-left: 10px;}
	
#rf-div-link{ padding-top:3px;float:right}	

.x-menu{
  width: auto !important;
}
.x-panel{
  height:auto;
}
.x-menu-body{
  background-color: white !important;
}
.x-menu-icon-separator{
  border-left: transparent !important;
}
.x-panel-body {
  background-color:transparent; 
}

.x-menu-item-icon{
  width: 0px;
}
.x-menu-item-link{
  padding: 6px 8px 3px 8px !important;
}
.x-menu-item-text {
  font: 12px arial !important;
}
.x-menu-item-active .x-menu-item-link{
background-image:none;
background-color:#d9e8fb;
background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#F3F3F3),color-stop(100%,#C4C4C4));
background-image:-webkit-linear-gradient(top,#F3F3F3,#C4C4C4);
background-image:-moz-linear-gradient(top,#F3F3F3,#C4C4C4);
background-image:-o-linear-gradient(top,#F3F3F3,#C4C4C4);
background-image:-ms-linear-gradient(top,#F3F3F3,#C4C4C4);
background-image:linear-gradient(top,#F3F3F3,#C4C4C4);
margin:0;border:1px solid #AEBAC1;

}
.QuickLinkdownarrow
{
	background: url(SDEFimages/arrow_sort_descending.gif) no-repeat scroll right 3px transparent !important;
	padding-right: 12px;
	padding-top: 8px;
}
/* Custom Tiles*/
.tileLinkCls em:hover {
		text-decoration: underline;
}
.tileLinkCls .x-btn-inner, .tileLinkCls {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
		border: 0 none;
		color: #004376 !important;
		font: bold 14px arial !important;
		padding:0;		
}
.x-btn-arrow{
		display: inherit !important; 
		background-image: url(SDEFimages/arrow_down_blue.gif);
}

/* Custom Tiles End*/

.x-nbr .x-btn-default-small-tl,
.x-nbr .x-btn-default-small-tc,
.x-nbr .x-btn-default-small-tr,

.x-nbr .x-btn-default-small-ml,
.x-nbr .x-btn-default-small-mr,

.x-nbr .x-btn-default-small-bl,
.x-nbr .x-btn-default-small-bc,
.x-nbr .x-btn-default-small-br{background-image:none;}
.x-nlg .x-btn-default-small-mc{background-image:none; background-color:transparent;}


.x-nbr .x-btn-default-small-over-tl,
.x-nbr .x-btn-default-small-over-tc,
.x-nbr .x-btn-default-small-over-tr,

.x-nbr .x-btn-default-small-over-ml,
.x-nbr .x-btn-default-small-over-mr,

.x-nbr .x-btn-default-small-over-bl,
.x-nbr .x-btn-default-small-over-bc,
.x-nbr .x-btn-default-small-over-br,
.x-btn-default-small-over-mc{background-image:none !important; background:none !important;}

.x-nbr .x-btn-default-small-ml {display:none !important;}

.startChatContainer{
	right: 15px;
	color: white;
	font: bold 13px Arial;
	text-align: center;
	bottom: 0px;
	position: fixed;
	padding: 10px 20px;
	cursor: pointer;
}	
.startChatContainer, .chatThemeHeader{	
	border-radius: 10px 10px 0 0;
	border:1px solid #646E71;
	box-shadow: 0px 0px 5px #D6DBDD;
	background-image: -ms-linear-gradient(top, #BAC4C7 0%, #636D70 100%);
	background-image: -moz-linear-gradient(top, #BAC4C7 0%, #636D70 100%);
	background-image: -o-linear-gradient(top, #BAC4C7 0%, #636D70 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #BAC4C7), color-stop(1, #636D70));
	background-image: -webkit-linear-gradient(top, #BAC4C7 0%, #636D70 100%);
	background-image: linear-gradient(to bottom, #BAC4C7 0%, #636D70 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BAC4C7', endColorstr='#636D70',GradientType=0 );
}