/* Default style for links */
a:active  { color: #0000CC}
a:hover   { color: #CC0033}
a:link    { color: #3366CC}
a:visited { color: #9999CC}

/* Default style */
body
{
  background-color: #FFFFFF;
}

/* Use this style for footnote numbers */
span.Footnote
{
  font-size: small;
  vertical-align: super
}

/* Use this style to control spacing for inline related topics tags */
div.WWHInlineRelatedTopics
{
  margin-top:    8px;
  margin-bottom: 4px;
}


hr.REM {  width: 100%; height: 1px; border-style: none; color: #00418C}
hr.NoteRule { width: 100%; height: 1px; border-style: none; color: #003366}
hr.WarnRule { width: 100%; height: 1px; border-style: none; color: #CC0033}

p {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt}
p.copyright {
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   text-align: center; 
   font-size: 8pt; 
}
p.TitleBar {
   color: #FFFFFF;
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   text-align: left; 
   margin-left: 5px;
   margin-right: 0em;
   margin-top: 10px;
   font-size: 12pt; 
   font-weight: bold;
}
