.THIS .ch-button-warning {
    background:#FFA33B;
    border:1px solid #FFA33B;
    color:#fff
}

.THIS .ch-sa-counter {
    display: flex;
    align-items: center;
    margin: 0 .25rem;
}

.THIS .ch-sa-counter lightning-icon {
    margin-right: .25rem;
}

.THIS button.ch-button-warning[disabled] {
    background: rgb(201, 199, 197);
    border-color: rgb(201, 199, 197);
    color: rgb(255, 255, 255);
}

.THIS .overlay {
    /*position: absolute;
    height: 57px;
    text-align: center;
    width:100%;*/
    position: absolute;
    height: 100%;
    text-align: center;
    width: 100%;
    top: 0;
}