<ins class="timeline-toolbar__action-icon i-timeline-toolbar-filter" data-toggle="dropdown"
	 title="{{ 'social.activityStream.serviceRequestsFilter.tooltip' | i18n }}"></ins>

<ul class="dropdown-menu entity-status-dropdown-filter__list" ng-click="$event.stopPropagation()">
	<li class="entity-status-dropdown-filter-item entity-status-dropdown-filter-item_header">
		{{ 'social.activityStream.serviceRequestsFilter.filterByStatusHeader' | i18n }}
	</li>
	<li class="entity-status-dropdown-filter-item" ng-repeat="item in profileCtrlState.srFilterStatuses"
		ng-click="applySrFilter($index)">
		{{ 'social.activityStream.serviceRequestsFilter.statuses.' + item.name | i18n }}
		<ins class="i-entity-status-filter-check entity-status-dropdown-filter-item__checkbox" ng-show="item.enabled"></ins>
	</li>
</ul>