.THIS .ch-error-block {
    padding: .5rem;
    background: #c23934;
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.THIS.slds-box {
    border: none;
    margin-left: -2rem;
    margin-right: -2rem;
}