.warning-icon {
	float: right;
	color: #ffb75d;
	font-size: 16px;
	line-height: 1;
}

.marker-counter-wrap {
	position: relative;
	flex-shrink: 0;

	.marker-icon-wrap {
		position: relative;
		z-index: 5;
	}

	.marker-counter {
	    position: absolute;
	    top: 8px;
	    left: 0;
	    z-index: 10;
	    width: 100%;
	    height: auto;
	    text-align: center;
	    color: #fff;
	    font-size: 13px;
	    font-family: "Salesforce Sans";
	    line-height: 1;
	}
}

.association-selection-card {
	height: 375px;
}

.stop-selection-list {
	border-top: 2px solid $color-border;
	overflow-y: auto;
}

.stop-selection-list_item {
	border-bottom: 1px solid $color-border;
	padding-bottom: 13px;

	.slds-checkbox_add-button {
		flex-shrink: 0;
	}
	
	&:last-child {
		border-bottom: 0;
	}
}

.stop-selection-distance-label {
	line-height: 1;
}

.sidebar-header-wrap {
	flex-shrink: 0;
}

.sidebar-table-wrap {
	border-top: 1px solid $color-border;
	border-bottom: 1px solid $color-border;
	margin-bottom: 18px;
	overflow-y: auto;

	.slds-table {
		tr {
			cursor: pointer;
		}

		&.slds-table_cell-buffer tr {

			> th:first-child,
			> td:first-child {
				padding-left: 16px;
			}
		}
	}
}

.vehicle-col-inner {
	max-width: 200px;
}

.day-table-wrap {
	border-radius: 0 0 0 4px;
	border-right: 1px solid $color-border;
	border-radius: 0 0 0 .25rem;

	#data-table {
		.slds-is-sortable .slds-th__action:hover, .slds-is-sortable .slds-th__action:focus {
			background-color: transparent;
	
			.slds-is-sortable__icon {
				display: none;
			}
		}
	}
}

.leaflet-marker-pane {
	.marker-counter-wrap {
		margin-left: -7px;
   		margin-top: 6px;
		width: 28px;	
	}
}

#maBodyContent {
	padding:0 !Important;
	width: 100%;

	.stop-event_empty-state {
		width: 150px;
	}

	#map {
		top: 20;
		right: 40;
		height: 100%;
		width: 480;
	}
}

.ma-body-content.is-active {
	display: block !important; /*update this in scss for all pages */
}

th div {
	resize: vertical;
}

td.highlighted {
	background-color: #ecebea;
}