@media print { body {-webkit-print-color-adjust: exact;} }
@page { 
	size: letter; 
	margin: 10mm; 
	background-color:#0055b8;
	
	@top-center { 
		content: ""; 
	} 
}
.page-break { display:block; page-break-after:always; } 
body { 
	font-family: Arial Unicode MS;
	background-color: white; 
} 

div#child {
    margin: 0 auto;
}

.italicfont{
	font-style: oblique
}

span.cls_004{
	font-family:"Century Gothic, sans-serif";
	font-size:45.0px;
	color:rgb(118,188,34);
	font-weight:normal;
	font-style:normal;
	text-decoration: none;
}
div.cls_004{
	font-family:"Century Gothic, sans-serif";
	font-size:45.0px;
	color:rgb(118,188,34);
	font-weight:normal;
	font-style:normal;
	text-decoration: none}

span.cls_002{font-family:"Century Gothic, sans-serif";font-size:36.1px;color:rgb(10,109,141);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:"Century Gothic, sans-serif";font-size:36.1px;color:rgb(10,109,141);font-weight:normal;font-style:normal;text-decoration: none}