.ma-badge {
	background-color: $gray;
    padding: .25rem .5rem;
    border-radius: 15rem;
    font-size: 0.6875rem;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: .0625em;
    color: $dark-blue;
    vertical-align: middle;
    white-space: nowrap;
}