.slds-illustration.slds-illustration_small .slds-illustration__svg {
    width: 100%;
    max-width: 300px;
    max-height: 200px;
    margin-bottom: 1rem;
    margin-top: -2rem;
}

.slds-illustration .slds-illustration__stroke-primary {
    stroke: #8cd3f8;
}

.slds-illustration .slds-illustration__stroke-secondary {
    stroke: #c2e8ff;
}