
.ma-icon {
  margin:0;
  padding:0;
}

.ma-icon.ma-icon--small {
  width: .75rem;
  height: .75rem;
}

.ma-icon.ma-icon--large {
    width: 1.5rem;
    height: 1.5rem;
}

.ma-img--small {
    width: 2.25rem;
    height: 2.25rem;
}

.ma-img--medium {
    width: 3rem;
    height: 3rem;
}