.THIS .uiInput--input.input.ch-input-compact {
    min-height:0
}

.THIS .slds-pill {
    padding: .2189rem;
}

.THIS .uiInput--input.input.ch-input-compact::placeholder {
    font-size:.75rem;
}

.THIS .input-locked-in.slds-pill_container {
    background-color: rgb(236, 235, 234);
    border-color: #a8b7c7;
    cursor: not-allowed;
}

@media (min-width:1200px) {
    .THIS .uiInput--input.input.ch-input-compact::placeholder {
    	font-size:inherit;
    }
}