<div error-panel type="modal"></div>

<div class="support-modal__srd-questions-container">
	<ng-form name="clientForm" ng-controller="MyProfileController" novalidate>
		<ng-include src="questionListUrl"></ng-include>

		<div class="modal-footer">
			<div class="modal-footer__btn-container">
				<button type="submit" ng-click="saveMyProfile($modal)" class="btn btn-primary Branding-Right_Panel-default_button Branding-Right_Panel-button_outline" ng-disabled="userModel.dataLoading">
					{{$root.selfServiceLabels.submit}}
				</button>
				<button type="button" class="btn Branding-Right_Panel-button_outline" ng-click="cancel()" ng-disabled="userModel.dataLoading">
					{{$root.selfServiceLabels.cancel}}
				</button>
			</div>
		</div>
	</ng-form>
</div>
