html {
    font: 100%/1.5 "Salesforce Sans",Arial,sans-serif;
    line-height: 1.7142857143;
    color: #5876a3;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-size: 1rem;
    background: 0 0;
}

*, :after, :before {
    box-sizing: border-box;
}