/*  Alignability Process Model Stylesheet.  */


 body         { background-image:      url("Background_Page_Header.jpg");        /* This defines the background of the page body */
                background-color:      #FFFFFF;
                background-attachment: scroll;
                background-position:   0% 0%;
                background-repeat:     no-repeat; }

 body.desc    { background-image:      url("Background_Desc_Help.jpg");         /* This defines the background of the description page body */
                background-color:      #FFFFFF;
                background-attachment: scroll;
                background-position:   100% 0%;
                background-repeat:     no-repeat; }


 table.footer { Width:                 100%;                                    /* This defines the background of the table that is used as a footer in all pages displayed in the main frame, with the exception of pages that display process or procedure diagrams */
                height:                36px;
                background-image:      url("Background_Page_Footer.jpg");
                background-position:   100% 100%;
                background-repeat:     no-repeat; }

 tr.header    { background-color:      #A0B0D0; }                                /* This defines the background color of table header rows */

 tr.footer    { height:                52px;                                     /* This defines the background of the table footer row used in pages that display process and procedure diagrams */
                background-image:      url("Background_Page_Footer.jpg");
                background-position:   100% 100%;
                background-repeat:     no-repeat; }

 td.bullet    { Width:                 5%;                                       /* This defines the background of the narrow table cells in which a bullet is to be displayed that is alligned to the left */
                background-image:      url("Bullet.gif");
                background-position:   0% 0%;
                background-repeat:     no-repeat; }

 td.bulletmid { Width:                 10%;                                      /* This defines the background of the wide table cells in which a bullet is to be displayed that is alligned in the center */
                background-image:      url("Bullet.gif");
                background-position:   50% 0%;
                background-repeat:     no-repeat; }

 a:link       { color: #0000FF; }                                                /* This defines the color behaviour of hyperlinks */
 a:visited    { color: #666699; }
 a:active     { color: #3366FF; }
 a:hover      { color: #3366FF; }

 h1           { color: #000044; font-weight: bold;   font-size: 18px;  font-family: "Arial", "Tahoma", "Helvetica", "Verdana"; margin-bottom: 19px; }  /* This defines the page header style for all pages */
 h1.left      { margin-left: 35px; }                                                                                                                   /* This adds a left margin to the page header style. This is used for pages that display procedure diagrams */
 h2           { color: #FFFFFF; font-weight: bold;   font-size: 18px;  font-family: "Arial", "Tahoma", "Helvetica", "Verdana"; margin-bottom:  0px; }  /* This defines the large table header style */
 h3           { color: #FFFFFF; font-weight: bold;   font-size: 16px;  font-family: "Arial", "Tahoma", "Helvetica", "Verdana"; margin-bottom:  0px; }  /* This defines the medium table header style */
 h4           { color: #FFFFFF; font-weight: bold;   font-size: 13px;  font-family: "Arial", "Tahoma", "Helvetica", "Verdana"; margin-bottom:  0px; }  /* This defines the small table header style */
 h5           { color: #283975; font-weight: bold;   font-size: 16px;  font-family: "Arial", "Tahoma", "Helvetica", "Verdana"; margin-bottom:  0px; }  /* This defines the medium dark blue header style */
 p            { color: #444444; font-weight: normal; font-size: 13px;  font-family: "Arial", "Tahoma", "Helvetica", "Verdana"; margin-bottom: 16px; }  /* This defines the paragraph text style */
 p.white      { color: #FFFFFF; }                                                                                                                      /* This makes the paragraph text style white */
 p.bullet     { margin-bottom:  0px; }                                                                                                                 /* This removes the empty pace below a paragraph text style, which is desired for bullet texts and other text lists */
 .regh1       { font-size: 8.0pt;  position:relative;  top:-5.0pt;  position:relative;  left: 1.0pt }                                                  /* This defines the formatting for the registered trademark symbol in the page header style */
 .regh5       { font-size: 8.0pt;  position:relative;  top:-4.0pt;  position:relative;  left: 0.0pt }                                                  /* This defines the formatting for the registered trademark symbol in the medium dark blue header style */
 .regh1itil   { font-size: 8.0pt;  position:relative;  top:-5.0pt;  position:relative;  left:-1.0pt }                                                  /* This defines the formatting for the registered trademark symbol for the ITIL term in the page header style */
 .regp        { font-size: 8.0pt;  position:relative;  top:-2.0pt;  position:relative;  left: 1.0pt }                                                  /* This defines the formatting for the registered trademark symbol in the paragraph text style */
 .regitil     { font-size: 8.0pt;  position:relative;  top:-2.0pt;  position:relative;  left:-1.0pt }                                                  /* This defines the formatting for the registered trademark symbol for the ITIL term in the paragraph text style */