.THIS .overlay {
    position: absolute;
    height: 1.2em;
    text-align: center;
    height:47px;
    width:100%;
}

.THIS .warning-icon.slds-icon-standard-reward {
    background: #FFA33B;
    margin-right:.25rem;
}

.THIS .slds-icon_container.warning-icon.slds-icon-standard-reward {
    border-radius:1rem;
}